<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="__MEMBER__/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__MEMBER__/js/city/zh-cn/area.js"></script>
    <script type="text/javascript" src="__MEMBER__/js/city/zh-cn/location.js"></script>
    <script type="text/javascript" src="__MEMBER__/js/city/select2.js"></script>
    <script type="text/javascript" src="__MEMBER__/js/city/zh-cn/select2_locale_zh-CN.js"></script>
    <script src="__MEMBER__/js/cityselectedtwo.js"></script>
    <link rel="stylesheet" type="text/css" href="__MEMBER__/css/validationEngine.jquery.css">
    <script src="__MEMBER__/js/jquery.validationEngine.js" type='text/javascript'></script>
    <script src="__MEMBER__/js/jquery.validationEngine-{:L('lng')}.js" type='text/javascript'></script>
    <link href="__MEMBER__/css/select2.css" rel="stylesheet"/>
    <link href="__MEMBER__/css/all.css" rel="stylesheet"/>
    <link href="__MEMBER__/css/pagesm.css" rel="stylesheet">
    <link href="__MEMBER__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="__MEMBER__/js/jquery.form.js"></script>
    <script src="__MEMBER__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__MEMBER__/layer/layer.js"></script>
</head>
<body>
<!-- 选择寄件人视图 -->
<div class="selectview" id="selectview">
    <div class="search">
        <form action="?" method="GET">
        <div class="searchbox">
            <!-- <span class="sicon"></span> -->
            <input type="text" name="search_send" class="sbox_input" placeholder="{:L('l_enamemn')}">
            <input type="submit" class="sbox_sub" value="{:L('l_search')}">
        </div>
        </form>
    </div>
    <div class="target_area">
        <a href="{:U('Sender/getSenderInfo')}">{:L('l_shiaddr')}<if condition="(CONTROLLER_NAME eq 'Sender')"><p></p></if></a>
        <a href="{:U('Order/selectRecipient')}">{:L('l_recaddr')}<if condition="(CONTROLLER_NAME eq 'Order')"><p></p></if></a>
        <div style="clear: both;"></div>
    </div>
    <form action="{:U('Order/index')}" method="POST">
    <div class="selev_cont">
            <table width="100%" border="0" cellpadding="10" cellspacing="10"  class="table table-hover" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th style="width: 60px;"> </th>
                        <th style="width: 100px;">{:L('FullName')}</th>
                        <th style="width: 120px;">{:L('Phone')}</th>
                        <th style="width: 100px;">{:L('l_postal_code')}</th>
                        <th style="width: 290px;">{:L('l_shiaddr')}</th>
                        <!-- <th>操作</th> -->
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="data" id="vo">
                        <tr style="height: 55px;">
                            <td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><input type="radio" name="addr_id" id="{$vo['id']}" class="radio" value="{$vo['id']}" <if condition="$vo.is_default eq 1"> checked</if>><label for="{$vo['id']}" id="b_{$vo['id']}" class="radio" ></label></td>
                            <td for="{$vo['id']}" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{$vo['s_name']}</td>
                            <td for="{$vo['id']}" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{$vo['s_tel']}</label></td>
                            <td for="{$vo['id']}" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{$vo['s_code']}</td>
                            <td for="{$vo['id']}" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{$vo['s_country']} / {$vo['s_state']} / {$vo['s_city']}</td>
<!--                             <td>
                                <a href="">修改</a>
                                <span style="vertical-align:text-middle;">|</span>   
                                <a href="">删除</a>
                            </td> -->
                            <td class="set_default" style="padding:0!important;"><if condition="$vo.is_default eq 1"><a href="javascript:;" tid="{$vo[is_default]}" style="color: #999;">{:L('l_defaddr')}</a><else/><a href="javascript:;" tid="{$vo[is_default]}" onclick="send_addrtype({$vo[id]})" style="color: #0099ff;display: none;height: 50px;line-height: 50px;">{:L('l_setdef')}</a></if></td>
                            <!-- <a href="" style="color:#0099ff">设为默认</a> -->
                        </tr>
                    </volist>
                </tbody>
            </table>
<!--         <ul>
            <volist name="data" id="vo">
            <li>
                <input type="radio" name="addr_id" id="{$vo['id']}" class="radio" value="{$vo['id']}">
                <label for="{$vo['id']}" id="b_{$vo['id']}" class="radio" >
                    <p style="width: 60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{$vo['s_name']}</p>
                    <p style="width: 141px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{$vo['s_tel']}</p>
                    <p style="width: 220px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{$vo['s_country']} / {$vo['s_state']} / {$vo['s_city']}</p>
                </label>
                <div style="clear: both;"></div>
            </li>
            </volist>
        </ul> -->
        <div id="pages" class="page">{$page}</div>
    </div>
    <div class="last">
        <input type="button" class="infosbtn" id="infosbtn" value="{:L('LAY_BtnOK')}">
    </div>
    </form>
</div>
<script type="text/javascript">
    // 提交方法
    $('#infosbtn').on('click', function(){
        var radio_che     = $('input:radio:checked').val();
        var index = parent.layer.getFrameIndex(window.name); 
        parent.layer.close(index);
        parent.senderAjax(radio_che,'');
    });
    // 点击tr即选中
    $('table').on('click', 'tr', function(e){ 
        var trs = $(this).parent('tbody').find('tr'); 
        $.each(trs, function(index, item) {  
            $(item).find('td:eq(0) input').prop('checked', false); 
        });  
        $(this).find('td:eq(0) input').prop('checked',true);
    });
    // 鼠标移出移入设置默认状态
    $('tbody tr').mouseover(function(){
        if($(this).find('.set_default a').attr('tid') == 0){
            $(this).find('.set_default').children().css('display','inline-block');
        }
    });
     $('tbody tr').mouseout(function(){
        if($(this).find('.set_default a').attr('tid') == 0){
            $(this).find('.set_default').children().hide();
        }
    });
    // 设置选择寄件人默认地址 
    function send_addrtype(id){
        $.get("{:U('sender/set_default')}",{id: id});
        window.location.reload();
    }
</script>
</body>
</html>