@charset "utf-8";
blockquote,body,button,code,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{color:#000;padding-top:10px;padding-bottom:10px;background-color:#fff;overflow-y:hidden}
.wrap{width:100%;height:800px;max-height:1000px;overflow:hidden}
.box1{width:100%;height:700px;max-height:1500px;margin:0 0 0 15px;overflow-y:scroll;overflow-x:hidden}
.container{margin:0 auto;padding-right:15px;height:900px}
.container h3{color:#000}
.floorh{margin:0 20px 20px 20px;font-size:20px}
.floorh h3{float:left}
.floorh .flotit{float:right;width:125px;line-height:37px;text-align:center;border:1px solid #bfbfbf;font-size:14px;font-weight:600;border-radius:3px}
.floor1{max-height:291px;overflow-y:auto}
.floor1 table thead th{padding:10px 0!important;background:#232323;color:#fff}
.floor1 table tbody tr{border-bottom:1px solid #eee}
.floor1 table tbody tr:last-child{border-bottom:2px solid #232323}
.floor1 table tbody td{text-align:center;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 180px;}
.floor2{width:98%;background:#eaeaea;margin:10px 5px;height:auto}
.floor2 ul{margin:10px 10px;font-weight:700;font-size:15px}
.floor2 .fful{padding-left:50px;padding-top:5px;border-bottom:1px solid #d8d8d8;padding-bottom:10px}
.floor2 .fful h2{color:#000}
.floor2 .fsul{padding-left:50px;overflow-y:auto;max-height:130px;height:auto}
.floor2 .fsul li{margin:20px 0;position:relative}
.fradius{width:10px;height:10px;background:#bbb;border-radius:10px;position:absolute;left:-28px;top:5px}
.fradiusr{width:10px;height:10px;background:#e94242;border-radius:10px;position:absolute;left:-28px;top:5px}
.fline{width:2px;height:25px;background:#bbb;position:absolute;left:-24.5px;top:-22.5px}
.floor2 li{margin-top:10px;margin-bottom:5px;font-weight:500}
.floor2 h4{font-weight:700;color:#000;font-size:20px}
.floor3{margin-left:20px;padding-bottom:45px}
.floor3 h3{font-size:20px}
.floor3 .borr{border-right:1px solid #afaeae}
.floor3 table tbody th,.floor3 table thead th{text-align:left!important;padding-top:10px;font-weight:500;padding-right:10px}
.floor3 table{float:left;font-size:15px}
.floor3 table:nth-of-type(2){margin-left:5%}
.floor4{margin-left:20px;padding-bottom:45px}
.floor4 h3{font-size:20px}
.floor5{margin-left:20px;padding-bottom:45px;margin-top: 20px;}
.floor5 h3{font-size:20px}
.clear{clear:both}
.t_weight{width:100%;margin-top:10px}
.t_weight h4{padding:0;margin:0;line-height:50px;text-align:right;font-weight:700;margin-right:20px;margin-top: -15px;}
.fl2up li{margin:5px;font-weight:500}
.fl2up h4{font-weight:700;color:#000;font-size:20px}
.track-rcol{border:1px solid #eee}
.track-list{margin:20px;padding-left:5px;position:relative;overflow-y:auto;max-height:130px;height:auto}
.track-list li{position:relative;padding:9px 0 0 25px;line-height:18px;border-left:1px solid #bbb;color:#000}
.track-list li:first-child{color:red;padding-top:0;border-left-color:#fff}
.track-list li .node-icon{position:absolute;left:-6px;top:50%;width:11px;height:11px;background:url(../images/order-icons.png) -21px -72px no-repeat}
.track-list li:first-child .node-icon{background-position:0 -72px}
.track-list li .time{margin-right:20px;position:relative;top:4px;display:inline-block;vertical-align:middle}
.track-list li .txt{max-width:600px;position:relative;top:4px;display:inline-block;vertical-align:middle}
.track-list li:first-child .time{margin-right:20px}
.track-list li:first-child .txt{max-width:600px}
