@charset "utf-8";
body{background:#fff}
.recert_vz .warp{width:100%}
.recert_vz .warp .contbox{width:1000px;margin:50px auto;border:1px solid #ccc;border-radius:5px;padding:34px 0}
.recert_vz .warp .contbox .title{width:97%;height:45px;padding:10px 0 5px 10px;border-bottom:1px solid #ccc;margin-left:10px}
.recert_vz .warp .contbox .title h3{float:left}
.recert_vz .warp .contbox .money{width:97%;height:90px;border-bottom:1px solid #ccc;margin-left:10px;padding:20px 0 55px 10px}
.recert_vz .warp .contbox .money p,.recert_vz .warp .contbox .motype p{float:left;font-size:15px;color:#000}
.recert_vz .warp .contbox .money .payint{float:left;margin-top:30px;color:#000}
.recert_vz .warp .contbox .money .payint input{height:40px;border-radius:10px;border:1px solid #ccc;text-indent:1em}
.recert_vz .warp .contbox .motype{width:97%;margin-left:10px;padding:20px 0 55px 10px}
.recert_vz .warp .contbox .motype ul li{float:left}
.recert_vz .warp .contbox .motype .dsfzf-ee{padding:30px 0 0 25px}
.recert_vz .warp .contbox .motype .po-re{position:relative}
.payment-area label,.recert_vz .warp .contbox .payment-area{display:inline-block;position:relative}
.recert_vz .warp .contbox .payment-area input[type=radio]{margin-right:5px;cursor:default}
.recert_vz .warp .contbox .payment-area label{display:inline-block;position:relative}
.recert_vz .warp .contbox .payment-area label img{vertical-align:middle;cursor:pointer;border:1px solid #ededed}
.recert_vz .warp .contbox .payment-area label:hover img{border-color:#bf0f0f}
.submitbtn{width:1000px;margin:50px auto;height:20px}
.submitbtn button{float:left;width:120px;height:50px;border-radius:10px;background:#f4c35a;font-size:17px;color:#fff;border-color:#f4c35a}
