@media print {
	.noprint {    
		display: none    
	}  
	.printlook{
		display: block;
	}
	#tempForm{
		margin-top: -200px;
		margin-left: -200px;
	}
	#tempForm .ew-code{
		margin-top: -100px;
	}
	.fs_ul{
		color:#000;
		margin-top: -50px;
	}
	.fs_ul p{
		margin-top: -20px;
	}
	.fs_ul img{
		margin-left: -100px;
		/*margin-left: 200px;*/
		margin-top: 25px;
	}
	/*.fs_ul img{
		margin-top: -530px;
		margin-left: 360px;
	}*/
	.fs_ul li{
		float: left;
	}
	.fs_ul .martop{
		position: absolute;
		top: 35px;
		left: -100px;
	}
	.htmlshow{
		display: none;
	}
	.printshow{
		display: block;
		margin: -500px 0 0 -220px; 
	}
	.printshow li{
		list-style: none;
	}
	.fl_rig{
		float: right;
	}
	.prin_h1{
		position: absolute;
		left: -100px;
		top: -10px;
	}
	.prin_sp1{
		position: absolute;
		left: -100px;
		top: 35px;
	}
	.prin_fh{
		display: inline-block;
		margin-left: 5px;
		font-size: 17px;
	}
	.prin_sp2{
		position: absolute;
		left: -20px;
		top: 35px;
	}
	.prin_sp3{
		position: absolute;
		left: -100px;
		top: 140px;
	}
	
}
