<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/js/datetime/DateTimePicker.js"></script>
	<link href="__PUBLIC__/js/datetime/DateTimePicker.css" rel="stylesheet"> 
 
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;

      }

      .container{margin:0 auto;}
      .form-signin {
        max-width: 900px;
        /*margin-top:60px;*/
        background-color: #fff;
        /*border: 1px solid #e5e5e5;*/
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
    .form-signin table th{height:36px;font-size:16px;line-height:36px;background:#F7F7F9;}
    .form-signin table td{height:36px;line-height:36px;font-size:14px;text-indent:2em;background:#F7F7F9;}
    .form-signin table td a{text-decoration:none;color:#000;}
    .form-signin table td a:hover{color:blue;}
    .form-signin .form-control{width:400px !important;}
    .dtpicker-mobile .dtpicker-cont{top: 30% !important;}
    
    </style>
    <link href="__PUBLIC__/css/one.css" rel="stylesheet">  
<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/js/wangEditor.min.js" type='text/javascript'></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/datetime/DateTimePicker.js"></script>
<link href="__PUBLIC__/js/datetime/DateTimePicker.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
     </head>
  <body>

    <div class="container" >

      <div class="form-signin" style="margin-bottom:40px">
<script type="text/javascript">
	$(document).ready(function()
			{
				$("#dtBox").DateTimePicker({

					minuteInterval: 5

				});
			});
</script>
<div id="dtBox"></div>
<form class="form-horizontal" action="{:U('AdminAnnouncement/addhandle')}" method='post' id="form2">
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">开始时间:</label>
							<div class="col-sm-5">
								<!-- <input type="text" id="form-field-1" name="start_date" placeholder="请输入促销开始日期"  value="{$res.start_time}" class="span1 col-xs-5 col-sm-6 form-control" /> -->
								<input type="text" class="form-control one" data-field="datetime" name="start_date" placeholder="请输入通告开始日期"  size="25" id="createStarttime" value="{$res.start_time}" style="width:166;  float:left; "> 
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">结束时间:</label>
							<div class="col-sm-5">
								<!--  <input type="text" id="form-field-1" name="end_date" placeholder="请输入促销结束日期"  value="{$res.end_time}" class="span3 col-xs-5 col-sm-6 form-control" />-->
								<input type="text" class="form-control two" name="end_date" placeholder="请输入通告结束日期"   data-field="datetime" size="25" id="createEndtime" value="{$res.end_time}" style="width:166;  float:left;" >
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>			
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">通告标题:</label>
							<div class="col-sm-10">
								<input name="bulletin_title" value="{$res.bulletin_title}" placeholder="请输入通告标题"  class=" col-xs-5 col-sm-6 form-control">	
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">查看对象:</label>
							<div class="col-sm-10">
								<volist name="view_to" id="vo" mod="5">
									<div class="col-sm-3">
									<input name="view_to[]" class="point"  label="group1" value="{$key}" type="checkbox" <if condition="in_array($key, $view)"> checked="checked" </if>   >{$vo}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</div>
									<eq name="mod" value="4"><br/><br/></eq>
								</volist>								
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">是否允许评论:</label>
							<div class="col-sm-10">
								<input name="feeback" type="radio" value="0" <if condition="$res.feeback eq 0">checked="checked"</if>  />否
								<input name="feeback" type="radio" value="1" <if condition="$res.feeback eq 1">checked="checked"</if> />是
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">多语言类别:</label>
							<div class="col-sm-5">
								<select class="form-control" name="lang" id="lang">
									<option style="margin:5px 3px; padding-left:5px; "  value="0">请选择多语言类别</option>
									<volist name="lang" id="pk">
										<option  style="margin:5px 3px; padding-left:5px; " value="{$key}" <if condition="$res['lang'] eq $key">selected=""</if> >{$pk}</option>
									</volist>
								</select>
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">通告内容:</label>
							<label class="col-sm-2 control-label"></label>
						</div>						
						<div class="form-group">
						    <div id="editor" >
						        {$res.html_content}
						    </div>
						    <textarea id="text1" name="editor" style="width:100%; height:200px; display:none;">{$res.content}</textarea>
						</div>
						<!-- 富文本编辑器	start -->	
						<script type="text/javascript">
							var E = window.wangEditor;
							var editor = new E('#editor');
							editor.customConfig.showLinkImg = false;   //隐藏网络图片上传
							editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
							
							//上传图片的错误提示默认使用alert弹出，你也可以自定义用户体验更好的提示方式
							editor.customConfig.customAlert = function (info) {
								// info 是需要提示的内容
								alert('自定义提示：' + info)
							}
							editor.create();
							
						</script>					
						<!-- 富文本编辑器	end -->	

				
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-5">
								<button type="button" onclick="fromdata(this)" class="btn btn-success btn-add">修改</button>
								<!-- <button id="beClosed" class="btn btn-default" type="button" data-dismiss="modal">关闭</button> -->
								<input	type="hidden" name="id" value="{$res['id']}" />
							</div>
							
						</div>						
					</form>
<script type="text/javascript">
	function ityzl_SHOW_LOAD_LAYER(){  
	    return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '200px', time:100000}) ;  
	}  
	function ityzl_CLOSE_LOAD_LAYER(index){  
	    layer.close(index);  
	}  
	function ityzl_SHOW_TIP_LAYER(str, url = ''){  
	    layer.msg(''+str+'',{time: 2000,offset: '200px'}); 
	    if(url){
	    	window.location = url;
	    }else{
	    	window.location.reload(); 
	    }
	} 

	//将时间戳转化成yyyy-mm-dd H:i:s
	function formatDateTime(timeStamp){
	    var date = new Date();  
	    date.setTime(timeStamp * 1000);  
	    var y = date.getFullYear();      
	    var m = date.getMonth() + 1;      
	    m = m < 10 ? ('0' + m) : m;      
	    var d = date.getDate();      
	    d = d < 10 ? ('0' + d) : d;      
	    var h = date.getHours();    
	    h = h < 10 ? ('0' + h) : h;    
	    var minute = date.getMinutes();    
	    var second = date.getSeconds();    
	    minute = minute < 10 ? ('0' + minute) : minute;      
	    second = second < 10 ? ('0' + second) : second;     
	    return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;      
	}; 

	
function fromdata(obj){

	var str=document.getElementsByName("view_to[]");
	var objarray=str.length;
	var chestr="";
	for (i=0;i<objarray;i++)
	{
	  if(str[i].checked == true)
	  {
	   chestr+=str[i].value+",";
	  }
	}
	//alert(chestr);
	//var filest = files[0];
	//var view_to = $(':input[name="view_to[]"]').val();
	var view_to = chestr;
	var id = $(':input[name="id"]').val();
	var bulletin_title = $(':input[name="bulletin_title"]').val(); 	
	var feeback = $(':input[name="feeback"]:checked').val();
	var start_date = $(':input[name="start_date"]').val();
	var end_date = $(':input[name="end_date"]').val();
	//alert(view_to);
	//return;
	//var view_to = $(':input[name="view_to[]"]').val();
	var lang = document.getElementById("lang").value;
	//var editor = document.getElementById("editor").innerHTML;
	var editor = $('.w-e-text').html();
	if(start_date == ''){
		alert('开始时间不能为空');
		return
	}

	// 获取当前时间戳(以s为单位)
	var timestamp = Date.parse(new Date());
	timestamp = timestamp / 1000;
	//当前时间戳为：1403149534
	//console.log("当前时间戳为：" + timestamp);
	
	// 获取某个时间格式的时间戳
	var stringTime = start_date;
	var timestamp2 = Date.parse(new Date(stringTime));
	timestamp2 = timestamp2 / 1000;
	if(timestamp > timestamp2){
		start_date = formatDateTime(timestamp);

		//alert('开始时间要大于当前时间');
		//return
	}

	// 获取某个时间格式的时间戳
	if(end_date != ''){
		var timestamp3 = Date.parse(new Date(end_date));
		timestamp3 = timestamp3 / 1000;
		if(timestamp2 >= timestamp3){
			alert('结束时间要大于开始时间');
			return
		}
	}
	if(bulletin_title == ''){
		alert('请填写通告标题');
		return
	}
	if(view_to == ''){
		alert('请选择查看对象');
		return
	}
	
	if(parseInt(lang) == 0){
		alert('请选择语言类型');
		return
	}
	
	var formData = new FormData();
	formData.append("id", id);
	formData.append("bulletin_title", bulletin_title);
	formData.append("view_to", view_to);
	formData.append("feeback", feeback);
	formData.append("start_date", start_date);
	formData.append("end_date", end_date);
	formData.append("lang", lang);
	formData.append("editor", editor);
	
	var request;
	if (window.XMLHttpRequest) {
		request = new XMLHttpRequest();
	} else {
	    request = new ActiveXObject('Microsoft.XMLHTTP');
	}
	var i;
	ityzl_SHOW_LOAD_LAYER();
	request.onreadystatechange = function(){
		if(request.status == 200 && request.readyState == 4){
			if(request.responseText){
				//成功返回
				var a = JSON.parse( request.responseText );
				var status = a.status;
				var str = a.data.strstr;
				var url = a.data.url;
				ityzl_CLOSE_LOAD_LAYER(i); 
                //ityzl_SHOW_TIP_LAYER(str, url);
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.msg(str);
                parent.location.reload();
                document.getElementById("form2").reset();				
			}else{
				ityzl_CLOSE_LOAD_LAYER(i);
			}
		}
	}
	request.open("post", "{:U('AdminAnnouncement/addhandle')}");
	//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	request.setRequestHeader("X-Requested-With","XMLHttpRequest");
	request.send(formData);								
	// 上传代码返回结果之后，将图片插入到编辑器中
	
	
}
	
</script>	  	
      </div>
    </div> 
 
  </body>
<script src="__PUBLIC__/js/my.js"></script>
</html>