/** content样式**/
.content{ color: #575a5e; background: url(../img/ditu_bj.gif) no-repeat 837px 1991px; letter-spacing: 1px;}
.content .nows{ width: 1000px; margin: 10px auto;}
.content .nows .title{ width: 1000px; height: 50px; border-bottom:2px  solid #d2a44a;}
.content .nows .title img{ width: 50px; height: 50px; float: left;}
.content .nows .title span{ color: #d2a44a; font-size:28px; height: 50px; line-height: 50px; margin-left: 10px; display: block; float: left;}
.content .overseas{ height: 630px; margin-top: 20px;background: url(../img/ditu_bj.gif) no-repeat 400px 259px;}
.content .overseas .mains{ position: relative; margin-top: 57px;}
.content .overseas .mains .left{position: absolute; top: 0; left: 44px; }
.content .overseas .mains .right{position: absolute; top: 0; right: 0; width:500px; }
.content .overseas .mains .right .texts{width: 476px; height: 150px; color: #000; font-size: 18px; line-height: 170%;}
.content .overseas .mains .right li{ margin-top: 20px;}
.content .overseas .mains .right li p{ font-size: 16px; color: #d2a44a; line-height: 170%;}
.content .overseas .mains .right li span{ margin-left: 20px; font-size: 14px; line-height: 170%; display: block;}
.content .overseas .mains .right li.n2{ margin-left: 40px;}
.content .overseas .mains .right li.n3{ margin-left: 80px;}
.content .international{ height: 630px;background: url(../img/ditu_bj.gif) no-repeat 100px 252px;}
.content .international .text{ width: 900px; padding: 30px 50px; font-size: 18px; line-height: 170%;}
.content .international .mains{ width: 900px; padding: 0 50px;}
.content .international .mains li{ width: 200px; display: block; float: left; margin: 0 10px;}
.content .international .mains li span{ line-height: 170%; font-size: 14px;}
.content .international .mains li span.now{ font-size: 16px; line-height: 170%;; color: #d2a44a; width: 200px; display: block;}
.content .logistics{height: 630px;background: url(../img/ditu_bj.gif) no-repeat 0px 236px;}
.content .logistics .mains{margin-top: 50px; position: relative;}
.content .logistics .mains .left{ width: 600px; position: absolute; top: 0; left: 44px;}
.content .logistics .mains .left .text{font-size: 18px; line-height: 170%;}
.content .logistics .mains .left li{ width: 488px; margin-top: 30px;}
.content .logistics .mains .left li p{ font-size: 16px; line-height: 170%; color: #d2a44a;}
.content .logistics .mains .left li span{ font-size: 14px; line-height: 170%; margin-left: 20px; display: block;}
.content .logistics .mains .right{ position: absolute;top: 0; right: 44px;}
.content .coach{ height: 580px; background: url(../img/overseas_08.png) no-repeat 20px 0px;}
.content .coach .mains{ margin-top: 30px;}
.content .coach .mains .left{ margin: 58px 0 0 20px; float: left;}
.content .coach .mains .right{ width: 478px; float: right; margin-right: 30px;}
.content .coach .mains .right .text{font-size: 18px; line-height: 170%;}
.content .coach .mains .right li{margin-top: 10px;}
.content .coach .mains .right li p{font-size: 16px; line-height: 170%; color: #d2a44a;}
.content .coach .mains .right li span{font-size: 14px; line-height: 170%; margin-left: 20px; display: block;}
