/* banner 样式*/
.banner{width: 100%; min-width: 1004px; margin-top: 135px;}
.banner .banner_main{ width: 100%;}
.banner .pic{ position: absolute; top:0; left:0;  }
.banner .pic1 .texts1{position:absolute; width: 330px; height: 170px; top: 16%; left: 58%; }
.banner .pic1 .texts1 h1{font-size: 44px; color: #ff7e11; height: 70px; line-height: 170%;  }
.banner .pic1 .texts1 p{ font-size: 16px; color: #fff; line-height: 170%;height: 25px;}
.banner .pic2 .texts2{position:absolute; width: 550px; height: 150px; top: 12%; left: 53%;}
.banner .pic2 .texts2 h1{font-size: 44px; color: #f6bc1a; height: 70px; line-height: 170%; }
.banner .pic2 .texts2 p{ font-size: 16px; color: #fff; line-height: 170%;height: 25px;}
.banner .pic3 .texts3{position:absolute; width: 600px; height: 150px; top: 10%; left: 20%;}
.banner .pic3 .texts3 h1{font-size: 44px; color: #f6bc1a; height: 70px; line-height: 170%; }
.banner .pic3 .texts3 p{ font-size: 16px; color: #000; line-height: 170%;height: 25px;}
.banner .pic4 .texts4{position:absolute; width: 480px; height: 150px; top: 8%; left: 58%;}
.banner .pic4 .texts4 h1{font-size: 44px; color: #f5bd19; height: 70px; line-height: 170%; }
.banner .pic4 .texts4 p{ font-size: 16px; color: #fff; line-height: 170%;height: 25px;}
.banner .pic .texts a{ width: 133px; height: 45px; line-height: 45px; background: #d1a631; color: #fff; font-size: 22px; display: block; text-align: center; margin-top: 20px;}
.banner .pic .texts a:hover{ background: #D4A118;}
.banner .pic2{display: none;}
.banner .pic3{display: none;}
.banner .pic4{display: none;}
.banner .btn{ width: 70px; height:12px; position:relative; left:50%; margin-left:-18px;  bottom:20px; z-index: 99999; }
.banner .btn a{ width:12px; height: 12px; display: block; border-radius: 5px; float:left; margin-left:4px; background:#bb9723 ; z-index: 99999; }
.banner .btn a:hover{background:#ffffff;}
.banner .serve{ position: relative; left: 0; width: 100%;  bottom: 0px; height: 120px; background-color: rgba(0,0,0,0.2); }
.banner .serve ul{width: 1000px; margin: 0 auto; height: 120px; display: block;  background-color: rgba(0,0,0,0.3); display: block;}
.banner .serve ul li{ width: 199px; display: block; float: left;  height: 120px;font-size: 20px; font-weight:100; border-left: 1px solid #fff; }
.banner .serve ul li.sit{cursor: pointer;}
.banner .serve ul li.service{border:none;  overflow: hidden !important; display: inline; cursor: pointer;}
.banner .serve ul li.z_service{ cursor: pointer;}
.banner .serve ul li p{color: #fff; height: 50px; line-height: 50px; text-align: center;margin-top: 17px;  }
.banner .serve ul li p.now1{ width: 180px; margin: 0 auto;display: block;margin-top: 17px;}
.banner .serve ul li p b{ width: 15px; float: left;}
.banner .serve ul li p.text{margin: 0; height: 53px; line-height: 36px; font-size: 20px;}
.banner .serve ul li.service .now{background: #ba9723; width: 199px; height: 36px;line-height: 36px;text-align: center;font-size: 20px; float: left; margin-top: 53px; color: #fff;}

.banner .serve ul li.freight_now{ width: 0; display: none; background: #000; border:none; font-size: 14px; color: #b0b0b0; margin: 0; overflow: visible !important;}
.banner .serve ul li.freight_now samp{ display: block; float: left; margin-left: 18px; font-size: 14px; }
.banner .serve ul li.freight_now p{ display: block; height: 40px; line-height: 40px; margin: 0px;color: #b0b0b0; }
.banner .serve ul li.freight_now{position: relative;z-index: 998; }

.banner .serve ul li.freight_now .chunk{left: 100px; top: 35px;}
.banner .serve ul li  .chunk{ display: none; position: absolute;  z-index: 9999; background: #fff; width: 340px; border:1px solid #888;}
.banner .serve ul li  .chunk h3{ height: 37px; line-height: 37px; padding-left: 5px; color: #c58f40 ; border-bottom: 1px solid #DDD; font-size: 14px; }
.banner .serve ul li  .chunk h3 span{display: block; float: right; width: 20px; width: 20px; cursor: pointer; font-size: 20px;}
.banner .serve ul li  .chunk h3 span:hover{ color: red;}
.banner .serve ul li  .chunk .navs{ width: 340px; padding:10px 15px; height: 30px;}
.banner .serve ul li  .chunk .navs span{width: 74px; height: 26px; line-height: 26px; text-align: center; border: 1px solid #c58f40; border-left: none; display: block; float: left; cursor: pointer;}
.banner .serve ul li  .chunk .navs span.now{border-left:1px solid #c58f40; }
.banner .serve ul li  .chunk .navs span.ccs{border-bottom:none; color:#c58f40; }
.banner .serve ul li  .chunk .navs span.wcd{border-top:none; border-left: none; border-right: none; margin: 0; padding: 0; height: 27px; }
.banner .serve ul li  .chunk .mains{width: 340px; padding: 10px 15px;}
.banner .serve ul li  .chunk .mains a{ display: block; float: left; text-align: center; color: #999; width: 74px; height: 26px; line-height: 26px; margin: 0 3px; cursor: pointer;}
.banner .serve ul li  .chunk .mains a:hover{ background: #c58f40; color: #fff;}


.banner .serve ul li p label{ width: 80px; text-align: right; margin: 0px; float: left; }
.banner .serve ul li p .select{ width: 160px; height: 28px; border:none; background:#fff; color: #000; float: left; margin:7px 0 ; margin-left: 20px; padding: 0 10px;}
.banner .serve ul li p .ctt{ width: 20px; height: 28px; line-height: 28px; font-size:16px;  font-weight: bold; display: block; float: left;margin:7px 0 ; background: #fff; color: #000;} 
.banner .serve ul li.freight_now p input.text{ width: 68px; height: 26px; border:none; background: #fff; padding: 0 5px;  border-radius: 3px; display: block; float: left;margin: 8px 0 0 20px;}
.banner .serve ul li.freight_now p smap{ width: 30px; display: block; float: left; color: #fff;}
.banner .serve ul li p input.btns{ width: 60px; height: 26px; display: block; float: left;  margin-top: 8px; margin-left: 20px; border: none; background: #ba9723; color: #fff; cursor: pointer; border-radius: 3px;}
.banner .serve ul li p input.btns:hover{ background: #ab7c36;}

.banner .serve ul li.query_now{width: 0; display: none; background: #000; border:none; font-size: 14px; color: #b0b0b0; margin: 0;overflow: visible !important; }
.banner .serve ul li.query_now p{ display: block; height: 40px; line-height: 40px; margin: 0px;color: #b0b0b0;}
.banner .serve ul li.query_now{position: relative;}
.banner .serve ul li.query_now .qq_01{ width: 77px; height: 22px; display: block; margin: 18px 0 0 20px;}


.banner .serve ul li.move_now{position: relative; width: 0; background: #000; display: none; border:none; font-size: 14px; color: #b0b0b0; margin: 0;}
.banner .serve ul li.move_now p{width:77px; height: 100px; line-height: 0px; margin: 10px 2px; display: block; float: left;}
.banner .serve ul li.move_now p { margin-top:15px; display: block; }
.banner .serve ul li.move_now p span{ width: 77px;  color: #fff;  height: 20px;line-height: 20px;  font-size: 11px;letter-spacing: 0px; }
.banner .serve ul li.move_now p span labels{ width: 77px; text-align: center; margin:0 auto;-webkit-transform:scale(0.9); display:inline-block;}
.banner .serve ul li.move_now p span labels.nows{width: 84px;margin-left: -3px;}

/* content 样式*/
.content{width: 1000px; height: 713px; margin: 0 auto;background: url(../img/ditu_bj.gif) repeat-x left 20px}   
.content .left{width: 234px; height: 713px; float: left;  margin-top:15px;}
.content .left .title{ padding:0 5px ;}
.content .left .title a{ width: 100px; height: 36px; line-height: 36px; font-size: 12px; color: #000; border-top: solid 2px #ccc; display: block; float: left; text-align:right; padding-right: 5px;}
.content .left .title a span{font-size: 16px; color: #c58f40;}
.content .left .title a.now{text-align: left; padding-left: 5px; color:  #c58f40; font-size: 16px; border-top: solid 2px #c58f40 ;}
.content .left .list{ padding: 0 10px;}
.content .left .list li{ margin: 20px 0; font-size: 12px; cursor: pointer;}
.content .left .list li:hover{ color:#c58f40; }
.content .right{ width: 746px; height: 713px; float: left; margin:15px 0 0 20px;}
.content .right .top{ height: 380px;}
.content .right .top .lefts{ width: 468px; height: 352px; float: left; background-color: rgba(0,0,0,0.01);; border-bottom:1px solid #ddd; }
.content .right .top .lefts .inquire{ height: 110px; }
.content .right .top .lefts .inquire div{height: 90px; line-height: 90px;  border-top: solid 2px #ccc; float: left;}
.content .right .top .lefts .inquire .now1{ width: 282px; height: 90px; line-height: 90px; padding-left: 10px; border-top: solid 2px #c58f40; float: left;}
.content .right .top .lefts .inquire .now1 p{ width: 9px; height: 9px;position: absolute; top:-6px;  left: 50px;}
.content .right .top .lefts .inquire .now1 span{display: none; position: relative; width: 40px; line-height: 40px; background: #fff9c9; font-size: 14px; padding: 5px 10px; border:1px solid #c7bf93; border-radius: 3px;  }
.content .right .top .lefts .inquire .now2{width: 175px;}
.content .right .top .lefts .inquire input{height: 32px; padding: 5px; font-size: 14px; color: #ddd; border:1px solid #c58f40; background: #f8f8f8;}
.content .right .top .lefts .inquire input.text{ width: 274px; margin-top: 35px; height: 40px; color: #1A1917; font-size: 18px; background: #f8f8f8;}
.content .right .top .lefts .inquire input.btn{ width: 152px; border-color: #c58f40; color: #c58f40; margin-left: 10px;font-size: 18px; margin-top: 35px; height: 42px; cursor: pointer;}
.content .right .top .lefts .inquire input.btn:hover{background:#F3F1DC ; color: #DA8D1D;}
.content .right .top .lefts .bic{ width: 450px; height: 150px; border-top:1px solid #ddd; margin: 0 auto;}
.content .right .top .lefts .bic li{ width: 94px; height: 150px; float: left; margin: 0 8px;}
.content .right .top .lefts .bic li p{ width: 78px; height: 72px; background: #fff; border-radius: 8px; border: solid 1px #ddd; padding: 10px 0 0 12px; margin-top: 20px;}
.content .right .top .lefts .bic li span{ height: 38px; line-height: 38px; text-align: center; width: 94px; display: block;}
.content .right .top .lefts .atte{ width: 440px; margin: 0 auto;}
.content .right .top .lefts .atte li{ font-size: 14px; font-weight: bold;  margin: 5px 0; padding-left: 20px; }
.content .right .top .lefts .atte li.now{color: #c58f40;}
.content .right .top .rights{ width: 258px; height: 352px; float: right;}
.content .right .solve{ width: 746px; height: 290px; background: url(../img/ditu_bj.gif) no-repeat left;}
.content .right .solve p{ width: 334px; height: 44px; line-height: 44px; border-top: solid 2px #c58f40; float: left;font-size: 16px; padding: 0 5px;}
.content .right .solve span.now{width: 400px;height: 44px; border-top: solid 2px #ddd;float: left; display: block;}
.content .right .solve .inte{ width: 326px; height: 100px; float: left; margin: 10px 20px;}
.content .right .solve .inte span{ display:block; float: left;height: 100px; margin-left: 10px; font-size:14px;}
.content .right .solve .inte span label{ color:#c58f40; margin-bottom: 5px; display: block;}
.content .right .solve .inte span  li{ margin: 3px 0; }