/** content样式**/
.content{width: 1000px; margin: 0 auto; }
.content .table{ height: 107px; margin-top: 24px;}
.content .table .title{ height: 2px;}
.content .table .title p{width: 515px; display: block; float: left; height: 2px; background: #c58f40;}
 .title span{ width:485px; display: block; float: left;height: 2px; background: #ccc; }
.content .table .now{height: 100px; background:#fff; border:1px solid #eee; margin-top: 3px;}
.content .table .now .tab{ width: 466px; height: 50px; margin: 23px auto;}
.content .table .now .tab p{ width: 9px; height: 9px;position: absolute; top:-6px;  left: 50px;}
.content .table .now .tab span{ margin-left: 1px; position: relative;display: inline-block; width: auto; line-height: 40px;font-size: 14px; background: #fff9c9; padding: 5px 10px; border:1px solid #c7bf93; border-radius: 3px;     white-space: nowrap; }
.content .table .now .tab input{ height: 33px; border:1px solid #9f9f9f; font-size: 14px;}
.content .table .now .tab input.text{ width: 294px; padding: 0px 10px; height: 40px; color: #1A1917; font-size: 18px; background: #f8f8f8;}
.content .table .now .tab input.btn{ height: 40px; margin-left: 8px; border:1px solid #d3b385; background: #F8F8F8; font-size: 18px;color: #d3b385; width: 149px; cursor: pointer;}
.content .table .now .tab input.btn:hover{background:#F3F1DC ; color: #DA8D1D;}
.content .main{ height: 478px; border:1px solid #eee; margin:30px 0; background: url(../img/ditu_bj.gif) no-repeat 20px 20px #fff;}
.content .main li{ height: 170px; width: 400px; margin: 30px 30px; float: left;}
.content .main li .left{ float: left; width: 63px; height: 63px; background: #fff; border-radius: 5px; border:1px solid #eee; padding: 10px;}
.content .main li .right{ width: 280px; height: 180px; margin-left:20px; float: left; display: block;}
.content .main li .right h1{ display: block; font-size: 16px; line-height: 170%;  font-weight: 100; color: #ddc096;} 
.content .main li .right span{ display: block; font-size: 14px;line-height: 170%; }
.content .main li .right input.btn1{ width: 100px; height: 30px; font-size: 14px; border:1px solid #dead6d; background: #fff; color: #dead6d; cursor: pointer; margin-top: 20px;}
.content .order{ border:1px solid #eee; margin:30px 0; background: #fefefe;padding: 20px;}
.content .order .title{ height: 50px; line-height: 170%; font-size: 24px; font-weight: bold; }
.content .order .title label{ display: block; float: left; margin-left: 40px;}
.content .order .title p{display: block; float: left;}
.content .order .orlist{ width: 850px; margin: 0 auto; border-left: 3px solid #D5D4D4; padding:0 10px;}
.content .order .orlist li{ position: relative; margin: 20px 0; display: block; border:1px solid #eee; margin-left: 20px;}
.content .order .orlist li img{height: 20px;}
.content .order .orlist li img.t{ position: absolute; top: 10px; left: -44px;}
.content .order .orlist li img.s{position: absolute; top: 10px; left: -16px;}
.content .order .orlist li p{ padding-left:20px; }
.content .order .orlist li .dates{ /*display: block; width: 214px; float: left;*/ font-size: 18px;line-height: 40px; color: #afafaf; }
.content .order .orlist li .texts{line-height: 40px; font-size: 18px; color: #000;}