<extend name="./base" />

<block name="main">

    <div class="container">
        <div class="col-md-2">
			<include file="Public:authNav" />
        </div>
        <div class="col-md-10">
        	<div class="rtop">
        		<ul class="list-inline">
 				 <if condition="ACTION_NAME eq 'terminal_list'">
 				 		<li class="blue"><a href="{:U('AdminTerminal/terminal_list')}">终端号列表</a></li>
 				 		<li><a href="{:U('AdminTerminal/terminal_add')}"  data-toggle="modal" data-target="#myModal">终端号添加</a></li>
 				 		
 				 	<else />
 				 		<li class="blue"><a href="{:U('AdminTerminal/terminal_list')}">终端号列表</a></li>
 				 		
 				 	</if>
 				 <li style="float:right">您当前所在位置：终端号管理&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">终端号列表</a></li>
				</ul>

				
					<table border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
						<thead>
							<tr>
								<td colspan="8">
									
									<form class="form-inline" method="get"  action="{:U('/AdminTerminal/terminal_list')}" >
									
										<label>
											<span style="float:left;">搜索:</span> 
											<input class="form-control" name="computer"  placeholder="请输入查询终端机名称"  value="" style="width:160; float:left;" type="search">
										</label>
										<label>
											<div style="float:left;">
											&nbsp;&nbsp;<span style="float:left;">终端机编号：</span> 
											<input type="text" class="form-control" placeholder="请输入查询终端机编号" data-field="datetime" name="terminal" size="25"  value="" style="width:166;  float:left; ">
											</div>
										</label>
										<label>
											<div style="float:left;">
											&nbsp;&nbsp;<span style="float:left;">揽收点：</span> 
											<select class="form-control" name="point_id">
												<option value="0">请选择揽收点</option>
												<volist name="point_list" id="vo">
													<option style="margin:5px 3px; padding-left:5px; " value="{$vo['id']}" <if condition="$res['point_id'] eq $vo['id']"> selected="selected" </if> >{$vo['point_name']}</option>
												</volist>
											</select>												
											</div>
										</label>
										<label>
											<div style="float:left;">
											&nbsp;&nbsp;<span style="float:left;">状态：</span> 
											<select class="form-control" name="status">
												<option  value="no">请选择状态</option>
												<option value="1" >禁用</option>
												<option value="2" >启用</option>
											</select>											
											</div>
										</label>
										<label>
											<div style="float:left;">
											&nbsp;&nbsp;<span style="float:left;">行数：</span> 
											<select class="form-control" name="number">
												<option  value="0">请选择行数</option>
												<option value="10">10</option>
												<option value="20">20</option>
												<option value="30">30</option>
												<option value="50">50</option>
												<option value="100">100</option>
												
											</select>											
											</div>
										</label>										
																								
										<label>
											<button class="btn btn-primary btn-lg" type="submit"  style="float:left">查询</button>
										</label>																							
									</form>
									
								</td>
							</tr>
												
						
						
							<tr>
								<th>编号</th>
								<th>终端机名称</th>
								<th>终端机编号</th>
								<th>揽收站</th>
								<th>创建时间</th>
								<th>修改时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<volist name='list' id="vo">
						<tr>
							<td>{$i+$num}</td>
							<td>{$vo['computer_name']}</td>
							<td>{$vo['terminal_name']}</td>
							<td>{$vo['point_name']}</td>
							<td>{$vo['create_time']}</td>
							<td>{$vo['sys_time']}</td>
							<td align="center">
							<!-- 
								<if condition="$vo['status'] eq 1"><span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
								<else />
									<span class="label label-danger">							
									<i class="glyphicon glyphicon-remove"></i></span>
								</if> -->
								<img src="__PUBLIC__/images/<if condition="$vo['status'] eq 1">pass.png<else />nopass.png</if>" width="20"  height="20" />
							</td>
							<td  align="center" class="td3">
									<a href="{:U('AdminTerminal/terminal_edit',array('id' => $vo['id']))}" class=""  data-toggle="modal" data-target="#myModal">修改</a>&nbsp;|
									<!--  <a href="{:U('/Auth/authAddDel',array('id'=>$vo['id']))}" class="btn btn-danger">{:L('Delete')}</a>-->
									<a onclick="stock(this)" id="{$vo['id']}" name="{$vo['computer_name']}" url_a="{:U('AdminTerminal/terminal_delete', array('id' => $vo['id']))}"  href="#" class="">删除</a>
								

							</td>
						</tr>

						</volist>
					</table>
					<div id="pages" class="page">{$page}</div>
        	</div>
        </div>
		</div>		
<div class="foot"></div>
<script type="text/javascript">
	function ityzl_SHOW_LOAD_LAYER(){  
	    return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '200px', time:100000}) ;  
	}  
	function ityzl_CLOSE_LOAD_LAYER(index){  
	    layer.close(index);  
	}  
	function ityzl_SHOW_TIP_LAYER(str, url = ''){  
	    layer.msg(''+str+'',{time: 2000,offset: '200px'}); 
	    if(url){
	    	window.location = url;
	    }else{
	    	window.location.reload(); 
	    }
	} 

	function stock(obj){
		var id = $(obj).attr('id');
		var url_a = $(obj).attr('url_a');;
		//var url = url_a + '/id/' + id;
		var url = url_a;
		var del_sn = $(obj).attr('name');
		if(confirm('是否删除终端号为：'+ del_sn + ' 的信息！')){
			//window.location.href=url;
			var request;
			var i;
			ityzl_SHOW_LOAD_LAYER();
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						var a = JSON.parse( request.responseText );
						var status = a.status;
						//alert(status);
						//alert(a.data.strstr);
						//window.location.reload();
						//alert(request.responseText);
						//alert('导入成功！');
						var str = a.data.strstr;
						ityzl_CLOSE_LOAD_LAYER(i); 
		                ityzl_SHOW_TIP_LAYER(str); 
		                document.getElementById("form1").reset();
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("get", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send();	
			
		} 
	}

</script>
</block>


</body>
</html>