<div class="banner">
		<div style="position:relative;top:0;left:0;right:0;bottom:0;">			
			<img id="imgs1" style="display:block" src="__IMG__/baner_01.jpg" width="100%" />
			<img id="imgs2" style="display:none" src="__IMG__/baner_02.jpg" width="100%" />
			<img id="imgs3" style="display:none" src="__IMG__/baner_03.jpg" width="100%" />	
			<img id="imgs4" style="display:none" src="__IMG__/banner_04.jpg" width="100%" />					
			<div class="banner_main">
				<li href="javascript:;"  class="pic pic1">
					<img src="__IMG__/baner_01.jpg" width="100%"  />
					<div class="texts1 texts">
						<h1>全程无忧</h1>
						<p>量身定做，智能供应链解决方案，</p>
						<p> 助力您的国际业务成功运转</p>
						<a class="btnss" href="{:U('Register/index')}">现在注册</a>						
					</div>	
				</li>
				<li href="javascript:;"  class="pic pic2">
					<img src="__IMG__/baner_02.jpg"  width="100%"  />	
					<div class="texts2 texts">
						<h1>进军国际市场您准备好了吗</h1>
						<p>遍布全球的精准物流网络，助您开拓新的广阔天地</p>
						<a class="btnss" href="{:U('Register/index')}">现在注册</a>			
					</div>	
				</li>
				<li href="javascript:;"  class="pic pic3">
					<img src="__IMG__/baner_03.jpg" width="100%"/>
					<div class="texts3 texts">
						<h1>专业服务品质 贴心想您所想</h1>
						<p>低成本、高效率的国际物流配送</p>
						<p>遍布全球的海外仓储服务网点</p>
						<p>实时、精准的物流信息追踪</p>
						<p>专业、稳定的报关服务</p>
						<a class="btnss" href="{:U('Register/index')}">现在注册</a>					
					</div>		
				</li>
				<li href="javascript:;"  class="pic pic4" >
					<img src="__IMG__/banner_04.jpg" width="100%"/>	
					<div class="texts4 texts">
						<h1>美快国际物流</h1>
						<p>跨境电子商务国际物流解决方案专家</p>
						<p>为您提供一站式专业、精准、可靠、完善的国际物流配送服务</p>
						<a  class="btnss" href="{:U('Register/index')}">现在注册</a>
					</div>	
				</li>				
			</div>

					
			<div style="position:absolute; bottom:0px;width:100%; ">
			<div class="btn">			
				<a href="javascript:;" class="now1"></a>
				<a href="javascript:;" class="now2"></a>
				<a href="javascript:;" class="now3"></a>
				<a href="javascript:;" class="now4"></a>
			</div>
			<div class="serve" id="nav2">
			<ul>
				<li class="service">
					<p class="now1">
						<b class="a">0</b>
						<b class="b">2</b>
						<b class="c">0</b>
						<b class="p">-</b>
						<b class="d">2</b>
						<b class="e">8</b>
						<b class="f">1</b>
						<b class="g">0</b>
						<b class="h">0</b>
						<b class="i">9</b>
						<b class="j">9</b>
						<b class="k">5</b>					
					</p>
					<p class="text">客服热线</p>
					<div class="now">你还可以电话下单</div>
				</li>
				<li class="z_service" >
					<a class="hrefs" href="http://wpa.qq.com/msgrd?v=3&uin=2197496040&site=qq&menu=yes" target="_blank">
					<p><img src="__IMG__/ico_1.png"></p>
					<p class="text"><img border="0" src="http://wpa.qq.com/pa?p=2:2197496040:4"/>&nbsp;在线客服</p>
					</a>
				</li>
				<li class="freight sit">
					<p class="a1" ><img src="__IMG__/ico_2.png"></p>
					<p class="a2" style=" display:none"><img src="__IMG__/ocic_2.png"></p>
					<p class="text">运费查询</p>
				</li>
				<li class="freight_now" >
					<p class="options coc">
						<label>出发地:</label>
						<samp>美快美国加州仓</samp>											
					</p>
					<div class="chunk chunk1">
							<h3>请选择 省市 <span class="escs">×</span></h3>	
							<div class="navs">
								<span id="hot" class="now ccs">热门</span>
								<span id="potion">省份</span>
								<span id="city">市区</span>
								<span class="wcd"></span>
							</div>
							<div class="mains" id="main1"></div>
							<div class="mains" id="main2"></div>
							<div class="clear"></div>
					</div>
					<p class="dest"><label>目的地:</label><input class="select" id="selectas" type="text" name="text" value="请选择省市区" readonly="readonly"/><span class="ctt">∨</span>	</p>				
					<p><label>快件重量:</label><input class="text" id="fre_kg" name="kg" type="text" /><smap>kg</smap><input id="freight_ins" class="btns" type="button" value="查询" /></p>
				</li>
				<li class="query sit">
					<p class="a1"><img src="__IMG__/ico_3.png"></p>
					<p class="a2" style=" display:none"><img src="__IMG__/ocic_3.png"></p>
					<p class="text">客服查询</p>
				</li>
				<li class="query_now">
					<a class="qq_01 hrefs" href="http://wpa.qq.com/msgrd?v=3&uin=2197496040&site=qq&menu=yes" target="_blank">
						<img border="0" src="http://wpa.qq.com/pa?p=2:2197496040:41"/>
					</a>
				</li>				
				<li class="move sit">
					<p class="a1"><img src="__IMG__/ico_4.png"></p>
					<p class="a2" style=" display:none"><img src="__IMG__/ocic_4.png"></p>
					<p class="text">移动服务</p>
				</li>
				<li class="move_now">
					<p>
						<img src="__IMG__/code_02.gif">
						<span> <labels>美快手机端</labels></span>
					</p>
					<p>
						<img src="__IMG__/code_03.gif">
						<span> <labels class="nows">美快微信公众号</labels></span>
					</p>
					<p>
						<img src="__IMG__/code_04.gif">
						<span> <labels>美购商场</labels></span>
					</p>
				</li>
			</ul>			
			</div>
		</div>	
		</div>
	</div>