<div class="banner_vz" id="pic_vz" style="height:792px">
	<img src="__IMG__/{:L('lng')}/lunbo_pic_1.jpg" width="100%" height="auto">
	<div class="pic_vz" cid="1">
		<a href="{:C('__MKUSER__')}" ><div class="swipe_1" style="background: url(__IMG__/{:L('lng')}/lunbo_pic_1_n.jpg) no-repeat; background-position: center;"></div></a>
		<div class="swipe_2" style="background: url(__IMG__/{:L('lng')}/lunbo_pic_2_n.jpg) no-repeat; background-position: center;"></div>
		<div class="swipe_3" style="background: url(__IMG__/{:L('lng')}/lunbo_pic_3_n.jpg) no-repeat; background-position: center;"></div>
		<div class="swipe_4" style="background: url(__IMG__/{:L('lng')}/lunbo_pic_4_n.jpg) no-repeat; background-position: center;"></div>
	</div>
	<div class="pic_now_vz">
		<div class="pic1" id="show_vz">
			<span class="p1" cid="1"><label></label></span>
			<span class="p2" cid="2"><label></label></span>
			<span class="p3" cid="3"><label></label></span>
			<span class="p4" cid="4"><label></label></span>
		</div>
	</div>
	<div class="xiala_vz" onclick="xiala_vz()"><img src="__IMG__/xiala_home.png"></div>
	<div class="jian" onclick="jian_lunbo()"></div>
	<div class="jia" onclick="add_lunbo()"></div>
</div>
