				<tr>
					<h4 style="text-align:right">
						您当前所在位置：<a href="javascript:void(0);" class="color">会员提现</a>
					</h4>

				</tr>

				<tr style="margin:0px;padding:0px;width:300px !important;">
					
					<th width="100" <if condition="(I('get.type') eq '')">class="active"</if>><a href="{:U('Adminwithdraw/withdraw_list')}" >全部</a></th>

					<th width="100" <if condition="(I('get.type') eq 'audited')">class="active"</if>><a href="{:U('Adminwithdraw/withdraw_list',array('type'=>'audited'))}" >待审核</a></th>

					<th width="100" <if condition="(I('get.type') eq 'confirmed')">class="active"</if>><a href="{:U('Adminwithdraw/withdraw_list',array('type'=>'confirmed'))}" >待确认</a></th>

					<th width="100" <if condition="(I('get.type') eq 'completed')">class="active"</if>><a href="{:U('Adminwithdraw/withdraw_list',array('type'=>'completed'))}" >已完成</a></th>

					<th width="100" <if condition="(I('get.type') eq 'cancel')">class="active"</if>><a href="{:U('Adminwithdraw/withdraw_list',array('type'=>'cancel'))}" >已取消</a></th> 
				</tr>