<form action="{:U('Adminwithdraw/withdraw_hadd')}" method='post'>

	<div class="container" style="margin-bottom:0;margin-top:0;">
	<!-- 会员提现详细信息	start -->
		<label class="col-sm-12 control-label"><h3>会员提现信息</h3></label>
		<div class="form-signin" style="padding-top:40px;background:#F7F7F9 !important;margin-bottom:40px">
			
			<div class="form-group">
				<label class="col-sm-1 control-label" for="username" style="text-align:right;">会员名称:</label>
				<div class="col-sm-3">
					{$row['username']}
					<!-- <input class="form-control" placeholder="会员名称" name="username" value="{$row['username']}" type="text"> -->
				</div>
				<label class="col-sm-1 control-label" for="username" style="text-align:right;">申请金额:</label>
				<div class="col-sm-3">
					{$row['request_amount']}
					<!-- <input class="form-control" placeholder="申请金额" name="request_amount" value="{$row['request_amount']}" type="text"> -->
				</div>
				<label class="col-sm-1 control-label" for="username" style="text-align:right;">申请时间:</label>
				<div class="col-sm-3">
					{$row['create_time']}
					<!-- <input class="form-control" placeholder="申请时间" name="create_time" value="{$row['create_time']}" type="text"> -->
				</div>			
			</div>
			<label class="col-sm-12 control-label"></label>
			<div class="form-group">
				<label class="col-sm-1 control-label" for="username" style="text-align:right;">账号即时余额:</label>
				<div class="col-sm-3">
					{$row['useramount']}
					<!-- <input class="form-control" placeholder="账号即时余额" name="useramount" value="{$row['useramount']}" type="text"> -->
				</div>
				<label class="col-sm-1 control-label" for="username" style="text-align:right;">冻结金额:</label>
				<div class="col-sm-3">
					{$row['freeze_amount']}
					<!-- <input class="form-control" placeholder="冻结金额" name="freeze_amount" value="{$row['freeze_amount']}" type="text"> -->
				</div>
				<!-- <label class="col-sm-1 control-label" for="username" style="text-align:right;">手续费:</label>
				<div class="col-sm-3">
					<input class="form-control" placeholder="手续费" name="service_charge" value="{$row['service_charge']}" type="text">
				</div> -->
				<!-- <label class="col-sm-1 control-label" for="username" style="text-align:right;">申请时间:</label>
				<div class="col-sm-3">
					{$row['create_time']}
					<input class="form-control" placeholder="申请时间" name="create_time" value="{$row['create_time']}" type="text">
				</div> -->
				<label class="col-sm-1 control-label" for="username" style="text-align:right;">状态:</label>
				<div class="col-sm-3">
					{$row['examine_status_name']}
					<!-- <input class="form-control" placeholder="状态" name="mode_name" value="{$row['examine_status_name']}" type="text"> -->
				</div>						
			</div>	
			<label class="col-sm-12 control-label"></label>
			<div class="form-group">
				<!-- <label class="col-sm-1 control-label" for="username" style="text-align:right;">提现方式:</label>
				<div class="col-sm-3">
					<input class="form-control" placeholder="提现方式" name="mode_name" value="{$row['mode_name']}" type="text">
				</div> -->	
				<!-- <label class="col-sm-1 control-label" for="username" style="text-align:right;">状态:</label>
				<div class="col-sm-3">
					{$row['examine_status_name']}
					<input class="form-control" placeholder="状态" name="mode_name" value="{$row['examine_status_name']}" type="text"> 
				</div> -->							
			</div>
			<if condition="$row['examine_status'] eq 1 ">	
				<label class="col-sm-12 control-label"></label>
				<div class="form-group">
					<label class="col-sm-1 control-label" for="username" style="text-align:right;">在线支付金额:</label>
					<div class="col-sm-3">
						<input class="form-control" placeholder="在线支付金额" name="online_amount" type="text">
					</div>
					<label class="col-sm-1 control-label" for="username" style="text-align:right;">在线支付手续费:</label>
					<div class="col-sm-3">
						<input class="form-control" placeholder="在线支付手续费" name="cash_service" type="text">
					</div>	
					<label class="col-sm-1 control-label" for="username" style="text-align:right;">退款方式:</label>
					<div class="col-sm-3">
						<!-- <input class="form-control" placeholder="退款方式" name="cash_mode" type="text">
						 -->
						<select class="form-control" name="cash_mode" id="line_zcode">
							<option style="margin:5px 3px; padding-left:5px; "  value="0">请选择退款方式</option>
							<volist name="paykind" id="pk">
								<option  style="margin:5px 3px; padding-left:5px; " value="{$key}" <if condition="$row['cash_mode'] eq $key">selected=""</if> >{$pk}</option>
							</volist>
						</select>
					</div>							
				</div>	
			</if>
			<if condition="$row['examine_status'] eq 2">	
				<label class="col-sm-12 control-label"></label>
				<div class="form-group">
					<label class="col-sm-1 control-label" for="username" style="text-align:right;">在线支付金额:</label>
					<div class="col-sm-3">
						{$row['online_amount']}
						<!-- <input class="form-control" placeholder="在线支付金额" name="online_amount" value="{$row['online_amount']}"  type="text"> -->
					</div>
					<label class="col-sm-1 control-label" for="username" style="text-align:right;">在线支付手续费:</label>
					<div class="col-sm-3">
						{$row['cash_service']}
						<!-- <input class="form-control" placeholder="在线支付手续费" name="cash_service"  value="{$row['cash_service']}"  type="text"> -->
					</div>	
					<label class="col-sm-1 control-label" for="username" style="text-align:right;">退款方式:</label>
					<div class="col-sm-3">
						<!-- <input class="form-control" placeholder="退款方式" name="cash_mode" type="text">
						 -->
						<select class="form-control" name="cash_mode">
							<option style="margin:5px 3px; padding-left:5px; "  value="0">请选择退款方式</option>
							<volist name="paykind" id="pk">
								<option  style="margin:5px 3px; padding-left:5px; " value="{$key}" <if condition="$row['cash_mode'] eq $key">selected=""</if> >{$pk}</option>
							</volist>
						</select>
					</div>							
				</div>	
			</if>
			
		</div>
	<!-- 会员提现详细信息	end -->
	<!-- 会员提现审核操作	start -->
		<label class="col-sm-12 control-label"></label>
		<table border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
			<thead>
				<tr>
					<td class="col-sm-1 control-label" style="text-align:right">操作:</td>
					<td class="col-sm-11">
						<div>
							<input type="hidden" name="id" value="{$row['id']}">
							<if condition="$row['examine_status'] eq 0">
								<input type="hidden" name="examine" id="examine">
								<button type="button"  class="btn card" onclick="$('#examine').attr('value', '1')">通过</button>
							</if>
							<if condition="$row['examine_status'] eq 1">
								<input type="hidden" name="confirm" id="confirm"/>
								<!-- <button class="btn" type="sumbit" name="confirm"  onclick="this.value=1;">确认</button> -->
								<button class="btn card" type="button"  name="confirm"  onclick="$('#confirm').attr('value', '1')">确认</button>	
							</if>
								 <input type="hidden" name="cancel" id="cancel" />
								<button class="btn card" type="button" onclick="$('#cancel').attr('value', '1')">取消</button>
							
						</div>
					</td>						
				</tr>
				<tr>
					<td class="col-sm-1 control-label" style="text-align:right">备注:</td>
					<td class="col-sm-11">
						<textarea name="note" id="note" class="col-sm-10" placeholder="操作记录"></textarea> 
					</td>							
				</tr>
			</thead>
		</table>
			
	
	<!-- 会员提现审核操作	end -->
	<!-- 会员提现-充值信息	start -->
				<label class="col-sm-12 control-label"><h3>充值信息</h3></label>
				<table border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
					<thead>
						<tr>
							<!-- <th>序号</th>
							<th>会员名称</th> -->
							<th>内部订单号 / 支付单号</th>
							<th>创建时间 / 支付时间</th>
							<th>支付方式</th>
							<th>充值金额($)</th>
							<th>账户余额($)</th>
							<th>操作员</th>
							
						</tr>
					</thead>
					<tbody style="font-size:15px;" class="rech">
						<volist name="rech" id="vo">
							<tr>
								<!--<td align="center"  class="td1">
										{$vo.id}
								</td>
								<td align="center" class="td1">
										{$vo.username}
								</td>-->
								<td align="center" class="td1">
										{$vo.order_no}
										<br />
										{$vo.payno}
								</td>
								<td align="center" class="td1">
										{$vo.ordertime}
										<br />
										{$vo.paytime}
								</td>
								<td align="center" class="td1">
										{$vo.paykind_name}
								</td>
								<td align="center" class="td1">
										{$vo.amount_usa}
								</td>
								<td align="center"  class="td1">
										{$vo.user_balance_usa}
								</td>
								<td align="center"  class="td1">
										<if condition="$vo.status_name">
											{$vo.adminname}
										<else/>
											会员充值
										</if>
								</td>

								
							</tr>
						</volist>
						<tr>
							<td colspan="8">
								<div id="pages" class="page rech" page_type="rech">{$show_rech}</div>								
							</td>
						</tr>
					</tbody>

				</table>
				
	<!-- 会员提现-充值信息	end -->
	
	<!-- 会员提现-消费信息	start -->
				<label class="col-sm-12 control-label"><h3>消费信息</h3></label>
				<table border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
					<thead>
						<tr>
							<!-- <th>序号</th> -->
							<!-- <th>会员名称</th>-->
							<th>美快单号 / 运单号</th>
							<th>创建时间 / 支付时间</th>
							<th>物流运费/ 订单原价</th>
							<th>支付状态</th>
							<th>账户余额(美元)</th>
							
						</tr>
					</thead>
					<tbody style="font-size:15px;"  class="cons">
						<volist name="cons" id="vo">
							<tr>
								<!--<td align="center"  class="td1">
										{$vo.id}
								</td>
								<td align="center" class="td1">
										{$vo.username}
								</td>-->
								<td align="center" class="td1">
										{$vo.order_no}
										<br />
										{$vo.payno}
								</td>
								<td align="center" class="td1">
										{$vo.ordertime}
										<br />
										{$vo.paytime}
								</td>
								<td align="center" class="td1">
										{$vo.freight}
										<br />
										{$vo.original_price}
								</td>
								<td align="center"  class="td1">
										{$vo.status_name}
								</td>
								<td align="center"  class="td1">
										{$vo.user_balance_usa}
								</td>

								
							</tr>
						</volist>
						<tr>
							<td colspan="5">
								<div id="pages" class="page cons"  page_type="cons" >{$show_cons}</div>								
							</td>
						</tr>						
						
					</tbody>

				</table>
				
	<!-- 会员提现-消费信息	end -->	
	
	
		
	</div>
</form>
<include file="Logarithm/outside_file"/>

<script type="text/javascript">
function ityzl_SHOW_LOAD_LAYER(){  
    return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '200px', time:100000}) ;  
}  
function ityzl_CLOSE_LOAD_LAYER(index){  
    layer.close(index);  
}  
function ityzl_SHOW_TIP_LAYER(str, url = ''){  
    layer.msg(''+str+'',{time: 2000,offset: '200px'}); 
    if(url){
    	window.location = url;
    }else{
    	window.location.reload(); 
    }
}


$('.card').click(function(){
	
	var online_amount = $(':input[name="online_amount"]').val();
	var cash_service  = $(':input[name="cash_service"]').val();
	var cash_mode 	  = $('#line_zcode').val();
	var note = $('#note').val();
	var id = $(':input[name="id"]').val();
	var examine = $(':input[name="examine"]').val();
	var confirm = $(':input[name="confirm"]').val();
	var cancel = $(':input[name="cancel"]').val();		
	if(note == ''){
		alert('请输入操作说明');
		return;
	}
	
	var formData = new FormData();
	formData.append("online_amount", online_amount);
	formData.append("cash_service", cash_service);
	formData.append("cash_mode", cash_mode);
	formData.append("note", note);
	formData.append("id", id);
	
	if(typeof(examine) != ''){
		formData.append("examine", examine);
	}
	if(typeof(confirm) != 'undefined'){
		formData.append("confirm", confirm);
	}
	if(typeof(cancel) != 'undefined'){
		formData.append("cancel", cancel);
	}
	
	var request;
	if (window.XMLHttpRequest) {
		request = new XMLHttpRequest();
	} else {
	    request = new ActiveXObject('Microsoft.XMLHTTP');
	}
	var i;
	ityzl_SHOW_LOAD_LAYER();
	request.onreadystatechange = function(){
		if(request.status == 200 && request.readyState == 4){
			if(request.responseText){
				//成功返回
				var a = JSON.parse( request.responseText );
				var status = a.status;
				var str = a.data.strstr;
				var url = a.data.url;
				ityzl_CLOSE_LOAD_LAYER(i); 
                ityzl_SHOW_TIP_LAYER(str, url);
                //var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                //parent.layer.msg(str);
                //parent.location.reload();	
    			//parent.layer.close(index);
    			 
                //parent.layer.close(str); //再执行关闭 
                //ityzl_SHOW_TIP_LAYER(str, url);
                //document.getElementById("form2").reset();				
			}else{
				ityzl_CLOSE_LOAD_LAYER(i);
			}
		}
	}
	request.open("post", "{:U('Adminwithdraw/withdraw_hadd')}");
	//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	request.setRequestHeader("X-Requested-With","XMLHttpRequest");
	request.send(formData);								
	// 上传代码返回结果之后，将图片插入到编辑器中
	

	
	//$('form').submit();
});




function uploadIdImg(url){
	//iframe层-父子操作
	layer.open({
	  type: 2,
	  title: '上传证件照',
	  area: ['900px', '650px'],
	  fixed: true, //不固定
	  // maxmin: true,
	  shade: [0.3],
	  content: [url, 'no'],
	  btn: ['关闭'],
	  offset: '100px',
	});
}
/*========================================充值记录	start============================================================*/
$(document).on('click','.num',function(){
//$('.num').onclick(function(){
	var obj = this;
	//alert('3245');
	var url = $(obj).attr('href');
	var page_type = $(obj).parent().parent().attr('page_type');
	var num_one = url.indexOf("/page_type/rech");
	var num_two = url.indexOf("/page_type/cons");

	var judge = url.indexOf('rech');
	var cons = url.indexOf('cons');
	
	$(obj).attr('href', '#');

	if(page_type == 'rech' || judge > 0 ){
		if(judge <= 0){
			url = url.replace('withdraw_info', 'rech');
		}
		//alert(url);
		var formData = new FormData();
		//formData.append("id", id);
		var request;
		if (window.XMLHttpRequest) {
			request = new XMLHttpRequest();
		} else {
		    request = new ActiveXObject('Microsoft.XMLHTTP');
		}
		var i;
		//ityzl_SHOW_LOAD_LAYER();
		request.onreadystatechange = function(){
			if(request.status == 200 && request.readyState == 4){
				if(request.responseText){
					//成功返回
					var a = JSON.parse( request.responseText );
					var data = a.rech.list;
					var show = a.rech.show_rech;
					var html = '';
					for(var i in data){
						html += '<tr>';
						
						html += '<td align="center" class="td1">';
						html += data[i]['order_no']; //{$vo.order_no}
						if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
							html += '<br />';
							html += data[i]['payno']; //{$vo.payno}
						}
						html += '</td>';

						html += '<td align="center" class="td1">';
						html += data[i]['ordertime'];   //{$vo.ordertime}
						if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
							html += '<br />';
							html += data[i]['paytime'];   //{$vo.paytime}
						}	
						html += '</td>';
						
						html += '<td align="center" class="td1">';
						html += data[i]['paykind_name'];		//{$vo.paykind_name}
						html += '</td>';
						
						html += '<td align="center" class="td1">';
						html += data[i]['amount_usa'];		//{$vo.amount_usa}
						html += '</td>';
						
						html += '<td align="center"  class="td1">';
						html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
						html += '</td>';
						
						html += '<td align="center"  class="td1">';
						if(data[i]['status_name']){
						html += data[i]['status_name'];
						}else{
						html += '会员充值';
						}
						html += '</td>';
						html += '<tr/>';
					}	
					
					html += '<tr>';
					html += '<td colspan="6">';
					html += '<div id="pages" class="page rech" page_type="rech">'+show+'</div>';								
					html += '</td>';
					html += '<tr/>';
					$('.rech').html(html);	
					//alert(html);
				}else{
					ityzl_CLOSE_LOAD_LAYER(i);
				}
			}
		}
		request.open("post", url);
		//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		request.setRequestHeader("X-Requested-With","XMLHttpRequest");
		request.send(formData);	


	}else if(page_type == 'cons' || cons > 0 ){
		if(judge <= 0){
			url = url.replace('withdraw_info', 'cons');
		}
		//alert(url);
		//return
		var formData = new FormData();
		//formData.append("id", id);
		var request;
		if (window.XMLHttpRequest) {
			request = new XMLHttpRequest();
		} else {
		    request = new ActiveXObject('Microsoft.XMLHTTP');
		}
		var i;
		//ityzl_SHOW_LOAD_LAYER();
		request.onreadystatechange = function(){
			if(request.status == 200 && request.readyState == 4){
				if(request.responseText){
					//成功返回
					var a = JSON.parse( request.responseText );
					var data = a.cons.list;
					var show = a.cons.show_cons;
					var html = '';
					for(var i in data){
						html += '<tr>';
						html += '<td align="center" class="td1">';
						html += data[i]['order_no']; //{$vo.order_no}
						if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
							html += '<br />';
							html += data[i]['payno']; //{$vo.payno}
						}
						html += '</td>';

						html += '<td align="center" class="td1">';
						html += data[i]['ordertime'];   //{$vo.ordertime}
						if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
							html += '<br />';
							html += data[i]['paytime'];   //{$vo.paytime}
						}	
						html += '</td>';
						
						html += '<td align="center" class="td1">';
						html += data[i]['freight'];		//{$vo.freight}
						html += '<br />';
						html += data[i]['original_price'];   //{$vo.original_price}						
						html += '</td>';
						
						html += '<td align="center" class="td1">';
						html += data[i]['status_name'];		//{$vo.status_name}
						html += '</td>';
						
						html += '<td align="center"  class="td1">';
						html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
						html += '</td>';
						
						//html += '<td align="center"  class="td1">';
						//if(data[i]['status_name']){
						//html += data[i]['status_name'];
						//}else{
						//html += '会员充值';
						//}
						//html += '</td>';
						html += '<tr/>';
					}	
					
					html += '<tr>';
					html += '<td colspan="5">';
					html += '<div id="pages" class="page cons" page_type="cons">'+show+'</div>';								
					html += '</td>';
					html += '<tr/>';
					$('.cons').html(html);	
					//alert(html);
				}else{
					ityzl_CLOSE_LOAD_LAYER(i);
				}
			}
		}
		request.open("post", url);
		//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		request.setRequestHeader("X-Requested-With","XMLHttpRequest");
		request.send(formData);	


	}
});


$(document).on('click','.prev',function(){
	//$('.num').onclick(function(){
		var obj = this;
		//alert('3245');
		var url = $(obj).attr('href');
		var page_type = $(obj).parent().parent().attr('page_type');
		var num_one = url.indexOf("/page_type/rech");
		var num_two = url.indexOf("/page_type/cons");
		//alert('54645');
		var judge = url.indexOf('rech');
		var cons = url.indexOf('cons');
		//alert(judge);
		/*if(judge > 0){
			//alert('43543');
			//return;
			url = url.replace('rech', 'withdraw_info');
			unum = url.indexOf("/p");
			hurl = str.substr(0,unum);
			$(obj).attr('href', hurl);
		}else{
			$(obj).attr('href', '#');
		}*/
		$(obj).attr('href', '#');
		//alert(judge);
		//return
		if(page_type == 'rech' || judge > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'rech');
			}
			//alert(url);
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.rech.list;
						var show = a.rech.show_rech;
						var html = '';
						for(var i in data){
							html += '<tr>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['paykind_name'];		//{$vo.paykind_name}
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['amount_usa'];		//{$vo.amount_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							if(data[i]['status_name']){
							html += data[i]['status_name'];
							}else{
							html += '会员充值';
							}
							html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="6">';
						html += '<div id="pages" class="page rech" page_type="rech">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.rech').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	

			
	}else if(page_type == 'cons' || cons > 0 ){
		if(judge <= 0){
			url = url.replace('withdraw_info', 'cons');
		}
		//alert(url);
		//return
		var formData = new FormData();
		//formData.append("id", id);
		var request;
		if (window.XMLHttpRequest) {
			request = new XMLHttpRequest();
		} else {
		    request = new ActiveXObject('Microsoft.XMLHTTP');
		}
		var i;
		//ityzl_SHOW_LOAD_LAYER();
		request.onreadystatechange = function(){
			if(request.status == 200 && request.readyState == 4){
				if(request.responseText){
					//成功返回
					var a = JSON.parse( request.responseText );
					var data = a.cons.list;
					var show = a.cons.show_cons;
					var html = '';
					for(var i in data){
						html += '<tr>';
						html += '<td align="center" class="td1">';
						html += data[i]['order_no']; //{$vo.order_no}
						if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
							html += '<br />';
							html += data[i]['payno']; //{$vo.payno}
						}
						html += '</td>';

						html += '<td align="center" class="td1">';
						html += data[i]['ordertime'];   //{$vo.ordertime}
						if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
							html += '<br />';
							html += data[i]['paytime'];   //{$vo.paytime}
						}	
						html += '</td>';
						
						html += '<td align="center" class="td1">';
						html += data[i]['freight'];		//{$vo.freight}
						html += '<br />';
						html += data[i]['original_price'];   //{$vo.original_price}						
						html += '</td>';
						
						html += '<td align="center" class="td1">';
						html += data[i]['status_name'];		//{$vo.status_name}
						html += '</td>';
						
						html += '<td align="center"  class="td1">';
						html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
						html += '</td>';
						
						//html += '<td align="center"  class="td1">';
						//if(data[i]['status_name']){
						//html += data[i]['status_name'];
						//}else{
						//html += '会员充值';
						//}
						//html += '</td>';
						html += '<tr/>';
					}	
					
					html += '<tr>';
					html += '<td colspan="5">';
					html += '<div id="pages" class="page cons" page_type="cons">'+show+'</div>';								
					html += '</td>';
					html += '<tr/>';
					$('.cons').html(html);	
					//alert(html);
				}else{
					ityzl_CLOSE_LOAD_LAYER(i);
				}
			}
		}
		request.open("post", url);
		//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		request.setRequestHeader("X-Requested-With","XMLHttpRequest");
		request.send(formData);	


	}
		
});


$(document).on('click','.prev',function(){
	//$('.num').onclick(function(){
		var obj = this;
		//alert('3245');
		var url = $(obj).attr('href');
		var page_type = $(obj).parent().parent().attr('page_type');
		var num_one = url.indexOf("/page_type/rech");
		var num_two = url.indexOf("/page_type/cons");
		//alert('54645');
		var judge = url.indexOf('rech');
		var cons = url.indexOf('cons');
		//alert(judge);
		/*if(judge > 0){
			//alert('43543');
			//return;
			url = url.replace('rech', 'withdraw_info');
			unum = url.indexOf("/p");
			hurl = str.substr(0,unum);
			$(obj).attr('href', hurl);
		}else{
			$(obj).attr('href', '#');
		}*/
		$(obj).attr('href', '#');
		//alert(judge);
		//return
		if(page_type == 'rech' || judge > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'rech');
			}
			//alert(url);
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.rech.list;
						var show = a.rech.show_rech;
						var html = '';
						for(var i in data){
							html += '<tr>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['paykind_name'];		//{$vo.paykind_name}
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['amount_usa'];		//{$vo.amount_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							if(data[i]['status_name']){
							html += data[i]['status_name'];
							}else{
							html += '会员充值';
							}
							html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="6">';
						html += '<div id="pages" class="page rech" page_type="rech">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.rech').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	
			
		}else if(page_type == 'cons' || cons > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'cons');
			}
			//alert(url);
			//return
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.cons.list;
						var show = a.cons.show_cons;
						var html = '';
						for(var i in data){
							html += '<tr>';
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['freight'];		//{$vo.freight}
							html += '<br />';
							html += data[i]['original_price'];   //{$vo.original_price}						
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['status_name'];		//{$vo.status_name}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							//html += '<td align="center"  class="td1">';
							//if(data[i]['status_name']){
							//html += data[i]['status_name'];
							//}else{
							//html += '会员充值';
							//}
							//html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="5">';
						html += '<div id="pages" class="page cons" page_type="cons">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.cons').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	


		}
			




		
});



$(document).on('click','.first',function(){
	//$('.num').onclick(function(){
		var obj = this;
		//alert('3245');
		var url = $(obj).attr('href');
		var page_type = $(obj).parent().parent().attr('page_type');
		var num_one = url.indexOf("/page_type/rech");
		var num_two = url.indexOf("/page_type/cons");
		//alert('54645');
		var judge = url.indexOf('rech');
		var cons = url.indexOf('cons');
		//alert(judge);
		/*if(judge > 0){
			//alert('43543');
			//return;
			url = url.replace('rech', 'withdraw_info');
			unum = url.indexOf("/p");
			hurl = str.substr(0,unum);
			$(obj).attr('href', hurl);
		}else{
			$(obj).attr('href', '#');
		}*/
		$(obj).attr('href', '#');
		//alert(judge);
		//return
		if(page_type == 'rech' || judge > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'rech');
			}
			//alert(url);
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.rech.list;
						var show = a.rech.show_rech;
						var html = '';
						for(var i in data){
							html += '<tr>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['paykind_name'];		//{$vo.paykind_name}
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['amount_usa'];		//{$vo.amount_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							if(data[i]['status_name']){
							html += data[i]['status_name'];
							}else{
							html += '会员充值';
							}
							html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="6">';
						html += '<div id="pages" class="page rech" page_type="rech">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.rech').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	

		}else if(page_type == 'cons' || cons > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'cons');
			}
			//alert(url);
			//return
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.cons.list;
						var show = a.cons.show_cons;
						var html = '';
						for(var i in data){
							html += '<tr>';
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['freight'];		//{$vo.freight}
							html += '<br />';
							html += data[i]['original_price'];   //{$vo.original_price}						
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['status_name'];		//{$vo.status_name}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							//html += '<td align="center"  class="td1">';
							//if(data[i]['status_name']){
							//html += data[i]['status_name'];
							//}else{
							//html += '会员充值';
							//}
							//html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="5">';
						html += '<div id="pages" class="page cons" page_type="cons">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.cons').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	


		}
			


		


		
});



$(document).on('click','.next',function(){
	//$('.num').onclick(function(){
		var obj = this;
		//alert('3245');
		var url = $(obj).attr('href');
		var page_type = $(obj).parent().parent().attr('page_type');
		var num_one = url.indexOf("/page_type/rech");
		var num_two = url.indexOf("/page_type/cons");
		//alert('54645');
		var judge = url.indexOf('rech');
		var cons = url.indexOf('cons');
		//alert(judge);
		/*if(judge > 0){
			//alert('43543');
			//return;
			url = url.replace('rech', 'withdraw_info');
			unum = url.indexOf("/p");
			hurl = str.substr(0,unum);
			$(obj).attr('href', hurl);
		}else{
			$(obj).attr('href', '#');
		}*/
		$(obj).attr('href', '#');
		//alert(judge);
		//return
		if(page_type == 'rech' || judge > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'rech');
			}
			//alert(url);
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.rech.list;
						var show = a.rech.show_rech;
						var html = '';
						for(var i in data){
							html += '<tr>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['paykind_name'];		//{$vo.paykind_name}
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['amount_usa'];		//{$vo.amount_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							if(data[i]['status_name']){
							html += data[i]['status_name'];
							}else{
							html += '会员充值';
							}
							html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="6">';
						html += '<div id="pages" class="page rech" page_type="rech">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.rech').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	

		}else if(page_type == 'cons' || cons > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'cons');
			}
			//alert(url);
			//return
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.cons.list;
						var show = a.cons.show_cons;
						var html = '';
						for(var i in data){
							html += '<tr>';
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['freight'];		//{$vo.freight}
							html += '<br />';
							html += data[i]['original_price'];   //{$vo.original_price}						
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['status_name'];		//{$vo.status_name}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							//html += '<td align="center"  class="td1">';
							//if(data[i]['status_name']){
							//html += data[i]['status_name'];
							//}else{
							//html += '会员充值';
							//}
							//html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="5">';
						html += '<div id="pages" class="page cons" page_type="cons">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.cons').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	


		}
			
		
});




$(document).on('click','.end',function(){
	//$('.num').onclick(function(){
		var obj = this;
		//alert('3245');
		var url = $(obj).attr('href');
		var page_type = $(obj).parent().parent().attr('page_type');
		var num_one = url.indexOf("/page_type/rech");
		var num_two = url.indexOf("/page_type/cons");
		//alert('54645');
		var judge = url.indexOf('rech');
		var cons = url.indexOf('cons');
		//alert(judge);
		/*if(judge > 0){
			//alert('43543');
			//return;
			url = url.replace('rech', 'withdraw_info');
			unum = url.indexOf("/p");
			hurl = str.substr(0,unum);
			$(obj).attr('href', hurl);
		}else{
			$(obj).attr('href', '#');
		}*/
		$(obj).attr('href', '#');
		//alert(judge);
		//return
		if(page_type == 'rech' || judge > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'rech');
			}
			//alert(url);
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.rech.list;
						var show = a.rech.show_rech;
						var html = '';
						for(var i in data){
							html += '<tr>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['paykind_name'];		//{$vo.paykind_name}
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['amount_usa'];		//{$vo.amount_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							if(data[i]['status_name']){
							html += data[i]['status_name'];
							}else{
							html += '会员充值';
							}
							html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="6">';
						html += '<div id="pages" class="page rech" page_type="rech">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.rech').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	

		}else if(page_type == 'cons' || cons > 0 ){
			if(judge <= 0){
				url = url.replace('withdraw_info', 'cons');
			}
			//alert(url);
			//return
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			//ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var data = a.cons.list;
						var show = a.cons.show_cons;
						var html = '';
						for(var i in data){
							html += '<tr>';
							html += '<td align="center" class="td1">';
							html += data[i]['order_no']; //{$vo.order_no}
							if(data[i]['payno'] && typeof(data[i]['payno']) != 'null'){
								html += '<br />';
								html += data[i]['payno']; //{$vo.payno}
							}
							html += '</td>';

							html += '<td align="center" class="td1">';
							html += data[i]['ordertime'];   //{$vo.ordertime}
							if(data[i]['paytime'] && typeof(data[i]['paytime']) != 'null'){
								html += '<br />';
								html += data[i]['paytime'];   //{$vo.paytime}
							}	
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['freight'];		//{$vo.freight}
							html += '<br />';
							html += data[i]['original_price'];   //{$vo.original_price}						
							html += '</td>';
							
							html += '<td align="center" class="td1">';
							html += data[i]['status_name'];		//{$vo.status_name}
							html += '</td>';
							
							html += '<td align="center"  class="td1">';
							html += data[i]['user_balance_usa'];		//{$vo.user_balance_usa}
							html += '</td>';
							
							//html += '<td align="center"  class="td1">';
							//if(data[i]['status_name']){
							//html += data[i]['status_name'];
							//}else{
							//html += '会员充值';
							//}
							//html += '</td>';
							html += '<tr/>';
						}	
						
						html += '<tr>';
						html += '<td colspan="5">';
						html += '<div id="pages" class="page cons" page_type="cons">'+show+'</div>';								
						html += '</td>';
						html += '<tr/>';
						$('.cons').html(html);	
						//alert(html);
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("post", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	


		}
			


		

		
});


	
/*========================================充值记录	end============================================================*/

</script>