<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="__MEMBER__/js/jquery-1.9.1.min.js"></script>
    <link href="__MEMBER__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__MEMBER__/css/announ_index.css">
    <script src="__MEMBER__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__MEMBER__/js/jquery.validationEngine.js" type='text/javascript'></script>
    <script src="__MEMBER__/js/jquery.validationEngine-{:L('lng')}.js" type='text/javascript'></script>  
    <script type="text/javascript" src="__MEMBER__/js/jquery.form.js"></script>
    <script type="text/javascript" src="__MEMBER__/layer/layer.js"></script>
</head>
<body>
	<div class="get_con_warp">
		<div>
			<div class="get_con_title">{$data['bulletin_title']}</div>
			<div class="get_con_time">
				<span>{$data['start']}</span>
			</div>
			<div class="get_con_content">
				{:htmlspecialchars_decode($data['content'])}
			</div>
		</div>
		<!-- <if condition="$data['feeback'] eq 1"> -->
<!-- 		<div class="show_feeback" id="feeback">
			<textarea rows="3" cols="20"></textarea>
			<button onclick="sub_cont();">提交</button>
		</div> -->
<!-- 		</if> -->
	</div>
	<script type="text/javascript">
		// 查评论
		function sub_cont(){
			var content = $('#feeback textarea').val();
			var ant_id = "{$data['ant_id']}";
			$.ajax({
				url: "{:U('Announcement/add_feeback')}",
				data: {"content":content,"subject":0,"ant_id":ant_id},
				type: 'POST',
				dataType: 'json',
				success:function(res){

				}
			});
		}
	</script>
</body>
</html>