<extend name="Public:base" />
<block name="title">{:L('Title_annoumc')}</block>
<block name="css">		
    	<link rel="stylesheet" type="text/css" href="__CSS__/announ_index.css">
	    <script type="text/javascript" src="__MEMBER__/layer/layer.js"></script>
</block>
<block name="content">
	<div class="pr_c1" style="position: relative;">
			<p style=" padding-top: 430px; font-family: Arial,Verdana,Sans-serif; font-size:70px">{:L('Industry_pr')}</p>
			<p>{:L('l_mei_not')}</p>
			<div class="xiala_vz" style="width:40px; padding:0;" onclick="xiala_vzs()"></div>
		</div>
	<div class="warp content">
		<ul class="cont_list" id="joinres">
		<volist name="list" id="vo">
			<li>
				<div class="title_cont">
					<span class="title_cont_mid">
						<h3 class="flol fontwei" style="font-size: 24px;margin-top: 20px;margin-bottom: 10px;">{$vo['bulletin_title']}</h3>
						<?php if($vo['is_new']): ?>  
							<span class="new_font" style="font-size: 16px;">NEW</span>
						<?php endif; ?> 
						<h4 class="flor timecol" style="font-size: 20px;">{$vo['start_time']}</h4>
						<div class="clear"></div>
					</span>
					<div class="mid_conp">
						<font class="flol specifont" style="font-size: 16px;">{$vo['content']}</font>
						<div><a onclick="show_cont({$vo.id});" class="flol" style="font-size: 16px;">{:L('l_view_deta')}</a></div>
						<div class="clear"></div>
					</div>
				</div>
			</li>
		</volist>
		</ul>
	</div>
	<div id="pages" class="page">{$show}</div>
	<script type="text/javascript">
	window.where = {};
	// ajax分页
	function pageAjax(p){

	    // console.log(p);

	    $.ajax({
	        url : "{:U('Announcement/get_ann_title_ajax')}",
	        type: "POST",
	        data:{"p":p}, 
	        dataType: "json",
	        beforeSend: function(){
	            var index = layer.load(1, {
	                shade: [0.1,'#000'], //0.1透明度的白色背景
	            });
	        },
	        success: function(data){
	            // console.log(data);
	            layer.closeAll('loading'); //关闭加载层.
	            $('#joinres').children().remove();
	            $('#pages').children().remove();

	            $('#pages').append(data.show);
	            var res=get_tabel(data.list.data);
	            // console.log(res);
	            $('#joinres').append(res);
	        }
	    });
	}
	// 分页之后需要的拼接数据
    function get_tabel(data){
        var str = '';
        $.each(data,function(k,v){
            str += '<li>';
            str += '<div class="title_cont">';
            str += '<span class="title_cont_mid">';
            str += '<h3 class="flol fontwei">' + v.bulletin_title + '</h3>';
            if(v.is_new){
                str += '<span class="new_font" style="font-size: 16px;">NEW</span>';
            }
            str += '<h4 class="flor timecol">' + v.start_time + '</h4>';
            str += '<div class="clear"></div>';
            str += '</span>';
            str += '<div class="mid_conp">';
            str += '<font class="flol specifont">'+ v.content + '</font>';
            str += '<div><a onclick="show_cont('+v.id+');" class="flol">';
            str += "{:L('l_view_deta')}";
            str += '</a></div>';
            str += '<div class="clear"></div>';
            str += '</div>';
            str += '</div>';
            str += '</li>';
        });
        return str; 
    }

	// 查看公告详情页
	function show_cont(id){
		
		// alert(id);
		layer.open({
	          type: 2,
	          shadeClose: true,
	          title: "{:L('l_notice')}",
	          area : ['1050px' , '730px'],
	          scrollbar: false,
	          resize: true,
	          zIndex:9999999991,
	          offset: '10%',
	          content: "{:U('Announcement/get_content')}?id="+id,
	            success: function(layero, index){
	                this.enterEsc = function(event){
	                    if(event.keyCode === 13){
	                        layer.closeAll();
	                        return false; // 阻止系统默认回车事件
	                    }
	                };
	                $(document).on('keydown', this.enterEsc);
	                //监听键盘事件，关闭层
	            }
	    });
	}
	</script>
</block>