<extend name="./base" />

<block name="main">

    <div class="container">
        <div class="col-md-2">
			<include file="Public:authNav" />
        </div>
        <div class="col-md-10">
        	<div class="rtop">
        		<ul class="list-inline">
 				 <if condition="ACTION_NAME eq 'index_authNav_authDisplay'">
 				 		<li class="blue"><a href="{:U('AdminAuth/modules_add')}"   data-toggle="modal" data-target="#myModal">权限组模块名添加</a></li>
 				 		<!-- <button type="button" class="btn btn-primary" style="background-color:grey;color:#ccc;" disabled>新增物流公司</button> -->
 				 	<else />
 				 		<li class="blue"><a href="{:U('AdminCollectPoint/info')}">权限组模块名列表</a></li>
 				 		<!-- <a href="{:U('Ecompany/add')}" data-toggle="modal" data-target="#myModal">新增航空公司</a>-->
 				 	</if>
 				 <li style="float:right">您当前所在位置：权限管理&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">权限显示</a></li>
				</ul>
        	</div>


				
					<table  border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
						<thead>	
						
							<tr>
								<td colspan="3">
									<form class="form-inline" action="{:U('/AdminAuth/index_authNav_authDisplay')}" method="get">
										<label>
											<span style="float:left;">搜索:</span> 
											<input class="form-control" name="rule_name"  placeholder="请输查询规则简述名称"  value="" style="width:180; float:left;" type="search">
										</label>
										<label>
											<span style="float:left;">URL:</span> 
											<input class="form-control" name="rule_url"  placeholder="规则URL(如：/控制器/方法名)"  value="" style="width:220; float:left;" type="search">
										</label>
										<label>
											<button class="btn btn-primary btn-lg" type="submit"  style="float:left">查询</button>
										</label>																						
									</form>
								</td>
							</tr>
						
												
							
							
							<tr>
								<th align="center">序号</th>
								<th align="center">权限模块名称</th>
								<th align="center">操作</th>
							</tr>
						</thead>	
						<volist name="list" id="vo" mod="2">
							<tr  <eq name="mod" value="1"> style="background-color:#ddd;"</eq>>
								<td align="center">{$i+$num}</td>
								<td align="left">{$vo['catname']}{$vo['ModulesName']}</td>
								<td align="center">
									<a href="{:U('AdminAuth/authNav_two',array('id' => $vo['id']))}"  class="">进入</a>&nbsp;|
									<a href="{:U('AdminAuth/modulesEdit',array('id' => $vo['id']))}"   data-toggle="modal" data-target="#myModal" class="">修改</a>&nbsp;|
									<a href="#" onclick="auth(this)" url_a="{:U('AdminAuth/modulesDelete',array('id'=>$vo['id']))}" user_name="{$vo['ModulesName']}" class="">删除</a>
									<if condition="$n[$vo['id']]">
										&nbsp;|&nbsp;<a href="{:U('AdminAuth/authNav_two',array('id' => $vo['id']))}"  class="">设置默认URL</a>
									</if>									
								</td>
							</tr>
						</volist>
							<tr>
								<td colspan="4" class="page" id="pages">{$page}</td>
							</tr>
					</table>
				


        </div>
		</div>		
<div class="foot"></div>
<script type="text/javascript">
function ityzl_SHOW_LOAD_LAYER(){  
    return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '200px', time:100000}) ;  
}  
function ityzl_CLOSE_LOAD_LAYER(index){  
    layer.close(index);  
}  
function ityzl_SHOW_TIP_LAYER(str, url = ''){  
    layer.msg(''+str+'',{time: 2000,offset: '200px'}); 
    if(url){
    	window.location = url;
    }else{
    	window.location.reload(); 
    }
} 
	function auth(obj){
		var url = $(obj).attr('url_a');
		
		var del_sn = $(obj).attr('user_name');
		if(confirm('是否删除权限模块名为：'+ del_sn + ' 的信息！')){
			//window.location.href=url;
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var status = a.status;
						var str = a.data.strstr;
						var url = a.data.url;
						ityzl_CLOSE_LOAD_LAYER(i); 
		                ityzl_SHOW_TIP_LAYER(str, url);
		                document.getElementById("form1").reset();	
						
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("get", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	

			
			
		} 
	}

</script>		
		
</block>


</body>
</html>