<extend name="./base" />

<block name="main">

    <div class="container">
        <div class="col-md-2">
			<include file="Public:authNav" />
        </div>
        <div class="col-md-10">
        	<div class="rtop">
        		<ul class="list-inline">
 				 <if condition="ACTION_NAME eq 'member'">
 				 		<li class="blue"><a href="{:U('AdminAuth/index_authNav_role')}">角色列表</a></li>
 				 		<li class="blue"><a href="{:U('AdminAuth/roleAdd')}"  data-toggle="modal" data-target="#myModal">角色添加</a></li>
 				 		<!-- <button type="button" class="btn btn-primary" style="background-color:grey;color:#ccc;" disabled>新增物流公司</button> -->
 				 	<else />
 				 		<!-- <li class="blue"><a href="{:U('AdminAuth/auth_add')}">权限添加</a></li> -->
 				 		<!-- <a href="{:U('Ecompany/add')}" data-toggle="modal" data-target="#myModal">新增航空公司</a>-->
 				 	</if>
 				 <li style="float:right">您当前所在位置：权限管理&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">成员管理</a></li>
				</ul>
        	</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">成员列表</h4>
				</div>

				
					<table border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
						<thead>	
							<tr>
								<td align="center">编号</td>
								<td align="center">用户名称</td>
								<td align="center">所属角色</td>
								<td align="center">操作</td>
							</tr>
						</thead>
						<volist name='rdate' id="vo">
						<notempty name="vo['uid']">
							<tr>
								<td align="center">{$i+$num}</td>
								<td align="center">{$vo['name']}</td>
								<td align="center">{$vo['title']}</td>
								
								<td align="center" class="td3">
										<a href="{:U('AdminAuth/memberEdit',array('id' => $vo['id'], 'uid' => $vo['id'], 'user_name' => $vo['name']))}"   data-toggle="modal" data-target="#myModal" class="">修改</a>&nbsp;|
										<a href="#" onclick="auth(this)" rule="{$vo['title']}" names="{$vo['name']}" url_a="{:U('AdminAuth/memberDel',array('id'=> $vo['id'], 'uid' => $vo['uid']))}" class="">删除</a>
									
	
								</td>
							</tr>
						</notempty>
						</volist>
						<tr>
							<td colspan='7' id="pages" class="page">{$page}</td>
						</tr>
					</table>
				
			</div>

        </div>
		</div>		
<div class="foot"></div>
<script type="text/javascript">
function ityzl_SHOW_LOAD_LAYER(){  
    return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '200px', time:100000}) ;  
}  
function ityzl_CLOSE_LOAD_LAYER(index){  
    layer.close(index);  
}  
function ityzl_SHOW_TIP_LAYER(str, url = ''){  
    layer.msg(''+str+'',{time: 2000,offset: '200px'}); 
    if(url){
    	window.location = url;
    }else{
    	window.location.reload(); 
    }
} 
	function auth(obj){
		var titles = $(obj).attr('rule');
		var url = $(obj).attr('url_a');;
		var del_sn = $(obj).attr('names');
		if(confirm('是否删除用户名为：'+ del_sn + '-'+titles+'的角色！')){
			//window.location.href=url;
			var formData = new FormData();
			//formData.append("id", id);
			var request;
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			var i;
			ityzl_SHOW_LOAD_LAYER();
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						//成功返回
						var a = JSON.parse( request.responseText );
						var status = a.status;
						var str = a.data.strstr;
						var url = a.data.url;
						ityzl_CLOSE_LOAD_LAYER(i); 
		                ityzl_SHOW_TIP_LAYER(str, url);
		                document.getElementById("form1").reset();	
						
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("get", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send(formData);	

			
		} 
	}

</script>		
		
</block>


</body>
</html>