<extend name="./base" />

<block name="main">

    <div class="container">
        <div class="col-md-2">
			<include file="Public:authNav" />
        </div>
        <div class="col-md-10">
        	<div class="rtop">
        		<ul class="list-inline">
 				 <if condition="ACTION_NAME eq 'index_authNav_modules'">
 				 		<li class="blue"><a href="{:U('AdminAuth/modules_add')}"   data-toggle="modal" data-target="#myModal">权限组模块名添加</a></li>
 				 		<!-- <button type="button" class="btn btn-primary" style="background-color:grey;color:#ccc;" disabled>新增物流公司</button> -->
 				 	<else />
 				 		<li class="blue"><a href="{:U('AdminCollectPoint/info')}">权限组模块名列表</a></li>
 				 		<!-- <a href="{:U('Ecompany/add')}" data-toggle="modal" data-target="#myModal">新增航空公司</a>-->
 				 	</if>
 				 <li style="float:right">您当前所在位置：权限管理&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">权限组模块名</a></li>
				</ul>
        	</div>


				
					<table  border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
						<thead>	
							<tr>
								<th align="center">序号</th>
								<th align="center">权限模块名称</th>
								<th align="center">操作</th>
							</tr>
						</thead>	
						<volist name="list" id="vo" mod="2">
							<tr  <eq name="mod" value="1"> style="background-color:#ddd;"</eq>>
								<td align="center">{$i+$num}</td>
								<td align="left">{$vo['catname']}{$vo['ModulesName']}</td>
								<td align="center">
									<a href="{:U('AdminAuth/modulesEdit',array('id' => $vo['id']))}"   data-toggle="modal" data-target="#myModal" class="">修改</a>&nbsp;|
									<a href="{:U('AdminAuth/modulesDelete',array('id'=>$vo['id']))}" class="">删除</a>
								</td>
							</tr>
						</volist>
							<tr>
								<td colspan="4" class="page" id="pages">{$page}</td>
							</tr>
					</table>
				


        </div>
		</div>		
<div class="foot"></div>
<script type="text/javascript">
	function auth(obj){
		var uid = $(obj).attr('uid');
		var url_a = "{:U('AdminCollectPoint/pointdelete')}";
		var url = url_a + '/pid/' + uid;
		var del_sn = $(obj).attr('user_name');
		if(confirm('是否删除揽收点为：'+ del_sn + ' 的信息！')){
			window.location.href=url;
		} 
	}

</script>		
		
</block>


</body>
</html>