<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;

      }

      .container{margin:0 auto;}
      .form-signin {
        max-width: 900px;
        margin-top:60px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
    .form-signin table th{height:36px;font-size:16px;line-height:36px;background:#F7F7F9;}
    .form-signin table td{height:36px;line-height:36px;font-size:14px;text-indent:2em;background:#F7F7F9;}
    .form-signin table td a{text-decoration:none;color:#000;}
    .form-signin table td a:hover{color:blue;}
    .form-signin .form-control{width:400px !important;}
    </style>
    <link href="__PUBLIC__/css/one.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
    </head>
    <script type="text/javascript">
          $(function(){
              $('#tempForm').validationEngine('attach', {
                promptPosition: 'topRight',
                scroll: false,
                addPromptClass:'formError-white',
                autoPositionUpdate:true
              });
            });
    </script>
  <body>
    <div class="container" >
      <div class="form-signin" style="padding: 40px 0;background:#F7F7F9 !important;margin-bottom:40px">
        <form class="form-horizontal" id="tempForm" name="myform" role="form" action="{:U('Category/add_method')}" method="post" class="form-inline">
          <tr>
              <td style="text-align:right" width="240"><h3><label>&nbsp;&nbsp;&nbsp;&nbsp;新增类别</label></h3></td>
              <td width="700"></td>
          </tr>
          <tr>
            <div class="form-group">
              <label for="inputEmail3" class="formleft control-label">所属类别：</label>
              <div class="formright" style="margin-top:5px">
                <select name="cat_id" id="cat">
                  <option value="0">---顶级类别---</option>
                  <volist name="select_list" id="vt">
                    <option value="{$vt['id']}" level="{$vt['level']}" <if condition="$fid eq $vt['id']">selected</if>>
                    {:str_repeat('&nbsp;',($vt['level']+1)*4)}<neq name="vt['fid']" value="0">├</neq>{:str_repeat('─',($vt['level']))} {$vt['cat_name']}
                    </option>
                  </volist>
                </select>
                类别名称：<input type="text" name="cat_name" value="" id="cat_name" data-validation-engine="validate[required]" >
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group formgroup" id="formgroup">
              <label for="inputEmail3" class="formleft control-label">所含线路(可多选)：</label>
              <div class="formright">
              <div style="width:630px;">
                <volist name="line_list" id="vo" empty="暂无线路可选">
                  <smap style="min-width:150px;display: inline-block;">
                    <input type="checkbox" name="{$vo['id']}" id="{$vo['id']}" style="float:left;padding-top:4px;padding-left:54px" <if condition="$line eq $vo['id']">checked</if>><span style="float:left;">&nbsp;<label style="font-weight:lighter;padding-right:10px;" for="{$vo['id']}">{$vo['name']}</label></span>
                  </smap>
                </volist>
              </div>
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <label for="inputEmail3" class="formleft control-label">HS_CODE：</label>
              <div class="formright" style="margin-top:5px">
                <input type="text" name="hs_code" id="" placeholder="" class="form-control">
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <label for="inputEmail3" class="formleft control-label">HGID：</label>
              <div class="formright" style="margin-top:5px">
                <input type="text" name="hgid" id="" placeholder="" class="form-control">
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <label for="inputEmail3" class="formleft control-label">税金：</label>
              <div class="formright" style="margin-top:5px">
                <input type="text" name="price" id="" placeholder="" class="form-control">
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <label for="inputEmail3" class="formleft control-label" style="margin-top:60px">备注：</label>
              <div class="formright">
                <textarea name="remarks" class="form-control" rows="3" style="width:450;height:150;resize:none;"></textarea>
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <label for="inputEmail3" class="formleft control-label">排序：</label>
              <div class="formright" style="margin-top:5px">
                <input type="text" name="sort" value="0" placeholder="" class="form-control">
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <label for="inputEmail3" class="formleft control-label">是否显示：</label>
              <div class="formright" style="margin-top:5px">
              <label class="radio-inline">
                <input type="radio" name="is_show" id="" value="1" style="vertical-align:middle; margin-bottom:1px;" checked="checked" >是 
              </label>
              <label class="radio-inline">
                <input type="radio" name="is_show" id="" value="0" style="vertical-align:middle; margin-bottom:1px;" >否
              </label>
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <label for="inputEmail3" class="formleft control-label">是否激活：</label>
              <div class="formright" style="margin-top:5px">
              <label class="radio-inline">
                <input type="radio" name="status" id="" value="1" style="vertical-align:middle; margin-bottom:1px;" checked="checked" >是 
              </label>
              <label class="radio-inline">
                <input type="radio" name="status" id="" value="0" style="vertical-align:middle; margin-bottom:1px;" >否
              </label>
              </div>
            </div>
          </tr>
          <tr>
            <div class="form-group" style="text-align:left !important;padding-left:580px">
              <div class="col-sm-offset-1 col-sm-11">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary" id="BtnSave">提交</button>
                <input type="hidden" name="lines" id="lines">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="beClosed">关闭</button>

              </div>
              <div id="messagebox" class="msgbox"></div>
            </div>
          </tr>
          </form>
          </div>
        </div>
<script type="text/javascript">
$(document).ready(function(){
    $("#cat").change(function(){
      var p = $(this).children('option:selected').val();//这就是selected的值
          if(p != 0){
            $("#formgroup").css("display","none");
            $('input:checkbox').each(function () {
              $(this).attr('checked',false);
            });
          }else{
            $("#formgroup").css("display","block");
          }
    });

    var pp = "{$fid}";
    if(pp != 0){
      $("#formgroup").css("display","none");
    }else{
      $("#formgroup").css("display","block");
    }

        $("#BtnSave").click(function(){
            var txt = '';
            $.each($('input:checkbox'),function(){
                if(this.checked){
                  txt += $(this).attr('name')+","; 
                }
            });
            $("#lines").val(txt);
            var level = $("#cat").find("option:selected").attr("level");
            if(level>=1){
              layer.msg('二级分类以下暂时不可再创建分类', {offset :'350px',});
              return false;
            }
        });
});
</script>
<script src="__PUBLIC__/js/my.js"></script>

</html>