<extend name="Public:base" />
<block name="title">{:L('HOME_VZ')}</block>
<block name="css">
    <link rel="stylesheet" type="text/css" href="__CSS__/home.css">

<!-- 必要样式 -->
<link href="__CSS__/mislider.css" rel="stylesheet">
<link href="__CSS__/mislider-skin-cameo.css" rel="stylesheet">

</block>
<block name="content">
        <div class="content_vz">
            <div class="in_vz">
                <div class="left_vz" <if condition="(L('lng') eq 'en-us')">style="height:870px"</if>>
                <form action="{:U('Logistics/index')}" method="post">
                    <p class="p1 title">{:L('LOGISTICS_QUERY')}</p>
                    <p class="p2"><label>{:L('MIL_VZ')}</label></p>
                    <p class="p3">
                        <span class="s1"><input id="dotext" class="text" name="order_no" value="{$order_no}" type="text" placeholder="{:L('IYTN_VZ')}"/></span>
                        <span class="s2"><input id="dobtns" class="btn" type="submit" value="{:L('SEARCH_VZ')}" /></span>
                        <span id="hint" style="display:none"><smap><img src="__IMG__/pic9.png"></smap><label>{:L('Lr_Single_number')}</label></span>
                    </p>
                    <p class="p4">{:L('NOTICE_VZ')}</p>                 
                </form>
                </div>
                <div class="right_vz" id="nav2">
                    <p class="p1 title">{:L('SHIPPING_FEES')}</p>
                    <table cellspacing="0" class="rvz_table">
                        <tr>
                            <td class="tdr1 colpink bord_radtl wid140">{:L('Route')}</td>
                            <!-- <td class="tdr2 colpink">{:L('First_Weight')}</td> -->
                            <!-- <td class="tdr1 colpink">{:L('Additional_Weight')}</td> -->
                            <td class="tdr1 colpink">{:L('Delivery_Items')}</td>
                            <td class="tdr3 colpink bord_radtr widt100">{:L('Requirement')}</td>
                        </tr>               
                        <tr>
                            <td class="tdr1">{:L('Line_SF_P')}</td>
                            <!-- <td class="tdr2">{:L('Five_Lb')}</td> -->
                            <!-- <td class="tdr1">{:L('Three_Lb')}</td> -->
                            <td class="tdr1" style="padding: 15px;">{:L('Delivery_Text1')}</td>
                            <td rowspan="2" class="tdr3 widt100">{:L('Requirement_T1')}</td>
                        </tr>  
                        <tr>
                            <td class="tdr1">{:L('Line_EMS_P')}</td>
                            <!-- <td class="tdr2">{:L('Three_p_f_Lb')}</td> -->
                            <!-- <td class="tdr1">{:L('Three_Lb')}</td> -->
                            <td class="tdr1" style="padding: 15px;">{:L('Delivery_Text2')}</td>
                        </tr>
                        <tr>
                            <td class="tdr1">{:L('HK_Ems')}</td>
                            <!-- <td class="tdr2">$10/lb</td> -->
                            <!-- <td class="tdr1">{:L('Three_p_f_Lb')}</td> -->
                            <td class="tdr1" style="padding: 15px;">{:L('Delivery_Text3')}</td>
                            <td class="tdr3 widt100">{:L('Requirement_T2')}</td>
                        </tr>    
                        <tr>
                            <td class="tdr1 colgray">{:L('Line_SF_B')}</td>
                            <!-- <td class="tdr2">{:L('Four_p_Lb')}</td> -->
                            <!-- <td class="tdr3">{:L('Three_p_f_Lb')}</td> -->
                            <td rowspan="2" class="tdr8 fonweh">{:L('Delivery_Text4')}</td>
                            <td rowspan="2" class="fonweh widt100">{:L('Requirement_T3')}</td>
                        </tr>  
                        <tr>
                            <td class="tdr7 fonweh colgray"  style="border-radius: 0 0 0 9px;">{:L('China_BC')}</td>
                            <!-- <td class="tdr7 fonweh colgray">{:L('Three_p_f_Lb')}</td> -->
                            <!-- <td class="fonweh colgray">{:L('Three_Lb')}</td> -->
                        </tr>      
                    </table>    
                    <p class="lastp">{:L('Freight_Dsc')}</p> 
                </div>
                <div class="clear"></div>
            </div>

            <div class="mis-stage">
                <!-- The element to select and apply miSlider to - the class is optional -->
                <ol class="mis-slider">
                    <!-- The slider element - the class is optional -->
                    <li class="mis-slide">
                        <!-- A slide element - the class is optional -->
                        
                            <!-- A slide container - this element is optional, if absent the plugin adds it automatically -->
                            <figure>
                                <!-- Slide content - whatever you want -->
                                <img src="__IMG__/xun_1.png" alt="Pink Water Lillies">
                                <figcaption><a href="{:U('Profile/index')}" class="mis-container"><span>{:L('ADD_ID_VZ')}</span></a></figcaption>
                                <div class="clear"></div>
                            </figure>
                        
                    </li>
                    <li class="mis-slide">
                        
                            <figure>
                                <img src="__IMG__/xun_2.png" alt="Pond with Lillies">
                                <figcaption><a href="{:U('Profile/index')}" class="mis-container"><span>{:L('RPAY_VZ')}</span></a></figcaption>
                                <div class="clear"></div>
                            </figure>
                        
                    </li>
                    <li class="mis-slide">
                        
                            <figure>
                                <img src="__IMG__/xun_3.png" alt="Hidden Pond">
                                <figcaption><a href="http://floathn.tq.cn/static.jsp?version=vip&admiuin=9788379&ltype=1&iscallback=1&page_templete_id=40304&is_message_sms=0&is_send_mail=0&uin=9788382" target="_blank" class="mis-container"><span>{:L('CQUERY_VZ')}</span></a></figcaption>
                                <div class="clear"></div>
                            </figure>
                        
                    </li>                   
                </ol>
            </div>
            <div class="erweima_vz">
                <!-- <div class="title_vz" style="{:L('MOBILE_VZSTY')}">
                    <span><img src="__IMG__/yidongduan_ui.jpg"></span>
                    <p class="p1">{:L('MOBILE_VZ')}</p>
                    <p class="p2">{:L('SCANNING_VZ')}</p>
                </div> -->
                <div class="coner_vz">
                    <div class="dd">
                        <p><img src="__IMG__/er_pic_1.jpg"></p>
                        <p><img src="__IMG__/er_pic_4.jpg"></p>
                        <p class="p3">{:L('ACCOUNT_VZ')}</p>
                    </div>
                    <div class="dd d2">
                        <p><img src="__IMG__/yidongduan_ui.jpg"></p>
                        <p class="p2">{:L('MOBILE_VZ')}</p>
                        <p class="p3">{:L('SCANNING_VZ')}</p>
                    </div>
                    <div class="dd">
                        <p><img src="__IMG__/er_pic_5.jpg"></p>
                        <p><img src="__IMG__/er_pic_4.jpg"></p>
                        <p class="p3">{:L('MEISTREET_VZ')}</p>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="banrdcc_vz">                
                <div class="text_vz">
                    <p class="p1">{:L('ULTIMATE_VZ')}</p>
                    <p class="p2">{:L('SPECIALIZE_VZ')}</p>
                </div>
            </div>
            <div class="intecc_vz">
                <div class="inte_vz inte_vz_1">
                    <span class="pic">
                        <img src="__IMG__/wuliu_pic_1.jpg" />
                    </span>
                    <div>
                        <label>{:L('GLOBAL_VZ')}</label>
                        <li>◇ {:L('World_VZ')}</li>
                        <li>◇ {:L('Stable_VZ')}</li>
                        <li>◇ {:L('Local_VZ')}</li>
                    </div>
                </div>
                <div class="inte_vz inte_vz_2">
                    <span class="pic">
                        <img src="__IMG__/wuliu_pic_2.jpg" />
                    </span>
                    <div>
                        <label>{:L('Overseas_VZ')}</label>
                        <li>◇ {:L('Globals_VZ')}</li> 
                        <li>◇ {:L('Professional_VZ')}</li>
                        <li>◇ {:L('Efficient_VZ')}</li>
                    </div>
                </div>
                <div class="inte_vz inte_vz_3">
                    <span class="pic">
                        <img src="__IMG__/wuliu_pic_3.jpg" />
                    </span>
                    <div>
                        <label>{:L('Bonded_VZ')}</label>
                        <li>◇ {:L('Major_VZ')} </li>
                        <li>◇ {:L('Cross_border_VZ')}</li>                          
                    </div>
                </div>
                <div class="inte_vz inte_vz_4">
                    <span class="pic">
                        <img src="__IMG__/wuliu_pic_4.jpg" />
                    </span>
                    <div>
                        <label>{:L('Customs_VZ')}</label>
                        <li>◇ {:L('Overseasc_VZ')}</li>
                        <li>◇ {:L('China_VZ')}</li>                     
                    </div>
                </div>
                <div class="clear"></div>
            </div>          
        </div>

        
        <iframe id="pwin" name="pwin" src="javascript:;" style="display:none"></iframe>
<script type="text/javascript">
var home_lb = "{:L('home_lb')}";
var home_kg = "{:L('home_kg')}";
var alert_title = "{:L('alert_title')}";
var MK_no_alert1 = "{:L('MK_no_alert1')}";
var MK_no_alert2 = "{:L('MK_no_alert2')}";



$(function(){
    var slider = $('.mis-stage').miSlider({
        //  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
        stageHeight: 260,
        //  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
        slidesOnStage: 3,
        //  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
        slidePosition: 'center',
        //  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
        slideStart: 'mid',
        //  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
        slideScaling: 130,
        //  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
        offsetV: 0,
        //  Center slide contents vertically - Boolean. Default: false
        centerV: true,
        //  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
        navButtonsOpacity: 0
    });
})
</script>
</block>

