<extend name="Public:base_register" />
<!-- 在线缴税支付html -->
<html>
<!-- head -->
<block name="css">
<link rel="stylesheet" type="text/css" href="__MEMBER__/css/onlinetariff.css">
</block>
<!-- head end -->
<body>
<block name="banner">
    <div class="banners">
            <div class="left">
                <div class="ads">
                    <p class="now">美快</p>
                    <p class="navleft">你的跨境电商物流解决专家</p>
                </div>
            </div>
            <div class="right">
                <img src="__IMG__/brief_01.jpg" width="100%" height="155">
            </div>
    </div>
</block>
<block name="content">
	<div class="empty-container recert_vz">
		<!-- 顶部菜单 -->
		<form action="#" method="post">
		<div class="empty-content">
		    <div class="empty-area">
		        
		 <div id="MainContent_errorInfo" style="font-size:medium;color:red;"></div>
		    </div>
		</div>
		<!-- 内容部分 -->
		<div class="warp">
			<div class="contbox">
				<div class="title">
					<h3>在线缴税支付</h3>
				</div>
				<div class="money">
					<p>充值金额：</p>
					<div style="clear: both;"></div>
					<div class="payint"><input type="text" name="play">&nbsp;&nbsp;元</div>
				</div>
				<div class="motype">
					<p>支付方式</p>
					<div class="po-re dsfzf-ee">
						<ul>   
							<li>
							    <div class="payment-area">
							        <input type="radio"  value="wechat" class="radio vam" name="paykind" <if condition="$k eq 'wechat'">checked</if>>
							        <label for="">
							            <img src="__MEMBER__/image/winxinlogo.jpg" width="120" height="40" onClick="change_pay(this);" />
							        </label>
							    </div>
							 </li>                           
							 <li>
							    <div class="payment-area">
							        <input type="radio"  value="alipay" class="radio vam" name="paykind" <if condition="$k eq 'alipay'">checked</if>>
							        <label for="">
							            <img src="__MEMBER__/image/zhifulogo.jpg" width="120" height="40" onClick="change_pay(this);" />
							        </label>
							    </div>
							 </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div class="submitbtn">
			<button>确认支付</button>
		</div>
	</form>
	</div>
	<script type="text/javascript">
	// 选择 充值方式
	function change_pay(obj)
	{
	    $(obj).parent().siblings('input[name="paykind"]').trigger('click');
	}       

	function switchTab(obj,showdiv){
	$(obj).siblings().removeClass('alllist');
	$(obj).addClass('alllist');
	if(showdiv == 'recharge_log'){
	    $('.recharge_log').show();
	    $('.consume_log').hide();
	}else{
	    $('.recharge_log').hide();
	    $('.consume_log').show();
	}
	}

	</script>
<script src="__JS__/jquery.form.js"></script>
       
</block>

</body>
</html>
