<extend name="Public:base_register" />
<!-- 完善企业注册信息html -->
<html>
<!-- head -->
<block name="css">
<script type="text/javascript">
  var select_cr = "{:L('Cr_Select')}"; 
</script>
<style type="text/css">
  body .yourclass .layui-layer-btn .layui-layer-btn0{display: inline-block;height: 40px;line-height: 40px;border: 0;text-align: center;width: 120px;font-size: 18px;color: #fff;font-weight: bold;background-color: #c1832f;cursor: pointer;border-radius: 5px;margin-right: 210px;margin-top: 10px;}
</style>
<script type="text/javascript" src="__JS__/feg_relevance.js"></script>
<script type="text/javascript">
$(function(){
  $('#form1').validationEngine('attach', {
    promptPosition: 'centerRight',
    scroll: false,
  });
  $('#ResidentContry').change(function () {
    var result = "";
    var residentCountryID = $('#ResidentContry option:selected').val();
    switch (residentCountryID) {
        case '2':
            result = "+86";
            break;
        case '1':
            result = "+1";
            break;
    }
    $('#txtMobileAreaCode').val(result);
    $('#txtFixedAreaCode').val(result);
    $('#MainContent_mAreaCodeHidden').val(result);
    $('#MainContent_fAreaCodeHidden').val(result);
  });
});
function OpenGoWin(){
    layer.open({
    type: 1,
    offset: ['450px','600px'],
    area : ['600px' , '180px'],
    title: ["{:L('Cr_You')}",'font-size:15px;font-weight: bold;'],
    btnAlign: 'l',
    closeBtn: 1,
    skin: 'yourclass',
    btn: "{:L('Cr_next')}",
    content: $('#MainContent_divGo'),
    // yes:function(){
    //   window.location.href="{:U(CONTROLLER_NAME.'/CertUploadForPerson')}";
    // }
    });
}
</script>
</block>
<!-- head end -->
<body>
<block name="banner">
    <div class="banners">
            <div class="left">
                <div class="ads">
                    <p class="now">{:L('Company_Register_en')}</p>
                    <p class="navleft">{:L('Welcome_to_en')}</p>
                </div>
            </div>
            <div class="right">
                <img src="__IMG__/brief_01.jpg" width="100%" height="155">
            </div>
    </div>
</block>
<block name="content">
<form method="post" action="{:U('CertStep1ForCompany')}" id="form1">

<div class="empty-container recert_vz recert_vz2">

    <!-- 顶部菜单 -->

    <div class="empty-content">
        <div class="empty-area">
            
    <div id="MainContent_errorInfo" style="font-size:medium;color:red;"></div>
    <div class="reg-container">
        
  <ul class="c-loginprocess">
    <li id="MainContent_RegisterProcess1_step1" class="passed">
        <p class="p1">1</p>
        <span>{:L('Completed_re')}</span>
    </li>
    <li id="MainContent_RegisterProcess1_step2" class="passed">
        <p class="p1">2</p>
        <span>{:L('Email_re')}</span>
    </li>
    <li id="MainContent_RegisterProcess1_step3" class="passed">
         <p class="p1">3</p>
        <span id="MainContent_RegisterProcess1_cType">
            {:L('Complete_re_c')}
        </span>
    </li>
    <li id="MainContent_RegisterProcess1_step4">
        <p class="p1">4</p>
        <span>{:L('Upload_re')}</span>
    </li>
    <li id="MainContent_RegisterProcess1_step5">
        <p class="p1">5</p>
        <span>{:L('Sign_re')}</span>
    </li>
    <li class="last">
       <p class="p1">6</p>
        <span>{:L('Wait_f_re')}</span>
    </li>
    <div style="clear: both;"></div>
</ul>
        <div class="bg-white ly-pd-30 registermain"  style="padding: 50px 0 50px 0;">
            <h2 id="MainContent_tMsg1" class="fc-yel" style="display:block;padding:0 15px;">{:L('Cr_You_have')}</h2>
            <h2 id="MainContent_tMsg2" class="fc-yel" style="display:none;padding:0 15px;"></h2>
            <div class="fc-999 ly-pd-tb-5"  style="padding:0 15px; line-height:30px;">{:L('Cr_If_you')}</div>

            <div class="ly-mg-tb-20 c-hr-title">
                <b><span></span>{:L('Co_Company_in')}</b><span class="fc-dim">（{:L('Co_Please_fo')}）</span>
            </div>
            <ul class="c-forms">
            <li class="ly-mg-tb-20">
                <div class="c-forms-label">
                     {:L('Cr_Country_A')}  : 
                    <!-- 美国 -->
                </div>
                <switch name="Think.session.reg_info.countryId">
                    <case value="1">{:L('USA_VZ')}</case>
                    <case value="4">{:L('Germany_VZ')}</case>
                    <case value="7">{:L('rance_VZ')}</case>
                    <case value="5">{:L('Italy_VZ')}</case>
                    <case value="3">{:L('UK_VZ')}</case>
                    <case value="6">{:L('Japan_VZ')}</case>
                    <default />         
                </switch>
            </li>
             <li class="ly-mg-tb-20">
                <div class="ly-row">
                    <div class="ly-col-m3">
                        <div class="c-forms-label">{:L('Cr_Province_City')}<span class="fc-red">*</span></div>
                        <select name="province" type="text" id="MainContent_ddProvince" class="c-input-text mt_text validate[required]">
                            <option selected="selected" value="">{:L('Cr_Select')}</option>
                        </select>
                        <div class="c-forms-label"  style="width:100px;">{:L('Cr_City')}<span class="fc-red">*</span></div>
<!--                         <select name="city" type="text" maxlength="100" id="MainContent_ddCity" class="c-input-text mt_text validate[required]" >
                            <option selected="selected" value="">{:L('Cr_Select')}</option>
                        </select> -->
                        <input type="text" name="city" maxlength="40" class="c-input-text mt_text validate[required]">
                    </div>
                    <div class="ly-col-m3">
                        
                    </div>
                </div>
             </li>
                  <li class="ly-mg-tb-20">
                       <div class="c-forms-label">{:L('Com_name_re')}<span class="fc-red">*</span></div>
               
                           <input name="CompanyName" type="text" value="{$companyname}" maxlength="100" id="CompanyName" class="c-input-text mt_text validate[required]" />
               
                  </li>
                 <li class="ly-mg-tb-20">
                    <div class="c-forms-label">
                      {:L('Co_Company_re')}<span class="fc-red">*</span></div>
                        <input name="CompanyAddress" type="text" maxlength="200" id="CompanyAddress" class="c-input-text mt_text validate[required]" style="width:550px;" />
                 </li>
                   <li class="ly-mg-tb-20">
                       <div class="c-forms-label">{:L('Co_Company_repr')}<span class="fc-red">*</span></div>
               
                           <input name="CompanyRepresentative" type="text" maxlength="50" id="CompanyRepresentative" class="c-input-text mt_text validate[required]" />
               
                  </li>
                  <li class="ly-mg-tb-20">
                      <div class="c-dashed"></div>
                      <div class="fc-dim ly-mg-tb-10" style="line-height: 100%;">{:L('Co_To_speed')}</div>
                  </li>
                   <li class="ly-mg-tb-20">
                      <div class="c-forms-label">
                         
                          <label for="BusinessLicense">{:L('Co_Business_l')}<span class="fc-red">*</span></label></div>
               
                           <input name="BusinessLicense" type="text" maxlength="100" id="BusinessLicense" class="c-input-text mt_text validate[required,minSize[6],maxSize[20],custom[onlyLetterNumber]]" />
               
                  </li>
                  <li class="ly-mg-tb-20">
                      <div class="c-forms-label">
                          
                          <label for="TaxNumber">{:L('Co_Tax_number')}<span class="fc-red">*</span></label></div>
               
                           <input name="VATNumber" type="text" maxlength="100" id="VATNumber" class="c-input-text mt_text validate[required,minSize[6],maxSize[20],custom[onlyLetterNumber]]" />
               
                  </li>
                 
                   <li class="ly-mg-tb-20">
                      <div class="c-forms-label">{:L('Co_Address_remail')}<span class="fc-red">*</span></div>
                      <input name="Address" type="text" maxlength="200" id="Address" class="c-input-text mt_text validate[required]" style="width:550px;" />
               
                  </li>
                
                   <li class="ly-mg-tb-20">
                      <div class="c-forms-label">{:L('Co_Postalcode_mail')}<span class="fc-red">*</span></div>
               
                           <input name="PostCode" type="text" maxlength="20" id="PostCode" class="c-input-text mt_text validate[required,custom[chinaZip]]" />
               
                  </li>
                <li class="ly-mg-tb-20 c-hr-title">
                    <b><span></span>{:L('Co_Business')}</b>
                </li>
                   <li class="ly-mg-tb-20">
                      <div class="c-forms-label">{:L('Co_Contact_people')}<span class="fc-red">*</span></div>
              
                           <input name="CompanyContact" type="text" maxlength="50" id="CompanyContact" class="c-input-text mt_text validate[required]" />
               
                  </li>
                  <li class="ly-mg-tb-20">
                      <div class="c-forms-label" style="padding-left: 0;width: 495px;">{:L('Cr_Mobile')}({:L('Cr_Fill_number')})<span class="fc-red">*</span></div>
                        <!-- <input name="PhoneAreaCode" type="text" value="+1" readonly="readonly" id="MainContent_txtCnPhoneAreaCode" class="c-input-text" style="width:25px;" /> -->
                        <input name="Phone" type="text" id="MainContent_txtCnPhone" class="c-input-text mt_text validate[required,custom[onlyNumberSp]]" maxlength="16" style="width:210px;" />
              
                  </li>
                  <li class="ly-mg-tb-20">
                      <div class="c-forms-label">{:L('Cr_Phone')}</div>
                        <!-- <input name="FixedPhoneAreaCode" type="text" value="+1" readonly="readonly" id="MainContent_txtFixedPhoneAreaCode" class="c-input-text" style="width:25px;" /> -->
                        <input name="FixedTelephone" type="text" id="MainContent_txtFixedTelephone" maxlength="16" class="c-input-text" style="width:210px;" />
                  </li>
                  <li class="ly-mg-tb-20">
                        <div class="c-forms-label">{:L('Cr_QQ_Wechat')}</div>
               
                           <input name="ContactsQQ" type="text" maxlength="50" id="ContactsQQ" class="c-input-text validate[custom[qq]]" />
              
                  </li>
                  <li class="ly-mg-tb-20" style="text-align: center;  padding-top: 20px;">
                          <input type="hidden" name="country" value="美国" />
                          <input type="submit" value="{:L('Next_re')}" id="MainContent_btnNextStep" class="c-btn-lg-next" />
                          &nbsp;<span id="msgbox"></span>

                  </li>
              </ul>
        </div>
    </div>
    <div id="MainContent_divGo" class="c-alert-md" style="display:none;" title="{:L('Cr_You')}">
      <div class="bd clearfix">
          <div class="ly-fl cont-info">
              <h4 class="fc-yel" style="width:500px;margin-left: 50px;">{:L('Cr_To_c')}</h4>
              <p class="fc-dim"></p>
          </div>
        </div>
   </div>

        </div>
    </div>

    <!-- footer -->

</div>
<script src="__JS__/jquery.form.js"></script>
<style>
#msgbox{font-weight:bold;}
</style>
<script language="JavaScript">
// 发送邮件成功后的页面跳转动画
jQuery(document).ready(function($){
    $('#form1').ajaxForm({
        beforeSend:function(){
          $("#msgbox").html('&nbsp;<img style="width:20px;height:20px;" src="__PUBLIC__/images/msg_loading_d.gif"/>');
        },
        success: complete,  //成功则执行complete函数
        dataType: 'json',
    });
});
function complete(data){
    if (data.status==true){
        $('#MainContent_btnNextStep').prop("disabled", true);
        $('.c-btn-lg-next[disabled]').css({"background":"#c1832f","color":"#fff","border":"#1832f"});
        $('#msgbox').html('<span style="font-size:15px;padding-left:10px;color:green;">'+data.info+'</span>').fadeIn(300).delay(1000).fadeOut(300,function(){
            window.location.href="{:U(CONTROLLER_NAME.'/CertUploadForCompany')}";
        });
      
    }else{
        $('#MainContent_btnNextStep').prop("disabled", true);
        $('.c-btn-lg-next[disabled]').css({"background":"#c1832f","color":"#fff","border":"#1832f"});      
        $('#msgbox').html('<span style="font-size:15px;padding-left:10px;color:red;">'+data.info+'</span>').fadeIn(300).delay(1000).fadeOut(300,function(){
            // $('#myverify').click();                //模拟用户点击刷新验证码
        });
    }
}
</script>

<script type="text/javascript">
OpenGoWin()
</script>
</form>
</block>

</body>
</html>
