<extend name="Public:base" />
<block name="title">注册</block>
<block name="css">
	<link rel="stylesheet" type="text/css" href="__CSS__/enroll.css">	
</block>
<block name="content">
		<div class="banner_01">
			<p>
				<img src="__IMG__/register_banner.jpg">
			</p>
		</div>
		<div class="content">
			<div class="added">请选择发件国家</div>
			<div class="addeds"></div>
			<div class="flag">
				<li>
					<img src="__IMG__/flag_01.jpg">
					<span>美国</span>
				</li>
				<li>
					<img src="__IMG__/flag_02.jpg">
					<span>德国</span>
				</li>
				<li>
					<img src="__IMG__/flag_03.jpg">
					<span>法国</span>
				</li>
				<li>
					<img src="__IMG__/flag_04.jpg">
					<span>澳大利亚</span>
				</li>
				<li>
					<img src="__IMG__/flag_05.jpg">
					<span>英国</span>
				</li>
				<li>
					<img src="__IMG__/flag_06.jpg">
					<span>日本</span>
				</li>
			</div>
		</div>
</block> 