<extend name="Public:base" />
<block name="title">注册</block>
<block name="css">
    <link rel="stylesheet" type="text/css" href="__CSS__/enroll.css">  
    <script type="text/javascript" src="__JS__/register.js"></script> 
</block>
<block name="content">
        <div class="banner_01">
            <p>
                <img src="__IMG__/register_banner.jpg">
            </p>
        </div>
        <div class="content">
            <div class="added">请选择发件国家</div>
            <div class="addeds"></div>
            <div class="flag" id="flags">
                <p>
                <a class="item" href="{:U('SelectCertCategory',array('countryId'=>'1'))}">
                    <img src="__IMG__/flag_01.jpg">
                    <span>美国</span>
                </a>
                </p>
                <p><label style="color:red; font-size:12px;">*</label>“以下国家暂仅面向部分合约商户开放，详情咨询在线客服”</p>
                <p class="dds">
                <a class="item unopened" style="margin-left:29px;" onclick="alert('此国家暂仅面向部分合约商户开放，详情咨询在线客服！ ')">
                    <img src="__IMG__/flag_02.jpg">
                    <span>德国</span>
                </a>
                <a class="item unopened" onclick="alert('此国家暂仅面向部分合约商户开放，详情咨询在线客服！ ')">
                    <img src="__IMG__/flag_03.jpg">
                    <span>法国</span>
                </a>
                <a class="item unopened" onclick="alert('此国家暂仅面向部分合约商户开放，详情咨询在线客服！ ')">
                    <img src="__IMG__/flag_04.jpg">
                    <span>澳大利亚</span>
                </a>
                <a class="item unopened" onclick="alert('此国家暂仅面向部分合约商户开放，详情咨询在线客服！ ')">
                    <img src="__IMG__/flag_05.jpg">
                    <span>英国</span>
                </a>
                <a class="item unopened" onclick="alert('此国家暂仅面向部分合约商户开放，详情咨询在线客服！ ')">
                    <img src="__IMG__/flag_06.jpg">
                    <span>日本</span>
                </a>
                </p>
            </div>
        </div>
</block> 

