        	<div class="rtop">
        		<ul class="list-inline">
        			<volist name='time_zone' id="vo">
	 					<li class="blue">
							<p>{$vo.name_zone}</p>
							<p></p>
							<p></p>
							<p></p>
							
							
						</li>
					</volist>
 				</ul>
        	</div>
        	
        	
<script type="text/javascript">
<volist name='time_zone' id="vo">
onload = setInterval(function(){
	d=new Date(); //创建一个Date对象 
	localTime = d.getTime(); 
	localOffset=d.getTimezoneOffset()*60000; //获得当地时间偏移的毫秒数 
	utc = localTime + localOffset; //utc即GMT时间 
	offset ={$vo.time_zone_number}; //以夏威夷时间为例，东10区 
	gtm= utc + (3600000*offset); 
	nd = new Date(gtm); 
	alert(nd.getFullYear());
	alert(nd.getMonth() + 1);	//0-11
	alert(nd.getDate());
	alert(nd.getHours());
	alert(nd.getMinutes());
	alert(nd.getSeconds());
	day = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")[nd.getDay()];
	alert(day);    
},2000);
</volist>

</script>
        	