<extend name="./base" />

<block name="main">

    <script type="text/javascript" src="__PUBLIC__/js/datetime/DateTimePicker.js"></script>
    <link href="__PUBLIC__/js/datetime/DateTimePicker.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#dtBox").DateTimePicker({

                minuteInterval: 5

            });
        });
    </script>
    <div id="dtBox"></div>

    <div class="container" >
        <div class="col-md-2">
            <include file="Public:logistics_nav" />
        </div>
        <div class="col-md-10">
            <div class="rtop">
                <table border="0" cellpadding="0" cellspacing="0" class="table" style="margin-bottom:0px">
                    <tr>
                        <td style="border-top:none"><span style="text-align:left;float:left;margin-top:12px;">
					<a href="{:U('Logistics/CreateView',array('line'=>$line))}" data-toggle="modal" data-target="#myModal"><button type="button" class="btn btn-primary" >新增号段</button></a>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-primary" onclick="st_import();">导入号段</button>
					&nbsp;&nbsp;
					<if condition="$warn lt $warn_num">

						<font style="color:red;font-weight:bold;"><img src="__PUBLIC__/images/warning.png" alt="" height="30" width="30">电子单仅余下 <span style="font-size:20px;"><php>echo number_format($warn);</php></span> 张，请及时补充</font>

					<else />

						<font style="font-weight:bold;"><img src="__PUBLIC__/images/lighting.png" alt="" height="30" width="30">电子单剩余 <php>echo number_format($warn);</php> 张</font>

					</if>
				</span>
                            <h4 style="text-align:right">
                                您当前所在位置：号段管理
                            </h4>
                        </td>

                        <script>
                            function st_import(){
                                layer.open({
                                    type: 2,
                                    title:'导入号段',
                                    offset: '30%',
                                    // btn: ['关闭'],
                                    area: ['800px', '350px'], //宽高
                                    content:"{:U('Logistics/importView')}?line={$line}",
                                });
                            }
                        </script>
                    </tr>
                    <tr>
                        <td>
                            <form action="{:U('index')}" method="get" class="form-inline">
                                <input type="hidden" value="{$line}" name="line">
                                <!-- 中文搜索时必须的 -->
                                <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
                                <input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
                                <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
                                <!-- End -->
                                <label>筛选：<input type="search" name="keyword" class="form-control" value="{$keyword}" style="width:200" /></label>
                                <label>
                                    <select name="searchtype" class="form-control">
                                        <option value="0">请选择</option>
                                        <option value="NO" <eq name="searchtype" value="NO">selected</eq>>号段</option>
                                        <option value="MKNO" <eq name="searchtype" value="MKNO">selected</eq>>美快单号</option>
                                    </select>
                                </label>
                                <label>
                                    &nbsp;&nbsp;使用时间：<input type="text" class="form-control one" data-field="datetime" size="25" id="createStarttime" name="starttime" value="<eq name="starttime" value=""><else />{$starttime}</eq>" style="width:200" > -- <input type="text" class="form-control two" data-field="datetime" size="25" id="createEndtime" name="endtime" value="<eq name="endtime" value=""><else />{$endtime}</eq>" style="width:200" >
                                </label>
                                <label>
                                    <select name="status" class="form-control">
                                        <option value="">状态</option>
                                        <option value="0" <if condition="$status eq '0'">selected</if>>未使用</option>
                                        <option value="10" <eq name="status" value="10">selected</eq>>使用中</option>
                                        <option value="20" <eq name="status" value="20">selected</eq>>已使用</option>
                                    </select>
                                </label>
                                <label>
                                    &nbsp;&nbsp;行数：
                                    <select name="ePage" id="" class="form-control" >
                                        <option value="10" <eq name="ePage" value="10">selected</eq>>10</option>
                                        <option value="20" <eq name="ePage" value="20">selected</eq>>20</option>
                                        <option value="30" <eq name="ePage" value="30">selected</eq>>30</option>
                                        <option value="50" <eq name="ePage" value="50">selected</eq>>50</option>
                                        <option value="100" <eq name="ePage" value="100">selected</eq>>100</option>
                                    </select>
                                </label>
                                <label>
                                    <button type="submit" class="btn btn-primary btn-lg">查询</button>
                                </label>
                            </form>
                        </td>

                    </tr>
                </table>
            </div>

            <form action="">
                <div class="container" style="width:100% !important;">
                    <table border="0" class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>号段</th>
                            <th>美快单号</th>
                            <th>使用时间</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody style="font-size:15px;">
                        <foreach name="list" item='vo'>
                            <tr {$key % 2 == 0 ?'':'style="background-color:#ddd;"'}>
                            <td class="td1">
                                {$vo.id}
                            </td>
                            <td class="td1">
                                {$vo.no}
                            </td>
                            <td class="td1">
                                <if condition="$vo['MKNO']">
                                <a href="{:U('PostManagement/info',array('MKNO'=>$vo['MKNO']))}" data-toggle="modal" data-target="#myModal">
                                    {$vo.MKNO}
                                </a>
                                </if>
                            </td>
                            <td class="td1">
                                <if condition="$vo['use_time'] == null">
                                    <!-- 空 -->
                                    <else />
                                    {$vo.use_time}
                                </if>
                            </td>
                            <td class="td1">
                                <switch name="vo.status">
                                    <case value="0">
                                        <font color="red">未使用</font>
                                    </case>
                                    <case value="10">
                                        <font color="green">使用中</font>
                                    </case>
                                    <case value="20">
                                        <font color="green">已使用</font>
                                    </case>
                                    <default />其他
                                </switch>
                            </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </form>
            <div id="pages" class="page">{$page}</div>

            <div class="foot"></div>
            <center>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true"  >
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-body">
                                ...
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </center>

</block>