          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav" id="accordion">
                <li><img src="__PUBLIC__/images/1.png"/><b style="font-size:18px">&nbsp;&nbsp;BC类别管理</b></li>
<!--                 <li <if condition="(CONTROLLER_NAME eq 'Category') && (ACTION_NAME eq 'index')">class="licolor"</if>>
                    <a href="{:U('Category/index')}"><div class="link">{:str_repeat('&nbsp;',5)}<img src="__PUBLIC__/images/2.png" />&nbsp;全部线路</div></a>
                    <ul class="submenu">
                        <volist name="center" id="vo">
                            <li <if condition="$line eq $vo['id']">class="selected"</if>><a href="{:U('Category/index',array('line'=>$vo['id']))}">{:str_repeat('&nbsp;',10)}{$vo['name']}</a></li>
                        </volist>
                    </ul>
                </li> -->
                <select class="selector form-control" name="center" onchange="layer.load(1, {shade: [0.1,'#000']});window.location=this.value;">
                    <!-- 线路列表 -->
                    <option value="{:U('Category/index')}">请选择BC报关线路</option>
                    <volist name="center" id="vo">
                        <option value="{:U('Category/index',array('line'=>$vo['id']))}" <if condition="I('line') eq $vo['id']">selected</if>>{$vo['name']}</option>
                    </volist>
                </select>
            </ul>
            <div id="showline">
                <!-- 加载分类 -->
                    <if condition="I('line')">
                        <a href="{:U('Category/add',array('line'=>I('line')))}" data-toggle="modal" data-target="#myModal" class="addbtn">[+]新增顶级类别</a>
                    </if>
                <ul id="flic" class="flic">
                    <volist name="top_level" id="vt">
                        <li style="width:300px;"><a class='a_one <if condition="I('cat') eq $vt['id']">selected</if>' href="{$vt['url']}">{$vt['cat_name']}</a><a class="a_two" href="{:U('Category/edit',array('id'=>$vt['id'],'line'=>I('line')))}" data-toggle="modal" data-target="#myModal">修改</a></li>
                    </volist>
                </ul>
                <style>
                    #flic li a {float:left;}
                    .a_one{width:160px;}
                    .a_two{width:60px;padding-left:15px !important;}
                    .selected{border: 1px solid #e2f3fb;background-color: #f2fafd;}
                    .flic li a:hover{border: 1px solid #e2f3fb;background-color: #f2fafd;cursor: pointer;}
                </style> 
            </div> 
          </div>

<style type="text/css">
.licolor{
    overflow:hidden;
}
.submenu{
    max-height:400px;
    overflow-y:auto;
    margin-right: -18px;    
}
.submenu li:nth-child(even){
    background:#afacac;
}
.submenu li:nth-child(odd){
    background:#bbb;
}
.link:hover{
    cursor:pointer;
}
#accordion li .link img{
    transform: rotate(90deg);
}
#accordion li.open img{
    transform: rotate(-90deg);
}
.submenu .selected{
    background-color: #7895bc !important;
}
</style>