          <li <if condition="(CONTROLLER_NAME eq 'Category')">class="active"</if>><a href="{:U('Category/index')}">BC类别</a></li>

          <li <if condition="(CONTROLLER_NAME eq 'Product')">class="active"</if>><a href="{:U('Product/index')}">BC货品</a></li>

          <li <if condition="(CONTROLLER_NAME eq 'SfBcOrder')">class="active"</if>><a href="{:U('SfBcOrder/index')}">BC订单</a></li>
  
          <li <if condition="(CONTROLLER_NAME eq 'CategoryForCc')">class="active"</if>><a href="{:U('CategoryForCc/index')}">CC类别</a></li>

          <li <if condition="(CONTROLLER_NAME eq 'TaxRulesClass')">class="active"</if>><a href="{:U('TaxRulesClass/index')}">CC税则类别</a></li>          
