<extend name="./base" />

{/* 此文件只是个外壳，数据输出的视图层位于Logarithm文件夹内，其他小区别位于Public文件夹内 20170103 jie */}
<block name="main">

<div class="container" >
  <!-- 页面导航栏  根据不同的控制器名称判断加载对应的视图 -->
        <div class="col-md-2">
          <include file="Public:authNav" />
        </div>
<div class="col-md-10">
<include file="Public:st_sf_nav" />
  <div class="rtop">
<div class="" >
      <table border="0" cellpadding="0" cellspacing="0" class="table"  class="table table-bordered" style="margin:0px;padding:0px">

      <include file="Logarithm:litBanner" />
        
        <tr>
          <td colspan="10">
        <form action="{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}" method="get" class="form-inline">
            <!-- 中文搜索时必须的 -->
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
            <!-- End -->
            <!-- <input type="hidden" name="type" value="index"> -->
            <input type="hidden" name="sto" value="1">
          
          <include file="Logarithm:searchbox" />

        </form>
          </td>
        </tr>
      </table>
</div>

<!-- 2017 -->
<!-- 数据展示区域 -->
<if condition="ACTION_NAME eq 'tran_track'">
  <include file="Logarithm:index_base" />
<else />
  <include file="Logarithm:pro_two_base" />
</if>
<!-- 2017 -->

</div>
<div id="pages" class="page">{$page}</div>
      <div class="foot"></div>
          <center>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true"  >
   <div class="modal-dialog">
      <div class="modal-content">
    
         <div class="modal-body">
            ...
         </div>
   
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
</center>

</block>