          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav" id="accordion">
                <li><img src="__PUBLIC__/images/1.png"/><b style="font-size:18px">&nbsp;&nbsp;号段管理</b></li>

                <select class="selector form-control" name="center" onchange="layer.load(1, {shade: [0.1,'#000']});window.location=this.value;">
                    <!-- 线路列表 -->
                    <option value="{:U('Logistics/index')}">请选择线路</option>
                    <volist name="center" id="vo">
                        <option value="{:U('Logistics/index',array('line'=>$vo['id']))}" <if condition="$line eq $vo['id']">selected</if>>{$vo['name']}</option>
                    </volist>
                </select>
            </ul>

          </div>