          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav">
                <li><img src="__PUBLIC__/images/1.png"/><b style="font-size:18px">&nbsp;&nbsp;美快优选CC</b></li>
                <li <if condition="(CONTROLLER_NAME eq 'MKBcCC') && (ACTION_NAME eq 'index')">class="licolor"</if>>
                	<a href="{:U('MKBcCC/index')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;身份证照片上传</a>
                </li>
                <li <if condition="(ACTION_NAME eq 'tran_track') || (ACTION_NAME eq 'kd_track')">class="licolor"</if>>
                    <a href="{:U('MKBcCC/tran_track')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;批号对数</a>
                </li>
                </ul>
          </div>