          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav">
                <li><img src="__PUBLIC__/images/1.png"/><b style="font-size:18px">&nbsp;&nbsp;美快BC优选2</b></li>

                <li <if condition="(ACTION_NAME eq 'index')">class="licolor"</if>>
                    <a href="{:U('MKBc2/index')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;订单操作</a>
                </li>
                <li <if condition="(ACTION_NAME eq 'apply_goods')">class="licolor"</if>>
                    <a href="{:U('MKBc2Ptwo/apply_goods')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;商品报备</a>
                </li>
                <li <if condition="(ACTION_NAME eq 'apply_customs')">class="licolor"</if>>
                    <a href="{:U('MKBc2Ptwo/apply_customs')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;报关</a>
                </li>
                <li <if condition="(ACTION_NAME eq 'tran_track') || (ACTION_NAME eq 'kd_track')">class="licolor"</if>>
                    <a href="{:U('MKBc2/tran_track')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;批号对数</a>
                </li>

                </ul>
          </div>