          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav">
                <li><img src="__PUBLIC__/images/1.png"/><b style="font-size:18px">&nbsp;&nbsp;西安物流</b></li>
                <li <if condition="(ACTION_NAME eq 'index')">class="licolor"</if>>
                	<a href="{:U('OrdersBoxed/index')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;订单装板
                  </a>
                </li>
                <li <if condition="(ACTION_NAME eq 'info' OR ACTION_NAME eq 'info_pno')">class="licolor"</if>>
                	<a href="{:U('OrdersBoxed/info')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;装板记录
                  </a>
                </li>
                
                </ul>
          </div>