<style>
	.container .active a{color:black;}
	.container .active{background-color: #cccddd !important;}
	.container table a{}
	.mes{width:150px;}
</style>
<div class="container" >
      <if condition="count($list) gt 0">
      <div class="left" style=" width:70%; display: inline-block; float:left;">
        <button type="button" class="btn btn-default" onclick="sel_more(this);">操作</button>
        <div class="select_rows" style="display:none">
          <select class="btn btn-default" name="status_select" style="padding:0 ; margin-right:5px;" id="sta_select" onchange="did(this)">
            <option value="">请选择</option>

            <volist name="sel_list" id="vo">
              <option value="{$key}">{$vo}</option>
            </volist>

          </select>
          <input class="btn btn-default" style="width:170px; height:26px; margin-right:5px; padding:0 3px; text-align: left;display:none;" type="text" name="sta_custom" placeholder="自行填写原因">

            <span style="display: inline-block;padding:10px 2px;"><input type="checkbox" name="finishedIt" id="finish_all" ><label for="finish_all">&nbsp;完成选中的面单 &nbsp;</label></span>


          <button type="button" class="btn btn-default" id="opp" onclick="toSend();" style="padding:2px 12px;">提交</button>
          <div id="mes" style="display:inline-block"></div>
        </div>
      </div>
      <else />
      <div class="left" style=" width:70%; display: inline-block; float:left;">
        &nbsp;
      </div>
      </if>
      <button type="button" style="display: inline-block; float:right;margin-left: 10px;" class="btn btn-default" id="logis_more" onclick="getLogis('{$tcid}');" style="padding:2px 12px;">批量操作获取物流信息</button>&nbsp;&nbsp;
	<button type="button" style="display: inline-block; float:right;" class="btn btn-default" id="img_more" onclick="sendIdImgs('{$tcid}');" style="padding:2px 12px;">批量推送身份证照片</button>
</div>

<form action="">
	<div class="container" style="margin-bottom:0;margin-top:0;">
				<table width="100%" border="0" cellpadding="10" cellspacing="10"  class="table table-hover" style="margin-bottom:0px">
					<thead>
						<tr style="height:47px;line-height:47px;border-bottom:0.3em solid #ccc">
							<th><input type="checkbox" name="select" id="selectAll"><label for="selectAll" style="margin-bottom: 0px;">&nbsp;全选</label></th>
							<th>序号</th>
							<th>自定义号段</th>
							<th>面单号</th>
							<th>寄件人</th>
							<th>收件人</th>
							<th>重量/价值</th>
							<th>物流信息</th>
							<th>证件号</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody style="font-size:14px">
						<volist name="list" id="vo" mod="2">
							<tr id="tr_{$vo.id}" <eq name="mod" value="1"> style="background-color:#ddd;"</eq> >
								<td align="center" style="vertical-align:middle;">
									<input type="checkbox" name="tno" value="{$vo['STNO']}" id="tno_{$vo['id']}">
								</td>
								
								<td align="center" style="line-height:180%">
									<label for="tno_{$vo['id']}">
										<if condition="$vo['pause_status'] == '20'">
											<font color="red">{$key+1}<br/>停运</font>
										<else/>
											<font color="green">{$key+1}<br/>正常</font>
										</if>
									</label>
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
									{$vo.auto_Indent1|default="&nbsp;"}<br/>
									{$vo.auto_Indent2|default="&nbsp;"}
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
									{$vo.MKNO|default="&nbsp;"}<br/>{$vo.STNO|default="&nbsp;"}
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
									{$vo.sender}<br/>
									{$mstr|default="&nbsp;"}
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
									{$vo.receiver}<br/>『{$vo.province}』
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
										{$vo.weight}{:C('SHOW_WEIGHT_UNIT')}<br/>￥{$vo.price}
								</td>
								<td style="line-height:180%;padding-left:3px">
									
									<neq name="vo['optime']" value="">{$vo.optime}：</neq>
									<neq name="vo['IL_state']" value="">{$ilstarr[$ilstarri[$vo['IL_state']]][1]|default='状况不明'}</neq>
									<neq name="vo['mode']" value="">，【{$vo.mode}】</neq><br/>
									<neq name="vo['ex_time']" value="">{$vo.ex_time}：</neq>
									<neq name="vo['ex_context']" value="">{$vo.ex_context}</neq>
								</td>
								<td align="center" style="line-height:180%">
									{:hidIdno($vo['idno'])}
								</td>
<!-- 								<td class="td1" align="center" >
									<a href="<if condition="$power['read_goods'] neq 'on'">javascript:;<else />{:U('info',array('id'=>$vo['id']))}</if>" <if condition="$power['read_goods'] neq 'on'"><else />data-toggle="modal" data-target="#myModal"</if>>
										{$vo.IL_state}
									</a>
								</td>
								<td class="td1" align="center" >
									<a href="<if condition="$power['read_goods'] neq 'on'">javascript:;<else />{:U('info',array('id'=>$vo['id']))}</if>" <if condition="$power['read_goods'] neq 'on'"><else />data-toggle="modal" data-target="#myModal"</if>>
										{$vo.mode}
									</a>
								</td> -->
								
								<td align="right">

										<a href="{:U('PostManagement/info',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">查看</a>


										<!-- 少于200可修改 -->
										<if condition="$vo['IL_state'] lt 200">
										 <span style="vertical-align:text-middle;">|</span> 
											<a href="{:U('PostManagement/edit',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">修改</a>
										<else />
											<!-- <font color="#ccc">修改</font> -->
										</if>
									
									<if condition="$vo['pause_status'] eq 0">
										<if condition="$vo['IL_state'] lt 200 && I('get.type') neq 'stop'">
											 <span style="vertical-align:text-middle;">|</span> 
											<a href="{:U('PostManagement/toPause',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">暂停</a>
										</if>
									
									<elseif condition="$vo['pause_status'] eq 20"/>
										<if condition="$vo['IL_state'] lt 200 && I('get.type') eq 'stop'">
											<if condition="$vo['candel'] eq 0">
											
											 <span style="vertical-align:text-middle;">|</span> 
											<a href="{:U('PostManagement/toRecover',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">恢复</a>

											<else />
											</if>

										</if>
									</if>

									<!-- 删除 -->
										<!-- 等于8可删除 -->
										<if condition="($vo['IL_state'] eq 8 && I('get.type') eq 'stop')OR($vo['candel'] eq 1)">
											 <span style="vertical-align:text-middle;">|</span> 
											<a href="{:U('PostManagement/toDel',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">删除</a>
										</if>
									
									<!-- End -->
									<!-- 20161018 Jie -->
									 <span style="vertical-align:text-middle;">|</span> 
									<a href="javascript:void(0)" onclick="sendMsg('{$vo.id}','{$vo.STNO}','{$tcid}')" class="logis{$vo['id']}" data-target="#myModal">获取物流信息</a>
									<!-- 20161018 Jie End -->

									<!-- 20170713 Jie -->
									 <span style="vertical-align:text-middle;">|</span> 
									<a href="javascript:void(0)" onclick="sendIdImg('{$vo.id}','{$vo.MKNO}','{$tcid}')" class="Idimg{$vo['id']}" data-target="#myModal">推送身份证照片</a>
									<!-- <a href="{:U('SendIdImg/index',array('no'=>$vo['MKNO']))}">发送</a> -->
									<!-- 20170713 Jie End -->
									&nbsp;&nbsp;
									<!-- End -->
								</td>
							</tr>
						</volist>
					</tbody>						
				</table>
	</div>
</form>