<!-- 公共部分 页面导航栏 -->
	<table border="0" cellpadding="0" cellspacing="0" class="table" style="margin-bottom:0px">
		<tr>
			<h4 style="text-align:right">
				您当前所在位置：
	        <if condition="CONTROLLER_NAME eq 'St2Ems'">
	            申通物流
	        <elseif condition="CONTROLLER_NAME eq 'SFLogistics'"/>
				顺丰物流
	        <elseif condition="CONTROLLER_NAME eq 'HkEms'" />
	            香港邮政
	        <elseif condition="CONTROLLER_NAME eq 'GdEms'" />
	            广东邮政
	        <elseif condition="CONTROLLER_NAME eq 'MKBc2'" />
	            美快BC优选2
            <elseif condition="CONTROLLER_NAME eq 'MKBc3'" />
            	美快优选3
            <elseif condition="CONTROLLER_NAME eq 'MKBcCC'" />
            	美快优选CC
	        </if>
	        	/<a href="javascript:void(0);" class="color">
				批号对数</a>
			</h4>
		</tr>
		<tr style="text-align: left !important;">
			<th style="width:100px !important;" <if condition="(ACTION_NAME eq 'tran_track')">class="active"</if>><a href="{:U('tran_track')}">中转跟踪</a></th>
			<th style="width:100px !important;" <if condition="(ACTION_NAME eq 'kd_track')">class="active"</if>><a href="{:U('kd_track')}">快递跟踪</a></th>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>