          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav">
                <li><img src="__PUBLIC__/images/1.png"/><b style="font-size:18px">&nbsp;&nbsp;CC税则</b></li>
                <li <if condition="(ACTION_NAME eq 'index')">class="licolor"</if>>
                	<a href="{:U('TaxRulesClass/index')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;税则列表
                  </a>
                </li>
                
                
                </ul>
          </div>