          <li <if condition="(CONTROLLER_NAME eq 'Express') || (CONTROLLER_NAME eq 'St2Ems')">class="active"</if>><a href="{:U('Express/index')}">申通物流</a></li>
          <li <if condition="(CONTROLLER_NAME eq 'SFLogistics')">class="active"</if>><a href="{:U('SFLogistics/index')}">顺丰物流</a></li>
          <li <if condition="(CONTROLLER_NAME eq 'HkEms')">class="active"</if>><a href="{:U('HkEms/index')}">香港邮政</a></li>
          <li <if condition="(CONTROLLER_NAME eq 'GdEms') || (CONTROLLER_NAME eq 'GdEmsPtwo')">class="active"</if>><a href="{:U('GdEms/index')}">广东邮政</a></li>
          <li <if condition="(CONTROLLER_NAME eq 'MKBc2') || (CONTROLLER_NAME eq 'MKBc2Ptwo')">class="active"</if>><a href="{:U('MKBc2/index')}">美快BC优选2</a></li>
          <li <if condition="in_array(CONTROLLER_NAME, array('MKBc3','MKBc3Ptwo','LogisticsNode'))">class="active"</if>><a href="{:U('MKBc3/index')}">美快优选3</a></li>
          <li <if condition="(CONTROLLER_NAME eq 'MKBcCC')">class="active"</if>><a href="{:U('MKBcCC/index')}">美快优选CC</a></li>
          <li <if condition="(CONTROLLER_NAME eq 'OrdersBoxed')">class="active"</if>><a href="{:U('OrdersBoxed/index')}">西安物流</a></li>
          