          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav">
              <li><img src="__PUBLIC__/images/1.png"/><b style="font-size:18px">&nbsp;&nbsp;{$ModulesName}</b></li>
				<volist name="three_nav" id="nav"> 
	                <li <if condition="(CONTROLLER_NAME eq $nav['nav']) && (ACTION_NAME eq $nav['action'])">class="licolor"</if>>
	                	<a href="{$nav['url']}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;{$nav['name']}</a>
	                	
	                </li>
                </volist>
          	</ul>
          </div>