<!-- 在线下单 -->
<extend name="Member/base" />


<block name="main">
<meta charset="utf-8">
<link href="__MEMBER__/css/index.css" rel="stylesheet">
<!-- <link href="__MEMBER__/css/one.css" rel="stylesheet">
<script src="__MEMBER__/js/add.js"></script> -->
<!-- <script type="text/javascript" src="__MEMBER__/js/city/city.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/edit.js"></script>-->
<style>
    body{ background:#f5f5f5;}
    .warp{width: 100%;background: #fff;font-family: 'Microsoft YaHei';}
    .warp .cont{width: 50%;margin: 25px auto;border:1px solid #ccc;}
    .warp .cont .callback{width: 97%;float: right;border-bottom: 1px solid #ccc;padding: 18px 0px;margin-right: 1%;}
    .warp .cont .callback a{float: right;font-size: 20px;color: #000;}
    .warp .cont .midc{margin:0px auto;}
    .warp .cont .midc h1{margin-top: 80px;font-size: 33px;width: 470px;}
    .warp .cont .midc .wx_img{ margin-top:30px;margin-bottom: 100px;}
    .warp .cont .midc .wx_img img{ border:1px solid #ddd;}
</style>
    <div class="warp">
        <div class="cont" align="center" >
            <div class="callback">
                <a href="{:U('WebRecharge/index')}">{:L('BackRecharge')}</a>
            </div>
            <div style="clear: both;"></div>
            <div class="midc">
                <h1>{:L('Following_QR')}</h1>
                <img src="__MEMBER__/image/{:L('lng')}/winxinlogo.jpg" width="230px;" style="display:block; margin:0px auto;margin-top: 45px;">
                <div class="wx_img">{$verify_result}</div>
                <input type="hidden" value="{$order_no}" id="order_no"/>
            </div>
        </div>
    </div>
<script src="__MEMBER__/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    changeOrderStatues();//检测订单是否支付成功
    function changeOrderStatues() {
        var order_no = $("#order_no").val();
        // alert(order_no);
        $.post("{:U('Topup/check_order')}", {order_no: order_no}, function(data) {
            if (data.state == '200') {
                //订单返回值=200表示支付成功
                alert("付款成功");
                location.href = data.url; //支付成功后跳转到订单详情页
            }
        },"json")
        setTimeout("changeOrderStatues()", 3000);
    }
</script>
    <div class="foot" style="height: 200px;"></div>
</block>
</body>
</html>