<extend name="./base" />

<block name="main">
<style>
	.list-inline{border-bottom:1px solid #ccc;padding-bottom:15px;}
	.list-inline li{margin-top:0px !important;}
</style>
	<div class="container">
        <div class="col-md-2">
          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav">
                <li><img src="__PUBLIC__/images/1.png"/><b style="font-size:18px">&nbsp;&nbsp;管理员管理</b></li>
                <li><a href="{:U('Manager/index')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;管理员列表</a></li>
                <li class="licolor"><a href="{:U('Role/index')}">　　<img src="__PUBLIC__/images/2.png"/>&nbsp;角色管理</a></li>
             
                </ul>
          </div>
        </div>
        <div class="col-md-10">
        	<div class="rtop">
        		<ul class="list-inline">
 				 <li class="blue"><a href="{:U('Role/index')}">角色列表</a></li>
 				 <li>

 				 		<a href="{:U('Role/add')}" data-toggle="modal" data-target="#myModal">添加新角色</a>
 				 </li>
 				 <li style="float:right">你当前所在位置：角色管理&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">角色列表</a></li>
				</ul>
        	</div>
<form action="">
	<table border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
		<thead>
			<tr>
				<th>ID</th>
				<th>用户组名称</th>
				<th>描述</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody style="font-size:15px;" id="tt">
			<volist name="list" id="vo" mod="2">
			<tr id="tr_{$vo.id}" <eq name="mod" value="1"> style="background-color:#ddd;"</eq>>
				<td align="center">{$vo.id}</td>
				<td align="center">{$vo.role_name}</td>
				<td align="center">{$vo.content}</td>
				<td align="center">
					<if condition="$vo['status'] eq '1'">
						<font color="green">启用</font>
					<else />
						<font color="red">禁用</font>
					</if>
				</td>
				<td align="center">

						<a href="{:U('Role/edit',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">修改</a>

					&nbsp;<span style="vertical-align:text-middle;">|</span>&nbsp;
						<a href="javascript:void(0);" onclick="toDel('{$vo.id}','{:U(CONTROLLER_NAME.'/delete')}')">删除</a>
				</td>
			</tr>
			</volist>
		</tbody>
	</table>
	<div id="pages" class="page">{$page}</div>
</form>
        </div>
		</div>
</block>

</body>
</html>