<extend name="Public:base" />
<block name="title">{:L('ABOUT_US_VZ')}</block>
<block name="content">
		<div class="present_vz">
			<div class="pr_c1" style="position: relative;">
				<p style=" padding-top: 430px; font-family: Arial,Verdana,Sans-serif; font-size:70px">{:L('Industry_pr')}</p>
				<p>{:L('Industry_pr_s')}</p>
				<div class="xiala_vz" style="width:40px; padding:0;" onclick="xiala_vzs()"></div>
			</div>
			<div class="pr_c2 content">
				<div class="wid_pr">
					<li class="l1">
						<p class="p1"><span>{:L('What_pr')}</span></p>
						<p class="p2">{:L('WMeikuai_pr')}</p>
					</li>
					<li class="l2">
						<p class="p1">
							<span>{:L('Our_pr')}</span>
							<div class="clear"></div>
						</p>
						<p class="p2">{:L('Oproviding_pr')}</p>
					</li>
					<li class="l3">
						<p class="p1"><span>{:L('Belives_pr')}</span></p>
						<p class="p2">{:L("Bteam_pr")}</p>
					</li>
				</div>
			</div>
			<div class="pr_c3">
				<div class="wid_pr">
					<p class="p_title">{:L('global_pr')}</p>	
					<div class="dd d1">
						<p class="p1"><img src="__IMG__/po_pic_5.png"></p>
						<p class="p2">{:L('California_pr')}</p>
					</div>
<!-- 					<div class="dd d4">
						<p class="p1"><img src="__IMG__/po_pic_8.png"></p>
						<p class="p2">{:L('California_prs')}</p>
					</div> -->
					<div class="dd d2">
						<p class="p1"><img src="__IMG__/po_pic_6.png"></p>
						<p class="p2">{:L('Hong_pr')}</p>
					</div>
					<div class="dd d3">
						<p class="p1"><img src="__IMG__/po_pic_7.png"></p>
						<p class="p2">{:L('Lirendong_pr')}</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="pr_c4">
				<div class="wid_pr">
					<p class="p1">{:L('Port_pr')}</p>
					<p class="p2">{:L('Crossing_pr')}</p>
				</div>
			</div>
		</div>
</block>