<section>
    <div class="ordhead"><h3>{:L('Cer_Upload')}</h3></div>
    <div class="ordbody" <if condition="(L('lng') eq 'zh-cn')"> style="height: 440px;"</if><if condition="(L('lng') eq 'en-us')"> style="height: 520px;"</if>>
    <div class="obtit">
        <p style="color:#000;font-size: 15px;">{:L('Cer_Explain')}</p>
    </div>
    <!-- 增加单项选择 -->
    <div class="pic_radio">
        <ul id="picrad">
            <li><input type="radio" class="radio" name="pic_radio" id="pic_radio_0" value="1" onclick="showview();"><label class="radio" for="pic_radio_0">1.{:L('l_upload_by_shipper')}</label></li>
            <li><input type="radio" class="radio" name="pic_radio" id="pic_radio_1" value="2" onclick="hideview();" checked><label class="radio" for="pic_radio_1">2.{:L('l_upload_by_receiver')}</label></li>
            <!--             <li><input type="radio" class="radio" name="pic_radio" id="2" value="2" onclick="hideview();"><label class="radio" for="2">3.{:L('l_without_uploading')}</label></li> -->
            <div class="clear"></div>
        </ul>
    </div>
    <div class="obconts" id="obcontid2" style="display: none;">
        <p>{:L('Cer_Pho_Back')}</p>
        <img src='<if condition="($html_name eq 'index')">{$back_id_img}<else/>{$back_id_img}</if>' id="fileimage2" style="width: 230px;height: 120px;margin-left: 15px;">
        <input type="file" name="file_two" id="files" accept="image/jpeg,image/jpg,image/png" atd="2" onclick="fileOnchange(this,'#fileimage2')" />
        <label>{:L('Cer_Btn')}</label>
    </div>
    <div class="obcont" id="obcontid1" style="display: none;">
        <p>{:L('Cer_Pho_Front')}</p>
        <img src='<if condition="($html_name eq 'index')">{$front_id_img}<else/>{$front_id_img}</if>' id="fileimage1" style="width: 230px;height: 120px;margin-left: 15px;">
        <input type="file" name="file_one" id="file" accept="image/jpeg,image/jpg,image/png" atd="1" onclick="fileOnchange(this,'#fileimage1')"/>
        <label>{:L('Cer_Btn')}</label>
    </div>
    <script type="text/javascript">
        //        function uploadimg(id,url,imgN){
        //            $(id).fileinput({
        //                language: 'zh',
        //                uploadUrl: url,
        //                showCaption: false,     //是否显示被选文件的简介
        //                showPreview: false,     //是否显示预览区域
        //                showRemove: false,      //是否显示移除按钮
        //                showUpload: false,      //是否显示上传按钮
        //                browseClass: "upload_layerbtn",
        //                browseLabel: "{:L('Cer_Btn')}",    //默认按钮
        //                validateInitialCount:false,
        //                browseIcon:'<i></i>',
        //                // initialPreview:"text files",
        //                allowedFileExtensions : ['jpg','png','jpeg']
        //                // 当文件上传成功后
        //            }).on("fileuploaded", function (event, data, previewId, index){
        //                layer.closeAll('loading');
        //                // 如果接收数据有值 则
        //                if(data.response.status == true){
        //                    layer.msg(data.response.err_info);
        ////                    layer.open({
        ////                        type: 0,
        ////                        offset: '300px',
        ////                        skin: 'demo-class',//自定义样式demo-class
        ////                        shadeClose: true,
        ////                        title: lay_ms,
        ////                        //content : '身份证识别成功！',
        ////                        content : data.response.err_info,
        ////                        icon : 1
        ////                    });
        //                }else{
        //                    layer.open({
        //                        type: 0,
        //                        offset: '300px',
        //                        skin: 'demo-class',//自定义样式demo-class
        //                        shadeClose: true,
        //                        title: lay_ms,
        //                        //content : '身份证识别失败！',
        //						content : data.response.err_info,
        //                        icon : 2
        //                    });
        //                    if(imgN == 'fileimage1'){
        //                        $('#fileimage1').attr('src','__MEMBER__/images/pho_front.png');
        //                    }else{
        //                        $('#fileimage2').attr('src','__MEMBER__/images/pho_back.png');
        //                    }
        //                }
        //                // 当文件选择后
        //            }).on("filebatchselected",function(event, files){
        //                // 自动调用上传按钮
        //                $(this).fileinput("upload");
        //                // 删除进度条
        //                $('.kv-upload-progress').remove();
        //                $('.file-preview').remove();
        //                $('.fileinput-cancel').remove();
        //                layer.load(1, {
        //                    shade: [0.1,'#000'] //0.1透明度的白色背景
        //                });
        //                if(files.length == 0){
        //                    layer.msg("{:L('l_Data_unqualified')}", {icon: 5});
        //                }
        //            });
        //        }
        //        $(function(){
        //            uploadimg("#file","{:U('Order/get_idcard_info_front')}","fileimage1");
        //            uploadimg("#files","{:U('Order/get_idcard_info_back')}","fileimage2");
        //        });
    </script>
    <script>
        // 文件上传赋值到对应图片位置
        function fileOnchange(pid,def){

            var atd = pid.getAttribute("atd");
            var input = pid;

            var res = document.getElementById("fileimage"+atd);

            if(typeof FileReader==='undefined'){
                res.innerHTML = "抱歉，你的浏览器不支持 FileReader";
                input.setAttribute('disabled','disabled');
            }else{
                input.addEventListener('change',readFile,false);
            }
            // 图片文件读取
            function readFile(){
                var file = this.files[0];
                if(file){
                    if(!/image\/\w+/.test(file.type)){
                        layer.open({
                            type: 0,
                            title: false,
                            skin: 'demo-class',//自定义样式demo-class
                            content: "{:L('Up_Documents')}"
                        });
                        return false;
                    }
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function(e){
                        res.src = this.result;  //赋值到src
                    };
                }else{
                    var front_img = '__MEMBER__/images/pho_front.png';
                    var back_img = '__MEMBER__/images/pho_back.png';
                    var tip_img= '__MEMBER__/images/tip.png';
                    if(atd == 1){
                        $(def).attr('src',front_img);
                    }else if(atd == 2){
                        $(def).attr('src',back_img);
                    }else{
                        $(def).attr('src',tip_img);
                    }
                }
            }
        }
        // 显示上传域
        function showview(){
            $('#obcontid1').show();
            $('#obcontid2').show();
        }
        // 隐藏上传域
        function hideview(){
            $('#obcontid1').hide();
            $('#obcontid2').hide();
        }
    </script>
    <if condition="($html_name eq 'newOrder')">
        <script type="text/javascript">
            // 再次下单修改姓名或证件号图片改变
            $(function(){
                var full_name = $('#fullName').val();
                var rel_phone = $('#phone').val();
//            var id_no = $('input[name="IdNo"]').val();
                var id_no = "{$info['idno_old']}";
                if(!_empty__(full_name) && !_empty__(rel_phone) && !_empty__(id_no)){
                    $.ajax({
                        url: "{:U('Order/find_indo_data')}",
                        type:'GET',
                        cache: false,
                        data:{
                            'true_name' : full_name,
                            'tel' : rel_phone,
                            'idno' : id_no
                        },
                        dataType:'json',
                        success:function(data){
                            // 当查到对应数据
                            if(data.status == true){
                                // 如果身份证号码和身份证库对应
                                $('#card_id').val(data.data[0].id);
                                $('#addr_pro_img').val('');
                                $('#addr_bak_img').val('');
                                $('#fileimage1').attr('src',member_url+'/images/notupload_f.png');
                                $('#fileimage2').attr('src',member_url+'/images/notupload_b.png');
                            }else{
                                // 如果身份证号码和身份证库不对应
                                $('#card_id').val('0');
//                            $('#fileimage1').attr('src',member_url+'/images/pho_front.png');
//                            $('#fileimage2').attr('src',member_url+'/images/pho_back.png');
                            }
                        }
                    });
                }
//            var inthisval = $("input[name='IdNo']").val();
//            var rnthisval= $("input[name='RecName']").val();
//            var thisimg1 = $('#fileimage1').attr('src');
//            var thisimg2 = $('#fileimage2').attr('src');
//            $("input[name='IdNo']").bind('input propertychange',function(){
//                var myval = $(this).val();
//                if(inthisval == myval){
//                    $('#fileimage1').attr('src',thisimg1);
//                    $('#fileimage2').attr('src',thisimg2);
//                }else{
//                    $('#fileimage1').attr('src','__MEMBER__/images/pho_front.png');
//                    $('#fileimage2').attr('src','__MEMBER__/images/pho_back.png');
//                }
//            });
//            $("input[name='RecName']").bind('input propertychange',function(){
//                var myval = $(this).val();
//                if(rnthisval == myval){
//                    $('#fileimage1').attr('src',thisimg1);
//                    $('#fileimage2').attr('src',thisimg2);
//                }else{
//                    $('#fileimage1').attr('src','__MEMBER__/images/pho_front.png');
//                    $('#fileimage2').attr('src','__MEMBER__/images/pho_back.png');
//                }
//            });
            });
        </script>
    </if>
    <if condition="($html_name eq 'edit')">
        <script type="text/javascript">
            $('#fileimage1').attr('src','__MEMBER__/images/notupload_f.png');
            $('#fileimage2').attr('src','__MEMBER__/images/notupload_b.png');
            // alert(picro_id);
            $(":radio[name='pic_radio']").removeAttr('checked');
            $(":radio[name='pic_radio'][value='"+picro_id+"']").prop("checked","checked").click();
            $(":radio[name='pic_radio']").addClass('disableds');
            $(":radio[name='pic_radio']").next().addClass('disableds');
            $(".disableds").click(function (event) {
                event.preventDefault();
                layer.open({
                    type: 0 ,
                    title: "{:L('LAY_SystemMessage')}" ,
                    content: "{:L('l_unchangeable')}" ,
                    skin: 'demo-class',//自定义样式demo-class
                    skin: "layermsg",
                    btn: "{:L('LAY_BtnOK')}"
                });
            });
        </script>
        <elseif condition="($html_name eq 'newOrder')"/>
        <script type="text/javascript">
            var lib_id = $('#card_id').val();
            if(lib_id == 0){
//            $('#fileimage1').attr('src','__MEMBER__/images/pho_front.png');
//            $('#fileimage2').attr('src','__MEMBER__/images/pho_back.png');
            }else{
                $('#fileimage1').attr('src','__MEMBER__/images/notupload_f.png');
                $('#fileimage2').attr('src','__MEMBER__/images/notupload_b.png');
            }
            $(":radio[name='pic_radio']").removeAttr('checked');
            $(":radio[name='pic_radio'][value='"+picro_id+"']").prop("checked","checked").click();
        </script>
    </if>
    </div>
</section>
