/* 页面公共样式 */
body{ background:#fff; letter-spacing: 1px; font-family:"Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif; font-size:12px;  margin:0; padding:0;}
a{ text-decoration:none; color:#333; font-size:12px; outline: none; }
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p{ padding:0; margin:0; list-style:none;}
img{ border:0px;}
input,button,select,textarea{outline:0px;outline:none;}
button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
select::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner {  
border: 0; 
outline : 0; 
} 
input:-webkit-autofill {  
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;  
}  
.clear{ height:0; clear:both;} 

/*header 样式**/
.header{width: 100%; min-width: 1004px; background: #232323; height: 135px; position: fixed; left: 0; top: 0; z-index: 999999; opacity: 0.8; }
.header .logo_vz{ height: 50px; width: 386px;  margin-top: 42px;padding-left: 70px; position:absolute; top:0; left: 0; }
.header .logo_vz img{ height: 100%;}
.header .main{width: 1000px; margin: 0 auto;}
.header .main .logo_vzc{ height: 50px; width: 386px;  margin-top: 42px;padding-left: 70px; float: left;}
.header .main .nav{/* width: 420px;*/ height: 135px; line-height: 135px; float: left; font-size: 18px; color:#ffffff; /*margin-left: 20px;*/}
.header .main .nav a{ padding: 0 15px; height:135px; display: block; float: left;color:#ffffff; font-size: 16px;}
.header .main .nav a:hover{color: #c4ac09;}
.header .main .nav a p{height: 2px; background: #c4ac09; margin-top: -20px; display: none;}
.header .main .nav span{float: left;}
.header .login_vz{/* width: 72px;*/ margin-left: 10px; height: 50px; line-height: 50px; font-size: 12px; position: absolute; right: 0; top: 10px; padding-right: 40px; color: #fff;}
.header .login_vz a{color: #ffffff; display: inline-block; padding: 0 2px; cursor: pointer; font-size: 14px; font-family: Arial,Verdana,Sans-serif;} 
.header .login_vz a:hover{text-decoration:underline ;}
.header .login_vz p{ display:inline; width: 60px; overflow: hidden; float: left; text-align: center;}


/* banner 样式**/ 
.banners{width: 100%; min-width: 1004px;padding-top: 135px; height: 155px; background: #000; position: relative; overflow: hidden;}
.banners .left{ width: 38%; float: left; color: #fff; position: relative; }
.banners .left .ads{position: absolute;  right: 10px;}
.banners .left .ads p{ width: 360px; height: 30px; line-height: 30px; font-size: 16px; padding-left: 10px; }
.banners .left .ads p.now{ height: 50px; line-height: 60px; font-size: 18px; padding-top: 20px;}
.banners .right{ width: 62%; float: right;}

/** content样式**/
.content{ color: #575a5e;}
.content .mk_abstr{ width: 1000px; height: 386px; margin: 0 auto; margin-top:50px; background: url(../img/ditu_bj.gif) no-repeat left 20px;}
.content .noe label{ width: 953px; height: 50px; line-height: 50px; display: block; margin: 0 auto; font-size: 24px; color: #b99663; border-bottom:1px solid #000;}
.content .mk_abstr .contents{font-size: 17px; line-height: 170%; width: 953px;margin: 0 auto;margin-top: 16px; }
.content .distribute{ width: 1000px; height: 600px; margin: 0 auto;  background: url(../img/ditu_bj.gif) no-repeat right bottom; }
.content .distribute .pic{ width: 953px; height: 290px; margin: 0 auto; margin-top: 16px;}
.content .distribute .main{ width: 953px; margin: 0 auto; margin-top: 16px;}
.content .distribute .main li{display: block; float: left; padding: 10px 50px;  font-size: 14px;}
.content .distribute .main li p{ width: 100%;}
.content .distribute .main li p img{ display: block; margin: 20px auto; }
.content .distribute .main li span{ line-height: 20px; text-align: center; display: block;}
.content .resource{width: 1000px; height: 530px; margin: 0 auto; background: url(../img/ditu_bj.gif) no-repeat right bottom; }
.content .resource p{width: 953px; height: 367px; margin: 0 auto; margin-top: 16px;}
.content .resource span{width: 953px; height: 70px;  line-height:70px; font-size: 14px; text-align: center; display: block; margin: 0 auto; }

/* footer 样式*/
.footer{ width: 100%; min-width: 1004px; height: 114px; padding-top: 2px;border-top: solid 8px #232323; background:#c4ac09!important; }
.footer .foot-main{width: 100%; height: 130px; background: #232323; color: #fff; font-size: 14px; padding: 60px 0;}
.footer .foot-main li.now{ height: 40px;} 
.footer .foot-main li.now span{ height: 40px; display: inline-block;  margin: 0 10px;}
.footer .foot-main li.now span img{ vertical-align: -5px; margin-right: 3px;}
.footer .foot-main li{/*height: 26px;*/ line-height: 35px; text-align: center;  }
.footer .foot-main li a{ color: #fff; font-size: 14px;}
.navleft{text-align: left;}



/* 新轮播样式 20161026 伦 */
.banner_vz{position: relative;  min-width: 1009px; overflow: hidden;  }
.banner_vz .pic_vz{position: relative; }
.banner_vz .pic_vz div{ position: absolute; top: 0; left: 0; width: 100%; }
/*.banner_vz .pic_vz div.swipe_1{ z-index: 1000;}*/
.banner_vz .pic_vz div.swipe_2,.banner_vz .pic_vz div.swipe_3,.banner_vz .pic_vz div.swipe_4{display: none;}
.banner_vz .pic_now_vz{ width: 300px; position: absolute; left: 50%; margin-left: -150px; bottom: 70px; z-index: 111110;}
.banner_vz .pic_now_vz span {padding: 7px 0; display: inline-block; float: left;cursor: pointer;}
.banner_vz .pic_now_vz span label{ display: inline-block; width:55px; height: 3px;  margin: 0 10px; float: left; background: #fff;  cursor: pointer;}
.banner_vz .pic_now_vz  span:hover{opacity: 0.8;}
.banner_vz .pic_now_vz .pic1 .p1 label{ background: #ffde00;}
.banner_vz .pic_now_vz .pic2 .p2 label{ background: #ffde00;}
.banner_vz .pic_now_vz .pic3 .p3 label{ background: #ffde00;}
.banner_vz .pic_now_vz .pic4 .p4 label{ background: #ffde00;}
.xiala_vz{ width: 40px; height: 40px; position: absolute; bottom: 10px; left: 50%; margin-left: -20px; cursor: pointer; background: url(../img/xiala_home.png ) no-repeat; background-size: 100%;}
.banner_vz .jia{ width: 50px; height: 80px; position: absolute; top: 50%; right: 20px; margin-top: -40px; background: url(../img/home_zuo.png) no-repeat; background-position: center; cursor: pointer; opacity: 0.8;}
.banner_vz .jian{ width: 50px; height: 80px; position: absolute; top: 50%; left: 20px; margin-top: -40px;background: #000; background: url(../img/home_you.png) no-repeat; background-position: center; cursor: pointer;opacity: 0.8;}
.banner_vz .jia:hover,.banner_vz .jian:hover{opacity: 1;}
/* 查询区 20161026 伦 */
.in_vz{ width: 1002px; margin: 0 auto; border: 1px solid #232323; padding: 25px 0; margin-top:75px; }
.in_vz .left_vz{ width: 498px; float: left; border-right: 2px solid #acacac;}
.in_vz .right_vz{ float: left; width: 500px; position: relative;}
.in_vz .left_vz p,.in_vz .right_vz p{ margin: 10px 35px; line-height: 50px;}
.in_vz .left_vz p.title,.in_vz .right_vz p.title{color: #232323; font-size: 19px; font-weight: bold;}
.in_vz .left_vz p.p2,.in_vz .left_vz p.p3,.in_vz .right_vz p.p2,.in_vz .right_vz p.p3,.in_vz .right_vz p.p4{ border: 1px solid #232323; border-radius: 9px; height: 50px;}
.in_vz .left_vz p.p2 label,.in_vz .right_vz p.p2 label{ margin-left: 25px; font-size: 15px; color: #232323;}
.in_vz .left_vz p.p3{ margin-top:20px; position: relative; }
.in_vz .left_vz p.p3 .s1{ width: 250px; height: 50px; margin-left: 25px; display: inline-block;}
.in_vz .left_vz p.p3 .s1 input{ width: 250px; height: 30px; line-height: 30px; border-width: 0; margin-top: 10px; font-size: 15px;}
.in_vz .left_vz p.p3 .s2,.in_vz .right_vz p.p4 .s2{ width: 76px; height: 50px; float: right;}
.in_vz .left_vz p.p3 .s2 input,.in_vz .right_vz p.p4 .s2 input{ width: 78px; height: 50px; line-height: 50px;border-radius: 9px;background: #232323;border-width: 0; color: #ffde00; font-size: 18px; cursor: pointer; }
.in_vz .left_vz p.p4{ line-height: 24px; color: #a5a5a5; font-size: 15px; margin-top: 20px;} 
.in_vz .right_vz p.p3,.in_vz .right_vz p.p4{ margin-top: 20px; font-size: 15px;}
.in_vz .right_vz p.p3 label{ margin-left: 25px;} 
.in_vz .right_vz p.p3 .select{ width: 200px; border-width:0; color:#232323; font-size: 15px;}
.in_vz .right_vz p.p3 span{ font-size: 16px; color:#232323;float: right;  margin-right: 20px; }
.in_vz .right_vz p.p4 label{ margin-left: 20px;}
.in_vz .right_vz p.p4 #fre_kg,.in_vz .right_vz p.p4 #fre_lb{ border-width:0;font-size: 15px;  background: #fff; text-align: center;  width: 41px; border-bottom: 1px solid #232323;}
.in_vz #hint{position: absolute;    top: 56px; left: 20px; width: auto; line-height: 40px; background: #fff9c9; font-size: 14px; padding: 5px 10px; border: 1px solid #c7bf93; border-radius: 3px;    white-space: nowrap;}
.in_vz #hint smap{width: 9px; height: 9px; position: absolute; top: -6px; left: 50px;}
/* 20170609 修改 伦 kg 转 lb 处样式 */
.in_vz .right_vz p.p4 .z1{width: 53px; cursor: pointer; position: relative; overflow: hidden;}
.in_vz .right_vz p.p4 .z1 .val{ display: inline-block;  height: 24px;}
.in_vz .right_vz p.p4 .z1 .val,.in_vz .right_vz p.p4 .z4{ letter-spacing: 0; font-size: 14px;}
.in_vz .right_vz p.p4 .z1 .la,.in_vz .right_vz p.p4 .z3{vertical-align: -4px; display: inline-block;}
.in_vz .right_vz p.p4 .ab_div{display:none; position: absolute; top: 25px; left: -10px; min-width: 70px; max-height:150px;  border:1px solid #dadada; border-width: 0 1px 1px 1px;  background: #fff;z-index: 9998; }
.in_vz .right_vz p.p4 .ab_div label{ width: 70px; display: inline-block; height: 30px; line-height: 30px; padding: 0 12px; margin: 0; border-top: 1px solid #dadada;}
.in_vz .right_vz p.p4 .ab_div label.sel{ background: #F8F8F8;}
.in_vz .right_vz p.p4 .ab_div label:hover{background: #ececec;}

#chunk_vz{left: 60px; top: 193px!important;}
#chunk_vz{ display: none; position: absolute;  z-index: 9999; background: #fff; width: 380px; border:1px solid #888;}
#chunk_vz h3{ height: 37px; line-height: 37px; padding-left: 5px; color: #c58f40 ; border-bottom: 1px solid #DDD; font-size: 14px; }
#chunk_vz h3 span{display: block; float: right; width: 20px; width: 20px; cursor: pointer; font-size: 20px;}
#chunk_vz h3 span:hover{ color: red;}
#chunk_vz .navs{ width: 360px; padding:10px 15px; height: 30px;}
#chunk_vz .navs span{width: 74px; height: 26px; line-height: 26px; text-align: center; border: 1px solid #c58f40; border-left: none; display: block; float: left; cursor: pointer;}
#chunk_vz .navs span.now{border-left:1px solid #c58f40; }
#chunk_vz .navs span.ccs{border-bottom:none; color:#c58f40; }
#chunk_vz .navs span.wcd{border-top:none; border-left: none; border-right: none; margin: 0; padding: 0; height: 27px; }
#chunk_vz .mains{width: 360px; padding: 10px 15px;}
#chunk_vz .mains a{ display: block; float: left; text-align: center; color: #999; width: 110px; height: 26px; line-height: 26px; margin: 0 3px; cursor: pointer;}
#chunk_vz .mains a:hover{ background: #c58f40; color: #fff;}
#chunk_vz #main2 a{width: 180px; margin: 0;}
/* 二维码区域样式 20161027 */
.erweima_vz{ width: 1004px; margin: 0 auto; color: #232323; background: #fff;}
.erweima_vz .title_vz{ width: 330px; margin: 0 auto; height: 100px;}
.erweima_vz .title_vz span{ float: left;}
.erweima_vz .title_vz .p1{ line-height: 45px; font-size: 28px; text-align: center;}
.erweima_vz .title_vz .p2{ font-size: 14px;  line-height: 24px;text-align: center;}
.erweima_vz .coner_vz{ margin-top: 30px;}
.erweima_vz .coner_vz .dd{ width: 330px; float: left; text-align: center;}
.erweima_vz .coner_vz .dd .p3{font-size: 14px;line-height: 24px;}
.erweima_vz .coner_vz .d2 .p2{ font-size: 26px; line-height: 54px;}

.banrdcc_vz{ min-width: 1008px; width: 100%; margin-top: 70px; position: relative; background: url(../img/center_pic_bj.jpg) no-repeat; background-position: center; height: 320px;}
.banrdcc_vz img{ width:100%; height: auto; }
.banrdcc_vz .text_vz{ width: 1004px; margin: 0 auto; height: 200px; padding-top: 20px;}
.banrdcc_vz .text_vz p{ text-align: right; color: #fff; font-size: 16px; line-height:30px; padding-top: 20px;}
.banrdcc_vz .text_vz .p1{font-size: 45px; line-height: 60px; font-weight: bold;display: inline-block;    width: 1800px;    float: right;}

.intecc_vz{ width: 1004px; margin: 0 auto; margin-top: -47px; z-index: 1000; margin-bottom: 70px; color: #232323;letter-spacing: 0px;}
.intecc_vz .inte_vz_1 {position: relative; z-index: 1000;}
.intecc_vz .inte_vz {width: 502px; float: left;} 
.intecc_vz .inte_vz div{ margin-top: 20px; font-size: 16px; line-height: 30px;}
.intecc_vz .inte_vz div label{ font-weight: bold; font-size: 18px;}
.intecc_vz .inte_vz_2{ margin-top: 150px; padding-left: 30px; width: 470px;}
.intecc_vz .inte_vz_3{ margin-top: -60px;}
.intecc_vz .inte_vz_4{ margin-top: 80px;padding-left: 30px; width: 470px;}

/* 在线客服 20161027 伦*/
.k_service{ position: fixed; top: 173px; right: 35px; width: 130px; height: 280px; background:#232323; z-index: 1000;opacity: 0.8;}
.k_service p{ text-align: center; line-height: 24px; color: #fff; font-size: 14px;}
.k_service .p1{ padding: 10px 0 3px 0;}
.k_service .p3{ color:#ffde00; }
.k_service .p5{ padding-top:5px; }

/* 客户服务页面 20161027 伦 */
.banners_vz{ height: 849px; background: url(../img/se_bj_vz.jpg) no-repeat; background-position: center; position: relative;min-width: 1004px;}
.banners_vz div{ width: 1000px; margin: 0 auto; padding-top: 360px;}
.banners_vz div .p1{ color: #fff; font-size: 50px; line-height: 70px; font-weight: bold;}
.banners_vz div .p2{ color: #fff; font-size: 16px; line-height: 35px; margin-top: 20px; }

.sol_content{width: 100%!important; padding: 170px 0; min-width: 1004px;  overflow: hidden; height: 340px; position: relative;}
.main_vz{ width: 1503px; border: 1px solid #c6c6c6; position: absolute; left: 50%; margin-left: -751px;}
.main_vz .now{ width: 500px; float: left; height: 340px;border: 1px solid #c6c6c6;}
.main_vz .now:hover{background: #f9f9f9;}
.main_vz .now .d1{ width: 340px; margin: 70px 0 0 60px; width: 370px; height: 120px;}
.main_vz .now .d1 span{ float: left; margin-top: 10px;}
.main_vz .now .d1 p{ height: 120px; line-height: 120px; padding-left: 130px; font-size: 18px; color: #232323; }
.main_vz .now .d1 p label{ padding-bottom: 5px; border-bottom: 1px solid #232323; cursor: pointer;}
.main_vz .now .d2 p{ padding: 0  0 0 60px;line-height: 30px; color: #858585; margin-top: 8px; font-size: 15px;}
.main_vz .now1{ border-width: 0 1px 0px 0;}
.main_vz .now2{ border-width: 0 1px 0px 0;}
.main_vz .now3{ border-width: 0 0px 0px 0;}


/* 功能介绍页面 20161028 伦 **/
.function_vz{ background: #f5f5f5; margin-bottom: 30px;}
.function_vz .top_fu{ height: 860px; width: 100%; background: url(../img/fu_pic_1.jpg); margin-top: 0px; background-position: center; min-width: 1004px;}
.function_vz .top_fu .text_fu{width: 990px; margin: 0 auto;}
.function_vz .top_fu .text_fu div{ /*width: 680px; */margin: 0 auto;padding-top: 430px; }
.function_vz .top_fu .text_fu div li{ padding:  0 0px; font-size: 60px; color: #fff; font-weight: bold;}
.function_vz .top_fu .text_fu div .p2{/* padding:  0 55px;*/  color: #fff; font-size: 15px; margin-top: 20px; line-height: 28px;}

.function_vz .c1_fu{ line-height: 400px; margin: 0 auto; width: 990px;  padding: 47px 0;}
.function_vz .c1_fu .now{ width: 470px; float: left;}
.function_vz .c1_fu .now2{ float: right;}
.function_vz .c1_fu .now .l1{ height: 285px; vertical-align: top;}
.function_vz .c1_fu .now .l1 span{ display: table-cell;height: 100%; vertical-align: middle;}
.function_vz .c1_fu .now .l1 .s1 label{ width: 138px; text-align: center; height: 285px; line-height: 285px; display: inline-block; background: #fff; color: #212020; font-weight: bold; font-size: 16px;    letter-spacing: 0px;}
.function_vz .c1_fu .now .l2{ font-size: 15px; color: #212020; letter-spacing: 0px; line-height: 24px;}
.function_vz .c1_fu .now .l2 span.pic_n{ width: 25px; height: 16px; ; background: url(../img/fu_pic_11.jpg); display: inline-block; vertical-align: -3px; margin-right: 10px;    margin-left: 20px;}
.function_vz .c1_fu .now .l3{line-height: 50px; text-align: center;font-size: 16px; font-weight: bold; color: #000;}

.function_vz .fu_c2 {height: 648px; width: 100%; min-width: 1004px; background: url(../img/fu_pic_4.jpg); background-position: center;}
.function_vz .fu_c2 .tr_vz{ width: 990px; margin: 0 auto;}
.function_vz .fu_c2 .tr_vz div{ width: 700px; float: left; margin: 180px 0 0 52px;color: #fff; }
.function_vz .fu_c2 .tr_vz div .p1{ font-size: 70px; font-weight: bold; line-height: 90px;}
.function_vz .fu_c2 .tr_vz div .p2{ font-size: 16px; line-height: 30px; margin-top: 10px;}

.function_vz .fu_c3{ width: 990px; margin: 0 auto; padding: 50px 0;}
.function_vz .fu_c3 .now{ width: 300px; float: left;padding:0 15px;}
.function_vz .fu_c3 .now p{text-align: center;}
.function_vz .fu_c3 .now .p2{color: #404040; font-size: 16px; font-weight: bold; line-height:18px;margin-top: 10px;}
.function_vz .fu_c3 .now .p2 span{font-size: 24px; height: 16px; vertical-align: -4px; margin-right: 2px;}
.function_vz .fu_c3 .now .p3{ text-align: left; color: #6f6f6f;line-height: 18px; font-size: 13px; color: #404040;margin-top: 10px;letter-spacing: 0px;}
.function_vz .fu_c3 .now .p3 span{  display: block;}

.function_vz .fu_c4 { width: 100%; min-width: 1004px; height: 640px; background: url(../img/fu_pic_9.jpg) 50% #f5f5f5 no-repeat; background-position: center;    position: relative; overflow: hidden;}
.function_vz .fu_c4 p{ color: #fff; text-align: center;}
.function_vz .fu_c4 div{ position: absolute; width: 1500px; left: 50%; margin-left: -750px; }
.function_vz .fu_c4 .p1{ font-size: 70px; font-weight: bold; padding-top: 170px;}
.function_vz .fu_c4 .p2{ font-size: 16px; padding-top: 20px; line-height: 30px;}

.function_vz .fu_c5{ width: 990px; margin: 0 auto; padding: 25px 0;}
.function_vz .fu_c5 .now{width: 445px; float: left; margin: 0 25px;background: #fcfcfc; text-align: center; padding: 20px 0;}
.function_vz .fu_c5 .now li{ width: 340px; margin: 0 auto;}
.function_vz .fu_c5 .now .l1{line-height: 24px;padding: 12px 0; text-align: center;  color: #333333; font-size: 18px; font-weight: bold; border-bottom: 1px solid #ffde00; }
.function_vz .fu_c5 .now .l1 span{ font-size: 30px; display: inline-block; vertical-align: -4px;}
.function_vz .fu_c5 .now .l2 p{ color: #777777; min-height: 100px; line-height: 24px;font-size: 16px; padding-top: 13px; text-align: left; }

.function_vz .fu_c6{ width: 100%; min-width: 1004px; height: 860px; background: url(../img/fu_pic_10.jpg) 50% #f5f5f5 no-repeat; background-position: center;}
.function_vz .fu_c6 .tr_vz{ margin: 0 auto; position: relative;overflow: hidden;}
.function_vz .fu_c6 .tr_vz .absolute{position: absolute; width: 1500px; top:90px; left: 50%; margin-left: -750px;}
.function_vz .fu_c6 .tr_vz .l1{ text-align: center; color: #fff; font-size: 80px; padding-top: 20px; font-weight: bold;letter-spacing: 7px;}
.function_vz .fu_c6 .tr_vz .l2{ text-align: center; color: #fff; font-size: 20px; line-height: 30px; padding-top: 10px;}
.function_vz .fu_c6 .tr_vz .l3 {padding-top: 413px;width: 1004px; margin: 0 auto;}
.function_vz .fu_c6 .tr_vz .l3 .dd{width: 345px; float: left; margin-left: 90px; position: relative;}
.function_vz .fu_c6 .tr_vz .l3 .dd .p1{ background: #fff; filter:alpha(opacity=50);   -moz-opacity:0.5;  -khtml-opacity: 0.5;     opacity: 0.5;height: 220px; }
.function_vz .fu_c6 .tr_vz .l3 .dd .p2{ line-height: 55px; height: 55px; text-align: center; background: #4f4f4f; color: #fff; font-size: 18px;}
.function_vz .fu_c6 .tr_vz .l3 .dd .p3{ position: absolute; top: 65px; left: 0; color: #232323; width: 345px; text-align: center; font-size: 16px;line-height: 24px;}
/*  关于美快页面 20161028 伦  */
.present_vz{padding-bottom: 30px;}
.present_vz .pr_c1{ width: 100%; min-width: 1004px; height: 840px; background: url(../img/po_pic_1.jpg); background-position: center; margin-top: 0px;}
.present_vz .pr_c1 p{ color: #fff; font-size: 60px; text-align: center;font-weight: bold;}
.present_vz .pr_c2{ width: 100%; min-width: 1004px;padding-bottom: 56px; background: url(../img/po_pic_2.jpg); background-position: center;}
.present_vz .pr_c2 .wid_pr{ width: 990px; margin: 0 auto;}
.present_vz .pr_c2 .wid_pr li{ padding-top:20px; }
.present_vz .pr_c2 .wid_pr li .p1{ padding: 0 15px;}
.present_vz .pr_c2 .wid_pr li .p1 span{ min-width: 300px; height: 40px; line-height: 38px; border-bottom: 1px solid #4f4f4f; color: #4f4f4f; font-size: 22px; font-weight: bold; display: inline-block; text-align: center;}
.present_vz .pr_c2 .wid_pr li .p2{ padding: 25px; text-indent:34px;/* min-height: 130px; */background: #fff; margin-top: 25px; font-size: 16px; line-height: 30px; color: #3b3b3b;}
.present_vz .pr_c2 .wid_pr li.l2 .p1 span{ float: right;}
.present_vz .pr_c2 .wid_pr li.l2,.present_vz .pr_c2 .wid_pr li.l3{ margin-top: 20px;}

.present_vz .pr_c3{ width: 100%; min-width: 1004px; height: 740px; background: url(../img/po_pic_3.jpg); background-position: center;}
.present_vz .pr_c3 .wid_pr{ width: 1330px; margin: 0 auto;}
.present_vz .pr_c3 .p_title{ font-size: 35px; color: #282828; padding: 120px 0px 90px 0px; text-align: center; font-weight: bold; line-height: 60px;}
.present_vz .pr_c3 .dd{ width: 330px; float: left;}
.present_vz .pr_c3 .dd p{text-align: center;}
.present_vz .pr_c3 .dd .p2{ line-height: 24px; color: #484038; font-size: 14px;}

.present_vz .pr_c4{ width: 100%; min-width: 1004px; height: 710px; background: url(../img/po_pic_4.jpg); background-position: center;}
.present_vz .pr_c4 .wid_pr{ width: 990px; margin: 0 auto;}
.present_vz .pr_c4 .p1{ color: #fff; font-size: 70px;  padding: 260px 0 0 30px; font-weight: bold;}
.present_vz .pr_c4 .p2{ color: #fff; font-size: 16px;  padding: 0px 0 0 30px;line-height: 26px;}

/* 客户服务补充内容区 */
.news_conter .xian_ne{width: 100%; height: 10px; background: #e9e9e9;}
.news_conter .title_ne{width: 1004px; margin: 0 auto; line-height: 60px; height: 60px;  font-size: 18px; font-weight: bold; color: #1e1e1e; overflow: hidden;}
.news_conter .title_ne span{font-size: 14px; font-weight: 100; }
.news_conter .title_ne label{display: inline-block; width: 13px; height: 13px; float: left; background: #2f2f2f;-webkit-transform: rotate(45deg); margin: 23px 10px 0 10px;}
.news_conter .wei_ne{ width: 1004px; margin: 0 auto;text-align: center; margin-bottom: 40px;}
.news_conter .wei_ne li{display: inline-block;width: 33%;}
.news_conter .wei_ne li p{ line-height: 24px; color: #6b2d00; font-size: 14px; padding-top: 5px;}
.news_conter .wei_ne li p a{color: #6b2d00; font-size: 14px; cursor: pointer;}
.news_conter .wei_ne li p a:hover{border-bottom: 1px solid #6b2d00; }
.news_conter .tousu_ne{width: 992px; margin: 50px auto; border:1px #c7c7c7 dashed; height: 123px; line-height: 123px; text-align: center;}
.news_conter .tousu_ne .cl{width: 220px; height: 90px; margin: 16px auto;}

.news_conter .tousu_ne span{width: 90px; height: 90px; display: inline-block; float: left;}
.news_conter .tousu_ne spam{display: inline-block;height: 90px; line-height: 90px; font-size: 16px; }
.news_conter .tousu_ne spam a{font-size: 16px; color: #272525; cursor: pointer;}
.news_conter .tousu_ne spam a:hover{border-bottom: 1px solid #272525; }
.news_conter .foot_ne{width: 100%; height: 280px; background-position: center; margin-bottom: 40px; min-width: 1004px;}


/* 注册协议样式 */
.prtocol .pr_img{ width: 100%; min-width: 1200px; overflow: hidden;}
.prtocol .pr_img img{ width: 100%;}
.prtocol .pr_content{ width: 1200px; margin: 35px auto;}
.prtocol .pr_content .titlec{line-height: 50px; font-size: 22px; font-weight: bold; background: #232323; color: #fff; text-align: center;}
.prtocol .pr_content .title{text-indent:33px; margin-top: 20px; font-size: 18px; font-weight: bold; line-height:50px;color: #000000;}
.prtocol .pr_content .mk_c{font-size: 16px;  line-height: 26px; color: #000000;text-indent:33px}
.prtocol .pr_content a{font-size: 16px; }



/* 弹出框样式 */
.alert_custom{display: none;}
.alert_custom .bj_cu{top: 0; left: 0; bottom: 0; right: 0; position: fixed; background: #000; opacity: 0.5; z-index: 999999998889;}
.alert_custom .content_cu{ position: fixed; top: 50%; left: 50%; width: 477px;padding-bottom:25px; min-height: 180px; margin-top: -111px; margin-left: -238px; background: #fff; z-index:1999999998889 }
.alert_custom .title{line-height: 53px; background: #000000; text-align: center; font-size: 18px; color: #ffde00; letter-spacing: 2px; border-bottom: 2px solid #ffde00;}
.alert_custom .cont{ padding: 35px 25px; text-align: center; font-size: 24px; color: #000;line-height: 30px; }
.alert_custom .sub{text-align: center;  }
.alert_custom .sub span{ line-height: 28px; font-size: 16px; color: #000; text-align: center; width: 75px; display: inline-block; border-radius: 5px; background:  #ffde00; cursor: pointer;}



/* 注册404页面 */
#sendmailok_vz{
    width:660px; height: 390px; margin: 90px auto 170px auto;background: #f9f9f9;
    -webkit-box-shadow:0 0 15px #a9a9a9;  
    -moz-box-shadow:0 0 15px #a9a9a9;  
    box-shadow:0 0 15px #a9a9a9;      
 }

#sendmailok_vz p{margin: 0 20px; text-align: left; color: #000; line-height: 35px; font-size: 15px;}
#sendmailok_vz p a{font-size: 15px;}
#sendmailok_vz p.p1{padding: 40px 0 30px 0;min-height: 75px; }
#sendmailok_vz p.p1 img{float:left;}
#sendmailok_vz p.p1 label{ font-size: 90px; height: 75px; display: inline-block; line-height: 75px; padding-left: 20px; float: left;}
#sendmailok_vz p.p1 span{ font-size: 28px;padding-left: 20px;    display: inline-block;   line-height: 40px;}
#sendmailok_vz p.hr{height: 1px; background: #ccc;}
#sendmailok_vz p.p2c{padding-top: 15px;}
#sendmailok_vz p.red,#sendmailok p.red a{color:#ff0000;}
#sendmailok_vz p a:hover{color: #3756f4;}


