.content{ width: 1000px;  margin: 0 auto;}
.content .dologin{ height: 500px; margin: 20px 0; border:1px solid #eee;   color: #000;}
.content .dologin p{ height: 50px; line-height: 50px; margin-top: 20px; }
.content .dologin p label{ width: 350px; text-align: right; display: block; float: left;font-size: 18px;}
.content .dologin p input{ height: 40px; width: 250px; border:1px solid #C58F40; margin:5px 0 0 20px; font-size: 16px; padding: 0 10px; color: #000; display: block; float: left; }
.content .dologin p img{ width: 120px; height: 40px; margin-top: 5px; margin-left: 370px; cursor: pointer;}
.content .dologin p.title{font-size: 22px; width: 200px; font-weight: 100; margin-left: 370px; }
.content .dologin p input.btns{ width: 80px; height: 40px;line-height: 40px; font-size: 14px; text-align: center; background: #fff; display: block; margin-left: 370px; border:1px solid #C58F40; cursor: pointer;}
.content .dologin p input.btns:hover{background: #F9E9D2; }
.content .pay{ height: 500px;}
.content .pay p span{  margin-left:20px; font-size: 16px; }
.content .pay p.nee span{ margin: 0;  position: relative;width: 40px;line-height: 40px;background: #FFF9C9 none repeat scroll 0% 0%; font-size: 14px; padding: 5px 10px;border: 1px solid #C7BF93;border-radius: 3px; top: 50px;left: -250px;}
.content .pay p.nee span img{ margin: 0; width: 9px;height: 9px;position: absolute;top: -6px;left: 50px; display: block;}

.reset_vz { padding-top: 135px;  width: 100%; margin: 0; background: #000;}
.reset_vz .dologin{ margin: 0; border:none; height:656px;  background: url(../img/reset.jpg) no-repeat; background-position: center; padding: 0; position: relative;}
.reset_vz .dologin p{margin-top: 0;}
.reset_vz .set_vz_bj{ position: absolute;  width: 328px; height: 360px; top: 95px; left: 50%; margin-left: -164px;  background: #000; opacity: 0.7; z-index: 1000; }
.reset_vz .ser_cont_vz{ position: absolute;  width: 328px; height: 360px; top: 95px; left: 50%; margin-left: -164px;  z-index: 1001; color: #fff;}
.reset_vz .ser_cont_vz p.title{width:auto;  margin-left: 0; text-align: center; padding: 30px 0 20px 0; height: 35px; line-height: 35px; font-size: 18px;}
.reset_vz .ser_cont_vz p{padding: 5px 20px;}
.reset_vz .ser_cont_vz p.p1 smap{display: inline-block; width: 100%; border-radius: 5px; background: #000; opacity: 0.5; height: 100%;}
.reset_vz .ser_cont_vz p.p2{position: absolute; width: 288px;height: 60px; top: 85px; left: 0;}
.reset_vz .ser_cont_vz p.p3{position: absolute; width: 288px;height: 60px; top: 145px; left: 0;}
.reset_vz .ser_cont_vz p.p4{position: absolute; width: 288px;height: 60px; top: 205px; left: 0;}
.reset_vz .ser_cont_vz p.pp label{width: 20px; height: 20px; margin: 15px 10px;}
.reset_vz .ser_cont_vz p.pp input{ width: 240px; margin: 0; padding: 0; background: none; border-width: 0; height: 30px; margin-top: 10px; font-size: 15px; color: #fff;}
.reset_vz .ser_cont_vz p.p2 label{background: url(../img/set_user_pic.png) no-repeat;}
.reset_vz .ser_cont_vz p.p3 label{background: url(../img/set_email_pic.png) no-repeat;}
.reset_vz .ser_cont_vz p.p4 label{background: url(../img/set_vey_pic.png) no-repeat;}
.reset_vz .ser_cont_vz p.p4 input{ width: 150px;}
.reset_vz .ser_cont_vz p.p4 img{margin:10px 12px; width: 70px; height: 30px;}
.reset_vz .ser_cont_vz p.btns_vz .btns{ margin: 10px 80px; display: inline-block; width: 125px; height: 35px; border-radius: 17px; background: #94821a; color: #fff; border-width: 0px; line-height: 35px; font-size: 14px;font-weight: bold; /*margin-left: 77px; */}
.reset_vz .ser_cont_vz p.btns_vz .btns:hover{background: #9C870B;}
.reset_vz .ser_cont_vz p.btns_vz{ text-align: center;}

.reset_vz .send_bj{ margin-top: -150px; width: 988px; height: 300px; position: absolute; background: #000; opacity: 0.55; z-index: 1000; border:1px solid #8e8d8e; top: 50%; left: 50%; margin-left: -494px;}
.reset_vz .send_cont{ margin-top: -150px; font-weight: bold; width: 938px; height: 200px; position: absolute; z-index: 10001; top: 50%; left: 50%; margin-left: -494px; padding: 50px 25px; line-height: 30px; color: #fff; font-size: 16px;}
.reset_vz .send_cont #send_email{color: #f6d602;}
.reset_vz .send_cont strong{color: #f6d602;}
.reset_vz .send_cont font a{color: #fff; font-size: 16px; }
.reset_vz2 p.pp input.tts{ margin-left: 15px; width: 250px; }
.reset_vz2 p.pp input.vey{margin-left: 15px;    width: 170px;}
.reset_vz .ser_cont_vz p.tishi_p{padding: 0;min-height: 24px; line-height: 24px; height: auto; height: 24px; overflow: hidden; padding: 0 20px;}
.reset_vz .ser_cont_vz p.tishi_p img{height: 24px; width: auto;}




