<div style="width:210mm;height:148mm;padding:5mm">
	<table style="width:100%;height:100%;border:1px solid #000000;" border="0">
		<tr style="padding:3mm">
			<td valign="top" style="height:20mm;width:50%;padding:3mm">
				<img src="" style="height:6mm" />美快国际物流图片<br/>
				http://美快.com<br/>
				跨境电子商务国际物流解决方案专家</td>
			<td valign="top" style="padding:3mm"><img src="/App3/barcode.php?text=MK881000666US" style="height:18mm" /></td>
		</tr>
		<tr>
			<td valign="top" style="padding:3mm">
				寄件人：<br>
					联系人<br>
					联系地址<br>
					邮政编码<br>
					联系电话<br>
				---------------------<br>
				收件人:<br>
					联系人<br>
					联系地址<br>
					邮政编码<br>
					联系电话<br>
				---------------------<br>
				物品内容：<br>
					字符串显示，多记录时 用；隔开	<br>
			</td>
			<td valign="top" style="padding:3mm">
				揽收仓库：(读取mk_logs state=8 mstr1 和 时间<br/>
				中转方式：美快国际物流香港中转仓中转 "申通香港公司"<br/>
				<img src="/App3/barcode.php?text=55324158755" style="height:18mm" />
				<div>
					----------------<br/>
					说明：此回执为<a href="http://美快.com" target="_blank"><b>美快国际物流</b></a>发出<br/>
							辨别真伪请登录：http://美快.com<br/>
							防伪码：dfisd92340sdf023
				</div>
			</td>
		</tr>		
	</table>
</div>