<extend name="./base" />

<block name="main">

    <div class="container" >
        <div class="col-md-12">
            <div class="rtop">
                <table border="0" cellpadding="0" cellspacing="0" class="table" style="margin-bottom:0px">
                    <tr>
                        <td style="border-top:none">

                            <h4 style="text-align:right">
                                您当前所在位置：EMS订单
                            </h4>
                        </td>
                    </tr>

                </table>
            </div>

            <div class="container" style="width:100% !important;">
                <table border="0" class="table table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>美快单号</th>
                        <th>运单号</th>
                        <th>推送状态</th>
                        <th>返回信息</th>
                        <th>推送时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody style="font-size:15px;">
                    <foreach name="list" item='v'>
                        <tr {$key % 2 == 0 ?'':'style="background-color:#ddd;"'}>
                        <td class="td1">{$key + 1}</td>
                        <td class="td1">{$v['MKNO']}</td>
                        <td class="td1">{$v['STNO']}</td>
                        <td class="td1">

                            <switch name="v['res']['ems_state']">
                                <case value="0">
                                    <font color="red">推送失败</font>
                                </case>
                                <case value="1">
                                    <font color="green">推送成功</font>
                                </case>
                                <default />其他
                            </switch>

                        </td>
                        <td class="td1">{$v['res']['ems_return']}</td>
                        <td>{$v['res']['sys_time']}</td>

                        <td align="center" class="td3">
                            <a href="{:U('PostManagement/info',array('id'=>$v['id']))}" data-toggle="modal" data-target="#myModal">查看</a>
                            <if condition="$v['res']['ems_state'] == 0">
                                |
                                <a href="javascript:;" id="{$v['id']}button" onClick="pushOrder({$v['id']},{$line},{$lading_id})">推送</a>
                            </if>
                        </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>

            <div id="pages" class="page">{$page}</div>

            <script>
                function pushOrder(orderid,line,lading) {
                    if(confirm('请确保订单正确！是否推送')){
                        $('#'+orderid+'button').removeAttr('onclick');//去掉a标签中的onclick事件
                        $.ajax({
                            url:"{:U('EmsOrder/pushOrder')}",
                            type:'post',
                            data:{
                                'orderid':orderid,
                                'line':line,
                                'ladingid':lading
                            },
                            success:function (data){
                                alert(data['msg']);
                                window.location=window.location;       //刷新页面

                            },
                            beforeSend:function(){
                                $('#'+orderid+'button').html('<img style="width:20px;height:20px;" src="__PUBLIC__/images/msg_loading_d.gif"/>推送中...');
                            }
                        })
                    }
                }
            </script>

            <div class="foot"></div>
            <center>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                ...
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </center>
        </div>
    </div>

</block>