<!-- 未处理 -->
<extend name="base" />


<block name="main">
<script type="text/javascript" src="__MEMBER__/js/datetime/DateTimePicker.js"></script>
<link href="__MEMBER__/js/datetime/DateTimePicker.css" rel="stylesheet">
<script type="text/javascript" src="__MEMBER__/js/jquery.pagination.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$("#dtBox").DateTimePicker({

			minuteInterval: 5

		});
	});
</script>
<div class="container" >
			<table border="0" cellpadding="0" cellspacing="0" class="table"  class="table table-bordered" style="margin:0px;padding:0px;min-width: 1225px;">

			<include file="litBanner" />
				
				<tr>
					<td colspan="10" style="padding-top:35px;">
				<form action="{:U('Member/index',array('type'=>'index'))}" method="get" class="form-inline" id="form">
						<!-- 中文搜索时必须的 -->
						<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
						<input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
						<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
						<!-- End -->
						<input type="hidden" name="type" value="index">
					
					<include file="searchbox" />

				</form>
					</td>
				</tr>
			</table>
</div>

<include file="miniBase" />

<div id="pages" class="page">{$page}</div>

<div class="foot"></div>

</block>

</body>
</html>