<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="__MEMBER__/css/info.css">
    <script type="text/javascript" src="__MEMBER__/js/city/jquery.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
     </head>
  <body>
    <div class="wrap">
    <div class="box1">
    <div class="container" >
      <!-- 标题 -->
      <div class="floorh">
        <h3>{:L('Goods_Declaration')}</h3>
        <if condition="$type eq 'transport'">
<!--         <div class="flotit">
          <p>{:L('Info_Titmsg')}</p>
        </div> -->
        </if>
        <div class="clear"></div>
      </div>
        <div class="floor1">
          <table width="100%" cellpadding="10" cellspacing="10" border="0">
            <thead>
              <tr style="height:47px;line-height:47px;">
                <th>{:L('OrderNum')}</th>
                <th class="cls_name">{:L('ProductName')}</th>
                <th>{:L('Tax')}($)</th>
                <th>{:L('Amount')}</th>
                <th>{:L('UnitPrice')}</th>
                <th>{:L('Currency')}</th>
              </tr>
            </thead>
            <tbody>
              <volist name="pro_list" id="pro" empty="L('NoInfo')">
              <tr style="height:47px;line-height:47px;">
                <td>{$key+1}</td>
                <!-- 货品名称 -->
                <td class="cls_name" ><ddt title="{$pro.detail}">{$pro.detail}</ddt></td>
                <!-- 税金 -->
                <td>{:sprintf("%.2f",floatval($pro['tax']) * floatval($pro['number']))}</td>
                <!-- 数量 -->
                <td>{$pro.number}</td>
                <!-- 单价 -->
                <td>{$pro.price}</td>
                <!-- 货币 -->
                <td>{$pro['coin'] == 'USD'?"$":"￥"}</td>
              </tr>
              </volist>
            </tbody>
          </table>
        </div>
          <div class="t_weight">
            <h4>{:L('Total_Tax')}：{:($info['tax'] > $free_duty) ? '$'.$info['tax'] : L('Duty_Free')}</h4>
            <!-- 重量 -->
            <h4>{:L('Weight')}：
              <if condition="$info['weight'] gt 0">
                {$info.weight}LB
                <else/>
                {:L('Weighing')}
              </if>
            </h4>
          </div>
        <!-- 状态 我的订单 -->
        <if condition="$type eq 'index'">
        <div class="floor2">
          <ul  class="fful">
            <h4>{:L('GoodsNumber')}：{$info.order_no}</h4>
            <!-- 中转线路 -->
            <li>{:L('TranLine')}：
              <php>$l = L('MKLINES');echo $l[$alist[$info['TranKd']]];</php>
            </li>
<!--             <li>{:L('OrderStatus')}：{:L('ShippedWaiting')}</li> -->
          </ul>
          <ul class="fsul" id="floorul">
            <volist name="list" id="vo">
              <li>
                {$vo.create_time}&nbsp;&nbsp;{$vo.content}
              </li>
            </volist>
<!--             创建时间
            <li>
                {$info.ctime}&nbsp;&nbsp;{:L('Createtime')}
            </li>
            您已付款成功
            <li>                
                2015-12-10 09:15:28&nbsp;&nbsp;{:L('Payment_Success')}
            </li> -->
          </ul>
        </div>
        </if>
        <!-- 状态 运输中 -->
        <if condition="$type eq 'transport'">
        <div class="floor2">
          <ul class="fful">
            <h4>{:L('OddNumbers')}：{$info.MKNO}</h4>
            <!-- 中转线路 -->
            <li>{:L('TranLine')}：
              <php>$l = L('MKLINES');echo $l[$alist[$info['TranKd']]];</php>
            </li>
<!--             <li>{:L('OrderStatus')}：{:L('OS_Wait_Receipt')}</li> -->
          </ul>
          <ul class="fsul" id="floorul">
            <volist name="list" id="vo">
              <li>
                {$vo.create_time}&nbsp;&nbsp;{$vo.content}
              </li>
            </volist>
          </ul>
<!--           效果2、<div class="track-rcol">
            <div class="track-list">
              <ul>
              <volist name="list" id="vo">
                <li>
                  <i class="node-icon"></i>
                  <span class="time">{$vo.create_time}</span>
                  <span class="txt">{$vo.content}</span>
                </li>
                </volist>
              </ul>
            </div>
          </div> -->
        </div>
        </if>
        <div class="floor3">
          <!-- 订单信息 -->
          <h3>{:L('Order_Information')}</h3>
          <table width="50%" cellpadding="10" cellspacing="10" border="0" class="borr">
            <thead>
              <!-- 收件人信息 -->
              <tr>
                <th style="font-weight: bold;">{:L('RecInfo')}</th>
              </tr>
            </thead>
            <tbody>
                <!-- 收件人 -->
                <tr>
                  <th>{:L('AddressRec')}：{$info.receiver}</th>
                </tr>
                <!-- 收件人地址 -->
                <tr>
                  <th style="word-break:break-all; word-wrap:break-word;"><p style="float: left;">{:L('RecAddress')}：</p><p style="float: left; width: 240px;">{$info.reAddr}</p></th>
                </tr>
                <!-- 收件人电话 -->
                <tr>
                  <th>{:L('SenderPhone')}：{$info.reTel}</th>
                </tr>
            </tbody>
          </table>
          <table width="45%" cellpadding="10" cellspacing="10" border="0">
            <thead>
              <!-- 寄件人信息 -->
              <tr>
                <th  style="font-weight: bold;">{:L('SenderInfo')}</th>
              </tr>
            </thead>
            <tbody>
                <!-- 寄件人 -->
                <tr>
                  <th>{:L('Sender')}：{$info.sender}</th>
                </tr>
                <!-- 寄件地址 -->
                <tr>
                  <th style="word-break:break-all; word-wrap:break-word;"><p style="float: left;">{:L('RecAddress')}：</p><p style="float: left; width: 240px;">{$info.sendAddr}</p></th>
                </tr>
                <!-- 寄件人电话 -->
                <tr>
                  <th>{:L('SenderPhone')}：{$info.sendTel}</th>
                </tr>
            </tbody>
          </table>
          <div class="clear"></div>
        </div>
        <div class="floor4">
          <h3>{:L('Cer_Pho_Ti')}</h3>
          <div class="obcont">
              <img src="{$front_id_img}" style="width: 230px;height: 120px;float: left;margin-top: 25px;border-radius: 5px;">
          </div>
          <div class="obcont">
            <img src="{$back_id_img}" style="width: 230px;height: 120px;margin-left: 30px;float: left;margin-top: 25px;border-radius: 5px;">
        </div>
        </div>
      </div>
    </div> 
</div>
</div>
  </body>
  <script type="text/javascript">
      $("#floorul li:not(':first-child')").prepend('<div class="fradius"></div><div class="fline"></div>');
      $("#floorul li:first-child").prepend('<div class="fradiusr"></div>');     
  </script>
</html>
