<!-- 页中导航栏 -->
				<tr class="confapp">
<!-- 					<h4 style="text-align:right">
						您当前所在位置：<a href="javascript:void(0);" class="color">包裹列表</a>
					</h4> -->

				</tr>

				<tr style="margin:0px;padding:0px;height: 62px;" class="confiexd">
					<th <if condition="(I('get.type') eq 'index') || !(I('get.type'))">class="active"</if>><a href="{:U('index',array('type'=>'index'))}">{:L('Untreated')}</a></th>

					<th <if condition="(I('get.type') eq 'transport')">class="active"</if>><a href="{:U('index',array('type'=>'transport'))}" >{:L('InTransit')}</a></th>

					<th <if condition="(I('get.type') eq 'finished')">class="active"</if>><a href="{:U('index',array('type'=>'finished'))}" >{:L('Finished')}</a></th>
					
					<th><a href="{:U('Order/index')}" >{:L('OnlineOrder')}</a></th>
<!-- 					<th><a href="{:U('WebRecharge/index')}" >充值中心</a></th> -->
				</tr>