<!-- 公共内容 -->
<form action="" style="min-height:600px;">
  <div class="container" style="margin-bottom:0;margin-top:0;">
    <table width="100%" border="0" cellpadding="10" cellspacing="10" class="table table-hover" style="table-layout: fixed;">
      <thead>
        <tr class="hiddenf">
          <th style="width: 50px;">
            <input type="checkbox" id="check_all" onchange="selectAllItemToExport(this)">
          </th>
          <!-- 序号 -->
          <th class="width90" style="max-width: 90px;">{:L('OrderNum')}</th>
          <!-- <th class="width90">{:L('OrderNum')}</th> -->
          <if condition="(I('get.type','index') neq 'index')">
            <th>{:L('l_outside_no')}</th>
            <!-- 美快运单号/渠道 -->
            <!-- <th>{:L('OddNumbers')}</th> -->
            <th>{:L('l_m_wn')}/{:L('l_select_line')}</th>
            <!-- 使用快递 -->
            <th>{:L('l_delivered')}</th>
          </if>
          <!-- 寄件人 -->
          <th>
            {:L('Sender')}
          </th>
          <!-- 收件人 -->
          <!-- 收件人省市 -->
          <!-- <th class="hiddenf" style="width: 200px;"> -->
          <th class="hiddenf">
            {:L('AddressRec')}
          </th>
          <!-- 收件人省市 -->
          <!-- 							<th>{:L('ProvinceCity')}</th> -->
          <!-- 下单时间 -->
          <th>
            <!-- <th style="width: 220px;"> -->
            {:L('l_order_time')}
            <if condition="(I('get.type','index') neq 'index')">
              <br> {:L('l_ls_time')}
            </if>
          </th>
          <if condition="(I('get.type','index') eq 'index')">
            <!-- 中转线路 -->
            <!-- <th style="width: 200px;">{:L('TranLine')}</th> -->
            <th>{:L('l_outside_no')}</th>
            <!-- 美快运单号/渠道 -->
            <th>{:L('l_m_wn')}/{:L('l_select_line')}</th>
            <!-- <th style="width: 130px;">{:L('OrderSNumber')}</th> -->
            <!-- <th style="width: 220px;">{:L('SerialNumberTime')}</th> -->
          </if>
          <if condition="(I('get.type','index') eq 'finished')">
            <!-- 发货时间 -->
            <th>{:L('DeliverTime')}</th>
          </if>
          <if condition="(I('get.type','index') eq 'transport')">
            <!-- 最新物流信息 -->
            <th class="hiddenf showwsp" style="max-width: 340px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-text-overflow: ellipsis;-webkit-text-overflow: ellipsis;">
              {:L('LogisticsNewInfo')}
              <!-- 									{:L('DeliverTime')}<br>
									{:L('LogisticsNewInfoTime')} -->
            </th>
          </if>
          <if condition="(I('get.type','index') eq 'finished')">
            <!-- 最新物流信息时间 -->
            <th>{:L('LogisticsNewInfoTime')}</th>
          </if>
          <!-- 身份证号/身份证照片 -->
          <th style="text-align: center!important;max-width: 90px;">{:L('Pr_ID_number')}/{:L('l_ID_Photo')}</th>
          <!-- <th style="width: 200px;">{:L('Pr_ID_number')}</th> -->
          <!-- <th style="text-align: center!important;width: 150px;">身份证照片</th> -->
          <!-- 打印发货凭证状态 -->
          <th style="text-align: center!important;">{:L('l_dvps')}</th>
          <!-- 操作 -->
          <th <if condition="(I('get.type','index') eq 'index')"> style="width: 340px;"</if>>{:L('Operation')}</th>
        </tr>
      </thead>
      <tbody id="check_list">
        <volist name="list" id="vo" mod="2">
          <tr id="tr_{$vo.id}" <eq name="mod" value="0"> style="background-color:#f4f4f4;"</eq> >
            <td>
              <input type="checkbox" name="checkbox_print" value="{$vo.id}" data-id="{$vo.u_id}" onchange="changeListItem(this,{$i},{$vo.u_id})">
            </td>
            <td class="width90">
              <!-- <td class="width90" style="width: 90px;"> -->
              {$key+1}
            </td>
            <if condition="(I('get.type','index') neq 'index')">
                <td>
                    <!-- 外部订单号 -->
                      {$vo['package_id']}
                  </td>
              <td>
                <!-- 美快运单号/渠道 -->
                {$vo['order_no']}
                <br>
                <php>$l = L('MKLINES');echo $l[$alist[$vo['TranKd']]];</php>
              </td>
              <!-- 使用快递 -->
              <td style="text-align: left;">
                <p>{$vo['transit']}</p>
                <?php if($vo['MKNO'] == $vo['STNO'] || empty($vo['STNO'])): ?> {:L('l_undelivered')}
                <?php else: ?> {$vo['STNO']}
                <?php endif; ?>
              </td>
            </if>
            <!-- 寄件人	 -->
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
              {$vo['sender']}
            </td>
            <td class="hiddenf width90" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
              <!-- 收件人 -->
              {$vo['receiver']}
              <br> {$vo['province']}
            </td>
            <!-- 								<td> -->
            <!-- 收件人省市 -->
            <!-- 									{$vo['province']}&nbsp;{$vo['city']}
								</td> -->
            <td>
              <!-- <td style="width: 200px;"> -->
              <!-- 下单时间 -->
              {$vo['ctime']}
              <if condition="(I('get.type','index') neq 'index')">
                <br> {$vo['paytime']}
              </if>
            </td>

            <if condition="(I('get.type','index') eq 'index')">
              <td>
                <!-- 外部订单号 -->
                {$vo['package_id']}
              </td>
              <td>
                <!-- 美快运单号/渠道 -->
                {$vo['order_no']}
                <br>
                <php>$l = L('MKLINES');echo $l[$alist[$vo['TranKd']]];</php>

              </td>
            </if>
            <if condition="(I('get.type','index') eq 'finished')">
              <td>
                <!-- 发货时间 -->
                {$vo['printTime']}
              </td>
            </if>
            <if condition="(I('get.type','index') eq 'transport')">
              <td class="hiddenf showwsp" style="max-width: 340px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-text-overflow: ellipsis;-webkit-text-overflow: ellipsis;">
                <!-- 最新物流信息 -->
                {$vo['content']}
                <br>
                <!-- 									{$vo['printTime']}<br> -->
                {$vo['create_time']}
              </td>
            </if>
            <if condition="(I('get.type','index') eq 'finished')">
              <td>
                <!-- 物流信息最新时间 -->
                {$vo['create_time']}
              </td>
            </if>
            <!-- 身份证号/身份证照片 -->
            <td style="text-align: center;vertical-align: middle;">
              <span class="idcard_idno_icon">
                <if condition="$vo['id_no_status'] eq 0">
                  <img src="__MEMBER__/image/iconw1.png" title="{:L('l_m_img_title1')}">
                  <elseif condition="$vo['id_no_status'] eq 100" />
                  <img src="__MEMBER__/image/iconr1.png" title="{:L('l_m_img_title2')}">
                  <else />
                  <img src="__MEMBER__/image/wuxu.png" title="{:L('l_m_img_title3')}">
                </if>
              </span>
              /
              <span class="idcard_upload_icon">
                <if condition="$vo['id_img_status'] eq 0">
                  <img src="__MEMBER__/image/iconw1.png" title="{:L('l_m_img_title4')}">
                  <elseif condition="$vo['id_img_status'] eq 100" />
                  <img src="__MEMBER__/image/iconr1.png" title="{:L('l_m_img_title5')}">
                  <else />
                  <img src="__MEMBER__/image/wuxu.png" title="{:L('l_m_img_title6')}">
                </if>
              </span>
            </td>
            <!-- 打印发货凭证状态 -->
            <td style="text-align: center;vertical-align: middle;" class="print_type">
              <if condition="($vo['is_print'] eq 1)">
                <img src="__MEMBER__/image/iconr1.png">
              </if>
            </td>
            <td style="text-align:left; position: relative;">
              <!-- 查看 -->
              <a href="javascript:void(0);" onclick="showinfo(this);" id="{$vo['id']}">{:L('CheckOut')}</a>
              <span style="vertical-align:text-middle;">|</span>
              <a href="{$wapurl}/Index/search?MKNO={$vo['MKNO']}" target="_blank">{:L('LogisticsDetails')}</a>
              <!-- 使用layer方法 -->

              <if condition="(I('get.type','index') eq 'index')">

                <if condition="$vo['auto_Indent1'] && $vo['auto_Indent1'] != ''">

                  <span style="vertical-align:text-middle;">|</span>
                  <a href="{:U('Order/newOrder',array('id'=>$vo['id']))}">{:L('OrderAgain')}</a>

                  <else />

                  <if condition="$vo['pay_state'] neq '1'">
                    <span style="vertical-align:text-middle;">|</span>
                    <!-- 修改 -->
                    <a href="javascript:void(0);" onclick="javascript:window.location.href='{:U('Order/edit',array('id'=>$vo['id'],'step'=>''))}';">{:L('Modify')}</a>
                    <span style="vertical-align:text-middle;">|</span>
                    <!-- 删除 -->
                    <a href="javascript:void(0);" onclick="del('{$vo.id}','{:U('Member/delete')}')">{:L('Delete')}</a>
                  </if>

                  <!-- 打印随机码 -->
                  <span style="vertical-align:text-middle;">|</span>
                  <!-- <a href="javascript:void(0);" onclick="javascript:window.location.href='{:U('Order/step_three',array('cid'=>$vo['id'],'cname'=>CONTROLLER_NAME))}';">{:L('PrintRandomCode')}</a> -->
                  <a href="javascript:void(0);" onclick="batch_print('{$vo.id}');">{:L('PrintRandomCode')}</a>
                  <span id="loaded" style="position: absolute; top:12px;right: 80px;"></span>
                </if>
                <span style="vertical-align:text-middle;">|</span>
                <!-- 再次下单 -->
                <a href="{:U('Order/newOrder',array('Q_no'=>$vo['order_no'],'id'=>$vo['id']))}">{:L('OrderAgain')}</a>
                <elseif condition="(I('get.type','index') neq 'index')" />

                <span style="vertical-align:text-middle;">|</span>
                <!-- 再次下单 -->
                <a href="{:U('Order/newOrder',array('id'=>$vo['id']))}">{:L('OrderAgain')}</a>

              </if>
              <if condition="($vo['input_idno'] eq 1) && ($vo['member_sfpic_state'] eq 0)">
                <if condition="$vo['id_no_status'] eq 0">
                  <span style="vertical-align:text-middle;">|</span>
                  <a href="javascript:;" onclick='record_idno("{$vo.id}","{$vo.TranKd}")'>{:L('l_id_Information')}</a>
                </if>
                <elseif condition="($vo['input_idno'] eq 1) && ($vo['member_sfpic_state'] eq 1)" />
                <if condition="($vo['id_img_status'] eq 0) || ($vo['id_no_status'] eq 0)">
                  <span style="vertical-align:text-middle;">|</span>
                  <a href="javascript:;" onclick='record_upload("{$vo.id}","{$vo.un_key}","{$vo.idno}")'>{:L('l_id_Information')}</a>
                </if>
                <else/>
                <if condition="($vo['id_img_status'] eq 0) || ($vo['id_no_status'] eq 0)">
                  <span style="vertical-align:text-middle;">|</span>
                  <a href="javascript:;" onclick='record_upload("{$vo.id}","{$vo.un_key}","{$vo.idno}")'>{:L('l_id_Information')}</a>
                </if>
              </if>
              <!-- End -->
            </td>
          </tr>
        </volist>
      </tbody>
    </table>

  </div>
</form>
<!-- 20170314 修改弹出框，使用layer 甘-->
<script type="text/javascript">
  /** 
   * 查看单
   *
   */
  function showinfo(obj) {
    var id = obj.id;
    layer.open({
      type: 2,
      shadeClose: true,
      title: false,
      area: ['800px', '800px'],
      scrollbar: false,
      resize: false,
      btn: ["{:L('ToClose')}"],
      closeBtn: 0,
      skin: 'demo-class', //自定义样式demo-class
      // offset: '55px',
      content: "{:U( 'Member/info',array( 'type'=>I('get.type','index') ) )}?id=" + id,
      success: function (layero, index) {
        this.enterEsc = function (event) {
          if (event.keyCode === 13) {
            layer.closeAll();
            return false; //阻止系统默认回车事件
          }
        };
        $(document).on('keydown', this.enterEsc);
        //监听键盘事件，关闭层
      }
    });
  }
  /** 
   * 
   * hover显示物流信息的详情
   *
   */
  $('.showwsp').hover(function () {
    $(this).css('white-space', 'normal');
  }, function () {
    $(this).css('white-space', 'nowrap');
  });
  /**
   *
   * 删除前的确认框
   * 
   */
  function del(id, url) {
    layer.confirm("{:L('LAY_MesDel')}", {
      icon: 3,
      offset: '400px',
      skin: "layermsg",
      title: "{:L('LAY_Information')}",
      btn: ["{:L('LAY_BtnOK')}", "{:L('LAY_BtnCancel')}"]
    }, function () {
      $.ajax({
        url: "{:U('Order/del_shopping_receipt')}",
        type: "GET",
        data: {
          "order_id": id
        },
        success: function (data) {}
      });
      $.ajax({
        url: url,
        type: "POST",
        data: {
          "id": id
        },
        dataType: "json",
        success: function (data) {
          if (data.state == 'yes') {
            layer.msg(data.msg, {
              icon: 6
            });
            location.href = location.href;
          } else {
            layer.msg(data.msg, {
              icon: 5
            });
          }
        }
      });
    });
  }
  /**
   *
   * 身份证号码或身份证状态查看
   * 
   */
  function show_idno(key) {
    if (_empty__(key)) {
      return;
    }
    var pcurl = "";
    pcurl += "{:C('ID_URL')}I" + key;
    var wapurl = "";
    wapurl += "{:C('ID_URL_M')}I" + key;
    var str_cont = "";
    str_cont += "{:L('l_add_ident')}：<br>";
    str_cont +=
      '<a href="javascript:;" style="color:#000;margin-right:5px;" onclick="copyurl(1);"><i class="glyphicon glyphicon-duplicate"></i></a><input type="text" id="pcobj" value="' +
      pcurl +
      '" style="width:300px;"><br><a href="javascript:;" style="color:#000;margin-right:5px;" onclick="copyurl()"><i class="glyphicon glyphicon-duplicate"></i></a><input type="text" id="wapobj" value="' +
      wapurl + '" style="width:300px;">';
    layer.alert(str_cont, {
      skin: "demo-class",
      title: "{:L('LAY_Information')}",
      btn: "{:L('LAY_BtnOK')}",
      scrollbar: false,
      area: ['400px', '240px']
    });
  }

  /**
   *
   * 身份证号码补录
   *
   */
  function record_idno(id, line_id) {
    layer.open({
      type: 2,
      shadeClose: false,
      skin: 'demo-class', //自定义样式demo-class
      title: "{:L('l_id_Information')}",
      area: ['450px', '300px'],
      scrollbar: false,
      resize: false,
      content: "{:U('Member/record_idno')}?id=" + id + '&line_id=' + line_id + '&page=' + "{:I('get.p')}",
      success: function (layero, index) {
        this.enterEsc = function (event) {
          if (event.keyCode === 13) {
            layer.closeAll();
            return false; //阻止系统默认回车事件
          }
        };
        $(document).on('keydown', this.enterEsc);
        //监听键盘事件，关闭层
      }
    });
  }

  /**
   *
   * 身份证上传补录
   *
   */
  function record_upload(id, key, idno) {
    layer.open({
      type: 2,
      shadeClose: false,
      skin: 'demo-class', //自定义样式demo-class
      title: "{:L('l_id_Information')}",
      area: ['800px', '600px'],
      scrollbar: false,
      resize: false,
      content: "{:U('Member/record_upload')}?id=" + id + '&key=' + key + '&idno=' + idno + '&page=' +
        "{:I('get.p')}",
      success: function (layero, index) {
        this.enterEsc = function (event) {
          if (event.keyCode === 13) {
            layer.closeAll();
            return false; //阻止系统默认回车事件
          }
        };
        $(document).on('keydown', this.enterEsc);
        //监听键盘事件，关闭层
      }
    });
  }

  /**
   *
   * 复制到剪切板
   * 
   */
  function copyurl(nub) {
    if (nub === 1) {
      $('#pcobj').select();
    } else {
      $('#wapobj').select();
    }
    document.execCommand('Copy');
    layer.msg('{:L("l_copy_success")}');
  }


  $("#check_all").click(function () {
    if (this.checked) {
      $("#check_list :checkbox").prop("checked", true);
    } else {
      $("#check_list :checkbox").prop("checked", false);
    }
  });
</script>
<script>
  // 导出查询结果
  var _searchArr = [];
  var _searchItemIndexArr = [];

  function changeListItem(e, index, value) {
    if (e.checked) {
      _searchArr.push(value)
      _searchItemIndexArr.push(index);
    } else {
      let itemIndex = new Number();
      for (let i = 0; i < _searchItemIndexArr.length; i++) {
        const el = _searchItemIndexArr[i];
        if (el == e.index) {
          itemIndex = i;
          break;
        }
      }
      _searchArr.splice(itemIndex, 1);
      _searchItemIndexArr.splice(itemIndex, 1);
    }
  }

  function selectAllItemToExport(e) {
    _searchArr = [];
    _searchItemIndexArr = [];
    if (e.checked) {
      let _list = document.getElementById("check_list").children;
      for (let i = 0; i < _list.length; i++) {
        const _child = _list[i].children[0].children[0];
        _searchArr.push(_child.getAttribute('data-id'));
        _searchItemIndexArr.push(i + 1);
      }
    }
  }
</script>