<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="__MEMBER__/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="__MEMBER__/css/member/record_idno.css?t=20180608"/>
    <link rel="stylesheet" type="text/css" href="__MEMBER__/css/validationEngine.jquery.css">
    <script src="__MEMBER__/js/jquery.validationEngine.js" type='text/javascript'></script>
    <script src="__MEMBER__/js/jquery.validationEngine-{:L('lng')}.js" type='text/javascript'></script>
    <script type="text/javascript" src="__MEMBER__/js/jquery.form.js"></script>
    <script type="text/javascript" src="__MEMBER__/layer/layer.js"></script>
    <script type="text/javascript">
        $(function(){$("#tempForm").validationEngine("attach",{promptPosition:"topRight",scroll:!1,addPromptClass:"formError-white",autoPositionUpdate:!0,custom_error_messages:{"#TransferLine":{required:{message:"{:L('valEng_Msg_fre')}"}},"#loc_province":{required:{message:"{:L('valEng_Msg_fre')}"}},"#loc_city":{required:{message:"{:L('valEng_Msg_fre')}"}},"#loc_town":{required:{message:"{:L('valEng_Msg_fre')}"}}}})});
    </script>
</head>
<body>
<form action="{:U('Member/idno_update')}" method="POST" enctype="multipart/form-data" id="tempForm" onsubmit="record_idnoform(this)">
    <input type="hidden" name="line_id" value="{:I('get.line_id')}"/>
    <input type="hidden" name="order_id" value="{:I('get.id')}"/>
    <div class="warp">
        <div class="line">
            <label>{:L('l_receiver_id')}：</label><input type="text" name="idno" placeholder="{:L('l_receiver_ID_number')}" class="idno_input" />
            <span class="line_span"><span class="bule0099ff">*</span>{:L('l_reconrd_cont')}</span>
        </div>
        <div class="savebtn">
            <input type="button" value="{:L('ToSubmit')}" class="sa_sub_btn error_btn" id="sa_sub_btn">
        </div>
    </div>
</form>
<script type="text/javascript">
$(function(){
    $("input[name='idno']").bind('input propertychange',function(){
        var myval = $(this).val();
        if(myval != ''){
            $('#sa_sub_btn').removeClass('error_btn');
            $('#sa_sub_btn').addClass('success_btn');
            $('#sa_sub_btn').attr('type','submit');
        }else{
            $('#sa_sub_btn').removeClass('success_btn');
            $('#sa_sub_btn').addClass('error_btn');
            $('#sa_sub_btn').attr('type','button');
        }
    });
});
// 通过JQform提交
function record_idnoform(obj){
    $(obj).ajaxForm({
        dataType: 'json',
        beforeSend:function(){
            var index = layer.load(1, {
                shade: [0.1,'#000'], //0.1透明度的白色背景
                skin: 'demo-class',//自定义样式demo-class
            });
        },
        success: function(data){
            if(data.status == false){
                layer.closeAll('loading'); //关闭加载层
                layer.open({
                    type: 0,
                    shadeClose: true,
                    skin: 'demo-class',//自定义样式demo-class
                    title: "{:L('LAY_SystemMessage')}",
                    content : data.err_info,
                    icon : 5
                });
                return false;
            }else{
                layer.closeAll('loading'); //关闭加载层.
                layer.msg("{:L('l_fill_msg')}");
                var index = parent.layer.getFrameIndex(window.name);
                setInterval(function(){
                    parent.layer.close(index);
                },500);
                window.parent.location.href = "{:U('Member/index')}?p={:I('page')}"; //刷新父页面
            }
        }
    });
}
</script>
</body>
</html>