<extend name="base" />

<html>
<block name="content">
<load href="__PUBLIC__/css/index.css" />
<div class="content">
	<h3>关于美快国际物流</h3>
	<p>
		美快国际物流，成立于美国加州，是集一家仓储、包装、转运、物流配送、海空货运代理、航空快递的新型国际物流服务公司，致力于跨境电子商务全球物流解决方案的设计与执行，在美国加州、香港均设有物流中心。
	</p>
	<p style="display:none">
    我们帮助客户包装、仓储、转运和快递采购自全球的物品发往到中国及香港，目前已经开通美国到香港、美国到中国、香港到中国等的线路。美快国际物流通过整合产业上游的境外电子商务企业需求，国际航空货运及中国入境口岸的资源；并通过与中国海关总署,中国国家邮政总局,入境快件口岸等相关政府监管部门展开深入的战略合作，为目前境外至中国日益增长的跨境电子商务市场提供高效正规合法的国际个人快件包裹入境申报配送服务。美快物流每天完成几千件的配货打包订单，大大加速跨境电子商务的订单相应速度，提高客户体验满意度。
    </p><p style="display:none">
经过长期的市场培育和技术积累，美快物流在美国和中国及香港等地区凝聚了行业领先的业务优势，并已服务众多中国海外购物网站的客户，包括：天猫国际、淘宝全球购、京东、京东国际、拍拍、洋码头等等，我们的客户名录还在以日激增。</p>
<p style="display:none">美快物流同时与香港邮政、中国申通、圆通、快递100等达成良好合作，不但及时转运及投递客户物品，并能实时在线查询状态</p>
</div>
</block>
</html>