@charset "utf-8";
/*公共样式*/
.modal-open{padding:0px !important;}
.modal fade{width:900px !important;}
body{padding:0px !important;background:#FFFFFF !important;}
.container{margin-top:10px; }
body{font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;}
td,p,li,a,th{font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
th{text-align:center !important;padding-top:16px !important;}

th a{color:#9d9d9d;}
table .td1{padding:0 !important;line-height:47px !important;}
table .td1 a,table .td1 a font{display:inline-block;width:100%;height:47px;line-height:47px;}

.td1{text-align:center !important;cursor:pointer;height:47px;}
nav li{padding:0 !important;}
body{padding:0px !important;background:#ececec !important;margin:0px;overflow-x: hidden;}
.modal-open {
  overflow: initial !important;
}
.navbar-nav a:hover{color: #fff;}  /*20170310 甘*/
.btn{line-height:5px;background-color: #232323;border-color: #232323;color: #ffde00;height:35px;font-size:16px;} /*20170310 甘*/
.btn:hover{background-color: #232323;border-color: #232323;color: #ffde00;height:35px;font-size:16px;}    /*20170310 甘*/
.btn_st{height:35px;font-size:16px;} /*20170310 甘*/
.btn_st:hover{height:35px;font-size:16px;}    /*20170310 甘*/
.nav{
  font-size: 18px;
}
.li1,.td3{cursor:pointer;}
/*input{height:24px;}*/
select{height:24px;}
#content{background: url('../image/header_tbg2.jpg')no-repeat;height: 75px;background-size: 100%;} /*20170310 甘*/
span{font-size:16px;}
.color{color:#428BCA;}
a{text-decoration:none !important;color:#000;}
/*.navbar-nav .active{border-bottom:3px solid #674D90;}*/
/*.navbar-nav{margin-bottom:3px;}*/
.bs-docs-sidebar .nav>li>a{font-size:16px;color:black;}
.licolor{background:#bbb;border-left:1px solid #000;}
.bs-docs-sidenav a{padding-left:0px !important;}
.col-md-2{background:#ddd;height:400px;}
.rtop{font-size:16px;}
.rtop{padding:10px 10px 0 10px;}
.blue{background:#598dd6;}
.blue a{color:#FFFFFF;}
.rtop li{list-style-type:none;margin-top:10px;}
.rtop li input{margin-top:8px;line-height:16px;}
.fontcolor{color:blue;}
textarea{width:350px;height:150px;}
table th,table td{line-height:30px;width: 0%;}
.formleft{width:140px;float:left;padding-right:15px;}
.formright{float:left;}
.bs-docs-sidenav li{list-style-type:none;line-height:40px;margin:0;padding:0px;}
.bs-docs-sidenav li a{font-size:16px;}
.list-inline{padding-bottom:5px;}
.list-inline li{margin-top:0px !important;}
.login_user{margin-top:10px;font-size: 16px;}
/*公共 end*/

/*会员资料*/
.tdleft{font-size:14px;padding-right:14px;line-height:24px;}
.form_index table td{padding-top:2px !important;padding-left:10px; height: 50px;text-align: center;}

.table_now td{ height: 50px !important; padding: 0; border:solid 1px #CBCBCB; text-align: center; padding: 0 5px !important;}
table td.cls_now{height: 50px;}
/*.form table td input,select{margin-top:4px;}*/
.form table.tab1 td input{line-height:14px;width:500px ; }
/*.form table.tab1 td.xixidizhi input{ width: 476px ; margin: 0; padding: 0; border: none;background: none; -webkit-box-shadow:none; box-shadow:none; display:block; margin: 0 auto;height: 22px; float: left;}
.form table.tab1 td.xixidizhi label{ width: 500px; overflow: hidden; height: 34px; background: #fff; padding: 6px 12px; border: 1px solid #ccc;border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.form table.tab1 td.xixidizhi label span.nows{display: block; float: left; height: 22px; min-width: 0px; font-size: 14px; line-height: 22px;}*/
 span.nows{height: 22px;font-size: 15px;}
.form table td #lt{width:25px !important;}
.foot{height:50px;} /*20170313增加background 甘*/
/* End */
.select{background: #ececec !important;}

/* messagebox */
.msgbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #edffe0 none repeat scroll 0 0;
    border-color: #8fc469;
    border-image: none;
    border-radius: 0 0 3px 3px;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 8px #cccccc;
    color: #333333;
    right: 450px;
    line-height: 29px;
    max-width: 250px;
    overflow: visible;
    padding: 0 20px;
    position: absolute;
    visibility: hidden;
    white-space: normal;
    word-wrap: break-word;
    z-index: 65535;
}
.msgbox a {
    color: #eb7d00;
    font-weight: normal;
    text-decoration: underline;
}
.msgbox.warning {
    background: #ffffcc none repeat scroll 0 0;
    border-color: #ff9966;
}
.msgbox.exception {
    background: #ffcccc none repeat scroll 0 0;
    border-color: #ff0000;
}
.msgbox.default, .msgbox.warning, .msgbox.exception {
    display: block !important;
    visibility: visible !important;
}

/*step_two.html 页面*/
.form_two td{height: 30px; font-weight: 100; color: #fff;}
.form_two td label{font-weight: 100; line-height: 30px;}
.form_two .tdleft{ font-size: 16px;color: #fff;}
.form_two .tdleft label{ font-weight: 700; }
/* base 二级菜单**/
.cat_1{ position: relative;  text-align: center; height: 40px; cursor: pointer;}
.cat_1 span{ width: 18px; height: 18px; display: inline-block; background:url(../images/select2.png) 1px -2px; }
.cat_2{ position: absolute;  width: 120px; background: #000; top: 40px; left: -20px; height:0px; overflow: hidden;opacity: 0.8;}
.cat_2 p{margin: 0; padding: 5px ;  height: 40px; line-height: 40px !important; cursor: pointer;}
.cat_2 p a{ display: block;font-size: 15px;color: #fff;}
.cat_2 p a:hover{ color: #ffde00;} /*20170313修改颜色 甘*/

/*20170310增加样式 甘*/
#top{background: #fff;}
.h_container{padding-top:200px;padding-left: 400px;}
.h_container h1{color: #fff;font-size: 55px;}
.h_container p{font-size: 23px;color: #fff;}
.nav > li > a:hover{background: #dec590;}
/*20170310增加随机码样式 甘*/
.up_bg img{width: 100%;position: relative;margin:0 auto;}
.ftstep_t{position: absolute;top: 33%;left: 10%;}
.form_index{width: 100%;}
.form-signin{min-height:500px;;border-radius: 10px 10px 0 0;z-index: 10000}
.container .active a{color:#fff;}
.table tbody th{background: #fff;border-color: #fff!important;}
.table tbody th a{color: #000;font-weight: 500;}
.containers .active{background: #fff !important;border-bottom: 2px solid #ffde00 !important;}
.containers .active a{color:#000;}
.opbg{position: absolute;background: #000;opacity: 0.5;width: 795px;height: 500px;top:71px;left: 0px;border-radius: 5px;}
.fs_ul{position: relative; list-style: none; color:#fff;top: 70px;left: 100px;padding:0;width: 376.5px;float: left;}
.fs_ul li{margin:20px 0;}
.fs_ul li p{font-size: 20px;}
.fs_ul li:last-child{margin-top: 40px;}
.fs_ul li:first-child{margin-bottom: 40px;}
.ew-code{width: 150px;height: 150px;float:right;position: relative;top:160px;right:120px;}
.stimgs img{position: absolute;right: -55%;top: 30%;}

body .demo-class .layui-layer-btn .layui-layer-btn0{border-color: #232323;background-color: #232323;color: #ffde00;border-radius: 5px;}
body .demo-class1 .layui-layer-btn .layui-layer-btn0 {
    letter-spacing: 3px;
    border-color: #ffde00;
    background-color: #ffde00;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'SimHei';}
/*layer弹出框样式*/
.Lay_img{float:left;margin-top:1%;}
.Lay_zh-cnd{float:left;margin-top:12px;margin-left:15px;font-family: 'SimHei';}
.Lay_zh-cnd p{margin:0;font-size:1.8rem;color:#000;font-family: 'SimHei';}
.Lay_zh-cns{position:absolute;top:65px;left: 33%;}
.Lay_en-usd{float: left;margin-top: -21%;margin-left: 24%;letter-spacing: 3px;}
.Lay_en-usd p{margin:0;font-size:20px;color:#000;}
.Lay_en-uss{position:absolute;top:78%;}

.cont .messg ul{width: 100%;background: #fff;margin-top: 2%;}
.frig{float: right;}
.fleft{float: left;}
.cont .messg ul li{width: 100%;margin:0 auto;}
.cont .messg ul p{font-size: 1.7rem;color: #767676;}
.cont .messg ul .mslp{margin-left: 5%;margin-top: 3%;}
.cont .messg ul .msrp{margin-right: 3%;margin-top: 3%;}
.cont .messg .midcont{width: 90%;height: 30px;margin: 0 auto;    margin-bottom: 10%;}
.cont .messg .midcont h5{font-size: 1.8rem;color:#000;}
.cont .messg .midcont h6{font-size: 1.6rem;color:#000;}
.cont .messg .midcont img{margin-top: 3%;width: 15%;}
/*.cont .messg .midcont .mslh5{margin-left: 5%;}*/
.cont .messg .midcont .msrlh5{margin-right: 5%;}
.cont .messg .lastbr{border-top:1px solid #dcdcdc;margin-top: 6%}
.cont .messg .midtbox{margin-top: 2%;margin-right: 4%;height: 3%;} 
.cont .messg .lastcont{width: 100%;height: 70px;}
.cont .messg .lastcont p{color:#000;font: 1.7rem;margin-left: 3%;}
.cont .messg .lastcont .lastca{margin-right: 3%;margin-top: 2%;color: #000;font-size: 1.5rem;}
.cont .messg .lastcont .lastca a{font-size: 1.7rem;color:#000;}
.cont .messg .trans{border-top: 1px solid #dcdcdc;}
.cont .messg .trans h4{font-weight: bold;margin-left: 5%;}
.cont .messg .trans .trancont{margin-left: 5%;font-size: 1.2rem;color: #000;}
.scrollt{position: fixed;bottom: 1%;right: 0%;}
.form-signin .backmember {
    position: absolute;
    bottom: 5px;
    left: 35px;
}
.form-signin .backmember a {
    color: #fff;
    font-size: 18px;
}


.obcont {
    width: 100%;
    margin:0 8%;
    position: relative;
    margin-top: 5%;
    padding-bottom: 20%;
}
.obcont p{
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    color:#000;
}
.obcont input[id="file"] {
    position: relative;
    width: 106px;
    height: 41px;
    z-index: 9;
    opacity: 0;
    float: left;
    margin-top: 10px;
    margin-left: 117px;
}
.obcont label {
    position: absolute;
    background: #232323;
    display: inline-block;
    color: #ffde00;
    width: 106px;
    height: 41px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    left:117px;
}
input:disabled{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #c9c9c9;
    text-indent: 0.5em;
    width: 58%;
    margin-left: 10px;
    font-size: 17px;
}


/*下单寄件人地址样式*/
#MainContent_ddProvince {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../image/selectbtn.png") no-repeat scroll right center transparent;
    line-height: 29px;
    height: 29px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    width: 120px;
}
#MainContent_ddProvince::-ms-expand { display: none; }
#MainContent_ddCity {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../image/selectbtn.png") no-repeat scroll right center transparent;
    padding-right: 25px;
    line-height: 29px;
    height: 29px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    width: 120px;
}
#MainContent_ddCity::-ms-expand { display: none; }
.selcountry {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../image/selectbtn.png") no-repeat scroll right center transparent;
    padding-right: 25px;
    line-height: 29px;
    height: 29px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}
.selcountry[disabled='disabled']{
    background: url("../image/selectbtn.png") no-repeat scroll right center transparent;
    background-color: #eee;
}


.obconts {
    width: 100%;
    margin:0 8%;
    position: relative;
    margin-top: 5%;
    padding-bottom: 20%;
}
.obconts p{
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    color:#000;
}
.obconts input[id="files"] {
    position: relative;
    width: 106px;
    height: 41px;
    z-index: 9;
    opacity: 0;
    float: left;
    margin-top: 10px;
    margin-left: 117px;
}
.obconts label {
    position: absolute;
    background: #232323;
    display: inline-block;
    color: #ffde00;
    width: 106px;
    height: 41px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    left:117px;
}


.obcontt {
    width: 100%;
    margin:0 8%;
    position: relative;
    margin-top: 5%;
    padding-bottom: 20%;
}
.obcontt p{
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    color:#000;
}
.obcontt input[id="receipt_img"] {
    position: relative;
    width: 106px;
    height: 41px;
    z-index: 9;
    opacity: 0;
    float: left;
    margin-top: 10px;
    margin-left: 43px;
}
.obcontt label {
    position: absolute;
    background: #232323;
    display: inline-block;
    color: #ffde00;
    width: 106px;
    height: 41px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    left:117px;
}


/*下单选择收件人视图*/
.selectview ul{
    padding: 0;
    margin: 0;
}
.selectview li{
    list-style: none;
}
.selectview .search {
    width: 93%;
    height: 50px;
    border:1px solid #ddd;
    border-radius: 5px;
    margin:0 auto;
    margin-top: 10px;
}
.selectview .search .sbox_input{
    border: none;
    width: 54%;
    height: 40px;
    margin: 4px 0px;
    margin-left: 54px;
    font-size: 16px;
    position: relative;
    outline: none;
}
.selectview .search .sicon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../image/select2x2.png)no-repeat;
    position: absolute;
    background-position: -77px -42px;
    z-index: 1;
}
.selectview .search .sbox_sub{
    border: none;
    background-color: #232323;
    color: #ffde00;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    outline: none;
    display: inline-block;
    text-align: center;
}
.selectview .tag{
    width: 170px;
    height: 300px;
    border: 1px solid #ddd;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}
.selectview .selev_cont{
    width: 90%;
    height: 300px;
    border:1px solid #ddd;
    float: left;
    margin: 5%;
}
.selectview .selev_cont ul li{
    margin-left: 3%;
}
.selectview .selev_cont ul li:first-child{
    margin-top: 4%;
}
.selectview .selev_cont ul li label p{
    float: left;
/*    margin-left: 5%;*/
}
.selectview .selev_cont input[type='radio'].radio {
    opacity:0; 
    display:inline-block; 
    position: absolute;
}
.selectview .selev_cont label.radio {
    background:url(../images/kuang.png) no-repeat; 
/*  height:30px; */
    padding-left:25px;
    background-position-y: 4px;
    cursor: pointer;
    display: inline-block;
/*  line-height: 30px;*/
    width: 100%;
}
.selectview .selev_cont input[type='radio'].radio:checked + .radio {
    background:url(../images/gougou.png) no-repeat;
    color:#e90000;
    font-weight: bold;
    background-position-y: 4px;
}
.selectview .tag ul{
    margin-left: 20px;
    margin-top: 10px;
}
.selectview .last {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 10px 10px 0;
}
.selectview .last .infosbtn{
    width: 60px;
    height: 30px;
    background:#232323;
    color:#ffde00;
    border:none;
    border-radius: 5px;
}
body .layermsg .layui-layer-btn .layui-layer-btn0{background-color: #232323;border-color: #232323;color: #ffde00;}