@charset "utf-8";
.clear{clear: both;}
.content{
	background: url(../images/reset.jpg) #000;
	position: relative;
}
.content .mask{
    width: 95%;
    min-height: 795px;
    background: #000;
    opacity: 0.55;
    position: absolute;
    left: 2.5%;
    border-radius: 5px;
    top: 2%;
}
.warpbox{
	width: 90%;
	margin:0 auto;
	padding: 4% 0;
	height: 825px
}
.warp{
	color:#fff;
}
.warp .title_vzs{
	font-size: 1.5rem;
	font-weight: bold;
	border-bottom: 2px solid #fff;
	margin: 3% 0;
}
.inss .left_vz{
	border: 1px solid #fff;border-radius: 5px;
}
.main{
	width: 100%;
	background: #222;
	height: 50px;
	color: #fff;
	font-size: 1.4rem;
}
.main .login{
    line-height: 50px;
    width: auto;
    float: left;
    margin-left: 3%;
}
.main .login a{
    color: #fff;
}
.main .logins{
	line-height: 50px;
    width: auto;
    float: right;
    margin-right: 3%;
}
.main .logins a{
	color:#fff;
}
.main .logins a{float: left;}
.heamav{
	width: 100%;
	margin:0;
}
.heamav .logo_vz img{
	max-width: 73%;
	margin-top: 5px;
}
.inss .left_vz .p1 span{
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	font-size: 0.875rem;
	color: #dfc112;
	font-weight: bold;
}
.inss .left_vz .p1 span label,.inss .right_vz .p1 span label{
	width: 1.5%;
	height: 14px;
	background: #f9b100;
	margin: 0 3% 0 2%;
	vertical-align: -1px;
}
.inss .left_vz .p1 .s1{
	color:#dadbdb;
}
.inss .left_vz .re_ss .ri_dd .p_title{
	line-height: 30px;
	border-bottom: 1px solid #9a9a9a;
	margin-right: 1%;
	color: #dfc112;
	font-weight: bold;
	font-size: 1.4rem;
}
.inss .left_vz .re_ss .ri_dd .p_text{
	line-height: 25px;
	font-size: 1.3rem;
	padding-top: 3%;
	color: #c2c1bd;
}
.inss .left_vz .re_ss .te_cent,.inss .right_vz .te_cent{
	text-align: center;
}
.inss .left_vz .re_ss .te_cent span{
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #dfc112;
    border-radius: 5px;
    padding: 0 6%;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block
}
.inss .right_vz{
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 3% 0;
}
.inss .right_vz .p1 span{
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	font-size: 0.875rem;
	color: #dadbdb;
	font-weight: bold;
}
.inss .right_vz .tible_vz .tts{
    background: #000;
    border:0;
    height: 35px;
    color: #fff;
    font-size: 1rem;
    opacity: 0.55;
    border-radius: 5px;
    text-indent: 1em;
    margin: 1% 10%;
    width: 80%;
}
.yanz{position: relative;}
.inss .right_vz .tible_vz img{
	position: absolute;
	right: 17%;
	bottom:29.5%;
}
.inss .right_vz .tible_vz .lasts2{
	position: absolute;
	top: 72%;
	left: 13%;
	text-align: left;
	width: 35%;
	height: 30px;
	line-height: 30px;
}
.inss .right_vz .tible_vz .lasts{
	text-align: right;
	width: 100%;
	padding-right: 14%;
}
.inss .right_vz .tible_vz .lasts a{
	color:#fff;
}
.inss .right_vz .te_cent input{
    height: 30px;
    color: #fff;
    background: #dfc112;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    border-width: 0;
    min-width: 32%;
}
