@charset "utf-8";
 body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{ margin:0; padding:0;}
      ol, ul{ list-style:none;}
table{ border-collapse:collapse; border-spacing:0;}
body {
      color: #000;
      padding-bottom: 10px;
      background-color: #fff;
}
.container{margin:0 auto;overflow: auto;-webkit-overflow-scrolling: touch;height:585px;max-height: 585px;}
.container h3{color: #000;}
.floorh{background: #ececec;}
.floorh h3{float: left;padding:5% 8%;}
.floorh .flotit{float: right;width: 125px;line-height: 55px;text-align: center;font-size: 14px;font-weight: 600;border-radius: 3px;}
.floor1{max-height: 291px;height: 500px;overflow-y: auto;}
.floor1 table thead th{padding-top: 0 !important;background: #232323; color: #fff;width: 10%;}
.floor1 table tbody tr{border-bottom: 1px solid #eee;}
.floor1 table tbody td{text-align: center;width: 18%;font-size: 0.8rem;}
.floor2{width: 98%;background: #eaeaea;margin:10px 5px;/*overflow-y:auto;max-height: 130px;*/height: auto;}
.floor2 ul{margin:10px 10px;font-weight: bold;font-size: 15px;}
.floor2 .fful{padding-left:50px;padding-top:5px;border-bottom: 1px solid #d8d8d8;padding-bottom: 10px;}
.floor2 .fful h2{color:#000;}
.floor2 .fsul{padding-left: 50px;overflow-y:auto;max-height: 130px;height: auto;}
.floor2 .fsul li{margin:20px 0px;position: relative;}
.fradius{width: 10px;height: 10px;background: #bbbbbb;border-radius: 10px; position: absolute;left: -28px;top: 5px;}
.fradiusr{width: 10px;height: 10px;background: #e94242;border-radius: 10px; position: absolute;left: -28px;top: 5px;}
.fline{width:2px;height:25px;background:#bbb;position:absolute;left:-24.5px;top:-22.5px}
.floor2 li{margin-top:10px;margin-bottom:5px;font-weight: 500;}
.floor2 h4{font-weight: bold;color: #000;font-size: 20px;}
.floor3{padding-left: 20px;padding-bottom: 45px;}
.floor3 h3{margin:;font-size: 20px;}
.floor3 table thead th,.floor3 table tbody th{text-align: left !important;padding-top: 10px;font-weight: 500;padding-right: 10px;padding-left: 10%;}
.floor3 table{font-size: 15px;}
.floor3 table:nth-of-type(2){margin-left: 5%;}
.floor3 table tbody{width: 10%;}
.floor3 .flor3icon{width: 30px;height: 30px;border-radius: 15px;background: #ffde00;color:#000;font-weight: bold;display: block;font-size: 0.7rem;text-align: center;line-height: 30px;margin-top: 7%;margin-right: 5%;}
.floor3 .flor3icons{width: 30px;height: 30px;border-radius: 15px;background: #000;color:#fff;font-weight: bold;display: block;font-size: 0.7rem;text-align: center;line-height: 30px;margin-top: 2%;margin-right: 5%;}
.floor3 .f3cont{width: 100%;height: 70px;}
.floor3 .f3cont span{float: left;}
.floor3 .f3cont ul{float: left;width: 83%;margin-top: 4%;}
/*.floor3 .f3cont ul li p{width: 20%;}*/
.floor4{margin-left:20px;padding-bottom:45px}
.floor4 h3{font-size:20px}
.floor5{margin-left:20px;padding-bottom:45px;margin-top: 20px;}
.floor5 h3{font-size:20px}
.clear{clear: both;}
.t_weight{width: 100%;height: 50px;margin-top: 10px;}
.t_weight h4{padding: 0;margin: 0;line-height: 50px;text-align: right;font-weight: bold;margin-right: 20px;}
.fl2up li{margin:5px;font-weight: 500;}
.fl2up h4{font-weight: bold;color: #000;font-size: 20px;}

