@charset "utf-8";
/* messagebox */
.msgbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #edffe0 none repeat scroll 0 0;
    border-color: #8fc469;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 0;
    box-shadow: 0 1px 8px #cccccc;
    color: #333333;
    right: 400px;
    line-height: 29px;
    max-width: 250px;
    overflow: visible;
    padding: 0 20px;
    position: absolute;
    visibility: visible;
    white-space: normal;
    text-align: center;
    word-wrap: break-word;
    z-index: 65535;
}
.msgbox a {
    color: #eb7d00;
    font-weight: normal;
    text-decoration: underline;
}
.msgbox.warning {
    background: #ffffcc none repeat scroll 0 0;
    border-color: #ff9966;
}
.msgbox.exception {
    background: #ffcccc none repeat scroll 0 0;
    border-color: #ff0000;
}
.msgbox.default, .msgbox.warning, .msgbox.exception {
    display: block !important;
    visibility: visible !important;
}