@charset "utf-8";
h3{margin:0;padding:0;}
#content{padding-bottom: 20px !important;}
label{margin: 0 ;padding: 0;}
.ordtop{width: 95%;margin: 2% auto;}
.ordtop .ordsender{border: 1px solid #000;padding: 5% 5%;border-radius: 5px;position: relative;}
.ordtop .ordsender .changebtn {
    position: absolute;
    right: 20px;
    top: 23px;
}
.ordtop .ordsender .changebtn a {
    border: none;
    background-color: #232323;
    color: #ffde00;
    border-radius: 5px;
    height: 22px;
    outline: none;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    line-height: 22px;
}
.ordtop .ordsender h4,.ordtop .ordrec h4{font-weight: bold;}
.ordtop .ordsender ul,.ordtop .ordrec ul{margin-top: 30px;}
.ordtop .ordsender li{border:1px solid #000;border-radius:9px;padding-left:5%;line-height: 40px;margin-top: 10%;background: #fff;}
.ordtop .ordsender input,.ordtop .ordrec input{border:none;outline: none;margin-left: 1%;}
.ordtop .ordrec{margin:5% 0px;padding: 5% 5%;border:1px solid #000;border-radius: 5px;position: relative;}
.ordtop .ordrec .changebtn {
    position: absolute;
    right: 20px;
    top: 23px;
}
.ordtop .ordrec .changebtn a {
    border: none;
    background-color: #232323;
    color: #ffde00;
    border-radius: 5px;
    height: 22px;
    outline: none;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    line-height: 22px;
}
.ordtop .ordrec li{border:1px solid #000;border-radius:9px;padding-left:5%;height: 42px;line-height: 40px;margin-top: 10%;background: #fff;}
.ordrec .ordkpmid{height: 82px;text-align: center;padding: 0;}
.ordrec .ordkpmid label:first-child{border-bottom: 1px solid #dcdcdc;width: 100%;}
.ordrec .ordsmli{width: 45%;margin: 5% 2% 0 2%;}
.ordbtn a{color:#b6b6b6;display: block;}
.ordhead{margin:0px auto;width: 100%;height: 50px;background: #232323;color:#fff;text-align:center;}
.ordrec li{border:1px solid #000;border-radius:9px;padding-left:5%;height: 42px;line-height: 40px;margin-top: 10%;background: #fff;}
.ordrec input{border:none;outline: none;margin-left: 1%;}
.ordhead h3{line-height: 50px;}
.ordbody{width: 100%;background: #fff;}
.ordbody table tbody td{padding:0;}
.ordtop .ordrec .addres{height: 86px;}
.ordtop .ordsender .addres{height: 86px;}
.form-signin table{margin:0 auto;}
.oblast{padding-bottom: 0;}
.copy_r{border:none !important;}
#mimenu{color: grey;font-size: 1rem;text-align: center;}
.clchang{width: 66%;margin:2px; height:30px;padding:2px;}
.clzhong{width:53%;margin:2px; height:30px;padding:2px;}
.clduan{height:30px;padding:2px;}
.forspan{color:#4f4f4f;font-size:14px;margin-top: 3%;display: block;}
.flaotl{float: left;}
.clearSender{border-radius: 50em;border: 1px solid #d4d4d4;padding: 0.5em 1em;display: inline-block;}
.clearSender:hover{border-color: #3072b3;border-bottom-color: #2a65a0;background-color: #3c8dde;color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);}
.goodshow{/*height:400px;overflow-y:scroll;*/width: 100%;}
.goodshow .goodsbox{width: 95%;margin: 2% auto;border:1px solid #000;border-radius: 5px;background: #fff}
.goodshow .goodsbox li{margin-top: 3%;margin-left: 1%;}
.goodshow .goodsbox label{width: 110px;}
.marbot{margin-bottom: 3%;}
.ordbtn{    text-align: center;
    padding: 0;
    font-size: 30px;
    background: #ddd;
    border: none;
    display: block;
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;}
.pic_radio{height: 108px;margin-left: 20px;}
.pic_radio li{float: left;margin-left: 10px;}
/*在线下单线路样式*/
.ordbody .lineul{width: 85%;margin:0 auto;height: 70px;}
.ordbody .lineul li{float: left;margin: 15px 13.5px 0px 13.5px;z-index: 1;}
.ordbody .lineulus{width: 85%;margin:0 auto;margin-left: 320px;}
.ordbody input[type='radio'].radio {opacity:0; display:inline-block;z-index: -1;}
.ordbody label.radio {background:url(../images/kuang.png) no-repeat; height:30px; padding-left:25px;cursor: pointer;}
.ordbody input[type='radio'].radio:checked + .radio {background:url(../images/gougou.png) no-repeat;color:#e90000;font-weight: bold;}
.ordbody .pic_radio .disableds{
    cursor: not-allowed!important;
}