/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {
    font-size:14px;
    color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
}
.warp{
    width: 100%;
    margin-top: 50px;
}
.warp .line{
    margin: 35px 0;
}
.warp .line label{
    font-size: 16px;
}
.warp .line .idno_input{
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #232323;
    outline: none;
    width: 400px;
    height: 35px;
}
.warp .line .line_span{
    display: block;
    font-size: 10px;
    margin-top: 20px;
}
.savebtn {
    margin: 0 auto;
    width: 181px;
    margin-top: 50px;
}
.savebtn .sa_sub_btn{
    border: none;
    background-color: #999999;
    color: #fff;
    border-radius: 30px;
    height: 45px;
    outline: none;
    text-align: center;
    padding: 0 60px;
    cursor: pointer;
    font-size: 18px;
}
.savebtn .success_btn{
    color: #fff;
    background: #232323;
}
.tab{
    margin-top: 20px;
    margin-left: 25px;
}
.selected{
    border-bottom: 2px solid #232323;
}
.hide{
    display: none;
}
.table_menu .tabel_ul{
    width: 100%;
    height: 50px;
    margin: 0;
    padding:0;
}
.table_menu ul li{
    list-style: none;
    float: left;
    padding: 8px 0px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}
.tab_box .tab_one .obcont{
    width:360px;
    position:relative;
    margin-top:3px;
    height: 183px;
    float: left;
    border-radius: 15px;
    border: 2px dotted #ddd;
    margin-left: 30px;
}
.tab_box .tab_one .obcont label {
    position: absolute;
    background: #232323;
    display: inline-block;
    color: #fff;
    width: 95px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    bottom: 10px;
    right: 10px;
    z-index: 0;
}
.tab_box .tab_one .tab_one_span{
    display: block;
    margin: 20px 0;
    font-size: 15px;
}
.tab_box .tab_one .obcont p{
    font-size:15px;
    color:#000;
    padding-left: 15px;
    padding-top: 10px;
}
.tab_box .tab_one #front_idno1{
    width: 230px;
    height: 120px;
    margin-left: 15px;
    margin-top: 13px;
}
.tab_box .tab_one .obcont input[id=file]{
    width: 95px;
    height: 53px;
    position:absolute;
    z-index:9;
    opacity:0;
    cursor:pointer;
    border-radius: 30px;
    bottom: 10px;
    right: 10px;
}

.tab_box .tab_one .obconts{
    width:360px;
    position:relative;
    margin-top:3px;
    height: 183px;
    float: left;
    border-radius: 15px;
    border: 2px dotted #ddd;

}
.tab_box .tab_one .obconts label {
    position: absolute;
    background: #232323;
    display: inline-block;
    color: #fff;
    width: 95px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    bottom: 10px;
    right: 10px;
    z-index: 0;
}
.tab_box .tab_one .obconts p{
    font-size: 15px;
    color: #000;
    padding-left: 15px;
    padding-top: 10px;
}
.tab_box .tab_one #front_idno2{
    width: 230px;
    height: 120px;
    margin-left: 15px;
    margin-top: 13px;
}
.tab_box .tab_one .obconts input[id=files]{
    width: 95px;
    height: 53px;
    position:absolute;
    z-index:9;
    opacity:0;
    cursor:pointer;
    border-radius: 30px;
    bottom: 10px;
    right: 10px;
}
.tab_box .tab_two .tt_p{
    margin: 35px 0;
    font-size: 15px;
}
.tab_box .tab_two .cont ul li{
    margin-bottom: 35px;
}
.tab_box .tab_two .cont label{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}
.tab_box .tab_two .cont .copy_btn{
    font-size: 16px;
    color:#0099ff;
    float: right;
    margin-right: 40px;
}
.tab_box .bule0099ff{
    color:#0099ff;
}
.tab_box .tab_two .cont .icon_pc{
    width: 35px;
    height: 25px;
    background: url(../../images/icon_pc.png)no-repeat;
    display: inline-block;
    background-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
}
.tab_box .tab_two .cont .icon_wap{
    width: 35px;
    height: 25px;
    background: url(../../images/icon_wap.png)no-repeat;
    display: inline-block;
    background-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
}
.tab_box .tab_two .cont .pcobj,.tab_box .tab_two .cont .wapobj{
    border:none;
    outline: none;
    font-size: 16px;
    color:#0099ff;
    min-width: 450px;
    vertical-align: middle;
}