.warp{
    width: 100%;
    margin-top: 50px;
}
.warp .line{
    margin-left: 30px;
}
.warp .line label{
    font-size: 16px;
}
.warp .bule0099ff{
    color:#0099ff;
}
.warp .line .idno_input{
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #232323;
    outline: none;
    min-width: 250px;
    height: 35px;
}
.warp .line .line_span{
    display: block;
    font-size: 14px;
    margin-top: 20px;
}
.savebtn {
    margin: 0 auto;
    width: 156px;
    margin-top: 50px;
}
.savebtn .sa_sub_btn{
    border: none;
    background-color: #999999;
    color: #fff;
    border-radius: 30px;
    height: 45px;
    outline: none;
    text-align: center;
    padding: 0 60px;
    cursor: pointer;
    font-size: 18px;
}
.savebtn .success_btn{
    color: #fff;
    background: #232323;
}
.savebtn .error_btn{
    color: #fff;
    background: #999;
}