<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;

      }
      .container{margin:0 auto;}
      .form-signin {
        max-width: 800px;
        margin-top:60px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
    .form-signin table th{text-align:center;height:47px;font-size:16px;line-height:47px !important;background:#F7F7F9; padding-top:0px !important;padding-bottom:0px !important;}
    .form-signin table td{height:47px !important;line-height:47px !important;font-size:14px;text-indent:2em;background:#F7F7F9;padding-top:0px !important;padding-bottom:0px !important;}
    .form-signin table td a{text-decoration:none;color:#000;}
    .form-signin table td a:hover{color:blue;}
    </style>
   
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
     </head>
  <body>

    <div class="container" >
      <div class="form-signin" style="padding-top:40px;background:#F7F7F9 !important;margin-bottom:40px">
          <table border="0" cellpadding="0" cellspacing="0" class="table" style="margin-bottom:0px;padding:0px">
          
              <tr>
                  <th width="" style="padding-left:12px">线路名称：</th>
                  <td width="" style="padding-left:12px">
                    {$info.name}
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">前缀：</th>
                  <td width="" style="padding-left:12px">{$info.prename}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">中转中心：</th>
                  <td width="" style="padding-left:12px">{$info.toname}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">所属航空公司：</th>
                  <td width="" style="padding-left:12px">{$info.company_name}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">转发快递：</th>
                  <td width="" style="padding-left:12px">{$info.transit}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">邮箱：</th>
                  <td width="" style="padding-left:12px">{$info.email}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">多语言关键字：</th>
                  <td width="" style="padding-left:12px">{$info.lngname}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">选择框多语言备注：</th>
                  <td width="" style="padding-left:12px">{$info.lngremark}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">打印名称：</th>
                  <td width="" style="padding-left:12px">{$info.print_name}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">线路编号：</th>
                  <td width="" style="padding-left:12px">{$info.line_code}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">飞机起飞机场名称：</th>
                  <td width="" style="padding-left:12px">{$info.air_takeoff}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">飞机着陆机场名称：</th>
                  <td width="" style="padding-left:12px">{$info.air_landing}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">允许重复件数量：</th>
                  <td width="" style="padding-left:12px">{$info.repeatsnum}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px"><label>线路最高限额(¥)：</label></th>
                  <td>{$info['maxamount']}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px"><label>单件商品最高限额(¥)：</label></th>
                  <td>{$info['single_piece_limit']}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">税金起征额(¥)：</th>
                  <td width="" style="padding-left:12px">{$info.taxthreshold}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">税金形式：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['tax_kind'] eq '1'">
                      百分比
                    <elseif condition="$info['tax_kind'] eq '0'"/>
                      固定值
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">导出文件省却相同字段：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['csv_type'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['csv_type'] eq '2'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">BC报关：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['bc_state'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['bc_state'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">CC报关：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['cc_state'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['cc_state'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
<!--               <tr>
                  <th width="" style="padding-left:12px">需上传身份证明：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['cid'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['cid'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr> -->
              <tr>
                  <th width="" style="padding-left:12px">会员可选：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['optional'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['optional'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">身份证号是否必填：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['input_idno'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['input_idno'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">会员需上传身份证：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['member_sfpic_state'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['member_sfpic_state'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">需要购物小票：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['shop_state'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['shop_state'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">是否允许导入订单：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['allow_import_order'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['allow_import_order'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">状态：</th>
                  <td width="" style="padding-left:12px;vertical-align:middle !important;">
                    <if condition="$info['status'] eq '1'">
                      <img src="__PUBLIC__/images/pass.png" width="20" height="20" alt="">
                    <elseif condition="$info['status'] eq '0'"/>
                      <img src="__PUBLIC__/images/nopass.png" width="20" height="20" alt="">
                    </if>
                  </td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px"><label>不限额地区：</label></th>
                  <td>{$info['no_limit_region']}</td>
              </tr>
              <tr>
                  <th width="" style="padding-left:12px">备注：</th>
                  <td width="" style="padding-left:12px">{$info.remark}</td>
              </tr>
              <tr>
                  <th colspan="3" style="padding-left:660px">
                  <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top:10px;">关闭</button>
                  </th>
              </tr>
          </table>
          
      </div>
    </div> 
 
  </body>
    
</html>
