<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;

        }

        .container{margin:0 auto;}
        .form-signin {
            max-width: 900px;
            margin-top:60px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin table th{height:36px;font-size:16px;line-height:36px;background:#F7F7F9;}
        .form-signin table td{height:36px;line-height:36px;font-size:14px;text-indent:2em;background:#F7F7F9;}
        .form-signin table td a{text-decoration:none;color:#000;}
        .form-signin table td a:hover{color:blue;}
        .form-signin .form-control{width:400px !important;}
    </style>
    <link href="__PUBLIC__/css/one.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<div class="container" >
    <div class="form-signin" style="padding-top:40px;background:#F7F7F9 !important;margin-bottom:40px">
        <form class="form-horizontal" action="{:U('Admincardtest/upload_add')}" method='post' enctype="multipart/form-data" >

            <div class="form-group">
                <label class="col-sm-3 control-label" for="username">身份证头像面:</label>
                <div class="col-sm-5">
                    <input type="file" name="batch"  id="batch"  accept=".jpg,.jpeg,.png" />
                </div>
                <label class="col-sm-2 control-label"></label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="username">身份证国徽面:</label>
                <div class="col-sm-5">
                    <input type="file" name="delivery"  id="delivery"  accept=".jpg,.jpeg,.png" />
                </div>
                <label class="col-sm-2 control-label"></label>
            </div>




            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <button type="submit" id="BtnSave"  class="btn btn-success btn-add">更新</button>
                    <input type="hidden"  name="id" value="{$id}" />
                    <!--<button id="beClosed" class="btn btn-default" type="button" data-dismiss="modal">关闭</button>-->
                    <span id="messagebox" class="msgbox" style="  right:300px;!important"></span>
                </div>
            </div>

        </form>
        <script type="text/javascript">
            function ityzl_SHOW_LOAD_LAYER(){
                return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '200px', time:100000}) ;
            }
            function ityzl_CLOSE_LOAD_LAYER(index){
                layer.close(index);
            }
            function ityzl_SHOW_TIP_LAYER(str, url = ''){
                layer.msg(''+str+'',{time: 2000,offset: '200px'});
                if(url){
                    window.location = url;
                }else{
                    window.location.reload();
                }
            }

            function template(obj){
                var id = $(':input[name="id"]').val();
                //var status = $(':input[name="status"]:checked').val();
                var batch = document.getElementById('batch');
                var batch_pic = batch.files['0'];
                var delivery = document.getElementById('delivery');
                var delivery_pic = delivery.files['0'];

                //alert(status);
                // if(typeof(status) == 'undefined'){
                //     alert('请选择审核状态！');
                //     return;
                // }


                var formData = new FormData();
                formData.append("id", id);
                if(typeof(batch_pic) != 'undefined'){
                    formData.append("batch", batch_pic);
                }
                if(typeof(delivery_pic) != 'undefined'){
                    formData.append("delivery", delivery_pic);
                }
                //formData.append("card_pic", card_pic);
                //formData.append("status", status);


                var request;
                if (window.XMLHttpRequest) {
                    request = new XMLHttpRequest();
                } else {
                    request = new ActiveXObject('Microsoft.XMLHTTP');
                }
                var i;
                ityzl_SHOW_LOAD_LAYER();
                request.onreadystatechange = function(){
                    if(request.status == 200 && request.readyState == 4){
                        if(request.responseText){
                            //成功返回
                            var a = JSON.parse( request.responseText );
                            var status = a.status;
                            var str = a.data.strstr;
                            var url = a.data.url;
                            ityzl_CLOSE_LOAD_LAYER(i);
                            ityzl_SHOW_TIP_LAYER(str, url);
                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                            //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.msg(str);
                            parent.location.reload();
                            parent.layer.close(index);

                            //parent.layer.close(str); //再执行关闭
                            ityzl_SHOW_TIP_LAYER(str, url);
                            document.getElementById("form2").reset();
                        }else{
                            ityzl_CLOSE_LOAD_LAYER(i);
                        }
                    }
                }
                request.open("post", "{:U('Admincardtest/upload_add')}");
                //request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                request.setRequestHeader("X-Requested-With","XMLHttpRequest");
                request.send(formData);



            }

            function point(obj){
                var gouxuan=$('input[type=checkbox]').is(':checked');
                if(gouxuan){
                    $('.point').removeAttr('checked');
                    //$('.point').css('cursor', 'not-allowed');
                    $('.point').attr('disabled', 'disabled');
                }else{
                    $('.point').removeAttr('disabled');
                }

                //alert(gouxuan);
            }

        </script>
        <script type="text/javascript">
            function out(i){
                var v = i.validity;
                if(true === v.valueMessing){
                    i.setCustomValidity("请填写此字段");
                }else{
                    if(true === v.patternMismatch){

                        i.setCustomValidity("最多6个字母或数字，不能为中文");
                    }else{
                        i.setCustomValidity("");
                    }
                }
            }
        </script>
    </div>
</div>

</body>
<script src="__PUBLIC__/js/my.js"></script>
</html>
