<!-- 在线下单 -->
<extend name="Member/base" />


<block name="main">
<meta charset="utf-8">
<script type="text/javascript" src="__MEMBER__/js/city/jquery.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/{:L('lng')}/area.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/{:L('lng')}/location.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/select2.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/{:L('lng')}/select2_locale_zh-CN.js"></script>
<script src="__MEMBER__/js/cityselected.js"></script>
<link href="__MEMBER__/css/select2.css" rel="stylesheet"/>
<link href="__MEMBER__/css/index.css" rel="stylesheet">
    <div class="warrp">
        <div class="fr wi940">
            <div class="aboutmoney addwid">
                <div class="usermoney topup-money">
                    <div class="network-topup">
                        <ul>
                            <li>提现</li>
                        </ul>
                        <p onClick="mywaltoggle();" class="network_p">{:L('BackPersonal')}</p>
                    </div>
                    <div style="clear: both;"></div>
                    <hr style="height: 1px; background: #ccc; border: none;margin:0 10px;" />
                    <div class="choicetu">
                        <p>提现金额</p>
                        <div class="monettu">
                            <div class="fop-main">
                                <div class="m-tagbox m-multi-tag">                               
                                    <div class="tag-define" data_id="tag_157">
                                        <span class="define-label" style="display: block;"><i class="i-pen"></i><em>{:L('InputAmount')}</em></span>
                                        <input type="text" class="define-input" name="amount_count" id="input_vals" style="display: none;" maxlength="5">
                                    </div><!-- <span class="lastyuan">{:L('yuan')}</span> -->
                                </div>
                            </div>
                            <div class="fop-choice">
                                <form action="?" method="post" >
                                    <div class="orde-sjyy">
                                        <div class="bsjy-g">
                                            <dl>
                                                <dd>
                                                 <div class="order-payment-area">
                                                     <div class="dsfzfpte">
                                                     </div>
                                                     <div class="po-re">
                                                        <p class="po-re_p">提现方式</p>
                                                         <ul> 
    <!--                                                         <li>
                                                                <div class="payment-area">
                                                                    <input type="radio"  value="wechat" class="radio vam" name="paykind" <if condition="$k eq 'wechat'">checked</if>>
                                                                    <label for="">
                                                                        <img src="__MEMBER__/image/{:L('lng')}/winxinlogo.jpg" width="191" height="55" onClick="change_pay(this);" />
                                                                    </label>
                                                                </div>
                                                             </li>  -->                          
                                                             <li>
                                                                <div class="payment-area">
                                                                    <input type="radio"  value="alipay" class="radio vam" name="paykind" <if condition="$k eq 'alipay'">checked</if>>
                                                                    <label for="">
                                                                        <img src="__MEMBER__/image/zhifulogo.jpg" width="191" height="55" onClick="change_pay(this);" />
                                                                    </label>
                                                                </div>
                                                             </li>
    <!--                                                         <li>
                                                                <div class="payment-area">
                                                                    <input type="radio"  value="paypal" class="radio vam" name="paykind" <if condition="$k eq 'paypal'">checked</if>>
                                                                    <label for="">
                                                                        <img src="__MEMBER__/image/paypallogo.jpg" width="191" height="55" onClick="change_pay(this);" />
                                                                    </label>
                                                                </div>
                                                             </li> -->
                                                         </ul>
                                                     </div>
                                                 </div>
                                                 <div style="clear: both;"></div>                            
                                                </dd>
                                            </dl>
                                            <span id="outs" style="float: right;"></span>
                                            <div class="order-payment-action-area" id="hide_boxs">                    
                                                <a class="button-style-5 button-confirm-payment" href="javascript:void(0);" onClick="aout_submit()">确认提现</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
            <div class="foot"></div>

</block>

</body>
</html>