<div style="background:#f4fafa; ">
            <div style="min-width:1280px;margin:0 auto; width:100% ;height:135px; background:#535c6c; background-position: center;">
                <img src="http://res.meiquick.com/asset/Web/Ace/img/zh-cn/login.png" style="position:relative;top:40px;left:30px;">
                <div style=" width:1180px; margin:0 auto; padding:20px 50px; color:#fff; font-size:18px; line-height:35px;position:relative;top:-20px;left:35px;">
                '.L('re_head_text').'
                </div>
            </div>
            <div style="padding:50px 0;background:#fff; width:960px; margin:0 auto;">
                <p style="padding-left:250px; font-size:24px; color:#000;font-weight: bold;line-height: 35px;">'.L('re_Dear').$username.'</p>
                <p style="padding-left:250px; color:#545454; font-size:24px;line-height:35px;">'.L('re_Your_ve').'</p>
                <p style="padding-left:250px; color:#2b7dbd; font-weight: bold;font-size:30px;line-height:50px;">'.$code.'</p>
                <p style="padding-left:250px; color:#ababab; font-size:20px;">'.L('re_which').'</p>
                <br>
            </div>
            <div style="height:1px; background:#ababab;"></div>
            <div style="background:#fff; width:960px; margin:0 auto; text-align:center; color:#919191;">
                <p style="text-align:center; line-height:40px; margin:0;">'.L('re_Thank_y').'</p>
                <p style="text-align:center; line-height:40px; margin:0;">'.L('re_we_are').'</p>
            </div>
            <div style="min-width:1280px;margin:0 auto; width:100% ; background:#535c6c; color:#fff; padding:8px 0;">               
                <div style="line-height:160%;margin:20px 0 0 0 ;">
                    <p style="text-align:center;">'.L('re_Meikuai').'&nbsp;<a style=" color:#fff;" href="www.meiquick.com" target="_blank">www.meiquick.com</a></p>
                    <p style="text-align:center;"><span times="" t="5" style="">'.date('Y-m-d',time()).'</span></p>
                </div>
            </div>
            </div>