<script type="text/javascript">
// 全选/反选
$("#selectAll").click(
  function(){
    if(this.checked){
      $("input[name='tno']").each(function(){this.checked=true;});
    }else{
      $("input[name='tno']").each(function(){this.checked=false;});
    }
  }
);

// 20161018 Jie 批量操作发送订单(多个运单号)
function getLogis(tcid){
  var chk_value  = []; //获取选中的复选框选中的值

  $('input[name="tno"]:checked').each(function(){
    chk_value.push($(this).val());  //合拼选中的面单，组成字符串 
  });

  // 检验是否至少勾选一个
  if(chk_value == ''){
    alert('请选择至少一个面单进行操作！');return false;
  }else{
    chk_value = ''+chk_value+'';
  }
  // alert(chk_value);
  $.ajax({
    url:'{:U('MKBc2/toSend')}',
    type:'post',
    dataType:'json',
    data:{
      'tcid':tcid,
      'num' :chk_value,
    },
    success:function (data){
        alert(data.msg);
    },
    error:function(){
      alert('请求失败或系统超时，请重试');
    },
    complete:function(){
      // $("#logis_more").removeAttr('disabled');
      // $("#logis_more").html('批量操作发送订单');
      window.location=window.location;       //刷新页面
    },
    beforeSend:function(){
      $("#logis_more").attr('disabled','disabled');
      $("#logis_more").html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/msg_loading_d.gif"/>请稍候...');
    }
  })
}

// 20161028 Jie 发送订单(单个运单号)
function sendMsg(id,num,tcid){
  $.ajax({
    url:'{:U('MKBc2/toSend')}',
    type:'post',
    dataType:'json',
    data:{
      'num' :num,
      'tcid':tcid,
    },
    success:function (data){
      alert(data.msg);
    },
    error:function(){
      alert('请求失败或系统超时，请重试');
    },
    complete:function(){
      // $(".logis"+id).html('发送订单');
      window.location=window.location;       //刷新页面
    },
    beforeSend:function(){
      $(".logis"+id).html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/msg_loading_d.gif"/>');
    }
  })
}
</script>