<extend name="./base" />

<block name="main">
<style>
  .container .active a{color:black;}
  .container .active{background-color: #cccddd !important;}
  .container table a{}
</style>
<div class="container" >
<if condition="I('kind') neq 'done' ">
  <button type="button" style="display: inline-block; float:right;" class="btn btn-default" id="logis_more" onclick="getLogis('{$tcid}');" style="padding:2px 12px;">批量操作发送订单</button>
<else />
  <button type="button" style="display: inline-block; float:right;" class="btn btn-default" id="logis_more" onclick="getLogis('{$tcid}');" style="padding:2px 12px;">批量更新订单状态</button>
</if>
</div>

<form action="">
  <div class="container" style="margin-bottom:0;margin-top:0;">
        <table width="100%" border="0" cellpadding="10" cellspacing="10"  class="table table-hover" style="margin-bottom:0px">
          <thead>
            <tr style="height:47px;line-height:47px;border-bottom:0.3em solid #ccc">
              <th><input type="checkbox" name="select" id="selectAll"><label for="selectAll" style="margin-bottom: 0px;">&nbsp;全选</label></th>
              <th>序号</th>
              <th>自定义号段</th>
              <th>面单号</th>
              <th>寄件人</th>
              <th>收件人</th>
              <th>重量/价值</th>
              <th>物流信息</th>
              <th>订单对接状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody style="font-size:14px">
            <volist name="list" id="vo" mod="2">
              <tr id="tr_{$vo.id}" <eq name="mod" value="1"> style="background-color:#ddd;"</eq> >
                <td align="center" style="vertical-align:middle;">
                  <input type="checkbox" name="tno" value="{$vo['MKNO']}" id="tno_{$vo['id']}">
                </td>

                <td align="center" style="line-height:180%">
                    <if condition="$vo['pause_status'] == '20'">
                      <font color="red">{$key+1}<br/>停运</font>
                    <else/>
                      <font color="green">{$key+1}<br/>正常</font>
                    </if>
                </td>           
                <td align="center" style="line-height:180%;padding-left:3px">
                  {$vo.auto_Indent1|default="&nbsp;"}<br/>
                  {$vo.auto_Indent2|default="&nbsp;"}
                </td>
                <td align="center" style="line-height:180%;padding-left:3px">
                  {$vo.MKNO|default="&nbsp;"}<br/>{$vo.STNO|default="&nbsp;"}
                </td>
                <td align="center" style="line-height:180%;padding-left:3px">
                  {$vo.sender}<br/>
                  {$vo.no|default="&nbsp;"}
                </td>
                <td align="center" style="line-height:180%;padding-left:3px">
                  {$vo.receiver}<br/>『{$vo.province}』
                </td>
                <td align="center" style="line-height:180%;padding-left:3px">
                    {$vo.weight}{:C('SHOW_WEIGHT_UNIT')}<br/>￥{$vo.price}
                </td>
                <td style="line-height:180%;padding-left:3px">
                  
                  <neq name="vo['optime']" value="">{$vo.optime}：</neq>
                  <neq name="vo['IL_state']" value="">{$ilstarr[$ilstarri[$vo['IL_state']]][1]|default='状况不明'}</neq>
                  <neq name="vo['mode']" value="">，【{$vo.mode}】</neq><br/>
                  <neq name="vo['ex_time']" value="">{$vo.ex_time}：</neq>
                  <neq name="vo['ex_context']" value="">{$vo.ex_context}</neq>
                </td>
                <td align="center" style="line-height:180%" class="lp_{$vo['id']}">
                    <if condition="$vo['order_opt_state'] eq '0'">
                      <font color="red">未对接</font>
                    <elseif condition="$vo['order_opt_state'] eq '1'"/>
                      <font color="green">已对接</font>
                    <elseif condition="$vo['order_opt_state'] eq '4'"/>
                      <font color="blue">订单取消</font>
                    </if>
                </td>
                <td align="center">

                    <a href="{:U('PostManagement/info',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">查看</a>


                    <!-- 少于200可修改 -->
                    <if condition="$vo['IL_state'] lt 200">
<!--                      <span style="vertical-align:text-middle;">|</span> 
                      <a href="{:U('PostManagement/edit',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">修改</a> -->
                    <else />
                      <!-- <font color="#ccc">修改</font> -->
                    </if>
                  
                  <if condition="$vo['pause_status'] eq 0">
                    <if condition="$vo['IL_state'] lt 200 && I('get.type') neq 'stop'">
<!--                        <span style="vertical-align:text-middle;">|</span> 
                      <a href="{:U('PostManagement/toPause',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">暂停</a> -->
                    </if>
                  
                  <elseif condition="$vo['pause_status'] eq 20"/>
                    <if condition="$vo['IL_state'] lt 200 && I('get.type') eq 'stop'">
                      <if condition="$vo['candel'] eq 0">
                      
<!--                        <span style="vertical-align:text-middle;">|</span> 
                      <a href="{:U('PostManagement/toRecover',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">恢复</a> -->

                      <else />
                      </if>

                    </if>
                  </if>

                  <!-- 删除 -->
                    <!-- 等于8可删除 -->
                    <if condition="($vo['IL_state'] eq 8 && I('get.type') eq 'stop')OR($vo['candel'] eq 1)">
<!--                        <span style="vertical-align:text-middle;">|</span> 
                      <a href="{:U('PostManagement/toDel',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">删除</a> -->
                    </if>
                  
                  <!-- 20161018 Jie -->
                  <if condition="$vo['order_opt_state'] eq '0' ">
                   <span style="vertical-align:text-middle;">|</span> 
                  <a href="javascript:void(0)" onclick="sendMsg('{$vo.id}','{$vo.MKNO}','{$tcid}')" class="logis{$vo['id']}" data-target="#myModal">发送订单</a>
                  </if>
                  <!-- <a href="{:U('MKBc2/toSend',array('num'=>$vo['MKNO'],'tcid'=>$vo['tcid']))}" >发送</a> -->
                  <!-- 20161018 Jie End -->
                  
                  <if condition="($vo['order_opt_state'] gt '0') && ($vo['order_opt_state'] neq '4')">
                     <span style="vertical-align:text-middle;">|</span> 
                      <a href="{:U('MKBc2/new_num',array('num'=>$vo['MKNO']))}" data-toggle="modal" data-target="#myModal">更改运单号</a>
                  </if>

                  <if condition="($vo['order_opt_state'] eq '1') && ($vo['order_opt_state'] neq '4')">
                   <span style="vertical-align:text-middle;">|</span> 
                  <!-- <a href="{:U('MKBc2/cancel',array('num'=>$vo['MKNO'],'tcid'=>$vo['tcid']))}" >取消订单</a> -->
                  <a href="{:U('MKBc2/pre_cancel',array('num'=>$vo['MKNO']))}" data-toggle="modal" data-target="#myModal">取消订单</a>
                  </if>

                  &nbsp;&nbsp;
                  <!-- End -->
                </td>
              </tr>
            </volist>
          </tbody>            
        </table>
  </div>
</form>

<if condition="I('get.mstr') && I('get.stype') neq 'lost'">
    <div style="padding-left:100px;padding-right:100px;">
    <div>
        <div style="font-size:14px;">
            <h4>备注:</h4>
            <p>
        <volist name="record_list" id="v" mod="2">
          <strong>{$v.op_time}&nbsp;&nbsp;{$v.op_user}：</strong><br>
          &nbsp;&nbsp;&nbsp;&nbsp;{$v.content}<br>
        </volist>
            </p>
      <p>
        <form action="{:U('addNew')}" id="tempForm" method="post" name="addNew">
          <textarea name="content" style="width:450px;height:100px;resize:none;" placeholder="添加新备注..."></textarea>
          <input type="hidden" name="mstr" value="{:I('get.mstr')}">
          <button class="btn btn-default">添加备注</button>
        </form>
      </p>
        </div>
    </div>  
  <script src="__PUBLIC__/js/my.js"></script>
  <link href="__PUBLIC__/css/one.css" rel="stylesheet">  
    </div>
</if>

<div id="pages" class="page">{$page}</div>
<include file="MKBc2/outside_file"/>
      <div class="foot"></div>

</block>

</body>
</html>