<extend name="./base" />

<block name="main">
<script type="text/javascript" src="__PUBLIC__/js/datetime/DateTimePicker.js"></script>
<link href="__PUBLIC__/js/datetime/DateTimePicker.css" rel="stylesheet">
<script type="text/javascript">
	$(document).ready(function()
			{
				$("#dtBox").DateTimePicker({

					minuteInterval: 5

				});
			});
</script>
    <div class="container">
        <div class="col-md-2">
			<include file="Public:authNav" />
        </div>
        <div class="col-md-10" >
        	<div class="rtop">
        		<ul class="list-inline">
 				 <li class="blue"><a href="javascript:void">流水账本</a></li>
 				 <li style="float:right">您当前所在位置：流水账本&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">充值记录</a></li>
				</ul>
				<table border="0" cellpadding="0" cellspacing="0" class="table" style="margin-bottom:0px">
						<tr>
							<td>
				<form action="{:U('Finance/recharge')}" method="get" class="form-inline" id="exportse">
						<!-- 中文搜索时必须的 -->
						<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
						<input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
						<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
						<!-- End -->	
				<label>筛选：<input type="search" name="keyword" class="form-control" value="{:trim($keyword)}" style="width:200" /></label>
				<label>
				<select name="searchtype" id="searchtype" class="form-control">
					<option value="payno" <eq name="searchtype" value="payno">selected</eq>>支付单号</option>
					<option value="order_no" <eq name="searchtype" value="order_no">selected</eq>>内部订单号</option>
					<option value="username" <eq name="searchtype" value="username">selected</eq>>会员账号</option>
				</select>
				</label>
<!-- 				<label>
				<select name="searchtype" class="form-control" >
					<option value="" >支付方式</option>
					<option value="payno" <eq name="searchtype" value="payno">selected</eq>>支付单号</option>
				</select>
				</label> -->
				<div id="dtBox"></div>
				<label>
				&nbsp;&nbsp;支付时间：<input type="text" class="form-control one" name="starttime" data-field="datetime" size="25" id="createStarttime" value="<eq name="starttime" value=""><else />{$starttime|date='Y-m-d H:i:s',###}</eq>" style="width:200" > -- <input type="text" class="form-control two" data-field="datetime" size="25" id="createEndtime" name="endtime" value="<eq name="endtime" value=""><else />{$endtime|date='Y-m-d H:i:s',###}</eq>" style="width:200" >
				</label>
				<input type="hidden" id="starttime" name="starttime">
				<input type="hidden" id="endtime" name="endtime">
				<label>
				&nbsp;&nbsp;行数：
				<select name="ePage" id="" class="form-control" >
					<option value="10" <eq name="ePage" value="10">selected</eq>>10</option>
					<option value="20" <eq name="ePage" value="20">selected</eq>>20</option>
					<option value="30" <eq name="ePage" value="30">selected</eq>>30</option>
					<option value="50" <eq name="ePage" value="50">selected</eq>>50</option>
					<option value="100" <eq name="ePage" value="100">selected</eq>>100</option>
				</select>
				</label>
				<label>

						<button type="submit" class="btn btn-primary btn-lg" onclick="ccc()" >查询</button>
				</label>
				<label>

					<button type="submit" class="btn btn-primary btn-lg"  name="download" value="1" onclick="exports()">导出</button>
				</label>
				<label>
					<span style="color:red">注:最大只能导出前31天的记录</span>
				</label>

				</form>
							</td>
						</tr>
			</table>
<script type="text/javascript">
function ccc(){
	var startTime=document.getElementById("createStarttime").value;
	if(startTime != ''){
		var startback = transdate(startTime);
		document.getElementById("starttime").value=startback;
	}

	var endTime=document.getElementById("createEndtime").value;
	if(endTime != ''){
		var endback = transdate(endTime);
		document.getElementById("endtime").value=endback;
	}
}



function exports(){
    var startTime=document.getElementById("createStarttime").value;
    if(startTime != ''){
        var startback = transdate(startTime);
        document.getElementById("starttime").value=startback;
    }else{
        var startback = Date.parse(new Date());	//毫秒时间戳
		startback = startback / 1000;  //以秒的时间戳
		//获取31天时间戳
        var seven_time = 60 * 60 * 24 * 31;
        startback = startback - seven_time;
        document.getElementById("starttime").value=startback;
    }

    var endTime=document.getElementById("createEndtime").value;
    if(endTime != ''){
        var endback = transdate(endTime);
        document.getElementById("endtime").value=endback;
    }
}





function transdate(startTime){
	var date=new Date();
	date.setFullYear(startTime.substring(0,4));
	date.setMonth(startTime.substring(5,7)-1);
	date.setDate(startTime.substring(8,10));
	date.setHours(startTime.substring(11,13));
	date.setMinutes(startTime.substring(14,16));
	date.setSeconds(startTime.substring(17,19));
	return Date.parse(date)/1000;
}
function transdate(endTime){
	var date=new Date();
	date.setFullYear(endTime.substring(0,4));
	date.setMonth(endTime.substring(5,7)-1);
	date.setDate(endTime.substring(8,10));
	date.setHours(endTime.substring(11,13));
	date.setMinutes(endTime.substring(14,16));
	date.setSeconds(endTime.substring(17,19));
	return Date.parse(date)/1000;
}

</script>
				<table border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important; overflow-x:scroll">
					<thead>
						<tr>
							<!-- <th ><input  type="checkbox"></th> -->
							<th>序号</th>
							<th>会员</th>
							<th width="200px;">内部订单号</th>
							<th width="200px;">支付单号</th>

							<th>创建时间</th>
							<th>支付时间</th>
							<th>支付方式</th>
							<th>充值金额<span>($)</span></th>
							<th>账户余额<span>($)</span></th>
							<th>操作员</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody style="font-size:15px;">
						<volist name="list" id="vo" mod="2">
						<tr  <eq name="mod" value="1"> style="background-color:#ddd;"</eq>>
							<td class="td1" >
									{$vo.id}
							</td>
							<td  class="td1" >
									{$vo.username}
							</td>
							<td  class="td1">
									{$vo.order_no|default="&nbsp;"}
							</td>
							<td  class="td1" >
								{$vo.payno|default="&nbsp;"}
							</td>
							<td  class="td1" >
								{$vo.ordertime|default="&nbsp;"}

							</td>
							<td  class="td1" >
								{$vo.paytime|default="&nbsp;"}
							</td>
							<td  class="td1" >
								{:C('Pay_Kind')[$vo['paykind']]}
<!-- 			                      <switch name="vo.paykind">
			                          <case value="wechat">微信</case>
			                          <case value="alipay">支付宝</case>
			                          <case value="cash">现金</case>
			                          <case value="credit_card">信用卡</case>
			                          <case value="other">其它</case>
			                          <default />
			                      </switch> -->
							</td>
							<td  class="td1" >
									{$vo.amount_usa}
							</td>
							<td  class="td1" >
									{$vo.user_balance_usa}
							</td>
							<td  class="td1" >
									{$vo.operator|default="会员充值"}
							</td>
							<td class="td1">

									<a href="{:U('Finance/recharge_info',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">查看</a>
							</td>
						</tr>
						</volist>
					</tbody>
<!-- 						<tr>
							<td colspan="8" style="background:#f6f6f6"><input type="submit" value="删除"/></td>
						</tr> -->
				</table>

				<div id="pages" class="page">{$page}</div>
        	</div>
        </div>
		</div>		
<div class="foot"></div>

</block>


</body>
</html>