<extend name="./base" />

<block name="main">
<script src="http://res.megao.hk/b/ecadmpl/assets/js/ajaxfileupload.js"></script>
    <div class="container">
        <div class="col-md-2">
			<include file="Public:authNav" />
			
			
        </div>
        <div class="col-md-10">
        	<div class="rtop">
        		<ul class="list-inline">
	 				 <if condition="ACTION_NAME eq 'line_area'">
	 				 		<li class="blue"><a href="{:U('Transit/center')}">线路列表</a></li>
	 				 </if>
	 				 <li style="float:right">您当前所在位置：物流管理&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">中转线路管理</a></li>
				</ul>
        	</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">线路地区复制</h4>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="{:U('TransitPtwo/line_copy_handle')}" method='post' enctype="multipart/form-data">
						<div class="form-group">
				

						</div>
						<div class="form-group">
							<label for="groupName" class="col-sm-1 control-label">线路名称:</label>
							<div class="col-sm-2">
									<select class="form-control" name="line_zcode" id="line_zcode">
										<option style="margin:5px 3px; padding-left:5px; " <if condition="$id eq 0">selected=""</if>  value="0">请选择上级地区</option>
										<volist name="transit" id="cateL">
												<option  style="margin:5px 3px; padding-left:5px;"  value="{$cateL['id']}"  onclick="transit(this)">{$cateL.name}</option>
										</volist>
									</select>		
							</div>	
							<label for="groupName" class="col-sm-1 control-label">省级名称:</label>
							<div class="col-sm-2">
									<select class="form-control" name="province" id="province">
										<option style="margin:5px 3px; padding-left:5px; " value="0">请选择省级</option>
										
									</select>		
							</div>
							<label for="groupName" class="col-sm-1 control-label">市级名称:</label>
							<div class="col-sm-2">
									<select class="form-control" name="city" id="city">
										<option style="margin:5px 3px; padding-left:5px; " value="0">请选择市级</option>
										
									</select>		
							</div>
							<label for="groupName" class="col-sm-1 control-label">区级名称:</label>
							<div class="col-sm-2">
									<select class="form-control" name="area" id="area">
										<option style="margin:5px 3px; padding-left:5px; " value="0">请选择区级</option>
										
									</select>		
							</div>
						</div>					
						<!-- <div class="form-group">

						</div>	
						
						<div class="form-group">

						</div> -->							
						<label class="col-sm-5 control-label"></label>
						<input type="hidden"  name="id" value="{$line_id}" id="translate_id"/>
						<button type="button"  class="btn btn-add" id="translate"  rel="popover" data-content="" data-original-title="操作提示">复制</button>
						<!-- <a onclick="stock(this)" id="{$vo['id']}" name="{$vo['name']}" url_a="{:U('Transit/line_area_delete', array('id' => $line_id))}"  href="#"><button type="" class="btn btn-add" >清空</button></a>
						 -->									
				 	</form>
				
				</div>
			</div>

<script type="text/javascript">
	function transit(obj){
		var line_id = $(obj).val();
		$.post("{:U('TransitPtwo/line_copy')}", {line_id : line_id}, function(data){
			var list = data['province'];
			var html ='';
			$('#province').html('');
			$('#city').html('<option style="margin:5px 3px; padding-left:5px; " value="0">请选择市级</option>');
			$('#area').html('<option style="margin:5px 3px; padding-left:5px; " value="0">请选择区级</option>');
			html +='<option style="margin:5px 3px; padding-left:5px; " value="0">请选择省级</option>';
			for(var i = 0 in list){
				html += '<option  style="margin:5px 3px; padding-left:5px;" onclick="province(this)" line_id="'+list[i]['line_id']+'"  value="'+list[i]['id']+'">'+list[i]['name']+'</option>';
			}
			$('#province').append(html);
		},'json');
	}

	function province(obj){
		var line_id = $(obj).attr('line_id');
		var province_id = $(obj).val();
		$.post("{:U('TransitPtwo/line_copy')}", {line_id:line_id, province:province_id}, function(data){
			var list = data['city'];
			var html ='';
			$('#city').html('');
			$('#area').html('<option style="margin:5px 3px; padding-left:5px; " value="0">请选择区级</option>');
			html +='<option style="margin:5px 3px; padding-left:5px; " value="0">请选择市级</option>';
			for(var i = 0 in list){
				html += '<option  style="margin:5px 3px; padding-left:5px;" onclick="city(this)" line_id="'+list[i]['line_id']+'"  value="'+list[i]['id']+'">'+list[i]['name']+'</option>';
			}
			$('#city').append(html);	
		},'json');
	}

	function city(obj){
		var line_id = $(obj).attr('line_id');
		var province_id = $(obj).val();
		$.post("{:U('TransitPtwo/line_copy')}", {line_id:line_id, province:province_id}, function(data){
			var list = data['city'];
			var html ='';
			$('#area').html('');
			html +='<option style="margin:5px 3px; padding-left:5px; " value="0">请选择区级</option>';
			for(var i = 0 in list){
				html += '<option  style="margin:5px 3px; padding-left:5px;" line_id="'+list[i]['line_id']+'"  value="'+list[i]['id']+'">'+list[i]['name']+'</option>';
			}
			$('#area').append(html);	
		},'json');


	}


	$('#translate').click(function(){
		//alert('sdfsdfsedf');
		var line_zcode = document.getElementById("line_zcode").value;
		var province =  document.getElementById("province").value;	
		var city = document.getElementById("city").value; 
		var area = document.getElementById("area").value;
		var id   = document.getElementById("translate_id").value;
		var formData = new FormData();
		
		if(line_zcode == 0){
			//$('#line_zcode').on('click', function(){
			//    layer.tips('请选择线路!', '#line_zcode');
			//});
			layer.tips('请选择线路', '#line_zcode');
			return;
		}
		formData.append("line_zcode", line_zcode);
		formData.append("province", province);
		formData.append("city", city);
		formData.append("area", area);
		formData.append("id", id);
		
		var request;
		var i;
		ityzl_SHOW_LOAD_LAYER();
		if (window.XMLHttpRequest) {
			request = new XMLHttpRequest();
		} else {
		    request = new ActiveXObject('Microsoft.XMLHTTP');
		}
		request.onreadystatechange = function(){
			if(request.status == 200 && request.readyState == 4){
				if(request.responseText){
					//成功返回
					var a = JSON.parse( request.responseText );
					var status = a.status;
					var str = a.data.strstr;
					var url = a.data.url;
					ityzl_CLOSE_LOAD_LAYER(i); 
	                ityzl_SHOW_TIP_LAYER(str, url); 
	                document.getElementById("form2").reset();
				}else{
					ityzl_CLOSE_LOAD_LAYER(i);
				}
			}
		}
		request.open("post", "{:U('TransitPtwo/line_copy_handle')}");
		//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		request.setRequestHeader("X-Requested-With","XMLHttpRequest");
		request.send(formData);

	});




	

</script>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">线路地区上传</h4>
				</div>
				<div class="panel-body">
					<div class="col-sm-10">
					<form class="form-horizontal" action="{:U('TransitPtwo/area_upload')}" method='post' enctype="multipart/form-data" id="form2">
						<div class="form-group">
							<label for="groupName" class="col-sm-1 control-label">地区名称:</label>
							<div class="col-sm-2">
									<select class="form-control line_zcode" name="line_zcode" id="line">
										<option style="margin:5px 3px; padding-left:5px;" value="0">请选择上级地区</option>
										<volist name="area" id="cateL">
												<option  style="margin:5px 3px; padding-left:5px;"  value="{$cateL['id']}">{$cateL.name}</option>
										</volist>
									</select>		
							</div>
							<label for="groupName" class="col-sm-1 control-label">上传文件:</label>
							<div class="col-sm-2">
									<input id="file_stu" name="file_stu" value="" required="" accept="text/csv" type="file">		
							</div>							
							<label class="col-sm-5 control-label"></label>
							<input type="hidden" id="lines_id"  name="id" value="{$line_id}" />
							<button type="button" class="btn btn-add" id="daoru">更新</button>
							
						</div>			
				 	</form>
				 	</div>
				 	<div class="col-sm-1">
					<a onclick="stocks(this)" id="{$vo['id']}" name="{$vo['name']}" url_a="{:U('TransitPtwo/line_area_delete', array('id' => $line_id))}"  href="#"><button type="" class="btn btn-add" >清空</button></a>
					</div>
					<div class="col-sm-1">
						<a href="{:U('TransitPtwo/redis_line', array('id' => $line_id))}" ><button type="" class="btn btn-add" >更新缓存</button></a>
					</div>
				</div>
			</div>
<!-- Modal -->
<div class="modal fade" id="myModalas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">错误提示</h4>
      </div>
      <div class="modal-body" id="tts"  style="height:200px; overflow:auto;">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalcon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">正确提示</h4>
      </div>
      <div class="modal-body" id="tts"  style="height:200px; overflow:auto;">
      	<form action="{:U('TransitPtwo/area_upload_confirm')}"  method='post' enctype="multipart/form-data" >
      		<p>数据正确,是否确认上传</p>
      		<div class="confirm">
      		
      		</div>	
      		<div class="col-sm-12" style="padding-top:100px; ">
	        	<button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right">取消</button>
	        	<button type="button" id="queren" class="btn btn-primary"  style="float:right; margin-right:20px;">确定上传</button>
	      	</div>
      	</form>	
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
	$('#daoru').click(function(){
		var files = document.getElementById("file_stu").files;
		var id =  document.getElementById("lines_id").value;	
		var pid = document.getElementById("line").value; 
		var formData = new FormData();
		var asv = files[0];
		if(typeof(asv) == 'undefined'){
			layer.tips('请上传文件', '#file_stu');
			return;
		}
		formData.append("file_stu", files[0]);
		formData.append("id", id);
		formData.append("pid", pid);
		var request;
		if (window.XMLHttpRequest) {
			request = new XMLHttpRequest();
		} else {
		    request = new ActiveXObject('Microsoft.XMLHTTP');
		}
		request.onreadystatechange = function(){
			if(request.status == 200 && request.readyState == 4){
				if(request.responseText){
					var a = JSON.parse( request.responseText );
					var status = a.status;
					var html = '';
					if(1 == status){
						var data = a.data;
						for(var i in data){
							html += '<p>'+data[i]['errorstr']+'</p>';
						}
						$('#tts').html(html);
						$('#myModalas').modal('show');
					}else if(2 == status){
						var data = a.data;
						var line_id = data.line_id;
						var pid = data.pid;
						var data_file = data.files;
						html = '<input type="hidden" id="qr_line_id" name="line_id" value="'+line_id+'"  />'; 
						html += '<input type="hidden" id="qr_pid" name="pid" value="'+pid+'"  />';
						html += '<input type="hidden" id="qr_files" name="files" value="'+data_file+'"  />';
						$('.confirm').html(html);
						$('#myModalcon').modal('show');

							
					}
					//alert(status);

					//alert(request.responseText);
					//alert('导入成功！');
				}
			}
		}
		request.open("post", "{:U('TransitPtwo/area_upload')}");
		//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		request.setRequestHeader("X-Requested-With","XMLHttpRequest");
		request.send(formData);

	});
	$('#queren').click(function(){
		var line_id = document.getElementById("qr_line_id").value;
		var pid = document.getElementById("qr_pid").value;
		var files = document.getElementById("qr_files").value;
		var formData = new FormData();
		formData.append("line_id", line_id);
		formData.append("pid", pid);
		formData.append("files", files);
		var request;
		var i;
		ityzl_SHOW_LOAD_LAYER();
		if (window.XMLHttpRequest) {
			request = new XMLHttpRequest();
		} else {
		    request = new ActiveXObject('Microsoft.XMLHTTP');
		}
		request.onreadystatechange = function(){
			if(request.status == 200 && request.readyState == 4){
				if(request.responseText){
					var a = JSON.parse( request.responseText );
					var status = a.status;
					//alert(status);
					var str = a.data.strstr;
					ityzl_CLOSE_LOAD_LAYER(i); 
	                ityzl_SHOW_TIP_LAYER(str); 
	                document.getElementById("form2").reset();
				}else{
					ityzl_CLOSE_LOAD_LAYER(i);
				}
			}
		}
		request.open("post", "{:U('TransitPtwo/area_upload_confirm')}");
		//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		request.setRequestHeader("X-Requested-With","XMLHttpRequest");
		request.send(formData);

		
	});
</script>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">添加线路地区</h4>
				</div>

				<div class="panel-body">
					<form class="form-horizontal" action="{:U('TransitPtwo/line_area_handle')}" method='post' id="form1" >					
						<div class="form-group">
							<label class="col-sm-2 control-label" for="username">地区名称:</label>
							<div class="col-sm-5">
								<input class="form-control layui-btn" id="test5" placeholder="地区名称" name="name" value="" type="text">
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="username">地区名称别名:</label>
							<div class="col-sm-5">
								<input class="form-control" placeholder="地区名称别名" name="alias_name" value="" type="text">
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="username">邮编:</label>
							<div class="col-sm-5">
								<input class="form-control layui-btn" id="test4" placeholder="邮编" name="zipcode" value="" type="text">
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="username">状态:</label>
							<div class="col-sm-5">
								
									<input name="status" checked="checked" value="1" type="radio"  >
									启用
									<input name="status" value="0" type="radio"  >
									禁用
								 
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="username">上级地区名:</label>
							<div class="col-sm-5">
								<select class="form-control" name="pid">
									<option style="margin:5px 3px; padding-left:5px; " <if condition="$id eq 0">selected=""</if>  value="0">请选择上级地区</option>
									<volist name="area" id="cateL">
											<option  style="margin:5px 3px; padding-left:5px;"  value="{$cateL['id']}">{$cateL.name}</option>
									</volist>
								</select>
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>						
						
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-5">
								<button type="button" class="btn btn-success btn-add layui-btn" onclick="line_zcode_add(this)" id="example_top"  class="btn btn-success" rel="popover" data-content="为我的网站创建一个提示框如此简单！" data-original-title="Bootstrap 弹出框">更新</button>
								<!-- <button id="beClosed" class="btn btn-default" type="button" data-dismiss="modal">关闭</button> -->
								<input type="hidden"  name="id" value="{$line_id}" />
								<span id="messagebox" class="msgbox " style=" right:300px;!important"></span>
							</div>
						</div>

					</form>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">线路地区列表</h4>
				</div>
				<div class="panel-body">
						<div class="form-group col-sm-12">
							<volist name="area" id="vo" mod="3">
							
								<div class="col-sm-4">	
									<span style="font-size:25px;">{$vo['name']}</span>&nbsp;&nbsp;&nbsp;<span style="vertical-align:text-middle;">|</span>&nbsp;&nbsp;&nbsp;<a href="{:U('TransitPtwo/line_area', array('id' => $vo['line_id'], 'area_id' => $vo['id'] ))}">管理</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('TransitPtwo/line_area_edit', array('id' => $vo['line_id'], 'area_id' => $vo['id'] ))}"    data-toggle="modal" data-target="#myModal">修改</a>&nbsp;&nbsp;&nbsp;<a href="#" name="{$vo['name']}" Aurl="{:U('TransitPtwo/line_area_delete', array('id' => $vo['line_id'], 'zcode_id' => $vo['id'] ))}" onclick="line_dete(this)">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</div>		
								<eq name="mod" value="2"><br/><br/><br/></eq>
							</volist>
															
							
							<label class="col-sm-2 control-label"></label>
						</div>
					
				
				
				</div>
			</div>


        </div>
		</div>		
<div class="foot"></div>
<script type="text/javascript">
	function line_zcode_add(obj){
		var name = $(':input[name="name"]').val();
		var alias_name = $(':input[name="alias_name"]').val();
		var zipcode = $(':input[name="zipcode"]').val();
		var status = $(':input[name="status"]').val();
		var pid = $(':input[name="pid"]').val();
		var id = $(':input[name="id"]').val();
		if(name == ''){
			layer.tips('地区名称不能为空', '#test5');
			return;
		}
		if(zipcode == ''){
			layer.tips('邮编不能为空', '#test4');
			return;
		}
		var formData = new FormData();
		formData.append("name", name);
		formData.append("alias_name", alias_name);
		formData.append("zipcode", zipcode);
		formData.append("status", status);
		formData.append("pid", pid);
		formData.append("id", id);
	
		
		var request;
		if (window.XMLHttpRequest) {
			request = new XMLHttpRequest();
		} else {
		    request = new ActiveXObject('Microsoft.XMLHTTP');
		}
		var i;
		ityzl_SHOW_LOAD_LAYER();
		request.onreadystatechange = function(){
			if(request.status == 200 && request.readyState == 4){
				if(request.responseText){
					var a = JSON.parse( request.responseText );
					var status = a.status;
					//$("#example_top").popover({placement:'top', trigger: 'focus'});
					//alert(status);
					//layer.msg('hello');
					//alert(a.data.strstr);
					//window.location.reload();
					//alert(request.responseText);
					//alert('导入成功！');
					var str = a.data.strstr;
					ityzl_CLOSE_LOAD_LAYER(i); 
	                ityzl_SHOW_TIP_LAYER(str); 
	                document.getElementById("form1").reset();
				}else{
					ityzl_CLOSE_LOAD_LAYER(i);
				}
			}
		}
		request.open("post", "{:U('TransitPtwo/line_area_handle')}");
		//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		request.setRequestHeader("X-Requested-With","XMLHttpRequest");
		request.send(formData);


		
	}


    function ityzl_SHOW_LOAD_LAYER(){  
        return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '200px', time:100000}) ;  
    }  
    function ityzl_CLOSE_LOAD_LAYER(index){  
        layer.close(index);  
    }  
    function ityzl_SHOW_TIP_LAYER(str, url = ''){  
        layer.msg(''+str+'',{time: 2000,offset: '200px'}); 
        if(url){
        	window.location = url;
        }else{
        	window.location.reload(); 
        }
    } 	

	function line_dete(obj){
		var url_a = $(obj).attr('Aurl');
		var name = $(obj).attr('name');
		if(confirm('是否删除地区为：'+ name + ' 的线路信息！')){
			//window.location.href=url_a;
			var request;
			var i;
			ityzl_SHOW_LOAD_LAYER();
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						var a = JSON.parse( request.responseText );
						var status = a.status;
						//alert(status);
						//alert(a.data.strstr);
						//window.location.reload();
						//alert(request.responseText);
						//alert('导入成功！');
						var str = a.data.strstr;
						ityzl_CLOSE_LOAD_LAYER(i); 
		                ityzl_SHOW_TIP_LAYER(str); 
		                document.getElementById("form1").reset();
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("get", url_a);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send();
			
		} 
	}
	
	function point(obj){
		var gouxuan=$('input[type=checkbox]').is(':checked');
		if(gouxuan){
			$('.point').removeAttr('checked');
			//$('.point').css('cursor', 'not-allowed');
			$('.point').attr('disabled', 'disabled');
		}else{
			$('.point').removeAttr('disabled');
		}

		//alert(gouxuan); 
	}

</script>		
<script type="text/javascript">
	function stocks(obj){
		var id = $(obj).attr('id');
		var url_a = $(obj).attr('url_a');
		var line_id = $('.line_zcode').find("option:selected").val();
		var url = url_a + '/zcode_id/' + line_id;
		
		var del_sn = $('#line').find("option:selected").text();
		if('请选择上级地区' == del_sn){
			del_sn = '全部';
		}
		if(confirm('是否删除地区为：'+ del_sn + ' 的线路信息！')){
			//window.location.href = url;
			
			var request;
			var i;
			ityzl_SHOW_LOAD_LAYER();
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						var a = JSON.parse( request.responseText );
						var status = a.status;
						//alert(status);
						//alert(a.data.strstr);
						//window.location.reload();
						//alert(request.responseText);
						//alert('导入成功！');
						var str = a.data.strstr;
						var url = a.data.url;
						ityzl_CLOSE_LOAD_LAYER(i); 
		                ityzl_SHOW_TIP_LAYER(str, url); 
		                document.getElementById("form1").reset();
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("get", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send();

			
		} 
	}


	

</script>	
<script src="__PUBLIC__/js/my.js"></script>
</block>


</body>
