<extend name="Public:base" />
<block name="title">{:L('FUNCTION_VZ')}</block>
<block name="css">
		<link rel="stylesheet" type="text/css" href="__CSS__/business.css">
</block>
<block name="content">
		<div class="function_vz">
			<div class="top_fu"  style="position: relative;">
				<div class="text_fu">
					<div>
						<li>{:L('Express_fu')}</li>
						<p class="p2">{:L('Speedy_fu')}</p>
					</div>
				</div>
				<div class="xiala_vz" style="width:40px; padding:0;" onclick="xiala_vzs()"></div>
			</div>

			<div class="c1_fu content">
				<div class="now">
					<li class="l1">						
						<span class="s2">
							<label>
								<img src="__IMG__/fu_pic_2.jpg">
							</label>
						</span>
					</li>
					<li class="l3">{:L('distribution_fu')}</li>
					<li class="l2">{:L('Multi_fu')}</li>
				</div>
				<div class="now now2">
					<li class="l1">
						<span class="s2">
							<label>
								<img src="__IMG__/fu_pic_3.jpg">
							</label>
						</span>
					</li>
					<li class="l3">{:L('Processional_fu')}</li>
					<li class="l2">{:L('Meikuai_fu')}</li>

				</div>
				<div class="clear"></div>
			</div>
			<div class="fu_c2">
				<div class="tr_vz">
					<div>
						<p class="p1">{:L('Oversea_fu')}</p>
						<p class="p2">{:L('addition_fu')}</p>
					</div>
				</div>
			</div>
			<div class="fu_c3">
				<div class="tr_vz">
					<div class="now now1">
						<p class="p1"><img src="__IMG__/fu_pic_6.jpg" /></p>
						<p class="p2"><span>◇</span>{:L('Overseac_fu')}</p>
						<p class="p3">{:L('Meikuaiz_fu')}</p>
					</div>
					<div class="now now2">
						<p class="p1"><img src="__IMG__/fu_pic_8.jpg" /></p>
						<p class="p2"><span>◇</span>{:L('Meiquaiv_fu')}</p>
						<p class="p3">{:L('expressv_fu')}</p>
					</div>
					<div class="now now3">
						<p class="p1"><img src="__IMG__/fu_pic_7.jpg" /></p>
						<p class="p2"><span>◇</span>{:L('Warehouse_fu')}</p>
						<p class="p3">{:L('Equivalent_fu')}</p>
					</div>					
					<div class="clear"></div>
				</div>
			</div>
			<div class="fu_c4">
				<div class="tr_vz">
					<div>
						<p class="p1">{:L('Bonded_fu')}</p>
						<p class="p2">{:L('BOffers_fu')}</p>
					</div>
				</div>
			</div>
			<div class="fu_c5">
				<div class="now now1">
					<li class="l1"><span>◇ </span>{:L('Customer_fu')}</li>
					<li class="l2"><p>{:L('CAim_fu')}</p></li>
				</div>
				<div class="now now2">
					<li class="l1"><span>◇ </span>{:L('Meiquaip_fu')}</li>
					<li class="l2"><p>{:L('Moffer_fu')}</p></li>
				</div>
				<div class="clear"></div>
			</div>
			<div class="fu_c6">
				<div class="tr_vz">
					<div class="absolute">
					<li class="l1">{:L('Custom_fu')}</li>
					<li class="l2">{:L('Clogistics_fu')}</li>
					</div>
					<li class="l3">
						<div class="dd d1">
							<p class="p1"><span></span></p>
							<p class="p2">{:L('Customsd_fu')}</p>
							<p class="p3"><span>{:L('CWithout_fu')}</span></p>
						</div>
						<div class="dd d1">
							<p class="p1"><span></span></p>
							<p class="p2">{:L('Port_fu')}</p>
							<p class="p3"><span>{:L('With_fu')}</span></p>
						</div>
						<div class="clear"></div>
					</li>
				</div>
			</div>
		</div>
</block>