<extend name="./base" />

<block name="main">

<script type="text/javascript" src="__PUBLIC__/js/datetime/DateTimePicker.js"></script>
<link href="__PUBLIC__/js/datetime/DateTimePicker.css" rel="stylesheet">
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#dtBox").DateTimePicker({

            minuteInterval: 5

        });
    });
</script>

<div id="dtBox"></div>

<div class="container" >
    <div class="col-md-2">
        <include file="Public:authNav" />
    </div>
    <div class="col-md-10">
        <div class="rtop">
	        <table border="0" cellpadding="0" cellspacing="0" class="table" style="margin-bottom:0px">
		        <tr>
			        <td style="border-top:none">
                        <span style="text-align:left;float:left;margin-top:12px;">
                            <a href="{:U('OrdersBoxed/info')}">
                                <button type="button" class="btn btn-primary">订单号</button>
                            </a>
                            &nbsp;&nbsp;
                            <a href="{:U('OrdersBoxed/info_pno')}">
                            <button type="button" class="btn btn-primary">批次号</button>
                            </a>
				        </span>
                        <h4 style="text-align:right">
                            您当前所在位置：西安物流&nbsp;/&nbsp;装板记录&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">订单号</a>
                        </h4>
			        </td>
                </tr>
                
                <tr>
                    <td>
                        <form action="" method="get" class="form-inline">
                            <!-- 中文搜索时必须的 -->
                            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
                            <input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
                            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
                            <!-- End -->

                            <label>筛选：
                                <input type="search" name="keyword" class="form-control" value="{$keyword}" style="width:200" />
                            </label>

                            <label>
                                <select name="searchtype" class="form-control">
                                    <option value="STNO" <eq name="searchtype" value="STNO">selected</eq>>运单号</option>
                                    <option value="MKNO" <eq name="searchtype" value="MKNO">selected</eq>>美快单号</option>
                                    <option value="BNUM" <eq name="searchtype" value="BNUM">selected</eq>>装板号</option>
                                </select>
                            </label>

                            <label>
                                &nbsp;&nbsp;装板时间：<input type="text" class="form-control one" data-field="datetime" size="25" id="createStarttime" value="<eq name="starttime" value=""><else />{$starttime|date='Y-m-d H:i:s',###}</eq>" style="width:200" > -- <input type="text" class="form-control two" data-field="datetime" size="25" id="createEndtime" value="<eq name="endtime" value=""><else />{$endtime|date='Y-m-d H:i:s',###}</eq>" style="width:200" >
                            </label>

                            <input type="hidden" id="starttime" name="starttime">
                            <input type="hidden" id="endtime" name="endtime">
                            
                            <label>
                                &nbsp;&nbsp;行数：
                                <select name="ePage" id="" class="form-control" >
                                    <option value="10" <eq name="ePage" value="10">selected</eq>>10</option>
                                    <option value="20" <eq name="ePage" value="20">selected</eq>>20</option>
                                    <option value="30" <eq name="ePage" value="30">selected</eq>>30</option>
                                    <option value="50" <eq name="ePage" value="50">selected</eq>>50</option>
                                    <option value="100" <eq name="ePage" value="100">selected</eq>>100</option>
                                </select>
                            </label>
                            <label>
                                    <button type="submit" class="btn btn-primary btn-lg" onclick="ccc()" >查询</button>
                            </label>
                        </form>
                    </td>
                
                </tr>
	        </table>
        </div>
        
        <script type="text/javascript">
            function ccc(){
                var startTime=document.getElementById("createStarttime").value;
                if(startTime != ''){
                    var startback = transdate(startTime);
                    document.getElementById("starttime").value=startback;
                }
            
                var endTime=document.getElementById("createEndtime").value;
                if(endTime != ''){
                    var endback = transdate(endTime);
                    document.getElementById("endtime").value=endback;
                }
            }
            function transdate(startTime){
                var date=new Date();
                date.setFullYear(startTime.substring(0,4));
                date.setMonth(startTime.substring(5,7)-1);
                date.setDate(startTime.substring(8,10));
                date.setHours(startTime.substring(11,13));
                date.setMinutes(startTime.substring(14,16));
                date.setSeconds(startTime.substring(17,19));
                return Date.parse(date)/1000;
            }
            function transdate(endTime){
                var date=new Date();
                date.setFullYear(endTime.substring(0,4));
                date.setMonth(endTime.substring(5,7)-1);
                date.setDate(endTime.substring(8,10));
                date.setHours(endTime.substring(11,13));
                date.setMinutes(endTime.substring(14,16));
                date.setSeconds(endTime.substring(17,19));
                return Date.parse(date)/1000;
            }
            
        </script>

        
        <div class="container" style="width:100% !important;">
	        <table border="0" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>运单号</th>
                        <th>美快单号</th>
                        <th>装板号</th>
                        <th>装板时间</th>
                    </tr>
                </thead>
		        <tbody style="font-size:15px;">
			        <foreach name="list" item='vo'>
                        <tr {$key % 2 == 0 ?'':'style="background-color:#ddd;"'}>
                            <td class="td1">{$key + 1}</td>
                            <td class="td1">{$vo.STNO}</td>
                            <td class="td1">{$vo.MKNO}</td>
                            <td class="td1">{$vo.xa_bnum}</td>
                            <td class="td1">{$vo.xa_btime}</td>
                        </tr>
                    </foreach>
		        </tbody>
	        </table>
        </div>

        <div id="pages" class="page">{$page}</div>
		<div class="foot"></div>
		<center>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            ...
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </center>
    </div>
</div>

</block>