<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/select2.css">
    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/select2.full.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/i18n/zh-CN.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
     </head>
     <style type="text/css">
       table{
        text-align: center;
       }
       table th{
        text-align: center;
       }
       table td{padding: 0}
       .select2{width: 200px;}
     </style>
  <body>
    <div class="wrap">
    <div class="box1">
    <div class="container" >
      <!-- 标题 -->
      <div class="floorh">
        <h3>商品详情</h3>
        <div class="clear"></div>
      </div>
        <div class="floor1">
          <table width="100%" cellpadding="10" cellspacing="10" border="0">
            <thead>
              <tr style="height:47px;line-height:47px;">
                <th>序号</th>
                <th>货品名称</th>
                <th>客户填写品牌</th>
                <th>客户填写数量</th>
                <th>客户填写单价</th>
                <th>客户所选货品类别</th>
                <th>税金（$）</th>
                <th class="cls_name">货品列表</th>
                <th>申报金额</th>
              </tr>
            </thead>
            <tbody>
            <volist name="pro_list" id="vo">
              <tr style="height:47px;line-height:47px;" cid="{$vo['oid']}">
                <!-- 序号 -->
                <td>{$key+1}</td>
                <!-- 货品名称 -->
                <td>{$vo['detail']}</td>
                <!-- 品牌 -->
                <td>{$vo['brand']}</td>
                <!-- 数量 -->
                <td>{$vo['number']}</td>
                <!-- 单价 -->
                <td>{$vo['price']}</td>
                <!-- 所属分类 -->
                <td style="width: 250px" class="seletd">
                  <select name="category_one" class="selec" onchange="selecchang(this)">
                    <option>所属分类1</option>
                    <volist name="naw" id="vt">
                    <php>
                        if($vt['id'] == $vo['category_one']){
                          $id = $vt['id'];
                        }
                    </php>
                    <option value="{$vt['id']}" <if condition="$vt['id'] eq $vo['category_one']">selected</if>>{$vt['cat_name']}</option>
                    </volist>
                  </select>
                  <select name="category_two" class="selec catetwo" onchange="selepic(this)">
                    <option>所属分类2</option>
                    <volist name="naw[$id]['child']" id="vf">
                    <php>
                        if($vf['id'] == $vo['category_two']){
                          $ctid = $vf['id'];
                        }
                    </php>
                      <option value="{$vf['id']}" price="{$vf['tax_price']}" <if condition="$vf['id'] eq $vo['category_two']">selected</if>>{$vf['cat_name']}</option>
                    </volist>
                  </select>
                </td>
                <!-- 税金 -->
                <td class="sbpric">
                  <volist name="naw[$id]['child']" id="vf">
                    <if condition="$vf['id'] eq $vo['category_two']">
                      {$vo['tax_price']}
                    </if>
                  </volist>
                </td>
                <!-- 货品类别 -->
                <td class="cls_name" >
                    <select class="form-control select2" onclick="lastsele(this)">
                      <option>类别</option>
                  </select>
                </td>
                <!-- 申报金额 -->
                <td class="prop">
                  0.00
                </td>
              </tr>
            </volist>
            </tbody>
          </table>
        </div>
      </div>
    </div> 
</div>
</div>
  </body>
  <script type="text/javascript">
      $("#floorul li:not(':first-child')").prepend('<div class="fradius"></div><div class="fline"></div>');
      $("#floorul li:first-child").prepend('<div class="fradiusr"></div>');  
      $(function(){
        var ctid = "{$ctid}";
            $.ajax({
                type: "GET",
                url: "{:U('SfBcOrder/product')}",
                //data:"id="+ctid,
                dataType:"json",
                contentType:"application/json",
                success:function(res){
                  $(".select2").select2({
                       data: res,
                       placeholder:'请选择',//默认文字提示
                       language: "zh-CN",//汉化
                       allowClear: true//允许清空
                   });
                }
            });

      });
      $(function(){
        $('.form-control').click();
        $('.select2').on("select2:select",function(e){
          //alert('ok');
          var selj = log("select2:select",e);
          var propri = selj.data.pro_price;
          var kk = $(this).parent('td').next('.prop').html(propri);
        })
    });

    function log (name, evt) {
      if (!evt) {
        var args = "{}";
      } else {
        var args = JSON.stringify(evt.params, function (key, value) {
          if (value && value.nodeName) return ;
          if (value instanceof $.Event) return;
          return value;
        });
      }
      return JSON.parse(args);
  }
    function lastsele(obj){
      $(obj).css('display','none');
      var lsid = $(obj).parent('td').siblings('.seletd').children('.catetwo').find('option:selected').val();
            $.ajax({
                type: "GET",
                url: "{:U('SfBcOrder/product')}",
                data:"id="+lsid,
                dataType:"json",
                contentType:"application/json",
                success:function(res){
                  //console.log(res);
                  $(obj).select2({
                       data: res,
                       placeholder:'请选择',//默认文字提示
                       language: "zh-CN",//汉化
                       //allowClear: true//允许清空
                   });
                }
            });
    }
    function selecchang(obj){
        var no = obj.value;
        //var tt = $(obj).parent('td');
        //alert(no);
        $.ajax({
            type: "GET",
            url: "{:U('SfBcOrder/next_level')}",
            data: "id="+no,
            success:function(data){
                $(obj).next('select').find('option').remove();
                $(obj).next('select').append("<option value=''>所属分类2</option>");
                $.each(data, function (i, item) {  
                    $(obj).next('select').append("<option value=" + item.id + " price="+ item.tax_price +">" + item.cat_name + "</option>");//赋值
                }); 
            }
        });
    } 
function formatState (state) {
  if (!state.id) { return state.text; }
  var $state = $(
    '<span price="'+state.pro_price+'"> ' + state.text + '</span>'
  );
  return $state;
};
    function selepic(obj){
      var gg = $(obj).find("option:selected").attr("price");
      var ctid = obj.value;
      $(obj).parent('td').siblings('.sbpric').html(gg);
      var thissele = $(obj).parent('td').siblings('.cls_name').find('.select2');
      $.ajax({
      type: "GET",
      url: "{:U('SfBcOrder/product')}",
      data:"id="+ctid,
      dataType:"json",
      contentType:"application/json",
      success:function(res){
        thissele.find('option').remove();
        thissele.append("<option value='' style='color:#000'>类别</option>");
        thissele.select2({
             data: res,
             placeholder:'类别',//默认文字提示
             language: "zh-CN",//汉化
             tags: true,
             templateResult: formatState,
             templateSelection: formatState
             //allowClear: true//允许清空

         });
        //console.log(oneReq);
        //thissele.select2('data');
      }
    });
    }
  </script>
</html>
