<extend name="./base" />
<!-- 支付通知 -->
<block name="main">

    <div class="container">
        <div class="col-md-2">
        	<include file="Public:authNav" />
        </div>
        <div class="col-md-10">
        	<div class="rtop">
        		<ul class="list-inline">
 				 <li class="blue"><a href="javascript:void;">报关列表</a></li>

 				 <li style="float:right;font-size: 17px;">您当前所在位置：美快BC优选2&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">报关</a></li>
				</ul>
				<table border="0" cellpadding="0" cellspacing="0" class="table" style="margin-bottom:0px">
						<tr>
							<td>
							<form action="{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}" method="get" class="form-inline">
							<!-- 中文搜索时必须的 -->
							<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
							<input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
							<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
							<!-- End -->	

							<!-- 搜索栏 -->
							<script type="text/javascript" src="__PUBLIC__/js/datetime/DateTimePicker.js"></script>
							<link href="__PUBLIC__/js/datetime/DateTimePicker.css" rel="stylesheet">
							<script type="text/javascript">
								$(document).ready(function()
										{
											$("#dtBox").DateTimePicker({

												minuteInterval: 5

											});
										});
							</script>
							<div id="dtBox"></div><label>
											搜索:&nbsp;
											<input type="search" name="keyword" value="{$keyword}" class="form-control" style="width:160" />
											</label>
											<label>
											
											<select name="searchtype" class="form-control" >
												<option value="" selected>查询类别</option>
												<option value="no" <eq name="searchtype" value="no">selected</eq>>中转批号</option>
												<!-- <if condition="ACTION_NAME eq index"><option value="airno" <eq name="searchtype" value="airno">selected</eq>>航空单号</option></if> -->
											</select>
											</label>
<!-- 											<if condition="CONTROLLER_NAME eq 'Logarithm'">
												<label>&nbsp;隶属线路
													<select name="tcid" class="form-control">
													<option value="">全部</option>
													<volist name="center_list" id="vt">
														<option value="{$vt[id]}" <if condition="I('tcid') eq $vt['id']">selected</if>>{$vt['name']}</option>
													</volist>
												</select>
												</label>
											</if> -->
											<label>&nbsp;

											中转批号创建时间：
											<input type="text" class="form-control one" data-field="datetime" size="25" id="createStarttime" value="<eq name="starttime" value=""><else />{$starttime|date='Y-m-d H:i:s',###}</eq>" style="width:166" > -- <input type="text" class="form-control two" data-field="datetime" size="25" id="createEndtime" value="<eq name="endtime" value=""><else />{$endtime|date='Y-m-d H:i:s',###}</eq>" style="width:166" >
											</label>
											<input type="hidden" id="starttime" name="starttime">
											<input type="hidden" id="endtime" name="endtime">
											<label>

													<button type="submit" class="btn btn-primary " style="background-color:#3071a9;" onclick="ccc()">查询</button>
											</label>
										
							<script type="text/javascript">
							function ccc(){
								var startTime=document.getElementById("createStarttime").value;
								if(startTime != ''){
									var startback = transdate(startTime);
									document.getElementById("starttime").value=startback;
								}

								var endTime=document.getElementById("createEndtime").value;
								if(endTime != ''){
									var endback = transdate(endTime);
									document.getElementById("endtime").value=endback;
								}

							}
							function transdate(startTime){
								var date=new Date();
								date.setFullYear(startTime.substring(0,4));
								date.setMonth(startTime.substring(5,7)-1);
								date.setDate(startTime.substring(8,10));
								date.setHours(startTime.substring(11,13));
								date.setMinutes(startTime.substring(14,16));
								date.setSeconds(startTime.substring(17,19));
								return Date.parse(date)/1000;
							}
							function transdate(endTime){
								var date=new Date();
								date.setFullYear(endTime.substring(0,4));
								date.setMonth(endTime.substring(5,7)-1);
								date.setDate(endTime.substring(8,10));
								date.setHours(endTime.substring(11,13));
								date.setMinutes(endTime.substring(14,16));
								date.setSeconds(endTime.substring(17,19));
								return Date.parse(date)/1000;
							}

							</script>
							<!-- 搜索栏end -->

						</form>
						</td>
					</tr>
			</table>
				<ta<!-- 公共部分 数据展示 St2Ems,SfLogistics,Logistics-->
<style>
	dt{padding-top: 5px;text-align: center;}
	.container h3{font-size:26px;}
	.btn{width:58px;height:30px;background-color: #eee;}
	.searchbox{width:88%;margin:0 auto;}
</style>

<form action="">
<div class="container" style="">
	<volist name="list" id="vo">
		<div style="width:330px;height:315px;border:1px dotted black;float:left;margin-left:30px;margin-bottom:30px;">
			<div style="padding-top:10px;">
				<h3 style="text-align: center;" title="中转批号"><strong>{$vo['no']}</strong></h3>
				<dt title="中转批号创建时间">{$vo['date']}</dt>
				<dt title="线路名称">{$vo['name']}</dt>
				<dt title="航空单号"><a href="{:U('Logarithm/info',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">{$vo['airno']}</a></dt>
				<dt title="保存航空号时间">{$vo['airdatetime']}</dt>
				<dt style="padding-left:200px;">
<!-- 					<span class="twn{$vo.id}">
					<if condition="$vo['twn'] eq 0">
						<span style="font-size: 15px;">已完成</span>
					<else />
						<a target="_blank" href="{:U('PostManagement/showList',array('mstr'=>$vo['no'],'stype'=>'miss','id'=>$vo['id']))}">{$vo['twn']}</a>
					</if>
					</span> /  -->
					总数：<span class="all{$vo.id}"><a target="_blank" href="{:U('PostManagement/showList',array('mstr'=>$vo['no'],'stype'=>'normal','id'=>$vo['id']))}">{$vo['all']}</a></span>
				</dt>

				<dt>
				<div id="s_record_{$vo['id']}" style="display:none;">

				</div>

					<if condition="$vo['all'] GT 0">

					<a href="{:U('MKBc2Ptwo/toExport',array('id'=>$vo['id']))}"><button type="button" class="btn btn-default{$vo['id']}">导出</button></a>

					</if>
					
					&nbsp;
					<if condition="$vo['done'] eq '0'">
						<button type="button" class="btn btn-default{$vo['id']}" onclick="toPost('{$vo.id}');">发送</button>
						
					<else />
					<br>
						<a target="_blank" href="{:U('MKBc2Ptwo/orderList',array('nid'=>$vo['id'],'kind'=>'not'))}">未发送：{$vo['not']}</a>，&nbsp;
						<a target="_blank" href="{:U('MKBc2Ptwo/orderList',array('nid'=>$vo['id'],'kind'=>'done'))}">已发送：{$vo['done']}</a>，&nbsp;<br>
						<a target="_blank" href="{:U('MKBc2Ptwo/orderList',array('nid'=>$vo['id'],'kind'=>'two'))}">已审核：{$vo['two']}</a>，&nbsp;
						<a target="_blank" href="{:U('MKBc2Ptwo/orderList',array('nid'=>$vo['id'],'kind'=>'four'))}">有误：{$vo['four']}</a>&nbsp;
					</if>
					<!-- <span><button type="button" class="btn btn-default{$vo['id']}" onclick="toPost('{$vo.id}');">发送</button></span> -->
				</dt>
				
			</div>
		</div>	
	</volist>
</div>
<script>
	function toPost(id){
		$.ajax({
			url:'{:U('MKBc2Ptwo/getStatus')}',
			type:'post',
			dataType:'json',
			data:{
				'id':id,
			},
			beforeSend:function(){
				$(".btn.btn-default"+id).html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/msg_loading_d.gif"/>');
			},
			success:function (result){
				// $(".btn.btn-default"+id).attr('disabled','disabled');
				alert(result.msg);

				// if(result.do == 'yes'){
				// 	alert(result.msg);
				// 	$(".btn.btn-default"+id).removeAttr('disabled');
				// }else{
				// 	$(".btn.btn-default"+id).css('display','none');//隐藏“发送”按钮
				// 	$("#s_record_"+id).css('display','block');
				// 	$("#s_record_"+id).html(result.link);	//IL=20数量
				// }
				// $(".all"+id+" a").html(result.total);	//总数
			},
		    complete:function(){
		      window.location=window.location;       //刷新页面
		    }
		})
	}

	//暂不需要
	function toExport(id){
		$.ajax({
			url:'{:U('MKBc2Ptwo/toExport')}',
			type:'post',
			dataType:'json',
			data:{
				'id':id,
			},
			beforeSend:function(){
				$(".btn.btn-default"+id).html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/msg_loading_d.gif"/>');
			},
			success:function (result){
				// $(".btn.btn-default"+id).attr('disabled','disabled');
				alert(result.msg);

				// if(result.do == 'yes'){
				// 	alert(result.msg);
				// 	$(".btn.btn-default"+id).removeAttr('disabled');
				// }else{
				// 	$(".btn.btn-default"+id).css('display','none');//隐藏“发送”按钮
				// 	$("#s_record_"+id).css('display','block');
				// 	$("#s_record_"+id).html(result.link);	//IL=20数量
				// }
				// $(".all"+id+" a").html(result.total);	//总数
			},
		    complete:function(){
		      // window.location=window.location;       //刷新页面
		    },
	        error:function(){
		        alert('请求失败或系统超时，请重试');
	        }
		})
	}
</script>

</form>

				<div id="pages" class="page">{$page}</div>
        	</div>
        </div>
		</div>		
<div class="foot"></div>

</block>


</body>
</html>