<script type="text/javascript">
  /* 点击隐藏显示功能 */
  function sel_more(d){
    $(d).css('display','none');
    $(".select_rows").css('display','block');
  }

  /* 当用户选择自定义输入的时候的jq */
  function did(d){
    var val_s = $(d).val();
    if(val_s == '2000'){
      $(d).next().css('display','inline-block');
    }else{
      $(d).next().css('display','none');
    }
  }

  /* 勾选"完成此单"时弹出警告 */
  $("#finish_all").change(function(){
    var finish_all = $('#finish_all:checked').val();
    if(finish_all == 'on'){
      if(!confirm('勾选“完成选中的面单”：该单将会结束，不能再添加或修改物流信息，确定吗？')){
        $('#finish_all:checked').removeAttr('checked');
        return false;
      }
    }
  });

  function toSend(){
      var sta_select = $("#sta_select option:selected").val(); //用户选中的
      var sta_custom = $("input[name='sta_custom']").val(); //自定义内容
      var finish_all = $('#finish_all:checked').val(); //是否标记完成
      var chk_value  = []; //获取选中的复选框选中的值

      $('input[name="tno"]:checked').each(function(){
        chk_value.push($(this).attr("pt"));  //合拼选中的面单，组成字符串   pt : 运单号
      });

      // 检验是否至少勾选一个
      if(chk_value == ''){
        alert('请选择至少一个面单进行操作！');return false;
      }else{
        chk_value = ''+chk_value+'';
      }

      // alert(chk_value);exit;
      $.ajax({
        url:'{:U('Logarithm/anymore')}',
        type:'post',
        dataType:'json',
        cache:false,
        data:{
          'ids':chk_value,
          'status_select':sta_select,
          'status_custom':sta_custom,
          'finished':finish_all,
        },
        beforeSend:function(){
          $("#mes").html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/msg_loading_d.gif"/>');
          if(confirm('确定要执行该操作吗?')){
            $("#opp").attr('disabled','disabled');

            if(sta_select == '' && sta_custom == ''){
              alert('请选择原因！');
              $("#mes").html('');
              $("#opp").removeAttr('disabled');
              return false;
            }
          }else{
            $("#mes").html('');
            return false;
          }
        },
        success:function (result){
          if(result.status == '1'){
            // $("#opp").html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/success.png"/>&nbsp;<font style="color:green;">'+result.msg+'</font>');
            $("#mes").html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/success.png"/>&nbsp;<font style="color:green;">'+result.msg+'</font>').fadeIn(300).delay(2500).fadeOut(300,function(){
              window.location=window.location;       //刷新页面
            });
          }else{
            $("#mes").html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/nopass.png"/>&nbsp;<font style="color:red;">'+result.msg+'</font>');
            // $("#opp").removeAttr('disabled');
          }

        },
        complete: function () {
          $("#opp").removeAttr("disabled");
        },
        //请求失败的时候执行此提示
        error:function(){
          $("#mes").html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/error.png"/>&nbsp;<font style="color:red;">请求失败，请重试</font>');
          // $("#opp").removeAttr('disabled');
        }
      })

  }
  
// 全选/反选
$("#selectAll").click(
  function(){
    if(this.checked){
      $("input[name='tno']").each(function(){this.checked=true;});
    }else{
      $("input[name='tno']").each(function(){this.checked=false;});
    }
  }
);

// 20161018 Jie 批量操作获取物流信息(多个运单号)
function getLogis(nid){
  var chk_value  = []; //获取选中的复选框选中的值

  $('input[name="tno"]:checked').each(function(){
    chk_value.push($(this).val());  //合拼选中的面单，组成字符串 
  });

  // 检验是否至少勾选一个
  if(chk_value == ''){
    alert('请选择至少一个面单进行操作！');return false;
  }else{
    chk_value = ''+chk_value+'';
  }

  if('{:ACTION_NAME}' == 'orderList'){
    var url = "{:U('MKBc2Ptwo/post_order')}";
  }else{
    var url = "{:U('MKBc2Ptwo/post_pay')}";
  }
  // alert(chk_value);exit;
  $.ajax({
    url:url,
    type:'post',
    dataType:'json',
    data:{
      'nid':nid,
      'num' :chk_value,
    },
    success:function (data){
      alert(data.msg);
    },
    error:function(){
      alert('请求失败或系统超时，请重试');
    },
    complete:function(){
      $("#logis_more").removeAttr('disabled');
      // $("#logis_more").html('批量推送订单报关');
      window.location=window.location;       //刷新页面
    },
    beforeSend:function(){
      $("#logis_more").attr('disabled','disabled');
      $("#logis_more").html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/msg_loading_d.gif"/>请稍候...');
    }
  })
}

// 20161028 Jie 获取物流信息(单个运单号)
function sendMsg(id,nid){
  if('{:ACTION_NAME}' == 'orderList'){
    var url = "{:U('MKBc2Ptwo/post_order')}";
  }else{
    var url = "{:U('MKBc2Ptwo/post_pay')}";
  }

  $.ajax({
    url:url,
    type:'post',
    dataType:'json',
    data:{
      'num':id,
      'nid':nid,
    },
    success:function (data){
      alert(data.msg);
    },
    error:function(){
      alert('请求失败或系统超时，请重试');
    },
    complete:function(){
      // $(".logis"+id).html('推送订单报关');
      window.location=window.location;       //刷新页面
    },
    beforeSend:function(){
      $(".logis"+id).html('<img style="width:18px;height:18px;" src="__PUBLIC__/images/msg_loading_d.gif"/>');
    }
  })
}
</script>