<!-- 再次下单 -->
<extend name="Member/base" />


<block name="main">
<script type="text/javascript" src="__MEMBER__/js/city/jquery.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/area.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/location.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/select2.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/select2_locale_zh-CN.js"></script>
<script src="__MEMBER__/js/cityselected.js"></script>
<link href="__MEMBER__/css/select2.css" rel="stylesheet"/>
<!-- <link href="__MEMBER__/css/one.css" rel="stylesheet">
<script src="__MEMBER__/js/add.js"></script> -->
<!-- <script type="text/javascript" src="__MEMBER__/js/city/city.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/edit.js"></script>-->
<style>
	.container .active a{color:black;}
	.container .active{background-color: #cccddd !important;}
	.container table a{}
</style>
	<div class="form form_index" >
    <div class="form-signin" style="background:#F7F7F9 !important;width:948px;min-height:500px;margin:60 auto;padding:10px 0;">
	    <form action="{:U('Order/step_two')}" method="post" class="form-inline" id="tempForm">
			<table class="tab1" border="0" cellpadding="0" cellspacing="0">
			<tr>
	        	<td style="text-align:center;" width="240"><h3>{:L('OnlineOrder')}</h3></td>
	        	<td width="750"></td>
          	</tr>
			<tr>
				<td class="cls_now" colspan="2" style="text-align:center"><font color="grey">- - - - - - {:L('SenderInfo')} - - - - - - </font></td>
			</tr>
			<tr>
				<td class="tdleft"><label>{:L('FullName')}：</label></td>
				<td><label><input type="text" value="{$info['sender']}" name="PostName" required class="form-control" oninvalid="setCustomValidity('请输入寄件人！');" oninput="setCustomValidity('');"></label></td>
			</tr>
			<tr>
				<td class="tdleft"><label>{:L('Address')}：</label></td>
				<td><label><input type="text" value="{$info['sendAddr']}" name="PostAddress" required class="form-control" oninvalid="setCustomValidity('请输入寄件人地址！');" oninput="setCustomValidity('');"></label></td>
			</tr>
            <tr>
              	<td class="tdleft"><label>{:L('Phone')}：</label></td>
              	<td><label><input type="text" value="{$info['sendTel']}" name="PostPhone" required class="form-control" oninvalid="setCustomValidity('请输入寄件人电话！');" oninput="setCustomValidity('');"></label></td>
            </tr>
            <tr>
              	<td class="tdleft"><label>{:L('ZipCode')}：</label></td>
              	<td><label><input type="text" value="{$info['postcode']}" name="PostCode" required class="form-control" oninvalid="setCustomValidity('请输入寄件人邮编！');" oninput="setCustomValidity('');"></label></td>
            </tr>
<!-- **************************************************** -->
			<tr>
				<td class="cls_now" colspan="2" style="text-align:center"><font color="grey">- - - - - - {:L('RecInfo')} - - - - - -</font></td>
			</tr>
            <tr>
              	<td class="tdleft"><label>{:L('FullName')}：</label></td>
              	<td><label><input type="text" value="{$info['receiver']}" name="RecName" required class="form-control" oninvalid="setCustomValidity('请输入收件人！');" oninput="setCustomValidity('');"></label></td>
            </tr>
            <tr>
            	<td class="tdleft"><label>{:L('ProvinceCity')}：</label></td>
				<td style="position: relative; ">

				    <select id="loc_province" style="width:120px;">
				    </select>
				    <select id="loc_city" style="width:120px; margin-left: 10px">
				    </select>
				    <select id="loc_town" style="width:120px;margin-left: 10px">
				    </select>
				    <input id="province" name="Province" value="{$info['province']}" style="display:none" />
				    <input id="city" name="City" value="{$info['city']}" style="display:none" />
				    <input id="town" name="Town" value="{$info['town']}" style="display:none" />
				</td>
            </tr>
<script>
	$(function(){	
		//这是后台返回的省市区，把它们都分别赋值到那三个select上面显示
		var p = "{$info['province']}";
		var c = "{$info['city']}";
		var t = "{$info['town']}";
		$("#select2-chosen-1").html(p);
		$("#select2-chosen-2").html(c);
		$("#select2-chosen-3").html(t);
})
</script>
            <tr>
              	<td class="tdleft"><label>{:L('DetaileAddress')}：</label></td>
              	<td class="xixidizhi"><span id="cpp_s" class="nows"></span><label><input id="RecAddress" type="text" value="{$info['reAddr']}" name="RecAddress" required class="form-control" oninvalid="setCustomValidity('请输入详细地址！');" oninput="setCustomValidity('');"></label>
              	</td>
            </tr>
            <tr>
              	<td class="tdleft"><label>{:L('Phone')}：</label></td>
              	<td><label><input type="text" value="{$info['reTel']}" name="RecPhone" required class="form-control" oninvalid="setCustomValidity('请输入收件人电话！');" oninput="setCustomValidity('');"></label></td>
            </tr>
            <tr>
              	<td class="tdleft"><label>{:L('ZipCode')}：</label></td>
              	<td><label><input type="text" value="{$info['postcode']}" name="RecCode" required class="form-control" oninvalid="setCustomValidity('请输入收件人邮编！');" oninput="setCustomValidity('');"></label></td>
            </tr>

<!-- **************************************************** -->
			<tr>
				<td class="cls_now" colspan="2" style="text-align:center"><font color="grey">- - - - - - {:L('SelectLine')} - - - - - -</font></td>
			</tr>
            <tr>
				<td class="tdleft"><label>{:L('TranLine')}：</label></td>
				<td>
				<label>
                <select name="TransferLine" id="TransferLine" class="form-control" required>
					<option value="">{:L('PleaseSelectLine')}</option>
					<volist name="tranline" id="vo">
						<option value="{$vo['id']}" <if condition="($info['TranKd']) eq $vo['id']">selected</if>><php>$l = L('MKLINES');echo $l[$vo['lngname']];</php></option>
					</volist>
<!-- 					<option value="1" <if condition="($info['TranKd']) eq '1'">selected</if>><php>$l = L('MKLINES');echo $l[1];</php></option>
					<option value="2" <if condition="($info['TranKd']) eq '2'">selected</if>><php>$l = L('MKLINES');echo $l[2];</php></option> -->
                </select>
				</label>
				<font color="grey" id="mimenu"></font>
				</td>
				<ul style="display:none;">
					<volist name="tranline" id="vo">
						<li class="m{$vo['id']}"><php>$l = L('MKRemarks');echo $l[$vo['lngremark']];</php></li>
					</volist>
				</ul>
            </tr>
<script>
	$(document).ready(function(){
		var p2 = $('#TransferLine').children('option:selected').val();//这就是selected的值
		if(p2 != ''){
			$("#mimenu").html('说明：'+$(".m"+p2).html());
		}
		
		$('#TransferLine').change(function(){
			// alert($(this).children('option:selected').val());
			var p = $(this).children('option:selected').val();//这就是selected的值

			if(p != ''){
				// alert(p);
				var h = $(".m"+p).html();
				$("#mimenu").html('说明：'+h);
			}else{
				$("#mimenu").html('');
			}
		})
	})
</script>
<!-- **************************************************** -->
			<tr>
				<td class="cls_now" colspan="2" style="text-align:center"><font color="grey">- - - - - - {:L('GoodsList')} - - - - - -</font></td>
			</tr>
            <tr>
					<table class="table_now" style="margin:10px auto; width:925px; height:110px;margin-left:24px;">
						<tr>
							<td width="10%;" style="font-weight: bold;">{:L('BrandName')}</td>
							<td width="10%;" style="font-weight: bold;">{:L('ProductName')}</td>
							<td width="10%;" style="font-weight: bold;">{:L('ProCate')}</td>
							<td width="20%" style="font-weight: bold;">{:L('Customs')}</td>
							<td width="10%" style="font-weight: bold;">{:L('UnitPrice')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Amount')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Currency')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Remarks')}</td>
							<td style="border:none"><img src="__MEMBER__/images/null.png"  /></td>		
						</tr>
						<for start="0" end="5">
						<tr class="stta" cid="{$i}">
							<td width="10%;"><input class="ttc" type="text" name="brand_{$i}" value="{$pro_list[$i]['brand']}" style="width:113px;margin:2px; height:30px;padding:2px;" <eq name="i" value="0">required oninvalid="setCustomValidity('请输入品牌！');" oninput="setCustomValidity('');"</eq>></td>

							<td width="10%;"><input type="text" name="product_{$i}" value="{$pro_list[$i]['detail']}" style="width:113px;margin:2px; height:30px;padding:2px;" <eq name="i" value="0">required oninvalid="setCustomValidity('请输入货品名称！');" oninput="setCustomValidity('');"</eq>></td>
							
							<td width="10%;"><input type="text" name="catname_{$i}" value="{$pro_list[$i]['catname']}" style="width:113px;margin:2px; height:30px;padding:2px;" <eq name="i" value="0">required oninvalid="setCustomValidity('请输入货品类别！');" oninput="setCustomValidity('');"</eq>></td>

							<td width="20%;">---</td>

							<td width="10%;"><input type="text" name="price_{$i}" value="{$pro_list[$i]['price']}" style="width:83px;margin:2px; height:30px;padding:2px;" <eq name="i" value="0">required oninvalid="setCustomValidity('请输入单价！');" oninput="setCustomValidity('');"</eq>></td>

							<td width="10%;"><input type="text" name="amount_{$i}" value="{$pro_list[$i]['number']}" style="width:83px;margin:2px; height:30px;padding:2px;" <eq name="i" value="0">required oninvalid="setCustomValidity('请输入数量！');" oninput="setCustomValidity('');"</eq>></td>

							<!-- 币种 -->
							<td width="10%;" style="width:83px;margin:2px; height:50px;padding:2px;">
								<select name="coin_{$i}" id="" style="height:30px;padding:2px;" <eq name="i" value="0">required oninvalid="setCustomValidity('请输入货币类型！');" oninput="setCustomValidity('');"</eq>>
									<option value=""></option>
									<option value="1"  selected="selected">￥</option>
									<option value="2">$</option>
								</select>
							</td>
							<td width="10%;" ><input type="text" name="remark_{$i}" style="width:113px;margin:2px; height:30px;padding:2px;" dd="{:L('Remarks')}"></td>
							<td style="border:none; " class="nows nows{$i}"><a href="javascript:;" title="{:L('Delete')}"><img width="22" height="22" src="__MEMBER__/images/clean.png" /></a></td>
						</tr>
						</for>
					</table>
					<span style="color:red;font-size:14px;padding-left:15px;">{:L('Notice')}</span>
            </tr>

<!-- **************************************************** -->
			
			<tr>
				<table style="float:right; margin:10px 20px 0 0">
					<tr>
				<td>
					<input type="hidden" value="{$user_id}" name="uid">
				</td>
				<td>
					<span id="loading" style="bottom:180px;left:650px;!important"></span>
					<button type="button" class="btn btn-primary" id="BtnSave">{:L('BtnSave')}</button>
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="beClosed">关闭</button> -->
					<span id="messagebox" class="msgbox" style="bottom:180px;left:650px;!important"></span>
				</td>
					</tr>
				</table>
			</tr>
	    	</table>
	    	<div style="clear:both;"></div>
		</form>
    </div>
   	</div>
<script>
    $('#BtnSave').click(function(){
    $.ajax({
        cache: false,
        type: "post",
        url:"{:U('Order/checkForm')}",
        data:$('#tempForm').serialize(),// 你的formid
        async: false,
        beforeSend:function(){
            $("#loading").html('<img style="width:28px;height:28px;" src="__MEMBER__/images/msg_loading_d.gif"/>');
        },
        error: function(request) {
            alert("Connection error");
        },
        success: function(data) {
            if(data.state == 'no'){
				ds.dialog({
				   title : '消息提示',
				   content : data.msg,
				   onyes:true,
				   top:'20%',
				   icon : "__MEMBER__/images/info.png",
				});
                  // jError(data.msg,{
                  //   clickOverlay : true,
                  //   autoHide : false,
                  //   LongTrip : 100,
                  //   VerticalPosition : 'top',
                  //   HorizontalPosition : 'center'
                  // });
                  $("#loading").html('');
            }else{
                $('#BtnSave').attr('type','submit');
            }
        }
    });
    });

	$(function(){
		$("td.nows a").css('display','none');
		$(".stta").hover(function(){
			var ttc= $(this).find('.ttc').attr('value');
			var src= $(this).find('img');
			if(ttc!=''){
				var d=$(this);
				$(this).find('.nows').find('a').css('display','inline');
				$(this).find('.nows').find('a').click(function(){
					ds.dialog({
					   title : '消息提示',
					   content : '确定要清空吗？',
					   onyes:function(){
		   					d.find('input').attr('value','');
							d.find('select').val('1');
							src.remove();
					   },
					   onno:true,
					   top:'20%',
					   icon : "__MEMBER__/images/info.png",
					});
					
				})
			}		 
		},function(){
			$(this).find('.nows').find('a').css('display','none');	
			$(this).find('.nows').find('a').unbind();
		})

	})
</script>
	<div class="foot"></div>

</block>

</body>
</html>