<!-- 在线下单 -->
<extend name="Member/base" />

<block name="main">
  <link rel="stylesheet" type="text/css" href="__MEMBER__/css/order_res_text.css">
  <div class="ordheads">
    <h3>香港E特快下单、装箱要求</h3>
  </div>
  <div class="warrp">
    <div class="warp_text">
      <p>1. 限值：所有货物必须是个人物品，即货物在中国大陆不会产生加工或者增值；
        <br> 包裹
        <span style="color:blue;">RMB2000</span> 以下公司代缴税费。
      </p>

      <p>2. 包装尺寸和重量要求
        <br>（1） 关于包装尺寸限定：
        <br> 外包装的最大尺寸长度不超过70厘米，长度和长度以外最大横周合计不超过2.1米。（特别说明：即长度+2*宽+2*高的总和不超过2.1米）
        <br>（2） 包裹限重4.5kg （单个不可分割物品也不能超4.5kg）。
      </p>

      <p style="color: blue;">3. 具体打包要求如下，
        <strong>如超出打包要求导致扣件或退回（延误一个月左右），后果需由寄件人承担</strong>，注意事项：
        <br>1）产品分类：ABC三大类
        <br>2）相同产品，是指用途及功能一致的产品（不仅仅是指完全一样的产品），套装里面有多件相同产品的，也要按照打包要求拆分。例如， Swisse 的葡萄籽和Healthy Care 的葡萄籽胶囊是相同产品
        <br>3）鞋靴，箱包，手表，高价值产品家用小电器及3C产品（如相机）不可混装
      </p>
    </div>

    <div class="table_cont">
      <h3 style='margin-bottom:20px;'>
        <strong style="color: blue;">I. 单品类打包要求</strong>
      </h3>
      <table>
        <thead>
          <tr>
            <th style="width: 100px;">大类</th>
            <th style="width: 300px;">类型细分</th>
            <th style="width: 300px;">分类产品说明</th>
            <th>单品类打包每箱要求细则</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="9">A</td>
            <td>母婴用品类（非带电）</td>
            <td>如奶瓶，奶嘴，尿片，护理产品等</td>
            <td rowspan="5">&lt;4.5KG
              <br>
              <span style="color:red;">（相同产品不超过5件）</span>
              <br>
              <span style="color: blue;">（总件数不超过12件）</span>
            </td>
          </tr>
          <tr>
            <td>食品及饮料</td>
            <td>如坚果类，干果类，零食，咖啡及婴儿食品类。
              <span style="color:red;">（奶粉禁运）</span>
            </td>
          </tr>
          <tr>
            <td>保健品类</td>
            <td>如鱼油，钙片，维生素等</td>
          </tr>
          <tr>
            <td>玩具类（包括带电）</td>
            <td>如桌面游戏，纸牌类游戏，智力玩具，玩具公仔等
            </td>
          </tr>
          <tr>
            <td>非带电日用品及家纺类</td>
            <td>如手动牙刷，牙膏，水杯，水壶，女士护垫，枕头，被套，净水器，滤芯</td>
          </tr>
          <tr>
            <td>洗护用品</td>
            <td>如沐浴液，洗发液，护发素，香皂，洗手液等（不含面部使用的产品）。</td>
            <td>&lt;3KG
              <br>
              <span style="color:red;">（相同产品不超过5件）</span>
              <br>
              <span style="color: blue;">(总件数不超过7件) </span>
            </td>
          </tr>
          <tr>
            <td>衣服类</td>
            <td>如外套，外裤，内衣裤，衬衫 T恤等</td>
            <td>&lt;4.5KG
              <span style="color: blue;">
                <br>（相同产品不超过5件）
                <br>（总件数不超过7件）
              </span>

            </td>
          </tr>
          <tr style="color: blue;">
            <td>汽车饰品类</td>
            <td>如车载香水，汽车挂件</td>
            <td>&lt;3KG
              <br> （相同产品不超过5件）
              <br> （总件数不超过7件）
            </td>
          </tr>
          <tr>
            <td>文件/书籍/DVD</td>
            <td>文件，儿童画册，英语书,英语光盘</td>
            <td style="color: blue;">&lt;3KG
              <br>（总件数不超过3件）
              <br>（不可涉及政治、宗教、色情、暴力内容，文件需写明什么文件，重要问文件不收）
            </td>
          </tr>
          <tr>
            <td rowspan="7">B</td>
            <td>鞋靴类</td>
            <td>如运动鞋，高跟鞋等，儿童鞋及拖鞋</td>
            <td>&lt;4.5KG
              <br>
              <span style="color:red;">（总件数不超过3件）</span>
              <br>
              <span style="color: blue;">（不可混装）</span>
            </td>
          </tr>
          <tr>
            <td>配饰类</td>
            <td>如围巾，皮带, 墨镜，眼镜等</td>
            <td>&lt;2KG
              <br> ）
              <span style="color:red;">（相同产品不超过5件</span>
              <br>
              <span style="color: blue;">（总件数不超过5件）</span>

            </td>
          </tr>
          <tr>
            <td>化妆品</td>
            <td>包括香水，唇用化妆品，眼用化妆品，粉底，卸妆水，面膜，面霜，精华乳液，身体乳，护手霜，洗面奶等</td>
            <td>&lt;2KG
              <br>
              <span style="color:red;">（相同产品不超过5个）</span>
              <br>
              <span style="color: blue;">（总件数不超过7件）</span>
            </td>
          </tr>
          <tr>
            <td>箱包类</td>
            <td>挎包，布包，背包，手提包，钱包等</td>
            <td>&lt;4.5KG
              <br>
              <span style="color:red;"> （总件数不超过2件）</span>
              <br>
              <span style="color: blue;">（不可混装）</span>

            </td>
          </tr>
          <tr>
            <td>首饰类</td>
            <td>如项链，戒指，耳环，手环等金银配饰</td>
            <td>&lt;1KG
              <br>
              <span style="color:red;">（相同产品不超过5个）</span>
              <br>
              <span style="color: blue;">（总件数不超过7件）</span>
            </td>
          </tr>
          <tr>
            <td>手表类</td>
            <td>机械表，电子手表，石英表等</td>
            <td>&lt;4.5KG
              <br>
              <span style="color:red;">（总件数不超过2件）</span>
              <br>
              <span style="color: blue;">（不可混装）</span>

            </td>
          </tr>
          <tr>
            <td>家用小电器及3C产品</td>
            <td>如微波炉，电饭煲，电动牙刷，吹风机，电动剃须刀，挤奶器，耳温计，额温计，显卡，显示器等</td>
            <td>&lt;4.5KG
              <br>
              <span style="color:red;">（相同产品不超过2件）</span>
              <span style="color: blue;">
                <br>（总件数不超过5件）
                <br> （高价值产品，如相机，每个包裹不超过1件，且不可混装）
              </span>


            </td>
          </tr>
          <tr>
            <td>C</td>
            <td>
              不能邮寄
            </td>
            <td style="color: blue;">
              <b>铝罐喷雾、药品，手机，笔记本及平板电脑，国际一线品牌（PRADA, LV, CHANNEL、劳力士、万宝龙、巴宝莉等），（无油）打火机，36个月以下婴幼儿食用配方粉（奶粉，米粉，液体奶），酒，果干，月饼，宠物食品，仿真/玩具枪支，剪刀，刀具及其配件，（电子）烟（丝），电子烟油，成人用具（不包括安全套），工业用途半成品等禁运产品；
                <br> 海参（胶囊），燕窝，鱼翅，鱼肚， 西洋参，花旗参，皮草等动植物产品以及活体动植物； （内容/漫画）带有政治、宗教、暴力或色情性质的书籍，音像制品或其他物品。</b>


            </td>
            <td>
              不能邮寄
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="width: 1000px;margin: 50px auto;color: blue;">
      <h3 style='margin-bottom:20px;'>
        <strong>II. 混合品类打包要求</strong>
      </h3>
      <p>1）A类产品与A类产品混合，总重量不超4.5KG，总件数不超12件，且不可超任一单品类最高打包要求</p>
      <p>2）B类产品与B类产品混合，总重量不超2KG，总件数不超7件，且不可超过任一单品类最高打包要求</p>
      <p>3）A类产品与B类产品混合，总重量不超4.5KG，总件数不超12件，且不可超任一单品类最高打包要求；B类产品总重量不超1.5KG。</p>
    </div>
  </div>
</block>
</body>

</html>