<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{:L('UpTitle')}</title>
    <!-- 在线下单 第三步 打印随机码 -->
    <link rel="stylesheet" type="text/css" href="__MEMBER__/css/all.css">
    <link rel="stylesheet" href="__MEMBER__/css/print.css" media="print">
</head>
<body>
    <!-- 打印模板 -->
    <div class="printshow">
        <ul>
            <li>{:L('InternationalLogistics')}</li>
            <li>{$res['sender']} => {$res['receiver']}</li>
            <li><img src="http://www.megaoshop.com/testcode/html/image.php?filetype=PNG&dpi=72&scale=3&rotation=0&font_family=0&font_size=8&text={$res['order_no']}&thickness=30&start=NULL&code=BCGcode128" height="80"></li>
            <li>{$res['order_no']}</li>
            <volist name="res['pro_list']" id="vo">
                <li>
                <if condition="!empty($vo['remark'])">{$vo['remark']}<else />{$vo['detail']}</if> * {$vo['number']}
                </li>
            </volist>
        </ul>
    </div>
</div>
</body>
</html>