<!-- 在线下单 第二步 -->
<extend name="Member/base" />


<block name="main">

<style>
	.container .active a{color:black;}
	.container .active{background-color: #cccddd !important;}
	.container table a{}
</style>

<!-- 内容 -->
<div class="form form_two" >
    <div class="form-signin" style="background:#F7F7F9 !important;width:850px;min-height:500px;margin:60px auto; padding: 0 0  10px 0">

     <form action="{:U('Order/step_three')}" method="post" class="form-inline" id="tempForm">
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
	        	<td style="text-align:center;" width="240"><h3>{:L('InformationConfirmation')}</h3></td>
	        	<td width="750"></td>
          	</tr>
			<tr>
				<td class="cls_now" colspan="2" style="text-align:center"><font color="grey">- - - - - - {:L('SenderInfo')} - - - - - - </font></td>
			</tr>
			<tr>
				<td class="tdleft"><label>{:L('FullName')}：</label></td>
				<td><label>{$PostName}</label></td>
			</tr>
			<tr>
				<td class="tdleft"><label>{:L('Address')}：</label></td>
				<td><label>{$PostAddress}</label></td>
			</tr>
            <tr>
              	<td class="tdleft"><label>{:L('Phone')}：</label></td>
              	<td><label>{$PostPhone}</label></td>
            </tr>
            <tr>
              	<td class="tdleft"><label>{:L('ZipCode')}：</label></td>
              	<td><label>{$PostCode}</label></td>
            </tr>
<!-- **************************************************** -->
			<tr>
				<td class="cls_now" colspan="2" style="text-align:center"><font color="grey">- - - - - - {:L('RecInfo')} - - - - - -</font></td>
			</tr>
            <tr>
              	<td class="tdleft"><label>{:L('FullName')}：</label></td>
              	<td><label>{$RecName}</label></td>
            </tr>                     
            <tr>
              	<td class="tdleft"><label>{:L('Address')}：</label></td>
              	<td>
	              	<label>{$RecAddress}</label>
              	</td>
            </tr>
            <tr>
              	<td class="tdleft"><label>{:L('Phone')}：</label></td>
              	<td><label>{$RecPhone}</label></td>
            </tr>
            <tr>
              	<td class="tdleft"><label>{:L('ZipCode')}：</label></td>
              	<td><label>{$RecCode}</label></td>
            </tr>
            <tr>
				<td class="tdleft"><label>{:L('TranLine')}：</label></td>
				<td>
				<label>
					<php>$l = L('MKLINES');echo $l[$alist[$TransferLine]];</php>
<!-- 					<if condition="$TransferLine eq 1">
						<php>$l = L('MKLINES');echo $l[1];</php>
					<elseif condition="$TransferLine eq 2"/>
						<php>$l = L('MKLINES');echo $l[2];</php>
					</if> -->
				</label>
				</td>
            </tr>
           	<tr>
              	<td class="tdleft"><label>{:L('RandomCode')}：</label></td>
              	<td><label>{$uucode}</label></td>
            </tr>
<!-- **************************************************** -->
			<tr>
				<td class="cls_now" colspan="2" style="text-align:center"><font color="grey">- - - - - - {:L('GoodsList')} - - - - - -</font></td>
			</tr>
            <tr>
					<table class="table_now" style="margin:10px auto; width:800px; height:110px;">
						<tr>
							<td width="10%;" style="font-weight: bold;">{:L('BrandName')}</td>
							<td width="10%;" style="font-weight: bold;">{:L('ProductName')}</td>
							<td width="10%;" style="font-weight: bold;">{:L('ProCate')}</td>
							<td width="20%" style="font-weight: bold;">{:L('Customs')}</td>
							<td width="10%" style="font-weight: bold;">{:L('UnitPrice')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Amount')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Currency')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Remarks')}</td>
						</tr>
						<for start="0" end="$count">
						<tr>
							<td width="10%;">{$pro_list[$i]['brand']}</td>
							<td width="10%;">{$pro_list[$i]['detail']}</td>
							<td width="10%;">{$pro_list[$i]['catname']}</td>
							<td width="20%;">---</td>
							<td width="10%;">{$pro_list[$i]['price']}</td>
							<td width="10%;">{$pro_list[$i]['number']}</td>
							<!-- 币种 -->
							<td width="10%;" style="width:83px;margin:2px; height:50px;padding:2px;">
								<if condition="$pro_list[$i]['coin'] eq 1">
									￥
								<else />
									$
								</if>
							</td>
							<td width="10%;">{$pro_list[$i]['remark']}</td>
						</tr>
						</for>
					</table>
            </tr>

<!-- **************************************************** -->
			<tr>
				<td class="tdleft"></td>
              	<td><font color="red" style="padding-left:30px;">*{:L('Notice')}</font></td>
            </tr>
			<tr>
				<table style="margin:10px auto">
					<tr>
						<td>
						<button type="button" class="btn btn-primary" onclick="javascript:window.location.href='{:U('Order/edit',array('id'=>$cid))}';" style="padding:0 10px margin-right:30px;">{:L('ChangeBack')}</button>
							<button type="submit" class="btn btn-primary" id="BtnSave">{:L('PrintRandomCode')}</button>
							<input type="hidden" name="cid" value="{$cid}">
							<span id="messagebox" class="msgbox" style="right:350px;!important"></span>
						</td>
					</tr>
				</table>
			</tr>
	    	</table>

	    	<div style="clear:both;"></div>
		</form>
    </div>
</div>

</block>

</body>
</html>