<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
        background-color: #f5f5f5;

      }
      .container{width:800px;margin:0 auto;}
      .form-signin {
        max-width: 750px;
        margin-top:20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
    .form-signin table th{text-align:center;height:36px;font-size:16px;line-height:36px;background:#F7F7F9;}
		.form-signin table td{height:36px;line-height:36px;font-size:14px;background:#F7F7F9;}
		.form-signin table td a{text-decoration:none;color:#000;}
		.form-signin table td a:hover{color:blue;}
     .tdleft{text-align:right;width:180px;}
    </style>
    <title>会员资料 --- {$user.username}</title>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
     </head>
  <body>
  		
    <div class="container" >
      <div class="form-signin" style="padding-top:40px;background:#F7F7F9 !important;margin-bottom:40px;padding-bottom:40px;">

      		<table border="0" cellpadding="0" cellspacing="0" class="table" style="margin-bottom:0px;padding:0px;" >
        <tr>
              <td colspan="2" style="padding-left:80px"><h3>注册类型：企业</h3></td>
            </tr>
           <tr>
      <td class="tdleft">用户名：</td>
      <td>{$user.username}</td>
    </tr>
    <tr>
      <td class="tdleft">电子邮箱：</td>
      <td>{$user.email}</td>
    </tr>
    <tr>
      <td class="tdleft">公司名称：</td>
      <td>{$user.CompanyName}</td>
    </tr>
    
    <tr >
      <td class="tdleft" colspan="2" style="text-align:center"><font color="grey">---以下为公司信息---</font></td>
    </tr>
   
    <tr>
      <td class="tdleft">国家：</td>
      <td>{$user.country}</td>
    </tr>
    <tr>
      <td class="tdleft">省/州：</td>
      <td>{$user.province}</td>
    </tr>
    <tr>
      <td class="tdleft">市：</td>
      <td>{$user.city}</td>
    </tr>
    <tr>
      <td class="tdleft">公司注册地址：</td>
      <td>{$user.company_address}</td>
    </tr>
    <tr>
      <td class="tdleft">公司代表人：</td>
      <td>{$user.company_representative}</td>
    </tr>
    <tr>
      <td class="tdleft">营业执照编号：</td>
      <td>{$user.business_license}</td>
    </tr>
    <tr>
      <td class="tdleft">税号：</td>
      <td>{$user.vat_number}</td>
    </tr>
    <tr>
      <td class="tdleft">发件国退件地址：</td>
      <td>{$user.sender_address}</td>
    </tr>
    <tr>
      <td class="tdleft">退件邮编：</td>
      <td>{$user.sender_zipcode}</td>
    </tr>
    <tr >
      <td class="tdleft" colspan="2" style="text-align:center"><font color="grey">---以下为业务联系人信息---</font></td>
    </tr>
    <tr>
      <td class="tdleft">联系人：</td>
      <td>{$user.self_name}</td>
    </tr>
    <tr>
      <td class="tdleft">手机：</td>
      <td>{$user.self_phone}</td>
    </tr>
    <tr>
      <td class="tdleft">固话：</td>
      <td>{$user.self_telephone}</td>
    </tr> 
    <tr>
      <td class="tdleft">QQ/微信：</td>
      <td>{$user.contactsQQ}</td>
    </tr>
    <tr><td colspan="3"></td></tr>
    <tr>
      <td class="tdleft">证件照片：</td>
      <td colspan="3">

        <div style="width:160px;display: block;float: left;">
        <a class="img" href="{:C('PIC_AUTH')}{$user.photo1}">
          <img src="{:C('PIC_AUTH')}{$user.photo1}" alt="" width="150" height="150">
        </a>
        <span style="padding-left: 42px;"><font style="color:red;font-size:18px;vertical-align:middle;">*</font>营业执照</span>
        </div>
        
        <if condition="$user['photo2']">
        <div style="width:160px;display: block;float: left;">
        <a class="img" href="{:C('PIC_AUTH')}{$user.photo2}">
          <img src="{:C('PIC_AUTH')}{$user.photo2}" alt="" width="150" height="150">
        </a>
        <span style="padding-left: 10px;">水/电/煤气/信用卡账单</span>
        </div>
        </if>

        <if condition="$user['photo3']">
        <div style="width:160px;display: block;float: left;">
        <a class="img" href="{:C('PIC_AUTH')}{$user.photo3}">
          <img src="{:C('PIC_AUTH')}{$user.photo3}" alt="" width="150" height="150">
        </a>
        <span style="padding-left: 20px;">Logo</span>
        </div>
        </if>

      </td>
    </tr>
            <tr>
              <th colspan="3" style="padding-left:350px;padding-top:20px;">
              <button type="button" class="button button-primary button-rounded button-small" style="float:left;margin-right:10px;" id="examine">通过</button>
<select name="errorMsg" id="notexamine" class="button button-highlight button-small" style="float:left;margin-right:10px;color:black;">
  <option value="" style="padding-top:6px;padding-bottom: 6px;">不通过</option>
  <volist name="exlist" id="ex">
    <option value="{$key}" style="padding-top:6px;padding-bottom: 6px;">{$ex}</option>
  </volist>
</select>
        <ul style="display:none;">
          <volist name="exlist" id="ex">
            <li class="m{$key}">{$ex}</li>
          </volist>
        </ul>
              <!-- <button type="button" class="button button-primary button-rounded button-small" style="float:left;margin-right:10px;" id="notexamine">不通过</button> -->
              <button type="button" class="button button-rounded button-small" onclick="javascript:window.opener.location.reload();window.close();" style="float:left;" id="closeme">返回</button>
              </th>
            </tr>
            <tr>
              <td colspan="3" style="padding-top:10px;"><span style="float:right;" id="msgbox"></span></td>
            </tr>
          </table>
      </div>
    </div> 

<script type="text/javascript" src="__PUBLIC__/js/imgbox/js/sweetalert.min.js"></script>
<link rel="Stylesheet" type="text/css" href="__PUBLIC__/js/imgbox/css/sweetalert.css" />
<!-- 代码 开始 -->
  <script type="text/javascript" src='__PUBLIC__/js/jquery-1.7.2.min.js'></script>
  <script type="text/javascript" src='__PUBLIC__/js/imgbox/js/jquery.min.js'></script>
  <script type="text/javascript" src='__PUBLIC__/js/imgbox/js/jquery.imgbox.pack.js'></script>
  <link href="__PUBLIC__/js/imgbox/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/css/buttons.css" type="text/css" rel="stylesheet" />
<script>
$(document).ready(function(){
  $('#examine').click (function() {
    swal({
        title: "审核予以通过吗？",
        text: "确定提交审核吗？",
        type: "warning",
        showCancelButton: true,
        closeOnConfirm: true,
        html:true,
        confirmButtonText: "确定",
        confirmButtonColor: "#ec6c62"
    }, function() {
        $.ajax({
          type:'post',
          url:"{:U('Member/examine')}",
          data:{
            'pid':"{$user['id']}",
          },
          beforeSend:makesure,
        }).done(function(data) {
            if(data.status == '1'){
              swal("操作成功!", data.info, "success");
              // clear();
            }else{
              swal("提示", data.info, "error");
            }
            $('#msgbox').html('');
        });
    });

  });

  // function clear(){
  //   $('#msgbox').html('');
  //   setTimeout(function(){
  //     $('#closeme').click();
  //   },3000);
  // }

  function makesure(){
    $("#msgbox").html('&nbsp;<img style="width:25px;height:25px;" src="__PUBLIC__/images/msg_loading_d.gif"/>');
  }

  $('#notexamine').change(function() {

    var msg = $('#notexamine').val();
    
    if(msg == ''){
      return false;
    }

    var tips = $(".m"+msg).html();

    swal({
        title: "审核不予通过吗？",
        text: "您确定要将它审定为 <font style='color:red'>"+tips+"</font> 不通过吗？",
        type: "warning",
        showCancelButton: true,
        closeOnConfirm: true,
        html:true,
        confirmButtonText: "确定",
        confirmButtonColor: "#ec6c62"
    }, function() {
        $.ajax({
          type:'post',
          url:"{:U('Member/not_examine')}",
          data:{
            'pid':"{$user['id']}",
            'mid':msg,
          },
          beforeSend:makesure,
        }).done(function(data) {
            if(data.status == '1'){
              swal("操作成功!", data.info, "success");
            }else{
              swal("提示", data.info, "error");
            }
            $('#msgbox').html('');
        });
    });

  });

})
</script>
<script>
$(function(){
  jQuery.noConflict();
  //自身为中心放大
  // $(".img").imgbox();
  
  //以屏幕为中心放大
  jQuery(".img").imgbox({
    'speedIn'   : 0,
    'speedOut'    : 0,
    'alignment'   : 'center',
    'overlayShow' : true,
    'allowMultiple' : true
  });
});
</script>
<!-- 代码 结束 -->

  </body>
    
</html>
