*{margin:0px;padding:0px;}
.navbar{height:80px !important;margin:0px !important;}
.nav{width:1200px;height:80px;margin:0 auto;}
.navleft{width:800px;height:80px;float:left;}
.navleft li{list-style-type:none;float:left;line-height:24px;font-size:20px;width:100px;text-align:center;border-right:1px solid #ccc;margin-top:25px;}
.navleft li a{text-decoration:none;}
.navleft li:hover{background:#E7E7E7;}
.navright{width:200px;height:80px;float:right;}
.navright li{list-style-type:none;float:left;line-height:16px;font-size:16px;width:50px;;text-algin:center;margin-top:40px;}
.clear{clear:both;}
.top{width:1200px;margin:0 auto;height:60px;border-bottom:1px solid #ccc;}

.top form input{height:40px;width:300px;}
.top form button{height:41px;width:60px;}
.center{width:1200px;margin:0 auto;}
.center table{margin-top:20px;}
.center table th{text-align:center;height:36px;font-size:16px;line-height:36px;border:1px solid #ccc;background:#F7F7F9;}
.center table td{height:36px;line-height:36px;font-size:14px;border-bottom:1px solid #ccc;text-indent:2em;}
.center table td a{text-decoration:none;color:#000;}
.center table td a:hover{color:blue;}

.foot{height:80px;}