<extend name="./base" />


<block name="main">
<script type="text/javascript" src="__PUBLIC__/js/MyDate/WdatePicker.js"></script> 
<style>
	.container .active a{color:black;}
	.container .active{background-color: #cccddd !important;}
	.container table a{}
</style>
<div class="container" >
			<table border="0" cellpadding="0" cellspacing="0" class="table"  class="table table-bordered" style="margin:0px;padding:0px">

			<include file="litBanner" />
				
				<tr>
					<td colspan="10">
				<form action="{:U('PostManagement/account')}" method="get" class="form-inline">
						<!-- 中文搜索时必须的 -->
						<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
						<input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
						<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
						<!-- End -->
						<input type="hidden" name="type" value="account">
						<input type="hidden" name="sto" value="1">
					
<!-- 搜索栏 -->
<script type="text/javascript" src="__PUBLIC__/js/MyDate/WdatePicker.js"></script> 
				<label>
				搜索中转批号:&nbsp;<input type="search" name="keyword" value="{$keyword}" class="form-control" style="width:280" />
				</label>
<!-- 				<label>
				&nbsp;&nbsp;物流时间：<input type="text" class="form-control one" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" size="25" id="createStarttime" value="<eq name="starttime" value=""><else />{$starttime|date='Y-m-d H:i:s',###}</eq>" style="width:200" > -- <input type="text" class="form-control two" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" size="25" id="createEndtime" value="<eq name="endtime" value=""><else />{$endtime|date='Y-m-d H:i:s',###}</eq>" style="width:200" >
				</label>
				<input type="hidden" id="starttime" name="starttime">
				<input type="hidden" id="endtime" name="endtime"> -->
				<label>
				&nbsp;&nbsp;行数：
				<select name="ePage" id="" class="form-control" >
					<option value="10" <eq name="ePage" value="10">selected</eq>>10</option>
					<option value="20" <eq name="ePage" value="20">selected</eq>>20</option>
					<option value="30" <eq name="ePage" value="30">selected</eq>>30</option>
					<option value="50" <eq name="ePage" value="50">selected</eq>>50</option>
					<option value="100" <eq name="ePage" value="100">selected</eq>>100</option>
				</select>
				</label>
				<label>
						<button type="submit" class="btn btn-primary btn-lg" onclick="ccc()">查询</button>
				</label>
				<font style="font-weight:bold;"><img src="__PUBLIC__/images/lighting.png" alt="" height="30" width="30">已发快递中包含 <a style="font-size:20px;color:red;" href="{:U('showList',array('stype'=>'lost'))}" target="_blank"><php>echo number_format($lost_count);</php></a> 条无批次号的面单</font>


<script type="text/javascript">
function ccc(){
	var startTime=document.getElementById("createStarttime").value;
	if(startTime != ''){
		var startback = transdate(startTime);
		document.getElementById("starttime").value=startback;
	}

	var endTime=document.getElementById("createEndtime").value;
	if(endTime != ''){
		var endback = transdate(endTime);
		document.getElementById("endtime").value=endback;
	}

}
function transdate(startTime){
	var date=new Date();
	date.setFullYear(startTime.substring(0,4));
	date.setMonth(startTime.substring(5,7)-1);
	date.setDate(startTime.substring(8,10));
	date.setHours(startTime.substring(11,13));
	date.setMinutes(startTime.substring(14,16));
	date.setSeconds(startTime.substring(17,19));
	return Date.parse(date)/1000;
}
function transdate(endTime){
	var date=new Date();
	date.setFullYear(endTime.substring(0,4));
	date.setMonth(endTime.substring(5,7)-1);
	date.setDate(endTime.substring(8,10));
	date.setHours(endTime.substring(11,13));
	date.setMinutes(endTime.substring(14,16));
	date.setSeconds(endTime.substring(17,19));
	return Date.parse(date)/1000;
}

</script>

				</form>
					</td>
				</tr>
			</table>
</div>
<style>
#oppthis a{display: inline-block;margin-top: -5px;}
</style>
<form action="">
	<div class="container" style="margin-bottom:0;margin-top:0;">
				<table border="0" cellpadding="0" cellspacing="0"  class="table table-hover" style="margin-bottom:0px">
					<thead>
						<tr style="height:47px;line-height:47px">
							<th>序号</th>
							<th style="text-align:left !important;">中转批号</th>
							<th style="text-align:left !important;">信息</th>
							<th style="text-align:left !important;">操作</th>
						</tr>
					</thead>
					<tbody style="font-size:14px;" id="oppthis">
						<volist name="list" id="vo" mod="2">
							<tr <eq name="mod" value="1"> style="background-color:#ddd;"</eq>>
								
								<td class="td1" align="center">
									{$key+1}
								</td>

								<td align="left">
									{$vo.mstr}
								</td>

								<td align="left">
									{$vo.msg}<br/>

									<neq name="vo['s20']['yy']" value="">中转：
										<a href="<if condition="!$vo['s20']['num']">javascript:;<else />{:U('showList',array('Istate'=>$vo['s20']['IL_state'],'mstr'=>$vo['mstr']))}</if>" <if condition="!$vo['s20']['num']"><else />target="_blank"</if>>
											{$vo.s20.yy}<if condition="($vo['s20']['tt'] || $vo['s20']['pp'])">(停:{$vo.s20.tt} , 收:{$vo.s20.pp})</if>
										</a>
									</neq>

								<if condition="$vo['s20']['yy'] && $vo['s16']['yy']">，</if>

									<neq name="vo['s16']['yy']" value="">返仓：
										<a href="<if condition="!$vo['s16']['num']">javascript:;<else />{:U('showList',array('Istate'=>$vo['s16']['IL_state'],'mstr'=>$vo['mstr']))}</if>" <if condition="!$vo['s16']['num']"><else />target="_blank"</if>>
											{$vo.s16.yy}<if condition="($vo['s16']['tt'] || $vo['s16']['pp'])">(停:{$vo.s16.tt} , 收:{$vo.s16.pp})</if>
										</a>
									</neq>

								<if condition="($vo['s16']['yy'] && $vo['s60']['yy']) OR ($vo['s20']['yy'] && $vo['s60']['yy'])">，</if>

									<neq name="vo['s60']['yy']" value="">操作快递：
										<a href="<if condition="!$vo['s60']['num']">javascript:;<else />{:U('showList',array('Istate'=>$vo['s60']['IL_state'],'mstr'=>$vo['mstr']))}</if>" <if condition="!$vo['s60']['num']"><else />target="_blank"</if>>
											{$vo.s60.yy}<if condition="($vo['s60']['tt'] || $vo['s60']['pp'])">(停:{$vo.s60.tt} , 收:{$vo.s60.pp})</if>
										</a>
									</neq>

								<if condition="($vo['s60']['yy'] && $vo['s200']['yy']) OR ($vo['s16']['yy'] && $vo['s200']['yy']) OR ($vo['s20']['yy'] && $vo['s200']['yy'])">，</if>

									<neq name="vo['s200']['yy']" value="">已发快递：
										<a href="<if condition="!$vo['s200']['num']">javascript:;<else />{:U('showList',array('Istate'=>$vo['s200']['IL_state'],'mstr'=>$vo['mstr']))}</if>" <if condition="!$vo['s200']['num']"><else />target="_blank"</if>>
											{$vo.s200.yy}<if condition="($vo['s200']['tt'] || $vo['s200']['pp'])">(停:{$vo.s200.tt} , 收:{$vo.s200.pp})；</if>
										</a>
									</neq>
									<if condition="$vo['express'] != ''">

									『快递状态：{$vo.express}

										<if condition="$vo['lack_num'] != 0">
											 <a style="color:red;" href="{:U('showList',array('Istate'=>$vo['s200']['IL_state'],'mstr'=>$vo['mstr']))}" target="_blank">缺{$vo.lack_num}件</a>
										</if>』

									</if>
								</td>

								<td align="left">
									<if condition="$vo['tol_amount'] - $vo['alr_amount'] gt 0">
										<a target="_blank" href="{:U('showList',array('mstr'=>$vo['mstr'],'stype'=>'miss'))}">{$vo.operate}</a>
									<else />
										{$vo.operate}
									</if>
									<br/>
									<if condition="$vo['express'] && $vo['lack_num'] gt '0'">
									 <a style="color:red;" href="{:U('showList',array('Istate'=>$vo['s200']['IL_state'],'mstr'=>$vo['mstr']))}" target="_blank">需查</a>
									<else />

									</if>
								</td>
							</tr>
						</volist>
					</tbody>						
				</table>
	</div>

    <div style="padding-left:100px;">
    <div>
        <div style="font-size:14px;display:none">
            <h4>对账单解释说明:</h4>
            <p>
                <strong>未发货</strong>：即在美国打了快递面单，但没有发到美快物流；<br>
                <strong>称重</strong>：=美快物流  收到包裹了；<br>
                <strong>中转</strong>：美快 美国仓 发往 下一个中转仓(目前只有香港，以后会陆续添加)；<br>
                <strong>返仓</strong>：做了中转后，因故没有发出，从而需要等待下次发货；<br>
                <strong>操作快递</strong>：以现在为例，包裹抵达了香港，准备扫描，等待打印快递单(如EMS等，现在是申通电子单所以不需要打印)；<br>
                <strong>已发快递</strong>：打印了快递单之后(现在不用等，但要这个操作)，发货到快递公司；<br>
                <font color="red">*已发快递，即该中转批号的整个物流流程已完成</font>
            </p>

        </div>
    </div>	

    </div>

</form>

<div id="pages" class="page">{$page}</div>

		<div class="foot"></div>
</block>

</body>
</html>