<extend name="./base" />
<!-- 订单还原 -->

<block name="main">
<style>
	.container .active a{color:black;}
	.container .active{background-color: #cccddd !important;}
</style>
<div class="container" >
			<table border="0" cellpadding="0" cellspacing="0" class="table"  class="table table-bordered" style="margin:0px;padding:0px">
				
				<include file="litBanner" />
				
				<tr>
					<td colspan="10">
				<form action="{:U('PostManagement/index')}" method="get" class="form-inline">
						<!-- 中文搜索时必须的 -->
						<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
						<input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
						<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
						<!-- End -->
						<input type="hidden" name="type" value="backup">
				
					<include file="searchbox" />

				</form>
					</td>
				</tr>
			</table>
</div>

<form action="">
	<div class="container" style="margin-bottom:0;margin-top:0;">
				<table border="0" cellpadding="0" cellspacing="0"  class="table table-hover" style="margin-bottom:0px">
					<thead>
						<tr style="height:47px;line-height:47px">
							<th>序号</th>
							<th>自定义号段</th>
							<th>面单号</th>
							<th>寄件人</th>
							<th>收件人</th>
							<th>重量/价值</th>
							<th>物流信息</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody style="font-size:14px;">
						<volist name="list" id="vo" mod="2">
							<tr id="tr_{$vo.id}" <eq name="mod" value="1"> style="background-color:#ddd;"</eq>>
							
								<td align="center" style="line-height:180%">
										<if condition="$vo['pause_status'] == '20'">
											<font color="red">{$key+1}<br/>停运</font>
										<else/>
											<font color="green">{$key+1}<br/>正常</font>
										</if>
								</td>						
								<td align="center" style="line-height:180%;padding-left:3px">
									{$vo.auto_Indent1|default="&nbsp;"}<br/>
									{$vo.auto_Indent2|default="&nbsp;"}
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
									{$vo.MKNO|default="&nbsp;"}<br/>{$vo.STNO|default="&nbsp;"}
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
									{$vo.sender}<br/>
									{$vo.mStr1|default="&nbsp;"}
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
									{$vo.receiver}<br/>『{$vo.province}』
								</td>
								<td align="center" style="line-height:180%;padding-left:3px">
										{$vo.weight}{:C('SHOW_WEIGHT_UNIT')}<br/>{$vo.price}
								</td>
								<td style="line-height:180%;padding-left:3px">
									
									<neq name="vo['optime']" value="">{$vo.optime}：</neq>
									<neq name="vo['IL_state']" value="">{$ilstarr[$ilstarri[$vo['IL_state']]][1]|default='状况不明'}</neq>
									<neq name="vo['mode']" value="">，【{$vo.mode}】</neq><br/>
									<neq name="vo['create_time']" value="">{$vo.create_time}：</neq>
									<neq name="vo['content']" value="">{$vo.content}</neq>
								</td>
							
								<td align="center" class="td3">
									<!-- 2015-08-27 暂时停用 -->
									<!-- 
											<a href="{:U('PostManagement/toFallback',array('tid'=>$vo['tid']))}" data-toggle="modal" data-target="#myModal">还原</a>
									 -->
									<a href="{:U('PostManagement/delInfo',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">查看</a>
								</td>
							
							</tr>
						</volist>
					</tbody>						
				</table>
	</div>
</form>

<div id="pages" class="page">{$page}</div>
			
			<div class="foot"></div>

</block>

</body>
</html>