				<tr>
					<h4 style="text-align:right">
						您当前所在位置：<a href="javascript:void(0);" class="color">快件管理</a>
					</h4>

				</tr>

				<tr style="margin:0px;padding:0px;width:300px !important;">
					<th width="100" <if condition="(I('get.type') eq 'index') || !(I('get.type'))">class="active"</if>><a href="{:U('index',array('type'=>'index'))}">全部</a></th>

					<th width="100" <if condition="(I('get.type') eq 'three')">class="active"</if>><a href="{:U('index',array('type'=>'three'))}" >三天未变</a></th>

					<th width="100" <if condition="(I('get.type') eq 'five')">class="active"</if>><a href="{:U('index',array('type'=>'five'))}" >五天未变</a></th>

					<th width="100" <if condition="(I('get.type') eq 'seven')">class="active"</if>><a href="{:U('index',array('type'=>'seven'))}" >七天未变</a></th>

					<th width="100" <if condition="(I('get.type') eq 'nine')">class="active"</if>><a href="{:U('index',array('type'=>'nine'))}" >疑难件</a></th>

					<th width="100" <if condition="(I('get.type') eq 'stop')">class="active"</if>><a href="{:U('index',array('type'=>'stop'))}" >暂停件</a></th>

					<th width="100" <if condition="(I('get.type') eq 'void')">class="active"</if>><a href="{:U('index',array('type'=>'void'))}" >作废件</a></th>
  					
					<th width="100" <if condition="(ACTION_NAME eq 'log')">class="active"</if>><a href="{:U('log',array('type'=>'record'))}" >操作日志</a></th>
  					
  					<th width="100" <if condition="(I('get.type') eq 'backup')">class="active"</if>><a href="{:U('index',array('type'=>'backup'))}" >已删除</a></th>
				
  					<th width="100" <if condition="(I('get.type') eq 'account')">class="active"</if>><a href="{:U('account',array('type'=>'account'))}" >对数</a></th>
				</tr>