<extend name="./base" />


<block name="main">
<script type="text/javascript" src="__PUBLIC__/js/datetime/DateTimePicker.js"></script>
<link href="__PUBLIC__/js/datetime/DateTimePicker.css" rel="stylesheet">
<script type="text/javascript">
	$(document).ready(function()
			{
				$("#dtBox").DateTimePicker({

					minuteInterval: 5

				});
			});
</script>
<div id="dtBox"></div>
<style>
	.container .active a{color:black;}
	.container .active{background-color: #cccddd !important;}
	.container table a{}
</style>
<div class="container" >
			<table border="0" cellpadding="0" cellspacing="0" class="table"  class="table table-bordered" style="margin:0px;padding:0px">
				
				<include file="litBanner" />

				<tr>
					<td colspan="10">
				<form action="{:U('PostManagement/log')}" method="get" class="form-inline">
						<!-- 中文搜索时必须的 -->
						<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
						<input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}" />
						<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
						<!-- End -->
						<input type="hidden" name="type" value="log">
					
<!-- 搜索栏 -->
<script type="text/javascript" src="__PUBLIC__/js/MyDate/WdatePicker.js"></script> 
				<label>
				搜索:&nbsp;<input type="search" name="keyword" value="{$keyword}" class="form-control" style="width:280" />
				</label>
				<label>
				<select name="searchtype" class="form-control" >
					<option value="" selected>查询类别</option>
					<option value="auto_Indent1" <eq name="searchtype" value="auto_Indent1">selected</eq>>自定义号1</option>
					<option value="auto_Indent2" <eq name="searchtype" value="auto_Indent2">selected</eq>>自定义号2</option>
					<option value="MKNO" <eq name="searchtype" value="MKNO">selected</eq>>美快单号</option>
					<option value="STNO" <eq name="searchtype" value="STNO">selected</eq>>申通单号</option>
					<option value="operate_user" <eq name="searchtype" value="operate_user">selected</eq>>操作员</option>
				</select>
				</label>
				<label>
				&nbsp;&nbsp;操作时间：<input type="text" class="form-control one" data-field="datetime" size="25" id="createStarttime" value="<eq name="starttime" value=""><else />{$starttime|date='Y-m-d H:i:s',###}</eq>" style="width:200" > -- <input type="text" class="form-control two" data-field="datetime" size="25" id="createEndtime" value="<eq name="endtime" value=""><else />{$endtime|date='Y-m-d H:i:s',###}</eq>" style="width:200" >
				</label>
				<input type="hidden" id="starttime" name="starttime">
				<input type="hidden" id="endtime" name="endtime">
				<label>
					<select name="optype" class="form-control" >
					<option value="">操作类型</option>
					<option value="修改" <eq name="optype" value="修改">selected="selected"</eq>>修改</option>
					<option value="暂停" <eq name="optype" value="暂停">selected="selected"</eq>>暂停</option>
					<option value="恢复" <eq name="optype" value="恢复">selected="selected"</eq>>恢复</option>
					<option value="删除" <eq name="optype" value="删除">selected="selected"</eq>>删除</option>
					<option value="还原" <eq name="optype" value="还原">selected="selected"</eq>>还原</option>
					</select>
				</label>
				<label>
				&nbsp;&nbsp;行数：
				<select name="ePage" id="" class="form-control" >
					<option value="10" <eq name="ePage" value="10">selected</eq>>10</option>
					<option value="20" selected <eq name="ePage" value="20">selected</eq>>20</option>
					<option value="30" <eq name="ePage" value="30">selected</eq>>30</option>
					<option value="50" <eq name="ePage" value="50">selected</eq>>50</option>
					<option value="100" <eq name="ePage" value="100">selected</eq>>100</option>
				</select>
				</label>
				<label>

						<button type="submit" class="btn btn-primary btn-lg" onclick="ccc()">查询</button>
				</label>
<script type="text/javascript">
function ccc(){
	var startTime=document.getElementById("createStarttime").value;
	if(startTime != ''){
		var startback = transdate(startTime);
		document.getElementById("starttime").value=startback;
	}

	var endTime=document.getElementById("createEndtime").value;
	if(endTime != ''){
		var endback = transdate(endTime);
		document.getElementById("endtime").value=endback;
	}

}
function transdate(startTime){
	var date=new Date();
	date.setFullYear(startTime.substring(0,4));
	date.setMonth(startTime.substring(5,7)-1);
	date.setDate(startTime.substring(8,10));
	date.setHours(startTime.substring(11,13));
	date.setMinutes(startTime.substring(14,16));
	date.setSeconds(startTime.substring(17,19));
	return Date.parse(date)/1000;
}
function transdate(endTime){
	var date=new Date();
	date.setFullYear(endTime.substring(0,4));
	date.setMonth(endTime.substring(5,7)-1);
	date.setDate(endTime.substring(8,10));
	date.setHours(endTime.substring(11,13));
	date.setMinutes(endTime.substring(14,16));
	date.setSeconds(endTime.substring(17,19));
	return Date.parse(date)/1000;
}

</script>
					
				</form>
					</td>
				</tr>
			</table>
</div>

<form action="">
	<div class="container" style="margin-bottom:0;margin-top:0;">
				<table border="0" cellpadding="0" cellspacing="0"  class="table table-hover" style="margin-bottom:0px">
					<thead>
						<tr style="height:47px;line-height:47px">
							<th>序号</th>
							<th>自定义1</th>
							<th>自定义2</th>
							<th>美快单号</th>
							<th>申通单号</th>
							<th>操作员</th>
							<th>操作时间</th>
							<th>备注</th>
							<th>操作类型</th>
							<!-- <th>操作</th> -->
						</tr>
					</thead>
					<tbody style="font-size:14px;">
						<volist name="list" id="vo" mod="2">
							<tr id="tr_{$vo.id}" style="background-color:#ddd;">
							
								<td class="td1" align="center"  >
										{$key+1}
								</td>
							
							
								<td class="td1" align="center" >
										{$vo.auto_Indent1}
								</td>
							
							
								<td class="td1" align="center" >
										{$vo.auto_Indent2}
								</td>
							
								<td class="td1" align="center" >
										{$vo.MKNO}
								</td>
								<td class="td1" align="center" >
										{$vo.STNO}
								</td>
								<td class="td1" align="center" >
										{$vo.operate_user}
								</td>
								<td class="td1" align="center" >
										{$vo.operate_time}
								</td>
								<td class="td1" align="center" >
										{$vo.remark}
								</td>
								<td class="td1" align="center" >
										{$vo.optype}
								</td>
								
<!-- 								<td align="center" class="td3">

										<a href="{:U('PostManagement/info',array('id'=>$vo['id']))}" data-toggle="modal" data-target="#myModal">查看</a>

								</td> -->

							</tr>
							<tr id="tr_{$vo.id}_2" >
								<td></td>
								<td colspan="16" >└─
																	<neq name="vo['t_optime']" value="">{$vo.t_optime}，</neq>
									<neq name="vo['t_IL_State']" value="">{$vo.t_IL_State}，</neq>
									<neq name="vo['change_item']" value="">{$vo.change_item}</neq>
								</td>
							</tr>
						</volist>
					</tbody>						
				</table>
	</div>
</form>

<div id="pages" class="page">{$page}</div>

			<div class="foot"></div>

</block>

</body>
</html>