<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><block name="title"></block><if condition="$lng eq 'zh-cn'">美快物流<else/>Meiquick Logistics</if></title>
	<meta name="Keywords" content="美快  美快国际 美快物流 国际物流 美国 香港 中国 中国香港" />
	<link href="__ICONS__/favicon.ico" rel="bookmark" type="image/x-icon" /> 
    <link href="__ICONS__/favicon.ico" rel="icon" type="image/x-icon" /> 
    <link href="__ICONS__/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="__ICONS__/icons57.png"/>
    <link rel="apple-touch-icon" href="__ICONS__/icons64.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="__ICONS__/icons72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="__ICONS__/icons114.png" /> 
    <link rel="stylesheet" type="text/css" href="__CSS__/jquery-ui.css">
    <link href="__APPWX__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__APPWX__/css/state.css">
	<script type="text/javascript" src="__APPWX__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__APPWX__/js/mobile-util.js"></script>
	<script type="text/javascript" src="__JS__/jquery-ui.js"></script>
	<script type="text/javascript" src="__APPWX__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="content">
	    <form action="{:U('Publiclogin/save')}" method="post" id="formid">
	    	<i class="iconconfirm"></i>
	    	<p><if condition="$lng eq 'zh-cn'">微信终端登陆确认<else/>WeChat terminal login confirm</if></p>
            <input type="hidden" name="no" value="{$no}">
            <input type="hidden" name="wx" value="{$wx}">
            <input type="hidden" name="username" value="{$username}">
            <input type="hidden" name="pwd" value="{$pwd}">
            <input type="hidden" name="type" value="{$type}">
	    	<input class="martop60 yellbtn" type="button" name="Submit" <if condition="$lng eq 'zh-cn'">value="确认登陆"<else/>value="Login Confirm"</if> id="btn_big1" />
	    	<input class="martop10" type="button" name="close" <if condition="$lng eq 'zh-cn'">value="取消"<else/>value="Cancel"</if> onclick="closeWindows(this)" />
	    </form>
    </div>
        <script type="text/javascript">
			$('#btn_big1').click(function() {
			    $('#btn_big1').attr('type', 'submit');
			    $('#formid').serialize().submit()
			});
			function closeWindows() {
				var a = navigator.userAgent.toLowerCase();
				if (a.match(/MicroMessenger/i) == "micromessenger") {
					WeixinJSBridge.call('closeWindow')
				} else if (a.indexOf("alipay") != -1) {
					AlipayJSBridge.call('closeWebview')
				} else if (a.indexOf("baidu") != -1) {
					BLightApp.closeWindow()
				} else {
					open(location, '_self').close();
				}
			};			
    </script>
</body>
</html>