<div class="footer">
	<div class="foot-main">
		<li class="now">{:L('Country_VZ')}：
		<span>
			<img src="__IMG__/foot_1.png">
		{:L('USA_VZ')}</span><span><img src="__IMG__/foot_2.png">{:L('Germany_VZ')}</span><span><img src="__IMG__/foot_3.png">{:L('rance_VZ')}</span><span><img src="__IMG__/foot_4.png">{:L('Italy_VZ')}</span><span><img src="__IMG__/foot_5.png">{:L('UK_VZ')}</span><span><img src="__IMG__/foot_6.png">{:L('Japan_VZ')}</span></li>
		<li>{:L('Useful_VZ')}：<a href="http://www.kuaidi100.com/" target="_blank">{:L('Express_VZ')}</a></li>
		<li>{:L('Meikuai_VZ')}</li>
		<li>COPYRIGHT ©  2010 - {:date('Y')}   {:L('technology_VZ')} <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备12092266号</a></li>
	</div>
</div>