<div class="header" style="z-index:999999999; opacity: 1;    background: none;" cid="0">
	<div class="logo_vz"><img src="__IMG__/{:L('lng')}/login.png" ></div>
	<div class="main">
			<div class="logo_vzc"></div>
			<div class="nav">
				<a href="{:U('Index/index')}" <if condition=" $names eq 'Index'">style="color:#ffde00"</if>>{:L('HOME_VZ')}<p></p></a><span></span>
				<a href="{:U('Function/index')}" <if condition=" $names eq 'Function'">style="color:#ffde00"</if>>{:L('FUNCTION_VZ')}<p></p></a><span></span>
				<a href="{:U('Solution/index')}" <if condition=" $names eq 'Solution'">style="color:#ffde00"</if>>{:L('SOLUTIONS_VZ')}<p></p></a><span></span>
				<a href="{:U('Present/index')}" <if condition=" $names eq 'Present'">style="color:#ffde00"</if>>{:L('ABOUT_US_VZ')}<p></p></a>
			</div>
			
		</div>
		<if condition="$mkuser">
		<div class="logins login_vz">
			<p><span style="font-size:14px;" title="{:L('MyCenter_VZ')}"><a href="{:U('Member/index')}"><php>echo substr($mkuser,0 ,8)</php></a></span></p>
			<a href="{:U('Login/Login_out')}">{:L('EXIT_VZ')}</a>
		</div>
		<else />
		<php>
			$ccd = cookie('think_language');
        	$mkuser = session('mkuser');
		</php>
		<div class="login login_vz">
			<a href="?l=zh-cn" <if condition=" $ccd eq 'zh-cn'">style=" color:#ffde00;"</if>>中文</a>/<a href="?l=en-us" <if condition=" $ccd eq 'en-us'">style=" color:#ffde00;"</if>>English</a>
		
			<a href="{:U('Login/index')}"><if condition="$mkuser neq ''">{:L('MyCenter_VZ')}<else/>{:L('LOGIN_VZ')}</if></a>/<a href="{:U('Login/index')}">{:L('SIGN_UP_VZ')}</a>
		</div>
		</if>
</div>
<div class="header">
	
</div>
