<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><block name="title"></block><if condition="$lng eq 'zh-cn'">美快物流<else/>Meiquick Logistics</if></title>
	<meta name="Keywords" content="美快  美快国际 美快物流 国际物流 美国 香港 中国 中国香港" />
	<link href="__ICONS__/favicon.ico" rel="bookmark" type="image/x-icon" /> 
    <link href="__ICONS__/favicon.ico" rel="icon" type="image/x-icon" /> 
    <link href="__ICONS__/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="__ICONS__/icons57.png"/>
    <link rel="apple-touch-icon" href="__ICONS__/icons64.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="__ICONS__/icons72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="__ICONS__/icons114.png" /> 
    <link rel="stylesheet" type="text/css" href="__CSS__/jquery-ui.css">
    <link href="__APPWX__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__APPWX__/css/state.css">
	<script type="text/javascript" src="__APPWX__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__APPWX__/js/mobile-util.js"></script>
	<script type="text/javascript" src="__JS__/jquery-ui.js"></script>
	<script type="text/javascript" src="__APPWX__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--     <div class="loginsignup">
        <if condition="$lng eq 'zh-cn'"><img src="__APPWX__/image/zh-cn/login.png" alt="LOGO"><else/><img src="__APPWX__/image/en-us/login.png" alt="LOGO"></if>
    </div> -->
    <div class="content">
	    <form action="" method="">
	    	<i class="iconfail"></i>
	    	<p class="colorred"><if condition="$lng eq 'zh-cn'">登陆失败<else/>Login failure</if></p>
	    	<p class="martb"><if condition="$lng eq 'zh-cn'">请重新扫描屏幕上的二维码<else/>Please scan the QR code on screen again</if></p>
	    	<span>{$msg}</span>
	    	<!-- WeixinJSBridge.call('closeWindow'); -->
	    	<input type="button" name="close" <if condition="$lng eq 'zh-cn'">value="关闭当前页"<else/>value="Close the current page"</if> onclick="closeWindows(this)" />
	    </form>
    </div>
	<script type="text/javascript">
function closeWindows() {
	var a = navigator.userAgent.toLowerCase();
	if (a.match(/MicroMessenger/i) == "micromessenger") {
		WeixinJSBridge.call('closeWindow')
	} else if (a.indexOf("alipay") != -1) {
		AlipayJSBridge.call('closeWebview')
	} else if (a.indexOf("baidu") != -1) {
		BLightApp.closeWindow()
	} else {
		open(location, '_self').close();
	}
};
	</script>
</body>
</html>