<html>
    <head>
        <meta charset="utf-8" />
        <title><block name="title"></block><if condition="$lng eq 'zh-cn'">账号登陆<else/>Account login</if></title>
        <meta name="Keywords" content="美快  美快国际 美快物流 国际物流 美国 香港 中国 中国香港" />
        <link href="__ICONS__/favicon.ico" rel="bookmark" type="image/x-icon" /> 
        <link href="__ICONS__/favicon.ico" rel="icon" type="image/x-icon" /> 
        <link href="__ICONS__/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link rel="apple-touch-icon" href="__ICONS__/icons57.png"/>
        <link rel="apple-touch-icon" href="__ICONS__/icons64.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="__ICONS__/icons72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="__ICONS__/icons114.png" /> 
        <link rel="stylesheet" type="text/css" href="__CSS__/jquery-ui.css">
        <link href="__APPWX__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="__APPWX__/css/wxlogin.css">
        <script type="text/javascript" src="__APPWX__/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__APPWX__/js/mobile-util.js"></script>
        <script type="text/javascript" src="__JS__/jquery-ui.js"></script>
        <script type="text/javascript" src="__APPWX__/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>  
<!--     <div class="loginsignup">
        <if condition="$lng eq 'zh-cn'"><img src="__APPWX__/image/zh-cn/login.png" alt="LOGO"><else/><img src="__APPWX__/image/en-us/login.png" alt="LOGO"></if>
    </div> -->
    <div class="loginlogo">
        <if condition="$lng eq 'zh-cn'"><img src="__APPWX__/image/logo-zh-cn.png" alt="LOGO"><else/><img src="__APPWX__/image/logo-en-us.png" alt="LOGO"></if>
    </div>
    <div class="loginsingup-input">
        <form action="{:U('Publiclogin/save')}" method="post" id="formid">
            <div class="content30">
                <div class="lsu">
                    <img src="__APPWX__/image/usericon.png" style="margin-right: .1rem">
                    <span><if condition="$lng eq 'zh-cn'">账号：<else/>Username：</if></span>
                    <input type="text" name="username" id="username" value="">
                </div>
                <div class="lsu">
                    <img src="__APPWX__/image/pwdicon.png" style="margin-right: .1rem">
                    <span><if condition="$lng eq 'zh-cn'">密码：<else/>Password：</if></span>
                    <input type="password" name="pwd" id="password" value="">
                    <i></i>
                </div>
                <div>
                    <input type="hidden" name="no" value="{$no}">
                    <input type="hidden" name="wx" value="{$wx}">
                    <input type="hidden" name="type" value="{$type}">
                    <input type="hidden" name="lng" value="{$lng}">
                </div>
                <div class="lsu submit">
                    <input type="button" <if condition="$lng eq 'zh-cn'">value="提交"<else/>value="Submit"</if> class="btn_big1" id="btn_big1">
                </div>
                <div class="radio">
                    <!-- <label> -->
                        <!-- <span> -->
                            <!-- <i><input type="checkbox" name="" value="1" checked="" style="display: none"></i> -->
                            <!-- <span>自动登陆</span> -->
                        <!-- </span> -->
                    <!-- </label> -->
                </div>
                <div class="signup-find p">
                    <div class="note fl">
                        <a href="{:U('Register/SelectCertCategory', array('countryId' => 1)) }"><span><if condition="$lng eq 'zh-cn'">注  册<else/>Register</if></span></a>
                    </div>
                    <div class="note fr">
                        <a href="{:U('ResetPwd/index')}"><span><if condition="$lng eq 'zh-cn'">找回密码<else/>Retrieve password</if></span></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a href=""></a>
<!--     <div class="thirdlogin">
        <h4>第三方登录</h4>
        <ul>
            <li>
                <a href="">
                    <div class="icon">
                        <img src="__APPWX__/image/wechat.png">
                        <p>微信登陆</p>
                    </div>
                </a>
            </li>
        </ul>
    </div> -->
    <script type="text/javascript">
        $('#btn_big1').click(function() {
            $('#btn_big1').attr('type', 'submit');
            $('#formid').serialize().submit()
        });
        $(function() {
            $('.loginsingup-input .lsu i').click(function() {
                $(this).toggleClass('eye');
                if ($(this).hasClass('eye')) {
                    $(this).siblings('input').attr('type', 'text')
                } else {
                    $(this).siblings('input').attr('type', 'password')
                }
            })
        })
    </script>
    </body>
</html>