<extend name="Public:base" />
<block name="title">{:L('Pr_title')}</block>

<html>
<block name="content">
<load href="__CSS__/record.css" />
<script type="text/javascript" src="__JS__/jquery.form.js"></script>
<div class="content flow_steps20161123">
<div class="formbox">
	<!-- <div class="fanhui" onclick="javascript:history.go(-1);"><span></span></div> -->
	<if condition="isset($tips)">
		<div align="center">
			<img style="width:25px;height:25px;vertical-align: middle;" src="__IMG__/signal-attention.png"/>{$tips}<br>
			<a href="{$url}">
			<if condition="$swit eq 2">
				<button type="button" style="width:80px;">返回</button>
			<elseif condition="$swit eq 1"/>
				<button type="button" style="width:80px;">{:L('Pr_Check_the_log')}</button>
			</if>
			</a>
		</div>
	<else />
	<div class="flow_steps flow_steps_vz">
		<!-- <ul>
			<li id="kjxx" class="current">第一步：快件信息</li>
			<li id="zjxx">第二步：补充身份证信息及报关缴税</li>
			<li id="finished" class="last">第三步：完成</li>
		</ul> -->
		<div class="d1">
			<span class="s1">1</span>
			<span class="s2">2</span>
			<span class="s3">3</span>
		</div>
		<div class="dd">
			<span class="s4">{:L('Pr_Delivery')}</span>
			<span class="s5">{:L('Pr_title')}</span>
			<span class="s6">{:L('Pr_complete')}</span>
		</div>
	</div>

	<div class="formcon">
		<div id="one">
			<form action="{:U('Profile/step_one')}" method="post" id="step_one">
			<table align="center">
				<tr>
					<td align="right" width="250px">{:L('l_m_wn')}：</td>
					<td><input class="pwdTrigger" type="text" id="mkno" name="order_no" value="{$res['order_no']}" required <if condition="$order_no">value="{$order_no}"<else />placeholder="{:L('l_m_pl')}"</if> /></td>
				</tr>
				<tr>
					<td align="right">{:L('Pr_Receiver')}：</td>
					<td><input class="pwdTrigger" type="text" id="rec" name="rec" value="{$res['receiver']}" placeholder="{:L('Pr_Please_recipients')}" required/></td>
				</tr>
				<tr>
					<td align="right">{:L('Pr_Re_Number')}：</td>
					<td><input class="pwdTrigger" type="text" id="phone" name="phone" value="{$res['reTel']}" placeholder="{:L('Pr_Pleases_number')}" required/></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" class="btn_1" >{:L('Pr_Submit')}</button>
						<span id="msg_one"></span>
					</td>
				</tr>
			</table>
			</form>
		</div>
		<div id="two" style="display:none;">
		
			<div class="two_2">
				<span class="s1">
					<label class="l1">{:L('Pr_title_2')}</label>			
				</span>
			</div>
			<div class="text_tow">
				<p>{:L('Pr_Notice')}</p>
				<p class="p1">{:L('Pr_Individual_mail')}</p>
				<!-- <p class="p2">{:L('Pr_Resident')}</p> -->				
			</div>
			<div class="de_xian"></div>
			<form action="{:U('Profile/step_two')}" method="post" id="step_two" enctype="multipart/form-data">
			<table align="center">
				<tr>
					<td align="right" width="140px"></td>
					<td><span style="color:red;">*</span>{:L('Pr_must')}</td>
				</tr>
				<tr id="ple_number">
					<td align="right" width="140px"><span style="color:red;" class="prnub_stat_red">*</span>{:L('Pr_ID_number')}：</td>
					<td><input class="pwdTrigger" type="text" id="cnumber" name="cnumber" placeholder="{:L('Pr_Pleaseid_number')}" required /><!-- &nbsp;*务必与收件人 ( <b><span id="mnm"></span></b> ) 匹配,否则无法报关,延误行程 --></td>
				</tr>
				<tr class="id_type">
					<td align="right" width="180px">{:L('Pr_Iden_type')}：</td>
					<td><span class="s1">{:L('Pr_ID_card')}</span><!-- <span>{:L('Pr_Passport')}</span><span>{:L('Pr_Other')}</span> --></td>
				</tr>
                <tr class="id_type_img">
                    <td align="right" width="180px"><span style="color:red;" class="file_stat_red">*</span>{:L('Filetit')}：</td>
                    <td><input type="text" placeholder="{:L('Filemsgf')}" id="aims" disabled /></td>
                    <td>
						<span class="s2">
							<input name="file_two" id="files" type="file" accept="image/jpg">
							<label>{:L('Fileimg')}</label>
						</span><!-- <span>{:L('Pr_Passport')}</span><span>{:L('Pr_Other')}</span> -->
                    </td>
                </tr>
				<tr class="id_type_img">
					<td align="right" width="180px"></td>
					<td><input type="text" placeholder="{:L('Filemsgz')}" id="aim" disabled /></td>
					<td>
						<span class="s2">
							<input name="file_one" id="file" type="file" accept="image/jpg">
							<label>{:L('Fileimg')}</label>
						</span><!-- <span>{:L('Pr_Passport')}</span><span>{:L('Pr_Other')}</span> -->
					</td>
				</tr>
				<script type="text/javascript">
		            var file = $('#file'),
		                aim = $('#aim');
		            file.on('change', function( e ){
		                var name = e.currentTarget.files[0].name;
		                aim.val( name );
                        var idno_val = $('#cnumber').val();
                        if(e.currentTarget.files[0] && idno_val != ''){
                            $('#sub_btn').addClass('s1');
                        }else{
                            $('#sub_btn').removeClass('s1');
                        }
		            });
		            var files = $('#files'),
		                aims = $('#aims');
		            files.on('change', function( e ){
		                var names = e.currentTarget.files[0].name;
		                aims.val( names );
                        if(e.currentTarget.files[0] && idno_val != ''){
                            $('#sub_btn').addClass('s1');
                        }else{
                            $('#sub_btn').removeClass('s1');
                        }
		            });
		        </script>	
				<tr>
					<td align="right" width="140px">{:L('Pr_Customs_duty')}：</td>
					<td><span id="taxm"></span></td>
				</tr>
				<tr>
					<td></td>
					<td style="padding-top:20px;">
						<input type="hidden" name="user_id" value="">
						<input type="hidden" name="receiver" value="">
						<input type="hidden" name="MKNO" value="">
						<input type="hidden" name="order_no" value="">
                        <input type="hidden" name="f" value=""/>
                        <input type="hidden" name="sf" value=""/>
                        <input type="hidden" name="b" value=""/>
                        <input type="hidden" name="sb" value=""/>
						<button type="button" class="s1" onclick="reone()">{:L('Pr_Back')}</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="submit" id="sub_btn">{:L('Pr_Submit_cl')}</button>
						<span id="msg_two"></span>
					</td>
				</tr>
			</table>
			</form>
		</div>
		<div id="three" style="display:none">
			<div align="center" >
				<div id="success_msg" style="color:#f3b945; font-size:16px"></div>
				<div id="search_url" style="padding: 20px 0;"><a href=""><button type="button" class="s1" style="">{:L('Pr_Check_the_log')}</button></a></div>
			</div>
		</div>
	</div>
	</if>
</div>
</div>
<script type="text/javascript">
function reone() {
	if (confirm("{:L('Pr_Determine')}")) {
		$("#one").show();
		$("#two").hide();
		$("#kjxx").attr("class","current");
		$("#zjxx").attr("class","");
	}
}
</script>
<script>

$(function(){
  	$('#step_one').ajaxForm({
	    beforeSubmit: checkOne, 
	    dataType: 'json',
	    success: function(result){
			if(result.status == 1){
				if(result.input_idno == ''){
					//身份证号码，0无需填写
					$(".prnub_stat_red").hide();
				}
				$("#one").hide();
				$("#two").show();
				// 身份证号码赋值
				$("input[name='cnumber']").val(result.idno);
				// 是否要传图片
//				if(result.TranKd == 12)	$("#two .id_type_img").show();
				$("#kjxx").attr("class","current_prev");
				$("#zjxx").attr("class","current");
				$("#msg_one").html('');
				$("input[name='MKNO']").val(result.MKNO);
				$("input[name='order_no']").val(result.order_no);
				$("input[name='receiver']").val(result.receiver);
				$("input[name='user_id']").val(result.user_id);
                $("input[name='f']").val(result.f);
                $("input[name='sf']").val(result.sf);
                $("input[name='b']").val(result.b);
                $("input[name='sb']").val(result.sb);
				$("#taxm").html(result.taxstr);
				$("#mnm").html($('#rec').val());
				$(".flow_steps_vz .d1").attr("class",'d2');
			}else if(result.status == 400){
				$("#one").hide();
				$("#three").show();
				$("#kjxx").attr("class","done");
				$("#zjxx").attr("class","current_prev");
				$("#finished").attr("class","current last");
				$("#msg_two").html('');
				$("#success_msg").html('<img style="width:25px;height:25px;vertical-align: middle;" src="__IMG__/signal-attention.png"/>&nbsp;'+result.msg);
				$("#search_url a").attr('href',result.url);
			}else{
				$('#msg_one').html('');
				alert(result.msg);
			}
		}
  	});
  
  	function checkOne(){
	    if($('#mkno').val() == ''){
	    	alert('{:L("Pr_Please_number")}');
	    	return false;
	    }
	    if($('#rec').val() == ''){
	    	alert('{:L("Pr_Please_recipients")}');
	    	return false;
	    }
	    if($('#phone').val() == ''){
	    	alert('{:L("Pr_Pleases_number")}');
	    	return false;
	    }
	    $("#msg_one").html('&nbsp;<img style="width:20px;height:20px;vertical-align: middle;" src="__IMG__/msg_loading_d.gif"/>');
  	}

    $('#step_two').ajaxForm({
	    beforeSubmit: checkTwo, 
	    dataType: 'json',
	    success: function(result){
            console.log(result);
			$("#msg_two").html('');
			if(result.status == 1){
				// alert(result.msg);
				$("#two").hide();
				$("#three").show();
				$("#kjxx").attr("class","done");
				$("#zjxx").attr("class","current_prev");
				$("#finished").attr("class","current last");
				$("#success_msg").html('<img style="width:25px;height:25px;vertical-align: middle;" src="__IMG__/submit_sess.png"/>&nbsp;'+result.msg);
				$("#search_url a").attr('href',result.url);
				$(".flow_steps_vz .d2").attr("class",'d3');
				$(".flow_steps_vz .d3").attr("class",'d4');
			}else if(result.status == 400){
				$("#two").hide();
				$("#three").show();
				$("#kjxx").attr("class","done");
				$("#zjxx").attr("class","current_prev");
				$("#finished").attr("class","current last");
				$("#success_msg").html('<img style="width:25px;height:25px;vertical-align: middle;" src="__IMG__/signal-attention.png"/>&nbsp;'+result.msg);
				$("#search_url a").attr('href',result.url);
				$(".flow_steps_vz .d2").attr("class",'d3');
			}else{
				alert(result.msg);
			}

		}
  	});

  	function checkTwo(){
	    if($('#cnumber').val() == ''){
	    	alert('{:L("Pr_Pleaseid_number")}');
	    	return false;
	    }
	    $("#msg_two").html('&nbsp;<img style="width:20px;height:20px;vertical-align: middle;" src="__IMG__/msg_loading_d.gif"/>');
  	}
});
</script>
</block>
</html>