<extend name="./base" />

<block name="main">

    <div class="container">
       
        <div class="col-md-12">
        	<div class="rtop">
        		<ul class="list-inline">
 					<if condition="ACTION_NAME eq 'index'">
 				 		<li class="blue"><a href="{:U('/AdminBrandList/add')}"  data-toggle="modal" data-target="#myModal">添加品牌名称</a></li>
 				 		<li class="blue"><a href="{:U('/AdminBrandList/import')}" data-toggle="modal" data-target="#myModal">导入CSV品牌名称</a></li>
 				 		<li class="blue"><a href="{:U('/AdminBrandList/index')}" >刷新</a></li>
 				 	</if>
 				 <li style="float:right">您当前所在位置：清关管理&nbsp;/&nbsp;<a href="javascript:void(0);" class="color">品牌名称</a></li>
				</ul>
<script type="text/javascript" src="__PUBLIC__/js/datetime/DateTimePicker.js"></script>
<link href="__PUBLIC__/js/datetime/DateTimePicker.css" rel="stylesheet">
<script type="text/javascript">
	$(document).ready(function()
			{
				$("#dtBox_ones").DateTimePicker({
					minuteInterval: 5
				});
			});
</script>
<div id="dtBox_ones"></div>
				<table border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="border-bottom:none !important">
					<thead>
					
						<tr>
							<td colspan="7">
								<form class="form-inline" action="{:U('/AdminBrandList/index')}" method="get">
									<label>
										<span style="float:left;">搜索:</span> 
										<input class="form-control" name="name"  placeholder="请输查询品牌名称"  value="" style="width:160; float:left;" type="search">
									</label>
									<label>
										<div style="float:left;">
										&nbsp;&nbsp;<span style="float:left;">导入时间：</span> 
										<input type="text"  placeholder="请选择导入开始时间"  class="form-control one" data-field="datetime" name="start_time" size="25"  value="" style="width:166;  float:left;  "> 
										<span style="float:left;">--</span> 
										<input type="text"   placeholder="请选择导入结束时间" class="form-control two" data-field="datetime" name="end_time" size="25"  value="" style="width:166;  float:left;" >
										</div>
									</label>
									<label>
										<div style="float:left;">
										&nbsp;&nbsp;<span style="float:left;">行数：</span> 
										<select class="form-control" name="number">
											<option  value="0">请选择行数</option>
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
											<option value="50">50</option>
											<option value="100">100</option>
											
										</select>											
										</div>
									</label>																		
									<label>
										<button class="btn btn-primary btn-lg" type="submit"  style="float:left">查询</button>
									</label>																						
								</form>
							</td>
						</tr>
					
											
						
						
						
						
						<tr>
							<th>序号</th>
							<th>品牌名称</th>
							<th>操作员名称</th>
							<th>时间</th>
							<!-- <th>排序</th> -->
							<th>操作</th>
						</tr>
					</thead>
					<tbody style="font-size:15px;">
						<volist name="list" id="vo" key="key">
							<tr  <eq name="mod" value="1"> style="background-color:#ddd;"</eq>>
								<td class="td1">
										{$vo.id}
								</td>
								<td class="td1">
										{$vo.brand_name}
								</td>
								<td class="td1">
										{$vo.name}
								</td>
								<td class="td1">
										{$vo.cre_time}
								</td>
								<!-- <td class="td1">
										{$vo.orders}
								</td> -->
								<td align="center" class="td3">
										<a href="{:U('AdminBrandList/edit',array('id' => $vo['id']))}" class=""   data-toggle="modal" data-target="#myModal">修改</a>&nbsp;|
										<a onclick="auth(this)" url_a="{:U('AdminBrandList/delete', array('id' => $vo['id']))}" user_name="{$vo['brand_name']}" href="#">删除</a>	
								</td>
							</tr>
						</volist>
					</tbody>

				</table>

				<div id="pages" class="page">{$page}</div>
        	</div>
        </div>
		</div>		
<div class="foot"></div>
<script type="text/javascript">
	function ityzl_SHOW_LOAD_LAYER(){  
	    return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '200px', time:100000}) ;  
	}  
	function ityzl_CLOSE_LOAD_LAYER(index){  
	    layer.close(index);  
	}  
	function ityzl_SHOW_TIP_LAYER(str, url = ''){  
	    layer.msg(''+str+'',{time: 2000,offset: '200px'}); 
	    if(url){
	    	window.location = url;
	    }else{
	    	window.location.reload(); 
	    }
	} 
	
	function auth(obj){
		//var uid = $(obj).attr('uid');
		//var url_a = "{:U('AdminCollectPoint/pointdelete')}";
		//var url = url_a + '/pid/' + uid;
		var del_sn = $(obj).attr('user_name');
		var url = $(obj).attr('url_a');
		if(confirm('是否删除品牌名称为：'+ del_sn + ' 的信息！')){
			//window.location.href=url;

			var request;
			var i;
			ityzl_SHOW_LOAD_LAYER();
			if (window.XMLHttpRequest) {
				request = new XMLHttpRequest();
			} else {
			    request = new ActiveXObject('Microsoft.XMLHTTP');
			}
			request.onreadystatechange = function(){
				if(request.status == 200 && request.readyState == 4){
					if(request.responseText){
						var a = JSON.parse( request.responseText );
						var status = a.status;
						//alert(status);
						//alert(a.data.strstr);
						//window.location.reload();
						//alert(request.responseText);
						//alert('导入成功！');
						var str = a.data.strstr;
						ityzl_CLOSE_LOAD_LAYER(i); 
		                ityzl_SHOW_TIP_LAYER(str); 
		                document.getElementById("form1").reset();
					}else{
						ityzl_CLOSE_LOAD_LAYER(i);
					}
				}
			}
			request.open("get", url);
			//request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.setRequestHeader("X-Requested-With","XMLHttpRequest");
			request.send();

			
		} 
	}

</script>		
		
</block>


</body>
</html>