<!-- 在线下单 -->
<extend name="Member/base" />


<block name="main">
<script type="text/javascript" src="__MEMBER__/js/city/jquery.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/area.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/location.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/select2.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/select2_locale_zh-CN.js"></script>
<script src="__MEMBER__/js/cityselected.js"></script>
<link href="__MEMBER__/css/select2.css" rel="stylesheet"/>
<!-- <link href="__MEMBER__/css/one.css" rel="stylesheet">
<script src="__MEMBER__/js/add.js"></script> -->
<!-- <script type="text/javascript" src="__MEMBER__/js/city/city.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/edit.js"></script>-->
<style>
	h3{margin:0;padding:0;}
	#content{padding-bottom: 20px !important;}
	.ordhead{border-bottom: 3px solid #dedede;width: 100%;height: 50px;text-align: center;color: #000;background: #fff;}
	.ordhead h3{line-height: 50px;}
	.ordbody{background: #f6f6f6;padding:20px 0;}
	.form-signin table{margin:0 25%;width: 740px;}
	.form-signin .tdleft{text-align: right;}
	.oblast{padding-bottom: 0;}
	.copy_r{border:none !important;background: #f6f6f6;}
	#mimenu{color: grey;font-size: 17px;white-space: nowrap}
</style>
	<div class="form form_index" >
    <div class="form-signin" style="width:100%;min-height:500px;margin:0 auto;padding:0;">
	    <form action="{:U('Order/step_two')}" method="post" class="form-inline" id="tempForm" name="add">
	    	<!-- 寄件人信息 -->
	    	<div class="ordhead"><h3>{:L('SenderInfo')}</h3></div>
	    	<div class="ordbody">
		    	<table class="tab1" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td class="tdleft"><label>{:L('FullName')}：</label></td>
						<td><label><input type="text" value="" name="PostName"  class="form-control" required oninvalid="setCustomValidity('请输入寄件人！');" oninput="setCustomValidity('');" ></label></td>
					</tr>
					<tr>
						<td class="tdleft"><label>{:L('Address')}：</label></td>
						<td><label><input type="text" value="" name="PostAddress"  class="form-control" required oninvalid="setCustomValidity('请输入寄件人地址！');" oninput="setCustomValidity('');"></label></td>
					</tr>
		            <tr>
		              	<td class="tdleft"><label>{:L('Phone')}：</label></td>
		              	<td><label><input type="phone" value="" name="PostPhone"  class="form-control" required oninvalid="setCustomValidity('请输入寄件人电话！');" oninput="setCustomValidity('');"></label></td>
		            </tr>
		            <tr>
		              	<td class="tdleft"><label>{:L('ZipCode')}：</label></td>
		              	<td><label><input type="text" value="" name="PostCode"  class="form-control" required oninvalid="setCustomValidity('请输入寄件人邮编！');" oninput="setCustomValidity('');"></label></td>
		            </tr>
				</table>
	    	</div>
<!-- **************************************************** -->
	    	<!-- 收件人信息 -->
	    	<div class="ordhead"><h3>{:L('RecInfo')}</h3></div>
	    	<div class="ordbody">
		    	<table class="tab1" border="0" cellpadding="0" cellspacing="0">
				    <tr>
		              	<td class="tdleft"><label>{:L('FullName')}：</label></td>
		              	<td><label><input type="text" value="" name="RecName"  class="form-control" required oninvalid="setCustomValidity('请输入收件人！');" oninput="setCustomValidity('');"></label></td>
		            </tr>
		            <tr>
		            	<td class="tdleft"><label>{:L('ProvinceCity')}：</label></td>
						<td style="position: relative; ">

						    <select id="loc_province" style="width:120px;" required="required">
						    </select>
						    <select id="loc_city" style="width:120px; margin-left: 10px" required="required">
						    </select>
						    <select id="loc_town" style="width:120px;margin-left: 10px" required="required">
						    </select>
						    <input id="province" name="Province" value="" style="display:none" />
						    <input id="city" name="City" value="" style="display:none" />
						    <input id="town" name="Town" value="" style="display:none" />
						</td>
		            </tr>

		            <tr>
		              	<td class="tdleft"><label>{:L('DetaileAddress')}：</label></td>
		              	<td class="xixidizhi"><span id="cpp_s" class="nows"></span><label><input id="RecAddress" type="text" value="" name="RecAddress" required class="form-control" oninvalid="setCustomValidity('请输入详细地址！');" oninput="setCustomValidity('');"></label>
		              	</td>
		            </tr>
		            <tr>
		              	<td class="tdleft"><label>{:L('Phone')}：</label></td>
		              	<td><label><input type="text" value="" name="RecPhone"  class="form-control" required oninvalid="setCustomValidity('请输入收件人电话！');" oninput="setCustomValidity('');"></label></td>
		            </tr>
		            <tr>
		              	<td class="tdleft"><label>{:L('ZipCode')}：</label></td>
		              	<td><label><input type="text" value="" name="RecCode"  class="form-control" required oninvalid="setCustomValidity('请输入收件人邮编！');" oninput="setCustomValidity('');"></label></td>
		            </tr>
				</table>
	    	</div>
<!-- **************************************************** -->
	    	<!-- 选择线路 -->
	    	<div class="ordhead"><h3>{:L('SelectLine')}</h3></div>
	    	<div class="ordbody">
		    	<table class="tab1" border="0" cellpadding="0" cellspacing="0">
				    <tr>
						<td class="tdleft"><label>{:L('TranLine')}：</label></td>
						<td style="width: 90px;">
						<label>
		                <select name="TransferLine" id="TransferLine" class="form-control" required>
							<option value="">{:L('PleaseSelectLine')}</option>
							<volist name="tranline" id="vo">
								<option value="{$vo['id']}" ><php>$l = L('MKLINES');echo $l[$vo['lngname']];</php></option>
							</volist>
		<!-- 					<option value="1" <if condition="($info['TranKd']) eq '1'">selected</if>><php>$l = L('MKLINES');echo $l[1];</php></option>
							<option value="2" <if condition="($info['TranKd']) eq '2'">selected</if>><php>$l = L('MKLINES');echo $l[2];</php></option> -->
		                </select>
						</label>
						</td>
						<td><p id="mimenu"></p></td>
						<ul style="display:none;">
							<volist name="tranline" id="vo">
								<li class="m{$vo['id']}"><php>$l = L('MKRemarks');echo $l[$vo['lngremark']];</php></li>
							</volist>
						</ul>
		            </tr>
					<script>
						$(document).ready(function(){
							$('#TransferLine').change(function(){
								// alert($(this).children('option:selected').val());
								var p = $(this).children('option:selected').val();//这就是selected的值

								if(p != ''){
									// alert(p);
									var h = $(".m"+p).html();
									$("#mimenu").html('说明：'+h);
								}else{
									$("#mimenu").html('');
								}
							})
						})
					</script>
				</table>
	    	</div>
<!-- **************************************************** -->
			<!-- 货品声明 -->
			<div class="ordhead"><h3>{:L('GoodsList')}</h3></div>
	    	<div class="ordbody oblast">
					<table class="table_now" style="margin:10px auto; width:905px; height:110px;">
						<tr>
							<td width="10%" style="font-weight: bold;" class="copy_r"></td>
							<td width="10%" style="font-weight: bold;">{:L('BrandName')}</td>
							<td width="10%" style="font-weight: bold;">{:L('ProductName')}</td>
							<td width="10%" style="font-weight: bold;">{:L('ProCate')}</td>
							<td width="20%" style="font-weight: bold;">{:L('Customs')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Amount')}</td>
							<td width="10%" style="font-weight: bold;">{:L('UnitPrice')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Currency')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Remarks')}</td>
						</tr>
						<!-- 配置控制行数 20170322 甘 -->
						<for start="1" end="$Think.config.OROW"> 
						<tr>
							<td class="copy_r"><if condition="$i eq 5"><a onclick="add()" href="javascript:void(0)">[+]</a></if></td>
							<td width="10%;"><input type="text" name="brand_{$i}" style="width:113px;margin:2px; height:30px;padding:2px;" <eq name="i" value="1">required oninvalid="setCustomValidity('请输入品牌！');" oninput="setCustomValidity('');"</eq>></td>
							<td width="10%;"><input type="text" name="product_{$i}" style="width:113px;margin:2px; height:30px;padding:2px;" <eq name="i" value="1">required oninvalid="setCustomValidity('请输入货品名称！');" oninput="setCustomValidity('');"</eq>></td>
							
							<td width="10%;"><input type="text" name="catname_{$i}" style="width:113px;margin:2px; height:30px;padding:2px;" <eq name="i" value="1">required oninvalid="setCustomValidity('请输入货品类别！');" oninput="setCustomValidity('');"</eq>></td>

							<td width="20%;">---</td>
							<td width="10%;"><input type="text" name="amount_{$i}" style="width:83px;margin:2px; height:30px;padding:2px;" <eq name="i" value="1">required oninvalid="setCustomValidity('请输入数量！');" oninput="setCustomValidity('');"</eq>></td>

							<td width="10%;"><input type="text" name="price_{$i}" style="width:83px;margin:2px; height:30px;padding:2px;" <eq name="i" value="1">required oninvalid="setCustomValidity('请输入单价！');" oninput="setCustomValidity('');"</eq>></td>
							<!-- 币种 -->
							<td width="10%;" style="width:83px;margin:2px; height:50px;padding:2px;">
								<select name="coin_{$i}" id="" style="height:30px;padding:2px;" <eq name="i" value="1">required oninvalid="setCustomValidity('请输入货币类型！');" oninput="setCustomValidity('');"</eq>>
									<option value=""></option>
									<option value="1" selected="selected">￥</option>
									<option value="2">$</option>
								</select>
							</td>
							<td width="10%;" ><input type="text" name="remark_{$i}" style="width:113px;margin:2px; height:30px;padding:2px;"></td>
						</tr>
						</for>
					</table>
					<span style="color:red;font-size:14px;padding-left:495px;">{:L('Notice')}</span>
            </tr>
            
<!-- **************************************************** -->
			<!-- 按钮部分 -->
			<tr>
				<table style="margin:0 auto;background: #f6f6f6">
					<tr>
				<td>
					<input type="hidden" value="{$user_id}" name="uid">
				</td>
				<td style="text-align: right;">
					<span id="loading" style="bottom:180px;left:650px !important;"></span>
					<button type="button" class="btn btn-primary" id="BtnSave">{:L('BtnSave')}</button>
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="beClosed">关闭</button> -->
					<span id="messagebox" class="msgbox" style="bottom:180px;left:650px !important"></span>					
				</td>
					</tr>
				</table>
			</tr>
	    	</table>
	    	</div>
<!-- END -->
	    	<div style="clear:both;"></div>
		</form>
    </div>
   	</div>
<!-- 20170314 修改弹出框，使用layer 甘-->
<script>
    $('#BtnSave').click(function(){
	    $.ajax({
	        cache: false,
	        type: "post",
	        url:"{:U('Order/checkForm')}",
	        data:$('#tempForm').serialize(),// 你的formid
	        async: false,
	        beforeSend:function(){
	            $("#loading").html('<img style="width:28px;height:28px;" src="__MEMBER__/images/msg_loading_d.gif"/>');
	        },
	        error: function(request) {
	            layer.alert("Connection error");
	        },
	        success: function(data) {
	            if(data.state == 'no'){
					layer.open({
						type: 0,
						offset: '300px',
						shadeClose: true,
						title: "{:L('LAY_SystemMessage')}",
						area : ['150px' , '150px'],
						content : data.msg,
						icon : {icon:5},
					});
	                  // jError(data.msg,{
	                  //   clickOverlay : true,
	                  //   autoHide : false,
	                  //   LongTrip : 100,
	                  //   VerticalPosition : 'top',
	                  //   HorizontalPosition : 'center'
	                  // });
	                  $("#loading").html('');
	            }else{
	                //$('for').attr('end');
	                //console.log(t);
	                $('#BtnSave').attr('type','submit');
	            }
	        }
	    });
    });
    // 添加删除行 20170316 甘
	function copy_row(obj)
	{
	    var $tr = $(obj).parents('tr');//parents() 祖先级
	    // 原版
	    if(obj.innerHTML == '[+]')
	    {
	        var $clone = $tr.clone();// 副本
	        $clone.find('a').html('[-]');// 找出tr里面的a标签，将内容换成[-]
	        $tr.after( $clone );//在祖先tr的后面添加一份副本
	    }else
	    {
	        $tr.remove();//移除副本
	    }
	}
</script>
<!-- END -->
	<div class="foot"></div>

</block>

</body>
</html>