<!-- 在线下单 -->
<extend name="Member/base" />


<block name="main">
<script type="text/javascript" src="__MEMBER__/js/city/jquery.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/{:L('lng')}/area.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/{:L('lng')}/location.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/select2.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/{:L('lng')}/select2_locale_zh-CN.js"></script>
<script src="__MEMBER__/js/cityselected.js"></script>
<script src="__MEMBER__/js/{:L('lng')}/jquery.validationEngine.js" type='text/javascript'></script>
<link href="__MEMBER__/css/select2.css" rel="stylesheet"/>


	<div class="form form_index" >
    <div class="form-signin" style="width:100%;min-height:500px;margin:0 auto;padding:0;">
	    <form action="{:U('Order/step_two')}" method="POST" class="form-inline" id="tempForm" name="add">
		    <div class="ordtop">
		    	<!-- **************************************************** -->
	    		<!-- 寄件人信息 -->
		    	<div class="ordsender">
		    		<h4>{:L('SenderInfo')}</h4>
		    		<ul>
		    			<li><label>{:L('FullName')}：</label><input type="text" value="{$info['PostName']|default=''}" id="postname" name="PostName" placeholder="{:L('Placeholder_PostName')}" required="required"></li>
		    			<li>
		    				<label>{:L('Address')}：</label>
		    				<select id="loc_province1" style="width:78px;" required="required">
						    </select>
						    <select id="loc_city1" style="width:130px;" required="required">
						    </select>
						    <select id="loc_town1" style="width:115px;" required="required">
						    </select>
						    <input id="province1" name="ForeignCountry" value="{$info['foreign_country']|default="U.S.A"}" style="display:none" />
						    <input id="city1" name="ForeignProvince" value="" style="display:none" />
						    <input id="town1" name="ForeignCity" value="" style="display:none" />
		    			</li>
		    			<li><label>{:L('DetaileAddress')}：</label><input type="text" value="{$info['PostAddress']|default=''}" id="daddress" name="PostAddress" placeholder="{:L('Placeholder_PostAddress')}" equired="required"></li>
		    			<li><label>{:L('Phone')}：</label><input type="phone" value="{$info['PostPhone']|default=''}" id="pphone" name="PostPhone" placeholder="{:L('Placeholder_PostPhone')}" required="required"></li>
		    			<li><label>{:L('ZipCode')}：</label><input type="text" value="{$info['PostCode']|default=''}" id="zipcode" name="PostCode" placeholder="{:L('Placeholder_PostCode')}"  required="required"></li>
		    		</ul>
		    		<button type="button" class="clearSender" onclick="javascript:$('.ordsender input').val('');">{:L('EmptyInfo')}</button>
		    	</div>
		    	<!-- **************************************************** -->
	    		<!-- 收件人信息 -->
		    	<div class="ordrec">
		    		<h4>{:L('RecInfo')}</h4>
		    		<ul>
		    			<li><label>{:L('FullName')}：</label><input type="text" value="" id="fullname" name="RecName" placeholder="{:L('Placeholder_RecName')}" required="required">
		    			</li>
		    			<li>
		    				<label>{:L('DocumentsType')}：</label>
		    				<select name="Id_tpye">
		    					<volist name="ID_TYPE" id="ty">
		    						<option value="{$key}">{:L($ty)}</option>
		    					</volist>
		    				</select>
		    				<input type="text" name="IdNo" placeholder="{:L('Placeholder_IdNo')}" id="idno" required="required" style="width:185px !important">
		    			</li>
		    			<li>
		    				<label>{:L('Address')}：</label>
		    				<select id="loc_province" style="width:100px;" required="required">
						    </select>
						    <select id="loc_city" style="width:115px; margin-left: 5px" required="required">
						    </select>
						    <select id="loc_town" style="width:115px;margin-left: 5px" required="required">
						    </select>
						    <input id="province" name="Province" value="" style="display:none" />
						    <input id="city" name="City" value="" style="display:none" />
						    <input id="town" name="Town" value="" style="display:none" />
		    			</li>
		    			<li><label>{:L('DetaileAddress')}：</label><input type="text" value="" id="detaaddress" name="RecAddress" placeholder="{:L('Placeholder_RecAddress')}" required="required"></li>
		    			<li><label>{:L('Phone')}：</label><input type="text" value="" id="rphone" name="RecPhone" placeholder="{:L('Placeholder_RecPhone')}" pattern="^1\d{10}$" required oninput='chePattern(this,"{:L('chekPattern_Phone')}");'></li>
		    			<li><label>{:L('ZipCode')}：</label><input type="text" value="" id="rzipcode" name="RecCode" placeholder="{:L('Placeholder_RecCode')}" pattern="^[1-9]\d{5}$" required oninput='chePattern(this,"{:L('chekPattern_ZipCode')}");'></li>
		    		</ul>
		    	</div>
		    </div>
<!-- **************************************************** -->
	    	<!-- 选择线路 -->
	    	<div class="ordhead"><h3>{:L('SelectLine')}</h3></div>
	    	<div class="ordbody">
		    	<table class="tab1" border="0" cellpadding="0" cellspacing="0">
				    <tr>
						<td class="tdleft"><label>{:L('TranLine')}：</label></td>
						<td style="width: 90px;">
						<label>
		                <select name="TransferLine" id="TransferLine" class="form-control" required>
							<option value="">{:L('PleaseSelectLine')}</option>
							<volist name="tranline" id="vo">
								<option value="{$vo['id']}" ><php>$l = L('MKLINES');echo $l[$vo['lngname']];</php></option>
							</volist>
		<!-- 					<option value="1" <if condition="($info['TranKd']) eq '1'">selected</if>><php>$l = L('MKLINES');echo $l[1];</php></option>
							<option value="2" <if condition="($info['TranKd']) eq '2'">selected</if>><php>$l = L('MKLINES');echo $l[2];</php></option> -->
		                </select>
						</label>
						</td>
						<td><p id="mimenu"></p></td>
						<ul style="display:none;">
							<volist name="tranline" id="vo">
								<li class="m{$vo['id']}"><php>$l = L('MKRemarks');echo $l[$vo['lngremark']];</php></li>
							</volist>
						</ul>
		            </tr>
				</table>
	    	</div>
<!-- **************************************************** -->
			<!-- 货品声明 -->
			<div class="ordhead"><h3>{:L('GoodsList')}</h3></div>
	    	<div class="ordbody oblast">
					<table class="table_now" style="margin:10px auto;height:110px;margin-left: -106px;" id="table">
					<input type="hidden" id="num" value="5" autocomplete="off">
						<tr>
							<td width="10%" style="font-weight: bold;" class="copy_r"></td>
							<td width="10%" style="font-weight: bold;">{:L('BrandName')}</td>
							<td width="10%" style="font-weight: bold;">{:L('ProductName')}</td>
							<td width="10%" style="font-weight: bold;">{:L('ProCate')}</td>
							<td width="20%" style="font-weight: bold;">{:L('Customs')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Amount')}</td>
							<td width="10%" style="font-weight: bold;">{:L('UnitPrice')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Currency')}</td>
							<td width="10%" style="font-weight: bold;">{:L('Remarks')}</td>
						</tr>
						<!-- 配置控制行数 gan -->
						<for start="1" end="$Think.config.OROW"> 
						<tr>
							<td class="copy_r"><if condition="$i eq 1"><a onclick="copy_row(this)" href="javascript:void(0)">[+]</a></if></td>
							<td width="10%;"><input type="text" name="brand_{$i}" class="clchang"></td>
							<td width="10%;"><input type="text" name="product_{$i}" class="clchang"></td>
							
							<td width="10%;"><input type="text" name="catname_{$i}" class="clchang"></td>

							<td width="20%;">---</td>
							<td width="10%;"><input type="text" name="amount_{$i}" class="clzhong"></td>

							<td width="10%;"><input type="text" name="price_{$i}" class="clzhong"></td>
							<!-- 币种 -->
							<td width="10%;" class="clzhong">
								<select name="coin_{$i}" id="" class="clduan">
									<!-- <option value=""></option> -->
									<option value="CNY" selected="selected">￥</option>
									<!-- <option value="USD">$</option> -->
								</select>
							</td>
							<td width="10%;" ><input type="text" name="remark_{$i}" class="clchang"></td>
						</tr>
						</for>
					</table>
					<span class="forspan">{:L('Notice')}</span>
            </tr>
            
<!-- **************************************************** -->
			<!-- 按钮部分 -->
			<tr>
				<table style="width: 1000px;float: right;margin: 0 auto;">
					<tr>
						<td id="hide_boxs">
							<input type="hidden" value="{$user_id}" name="uid">
						</td>
						<td style="text-align: right;">
							<span id="loading" style="bottom:180px;left:650px !important;"></span>
							<button type="button" class="btn" id="BtnSave">{:L('BtnSave')}</button>
							<!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="beClosed">关闭</button> -->
							<span id="messagebox" class="msgbox" style="bottom:180px;left:650px !important"></span>					
						</td>
					</tr>
				</table>
			</tr>
	    	</table>
	    	</div>
<!-- END -->
	    	<div style="clear:both;"></div>
		</form>
    </div>
   	</div>
<script type="text/javascript">
$(document).ready(function(){
	$(window).bind('beforeunload',function(){
		return '您输入的内容尚未保存，确定离开此页面吗？';
	});
});
</script>
<script type="text/javascript">
	// 验证提交数据合法性
	function chePattern(i,tip) {  
        var v = i.validity;  
        if (true === v.valueMessing) {  
            i.setCustomValidity("{:L('chekPattern_Msg')}"); 
        } else {  
            if (true === v.patternMismatch) {  
                i.setCustomValidity(tip);
                return false;  
            } else {  
                i.setCustomValidity("");  
            }  
        }  
    } 
	// 选择线路特效
	$(document).ready(function(){
		$('#TransferLine').change(function(){
			var p = $(this).children('option:selected').val();//这就是selected的值

			if(p != ''){
				var h = $(".m"+p).html();
				$("#mimenu").html("{:L('ShowSelect')}："+h);
			}else{
				$("#mimenu").html('');
			}
		})
	});
	// 修改弹出框，使用layer 20170314  gan
	$('#BtnSave').click(function(){
		/*
		// 寄件人
		var postname = document.getElementById('postname').value;
		var daddress = document.getElementById('daddress').value;
		var pphone = document.getElementById('pphone').value;
		var zipcode = document.getElementById('zipcode').value;
		// 收件人
		var fullname = document.getElementById('fullname').value;
		var idno = document.getElementById('idno').value;
		var detaaddress = document.getElementById('detaaddress').value;
		var rphone = document.getElementById('rphone').value;
		var rzipcode = document.getElementById('rzipcode').value;
		// 验证规则
		var repn = /^([a-zA-Z ]+|[\u4e00-\u9fa5]+)$/;
		var repzc = /^[1-9]\d{5}$/;
		var repadd = /^[a-zA-Z0-9\u4e00-\u9fa5]+$/;
		var repphone = /^1[2|3|4|5|6|7|8|9]{1}[0-9]{9}$/;
		var repidno =/^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$/;
		// 用户名
		if(!repn.test(postname) || !repn.test(fullname)){
			layer.open({
				type: 0,
				offset: '300px',
				shadeClose: true,
				title: "{:L('LAY_SystemMessage')}",
				content : "{:L('chekPattern_FullName')}",
				icon : 5,
			});
			return false;
		}
		// 地址
		if(!repadd.test(daddress) || !repadd.test(detaaddress)){
			layer.open({
				type: 0,
				offset: '300px',
				shadeClose: true,
				title: "{:L('LAY_SystemMessage')}",
				content : "{:L('chekPattern_Address')}",
				icon : 5,
			});
			return false;
		}
		// 电话
		if(!repphone.test(pphone) || !repphone.test(rphone)){
			layer.open({
				type: 0,
				offset: '300px',
				shadeClose: true,
				title: "{:L('LAY_SystemMessage')}",
				content : "{:L('chekPattern_Phone')}",
				icon : 5,
			});
			return false;	
		}
		// 邮编
		if(!repzc.test(zipcode) || !repzc.test(rzipcode)){
			layer.open({
				type: 0,
				offset: '300px',
				shadeClose: true,
				title: "{:L('LAY_SystemMessage')}",
				content : "{:L('chekPattern_ZipCode')}",
				icon : 5,
			});
			return false;
		}
		// 身份证
		if(!repidno.test(idno)){
			layer.open({
				type: 0,
				offset: '300px',
				shadeClose: true,
				title: "{:L('LAY_SystemMessage')}",
				content : "{:L('chekPattern_IdNo')}",
				icon : 5,
			});
			return false;	
		}
		*/
	    $.ajax({
	        cache: false,
	        type: "POST",
	        url:"{:U('Order/checkForm')}",
	        data:$('#tempForm').serialize(),// 你的formid
	        async: false,
	        beforeSend:function(){
	            $("#loading").html('<img style="width:28px;height:28px;" src="__MEMBER__/images/msg_loading_d.gif"/>');
	        },
	        error: function(request) {
	            layer.alert("{:L('LAY_ErrorForm')}");
	        },
	        success: function(data) {
	            if(data.state == 'no'){
					layer.open({
						type: 0,
						offset: '300px',
						shadeClose: true,
						title: "{:L('LAY_SystemMessage')}",
						content : data.msg,
						icon : 5,
					});
	                $("#loading").html('');
	            }else{
	                var box_part='<input type="hidden" value="'+data.uucode+'" name="uucode"><input type="hidden" value="'+data.sn+'" name="sn"><input type="hidden" value="'+data.lid+'" name="lid">';
	                $("#hide_boxs").append(box_part);
	                $('#BtnSave').attr('type','submit');
	                $(window).unbind('beforeunload');
	            }
	        }
	    });
	});

	// 添加删除行 20170316 gan
	function copy_row(obj)
	{
		var num=$("#num").val();
		num++;
		if(num>=10){
			layer.open({
				title:"{:L('LAY_SystemMessage')}",
				offset: '300px',
				icon : 0,
				content: "{:L('LAY_AddRow')}",
			});
			$('.copy_r').find('a').remove();
		}
		var str='<tr><td class="copy_r"><if condition="$i eq 5"><a onclick="copy_row(this)" href="javascript:void(0)">[+]</a></if></td><td width="10%;"><input type="text" class="clchang" name="brand_'+num+'"></td><td width="10%;"><input type="text" class="clchang" name="product_'+num+'"></td><td width="10%;"><input type="text" class="clchang" name="catname_'+num+'"></td><td width="20%;">---</td><td width="10%;"><input type="text" class="clzhong" name="amount_'+num+'"></td><td width="10%;"><input type="text" class="clzhong" name="price_'+num+'"></td><td width="10%;"><select class="clduan" name="coin_'+num+'" id=""><option value="CNY" selected="selected">￥</option></select></td><td width="10%;" ><input type="text" class="clchang" name="remark_'+num+'"></td></tr>';
		$("#table").append(str);
		$("#num").val(num);
	}
	function Dchek(){
		alert(123);

	}
</script>
<!-- END -->
	<div class="foot"></div>

</block>

</body>
</html>