<!-- 在线下单 -->
<extend name="Member/base" />


<block name="main">
<script type="text/javascript" src="__MEMBER__/js/city/jquery.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/zh-cn/area.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/zh-cn/location.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/select2.js"></script>
<script type="text/javascript" src="__MEMBER__/js/city/zh-cn/select2_locale_zh-CN.js"></script>
<script src="__MEMBER__/js/{:L('lng')}/cityselected.js"></script>
<link rel="stylesheet" type="text/css" href="__MEMBER__/css/validationEngine.jquery.css">
<script src="__MEMBER__/js/jquery.validationEngine.js" type='text/javascript'></script>
<script src="__MEMBER__/js/jquery.validationEngine-{:L('lng')}.js" type='text/javascript'></script>
<script type="text/javascript" src="__MEMBER__/js/jquery.form.js"></script>
<link href="__MEMBER__/css/select2.css" rel="stylesheet"/>
<script type="text/javascript" src="__MEMBER__/js/feg_relevance.js"></script>
<script type="text/javascript" src="__MEMBER__/js/underscore.js"></script>
<script type="text/javascript">
  var Cr_Select = "{:L('Cr_Select')}";
  var select_cr = "{:L('Cr_Select')}"; 
</script>
<script type="text/javascript">
        $(function(){
          $('#tempForm').validationEngine('attach', {
            promptPosition: 'topRight',
            scroll: false,
            addPromptClass:'formError-white',
            autoPositionUpdate:true,
            'custom_error_messages':{
                '#TransferLine':{
                    'required': {
                        'message': "{:L('valEng_Msg_fre')}",
                    }
                },
                '#loc_province':{
                    'required':{
                        'message': "{:L('valEng_Msg_fre')}",
                    }
                },
                '#loc_city':{
                    'required':{
                        'message': "{:L('valEng_Msg_fre')}",
                    }
                },
                '#loc_town':{
                    'required':{
                        'message': "{:L('valEng_Msg_fre')}",
                    }
                },
            }
          });
        });
</script>

    <div class="form form_index" >
    <div class="form-signin" style="width:100%;min-height:500px;margin:0 auto;padding:0;">
        <form action="{:U('Order/checkForm')}" method="POST" class="form-inline" id="tempForm" name="add" enctype="multipart/form-data" onsubmit="tempform(this)">
            <div class="ordtop">
                <!-- **************************************************** -->
                <!-- 寄件人信息 -->
                <div class="ordsender">
                    <h4>{:L('SenderInfo')}</h4>
                    <div class="changebtn">
                        <a href="javascript:;" onclick="addsern(this)">{:L('l_select_sender')}</a>
                    </div>
                    <ul>
                        <li><label>{:L('FullName')}：</label><input type="text" autocomplete="off" id="postname" value="{$info['PostName']|default=''}" name="PostName" placeholder="{:L('Placeholder_PostName')}" data-validation-engine="validate[required,custom[chinalett]]" maxlength="40"></li>
                        <div class="hiddenbox" style="display: none" id="hiddenbox">
                            <dl id="dlbox">
                            </dl>
                        </div>
                        <li>
                            <label>{:L('SenderStreet')}：</label>
                            <input type="text" value="{$info['PostStreet']|default=''}" id="poststreet" name="PostStreet" placeholder="{:L('Placeholder_PostAddress')}" data-validation-engine="validate[required,custom[repadd]]" maxlength="50">
                        </li>
                        <li>
                            <label>{:L('SenderCountry')}：</label>
                            <select class="selcountry" disabled="disabled" >
                                <option selected="selected" value="">U.S.A</option>
                            </select><br>
                            <label>{:L('SenderCity')}：</label>
                            <select id="MainContent_ddProvince">
                                <option value="">{:L('Cr_Select')}</option>
                            </select>
                            <select id="MainContent_ddCity">
                                <option value="">{:L('Cr_Select')}</option>
                            </select><br>
                            <input id="Postcountry" name="PostCountry" value="U.S.A" style="display: none;" />
                            <input id="Postprovince" name="PostState" value="{$info['California']|default=''}" style="display: none" />
                            <input id="Postcity" name="PostCity" value="{$info['Fremont']|default=''}" style="display: none" />
                        </li>
                        <li><label>{:L('Phone')}：</label><input type="phone" id="postphone" value="{$info['PostPhone']|default=''}" name="PostPhone" placeholder="{:L('Placeholder_PostPhone')}" data-validation-engine="validate[required,custom[phone]]" maxlength="14"></li>
                        <li><label>{:L('ZipCode')}：</label><input type="text" id="postcode" value="{$info['PostCode']|default=''}" name="PostCode" placeholder="{:L('Placeholder_PostCode')}" data-validation-engine="validate[required,custom[chinaZip]]" maxlength="10"></li>
                    </ul>
                    <button type="button" class="clearSender" onclick="javascript:$('.ordsender input').val('');">{:L('EmptyInfo')}</button>
                </div>
                <!-- **************************************************** -->
                <!-- 收件人信息 -->
                <div class="ordrec">
                    <input type="hidden" name="addr_id" value="" id="hidaddr_id">
                    <h4>{:L('RecInfo')}</h4>
                    <div class="changebtn">
                        <a href="javascript:;" onclick="infoselect(this)">{:L('l_cho_rec')}</a>
                    </div>
                    <ul>
                        <li><label>{:L('FullName')}：</label><input type="text" data-validation-engine="validate[required,custom[chinalett]]" name="RecName" placeholder="{:L('Placeholder_RecName')}" value="" maxlength="40" id="fullName">
                        </li>
                        <li>
                            <label>{:L('DocumentsType')}：</label>
                            <select name="Id_tpye" id="Id_tpye">
                                <volist name="ID_TYPE" id="ty">
                                    <option value="{$key}">{:L($ty)}</option>
                                </volist>
                            </select>
                            <input type="text" name="IdNo" placeholder="{:L('Placeholder_IdNo')}" id="idno" data-validation-engine="validate[required,custom[chinaId]]" style="width:235px !important;" maxlength="18" value="">
                        </li>
                        <li style="position: relative;">
                            <label>{:L('Address')}：</label>
                            <select id="loc_province" style="width:100px;">
                            </select>
                            <select id="loc_city" style="width:115px; margin-left: 5px">
                            </select>
                            <select id="loc_town" style="width:115px;margin-left: 5px">
                            </select>
                            <input id="province" name="Province" value="" style="display: none" />
                            <input id="city" name="City" value="" style="display: none" />
                            <input id="town" name="Town" value="" style="display: none" />
                            <input type="hidden" name="token" value="{:session('token')}">
                        </li>
                        <li><label>{:L('DetaileAddress')}：</label><input type="text" value="" data-validation-engine="validate[required,custom[repadd]]"  name="RecAddress" placeholder="{:L('Placeholder_RecAddress')}" maxlength="80" id="detaileaddress"></li>
                        <li><label>{:L('Phone')}：</label><input type="text" value="" data-validation-engine="validate[required,custom[phone]]" name="RecPhone" placeholder="{:L('Placeholder_RecPhone')}"  maxlength="14" id="phone"></li>
                        <li><label>{:L('ZipCode')}：</label><input type="text" value="" data-validation-engine="validate[required,custom[chinaZip]]" name="RecCode" placeholder="{:L('Placeholder_RecCode')}"  maxlength="10" id="zipcode"></li>
                    </ul>
                </div>
            </div>
<!-- **************************************************** -->
            <!-- 选择线路 -->
            <img src="">
            <div class="ordhead"><h3>{:L('SelectLine')}</h3></div>
            <div class="ordbody" id="ordbody">
                <ul <if condition="(L('lng') eq 'zh-cn')"> id="ul_line" class="lineul"</if><if condition="(L('lng') eq 'en-us')">class="lineulus"  id="ul_line"</if>>
                    <volist name="tranline" id="vl">
                        <li><input type="radio" name="TransferLine" id="{$vl['id']}" value="{$vl['id']}" class="radio" onclick="changeline(this,0)"><label class="radio" for="{$vl['id']}"><php>$l = L('MKLINES');echo $l[$vl['lngname']];</php></label></li>
                    </volist>
                </ul>
                <ul style="display:none;">
                    <volist name="tranline" id="vl">
                        <li class="m{$vl['id']}">
                            <php>
                                $l = L('MKRemarks');echo $l[$vl['lngremark']];
                            </php>
                        </li>
                    </volist>
                </ul>
                <p id="mimenu"></p>
            </div>
<!-- **************************************************** -->
            <!-- 异步加载相关线路信息 -->
            <div class="disno" id="disno">
            </div>
<!-- **************************************************** -->
        </form>
    </div>
    </div>

<script type="text/javascript">
$(document).ready(function(){
    window.addr_id = 0;
    $(window).bind('beforeunload',function(){
        return '您输入的内容尚未保存，确定离开此页面吗？';
    });
});
</script>
<script type="text/javascript">
    // 选择线路特效
    function changeline(obj,addr_id){
        var p = $(obj).val();
        if(addr_id==0 && typeof(window.w_id) != "undefined"){
            addr_id = window.w_id;
        }
        $.ajax({
            url:"{:U('Orderlist/console')}",
            dataType:"html",
            data:{"id":p,"addr_id":addr_id},
            type:"POST",
            cache: false,
            beforeSend:function(){
                var index = layer.load(1, {
                    shade: [0.1,'#000'], //0.1透明度的白色背景
                    offset: '450px',
                });
            },
            success:function(html){
                layer.closeAll('loading'); //关闭加载层
                $('#disno').html(html);
            }
        });
        if(p != ''){
            var h = $(".m"+p).html();
            $("#mimenu").html("{:L('ShowSelect')}："+h);
        }else{
            $("#mimenu").html('');
        }

    }
    // 证件类型
    $(document).ready(function(){
        var chid= $('#Id_tpye').val();
        if(chid == 'PASPORT'){
            $('#idno').attr("placeholder","{:L('Placeholder_IdPT')}");
            $('#idno').attr("maxlength","10");
            $('#idno').attr("data-validation-engine","validate[required]");
        }else if(chid == 'ID'){
            $('#idno').attr("placeholder","{:L('Placeholder_IdNo')}");
            $('#idno').attr("maxlength","18");
            $('#idno').attr("data-validation-engine","validate[required,custom[chinaId]]");
        }       
        // 证件类型
        $("#Id_tpye").change(function(){
            var chid= $('#Id_tpye').val();
            if(chid == 'PASPORT'){
                $('#idno').attr("placeholder","{:L('Placeholder_IdPT')}");
                $('#idno').attr("maxlength","10");
                $('#idno').attr("data-validation-engine","validate[required]");
            }else if(chid == 'ID'){
                $('#idno').attr("placeholder","{:L('Placeholder_IdNo')}");
                $('#idno').attr("maxlength","18");
                $('#idno').attr("data-validation-engine","validate[required,custom[chinaId]]");
            }
        });
    });
    // 通过JQform提交
    function tempform(obj){
        $(window).unbind('beforeunload');
        if(!$("#tempForm").validationEngine("validate")) return ;
        $(obj).ajaxForm({
            dataType: 'json',
            beforeSend:function(){
                var index = layer.load(1, {
                    shade: [0.1,'#000'], //0.1透明度的白色背景
                    offset: '450px',
                });
            },
            success: function(data){
                // console.log(data);
                if(data.state == 'no'){
                    layer.closeAll('loading'); //关闭加载层
                    layer.open({
                        type: 0,
                        offset: '300px',
                        shadeClose: true,
                        title: "{:L('LAY_SystemMessage')}",
                        content : data.msg,
                        icon : 5,
                    });
                    return false;
                }else{
                    layer.closeAll('loading'); //关闭加载层
                    window.location.href=data.url;
                }
            },
        });
    }
    //选择寄件人按钮
    function addsern(obj){
        layer.open({
            type: 2,
            title: "{:L('l_select_sender')}",
            area : ['800px' , '500px'],
            // offset: '20%',
            closeBtn: 1,
            content: "{:U('sender/getSenderInfo')}",
        });
    }
    // 选择寄件人数据
    function senderAjax(id){
        $.ajax({
            url:"{:U('Sender/senderAjax')}",
            type:'POST', 
            cache: false,    
            data:{
               'id' : id
            },
            dataType:'json', 
            success:function(data){
                //console.log(data);
                $('#tempForm').validationEngine('hideAll');   
                $("#MainContent_ddProvince").find("option:selected").removeAttr("selected");
                $("#MainContent_ddCity").find("option:selected").removeAttr("selected");
                $('#postname').val(data.s_name);
                $('#poststreet').val(data.s_street);
                $('#Postcountry').val(data.s_country);
                $('#Postprovince').val(data.s_state);
                $('#Postcity').val(data.s_city);
                $('#postphone').val(data.s_tel);
                $('#postcode').val(data.s_code);
                s_send_addr(data.s_state,data.s_city);
            }
        });
    }
</script>
<script type="text/javascript">
    // 地址var
    var p = $('#province').val();
    var c = $('#city').val();
    var t = $('#town').val();
    var sendstate = "{$info['PostState']}";
    var sendcity = "{$info['PostCity']}";
    // 收件人var
    var get_addr_info_ajax = "{:U('order/get_addr_info_ajax')}";
    var selectRecipient = "{:U('Order/selectRecipient')}";
    var Placeholder_IdPT = "{:L('Placeholder_IdPT')}";
    var Placeholder_IdNo = "{:L('Placeholder_IdNo')}";
    var l_cho_rec = "{:L('l_cho_rec')}";

</script>
<script type="text/javascript" src="__MEMBER__/js/sender.js"></script>
<script type="text/javascript" src="__MEMBER__/js/orderindex.js"></script>
<script type="text/javascript">
$(function(){
    s_send_addr(sendstate,sendcity);

    // 创建监听器
     

    $("#postname").keyup(
        _.debounce(function(e) {
            // Does all the layout updating here
            var keyWord = $(this).val();
            if(keyWord != ''){
                $.ajax({
                    url:"{:U('Sender/real_time_search_ajax')}",
                    dataType:"json",
                    data:{"field":keyWord},
                    type:"GET",
                    cache: false,
                    success:function(data){
                        console.log(data);
                        if(data != ''){
                            var str = '';
                            var no = 0;
                            $.each(data,function(k,v){
                                str += ( '<dd no="'+ no +'" send_id="' + k + '" onclick="">' + v + '</dd>' );
                                no++;
                            });
                            $('#hiddenbox').show();
                            $('#dlbox dd').remove();
                            $('#dlbox').append(str);


                           

                            $('#dlbox dd').click(function(){
                                // alert(1);
                                get_send_info();
                            });
                            
                        }
                    }
                });
            }else{
                $('#hiddenbox').hide();
            }
        }, 500) // 最低500毫秒运行一次
    );


    $('#postname').keyup(function(event){
        if(event.keyCode==38){    //每按一次上下键都会发送一次请求，所以要先
            
            var send = $('#dlbox').find('.sendercolor');

            if(send.length == 0 ){
                $('#dlbox dd:last').addClass('sendercolor');
            }else{
                send.prev().addClass('sendercolor');
                send.removeClass('sendercolor');
            }

            var sendno = send.attr('no');
            var sendh = $('#dlbox').height() - (sendno-4)*20;
            // console.log(sendno);
            // console.log($('#dlbox').height());
            // console.log(sendh);
            if(isNaN(sendh)){
                $('#hiddenbox').scrollTop($('#dlbox').height());
            }else{
                if(sendh<$('#dlbox').height()){
                    var h = $('#dlbox').height() - sendh;
                    $('#hiddenbox').scrollTop(h);
                }else{
                    var h = 0;
                    $('#hiddenbox').scrollTop(h);
                }
            }
            

            
        }else if(event.keyCode==40){
            // alert('xia');
            var send = $('#dlbox').find('.sendercolor');

            if(send.length == 0 ){
                $('#dlbox dd:eq(0)').addClass('sendercolor');
            }else{
                send.next().addClass('sendercolor');
                send.removeClass('sendercolor');
            }

            var sendno = send.attr('no');
            var sendh = (sendno-3)*20;
            if(sendh>0){
                var h = $('#dlbox').height() - ($('#dlbox').height()-sendh);
                $('#hiddenbox').scrollTop(h);
            }else{
                var h = 0;
                $('#hiddenbox').scrollTop(h);
            }
            

            // console.log(send.length);
            // console.log(send);
        }else if(event.keyCode==13){
            // alert('huiche');
            // var send = $('#dlbox').find('.sendercolor');
            // if(send.length == 1 ){
            //     alert(send.text());
            // }
        }
    });

});

function send_click(obj){
    $(obj).attr('send_id');
    $.ajax({
        url: "{:U('Sender/senderAjax')}",
        data: {'id':dd_sendid},
        type:'POST',
        dataType:'json', 
        cache: false,
        success:function(data){
            console.log(123);
            console.log(data);
            $("#MainContent_ddProvince").find("option:selected").removeAttr("selected");
            $("#MainContent_ddCity").find("option:selected").removeAttr("selected");
            $('#postname').val(data.s_name);
            $('#poststreet').val(data.s_street);
            $('#Postcountry').val(data.s_country);
            $('#Postprovince').val(data.s_state);
            $('#Postcity').val(data.s_city);
            $('#postphone').val(data.s_tel);
            $('#postcode').val(data.s_code);
            s_send_addr(data.s_state,data.s_city);
        }
    });
}

 function get_send_info(){
    var dd_sendid = $('#dlbox dd').find('.sendercolor');
    
    $.ajax({
        url: "{:U('Sender/senderAjax')}",
        data: {'id':dd_sendid},
        type:'POST',
        dataType:'json', 
        cache: false,
        success:function(data){
            console.log(123);
            console.log(data);
            $("#MainContent_ddProvince").find("option:selected").removeAttr("selected");
            $("#MainContent_ddCity").find("option:selected").removeAttr("selected");
            $('#postname').val(data.s_name);
            $('#poststreet').val(data.s_street);
            $('#Postcountry').val(data.s_country);
            $('#Postprovince').val(data.s_state);
            $('#Postcity').val(data.s_city);
            $('#postphone').val(data.s_tel);
            $('#postcode').val(data.s_code);
            s_send_addr(data.s_state,data.s_city);
        }
    });
}

</script>
<!-- END -->
    <div class="foot"></div>

</block>

</body>
</html>