<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{:L('UpTitle')}</title>
	<!-- 在线下单 第三步 打印随机码 -->
	<link rel="stylesheet" type="text/css" href="__MEMBER__/css/all.css">
</head>
<body>
	<div class="up_bg">
		<img src="__MEMBER__/image/step_threebg.jpg">
	</div>
	<!-- 内容 -->
<div class="form form_two ftstep_t" >
    <nav class="navbar" role="navigation">
        <img src="__IMG__/{:L('lng')}/login.png" />
    </nav>
    <div class="form-signin" id="tempForm">
		<div>
			<table>
				<tr>
		        	<td style="text-align:right" width="240"><h3>{:L('PrintRandomCode')}</h3></td>
		        	<td width="750"></td>
		      	</tr>
				<tr>
					<td class="tdleft"><label>{:L('Sender')}：</label></td>
					<td><label>{$res['sender']}</label></td>
				</tr>
				<tr>
					<td class="tdleft"><label>{:L('AddressRec')}：</label></td>
					<td><label>{$res['receiver']}</label></td>
			</tr>
			<tr>
				<td class="tdleft"><label>{:L('RandomCode')}：</label></td>
				<td><label style="font-size:20px;">{$res['random_code']}</label></td>
			</tr>
				<img src="{:U('Order/qrcode',array('url'=>$res['random_code']))}" width="150" height="150" style="float:right;position: relative;top:50px;right:120px;"/>
				
			</table>
			<div style="clear:both;"></div>
			<img src="{:U('Order/barcode',array('text'=>$res['random_code']))}" width="300" height="80" style="float:right;position: relative;top:50px;right:300px;">
		</div>
    </div>
    <div class="embox">
    	<p style="display: block;background: #c4ac09;padding: 0;margin:0;width: 850px;height: 1px;position: absolute;top: 8px;"></p>
    </div>
</div>
</body>
</html>