<extend name="Public:base" />
<block name="title">{:L('SOLUTIONS_VZ')}</block>
<block name="css">		
		<link rel="stylesheet" type="text/css" href="__CSS__/solution.css">
</block>
<block name="content">
	<div class="content sol_content">			
		<div class="main_vz">
			<div class="now now1">
				<a href="{:U('Profile/index')}">
				<div class="d1">
					<span><img src="__IMG__/xun_1.png"></span>
					<p><label>{:L('Identification_SE')}</label></p>
				</div>
				</a>
				<div class="d2"><p>{:L('Submit_SE')}</p></div>
			</div>
			<div class="now now2">
				<a href="{:U('Profile/index')}">
				<div class="d1">
					<span><img src="__IMG__/xun_2.png"></span>
					<p><label>{:L('Payment_SE')}</label></p>
				</div>
				</a>
				<div class="d2"><p>{:L('Access_SE')}</p></div>
			</div>
			<div class="now now3">
				<a href="http://floathn.tq.cn/static.jsp?version=vip&admiuin=9788379&ltype=1&iscallback=1&page_templete_id=40304&is_message_sms=0&is_send_mail=0&uin=9788382" target="_blank">
				<div class="d1">
					<span><img src="__IMG__/xun_3.png"></span>
					<p><label>{:L('Query_SE')}</label></p>
				</div>
				</a>
				<div class="d2"><p>{:L('Regulations_SE')}</p></div>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
		<div class="news_conter">
			<div class="xian_ne"></div>
			<div class="title_ne"><label></label>{:L('Pg_Prohibit_g')}<span></span></div>
			<div class="wei_ne">
				<li>
					<p><img src="__IMG__/wei_pic_1.jpg"></p>
					<p><a href="{:L('Pg_Prohibit_goods_url')}" target="_blank">{:L('Pg_Prohibit_goods')}</a></p>
				</li>
				<if condition="L('Pg_china') neq ''">
				<li>
					<p><img src="__IMG__/wei_pic_2.jpg"></p>
					<p><a href="{:L('Pg_china_url')}" target="_blank">{:L('Pg_china')}</a></p>
				</li>
				<else/>
				<li style="width:100px;"></li>
				</if>
				<li>
					<p><img src="__IMG__/wei_pic_3.jpg"></p>
					<p><a href="{:L('Pg_Regu_on_Duties_url')}" target="_blank">{:L('Pg_Regu_on_Duties')}</a></p>
				</li>
				<div class="clear"></div>
			</div>
			<div class="title_ne"><label></label>{:L('Pg_Co_Suggestions')}<span>{:L('Pg_Co_Suggestions2')}</span></div>
			<div class="tousu_ne">
				<div class="cl" {:L('Pg_width')}>
				<span><img src="__IMG__/wei_user_pic.png"></span><spam><a href="http://floathn.tq.cn/static.jsp?version=vip&admiuin=9788379&ltype=1&iscallback=1&page_templete_id=40304&is_message_sms=0&is_send_mail=0&uin=9788382" target="_blank">{:L('Pg_Co_Suggs')}</a></smap>
				</div>
			</div>
			<div class="foot_ne" style="background:url(__IMG__/{:L('lng')}/wei_foot_pic_1.jpg);  background-position: center;">

			</div>
		</div>
</block>